{% load wagtailimages_tags %}

<div class="container">
  <div class="row d-block">
    <div class="col col-md-10 col-lg-8 offset-lg-2 offset-md-1">
      <div class="stream-block-chart">
        {% if self.title %}
          <h3 class="stream-block-chart-title">
            {{ self.title }}
          </h3>
        {% endif %}
        <figure>
          {% image self.image original %}
          {% if not self.hide_image_caption %}
            <figcaption>{{self.image.caption}}</figcaption>
          {% endif %}
        </figure>
      </div>
    </div>
  </div>
</div>
