@import '../../../css/global/mixins';

#test-ar {
  font-size: 2rem;
  padding: 1rem;
}
#img-hiro {
  height: 500px;
  width: auto;
}
// #arjs-video {
//   opacity: 0;
// }
// #a-scene {
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   z-index: -10;
// }