{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags webpack_loader static %}

{% block meta_description %}
  {% if self.subtitle %}
    <meta name="description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.subtitle %}
    <meta property="og:description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  <meta property="og:type" content="article" />
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}
{% block extra_og_meta %}
  {% if self.publishing_date %}
    <meta property="article:published_time" content="{{ self.publishing_date|date:'c' }}" />
  {% endif %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/nyt4kej.css">
{% endblock %}
{% block extra_css %}
  {% render_bundle 'themePolicyPrompt' 'css' %}
  {% render_bundle 'themePolicyPrompt' 'svg' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'themePolicyPrompt' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}policy-prompt-multimedia{% endblock %}

{% block header %}
  {% include "includes/top_bar.html" with small=True %}
{% endblock header %}

{% block content %}
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3 offset-md-1 offset-lg-2">
          <div class="policy-prompt-logo">
            <a href="/policy-prompt-podcast">
              <img src="{% static 'assets/policy_prompt_logo.png' %}" alt="Policy Prompt Logo" />
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
          {% image self.image_hero width-1920 %}
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="hero-content">
            <div class="episode-number">Episode {{ self.podcast_episode }}</div>
            <h1><span class="logo-animation-cursor"></span>{{ self.title }}</h1>
            <div class="subtitle">
              {{ self.subtitle|richtext}}
            </div>
            <audio id="podcast-player" src="{{ self.multimedia_url }}"></audio>
            <div class="subscribe-share">
              <a href="" target="_blank" rel="noopener noreferrer">
                SUBSCRIBE
                <i class="fa fa-headphones"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                SHARE
                <i class="fa-solid fa-share"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
          <hr>
        </div>
      </div>
    </div>
  </section>
  <section class="podcast-player">
    <audio id="podcast-player" src="http://thepodcastexchange.ca/s/Porsche-Macan-July-5-2018-1.mp3"></audio>
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </section>
  {% include "includes/body.html" with body=self.body heading="Episode Description" %}
  <section class="episode-info">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="episode-info-container">
            <div class="episode-info-item">
              <div class="episode-length">{{ self.podcast_episode_minutes }} Minutes</div>
            </div>
            <span>\</span>
            <div class="episode-info-item">
              <div class="episode-info-value">Recorded {{ self.podcast_recording_date|date:"F j, Y" }}</div>
            </div>
            <span>\</span>
            <div class="episode-info-item">
              <div class="episode-info-value">Published {{ self.publishing_date|date:"F j, Y" }}</div>
            </div>
            <span>\</span>
            <div class="episode-info-item">
              <a href="#chapters">Chapters</a>
            </div>
            <span>\</span>
            <div class="episode-info-item">
              <a href="#transcript">Transcript</a>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>
  <section class="episode-guests">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h2>Featuring</h2>
          <div class="episode-guests-list">
            {% for guest in self.podcast_guests %}
              {% if guest.block_type == 'guest_page' %}
                {% include_block guest %}
              {% endif %}
            {% endfor %}
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>

  {% with podcast_chapters=self.podcast_chapters %}
    {% if podcast_chapters %}
      <section class="episode-chapters">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <h2>Chapters</h2>
              {% for chapter in podcast_chapters %}
                {% include_block chapter with chapter_num=forloop.counter %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% endwith %}

  {% block recommended %}
    {% if self.recommended_content %}
      <section class="recommended">
      </section>
    {% endif %}
  {% endblock recommended %}
{% endblock content %}

{% block footer %}
  {% include "./includes/footer.html" with podcast_subscribe_buttons=self.multimedia_series.specific.podcast_subscribe_buttons %}
{% endblock %}
