.after-covid-series-article-series {
  @include top-bar($background-color: $black);
  @include light-footer;
  background-color: $black;

  .after-covid-series-article-series-hero {
    margin-bottom: 2em;
    padding-top: 8em;
    text-align: center;

    .opinion-series-label {
      color: $landing-heading-blue;
      font-size: 1em;
      font-weight: 400;
      margin-bottom: 1em;
    }

    h1 {
      @include media-breakpoint-up(md) {
        font-size: 2.75em;
      }
      color: $white;
      font-family: $tisa-pro;
      font-size: 2em;
      font-weight: 900;
      margin: 0 0 1em;
    }

    p {
      color: $landing-description-grey;
      line-height: 1.25;
      text-align: left;
    }
  }

  .video-banner {
    @include media-breakpoint-up(md) {
      background-position-x: left;
      height: 200px;
    }
    background-position-x: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 150px;
    margin: 3em 0;
  }

  .after-covid-series-article-series-in-the-series {
    margin: 3em 0;

    h2 {
      color: $landing-heading-blue;
      font-size: 1em;
      font-weight: 400;
      margin: 2em 0;
      text-transform: none;
      width: 100%;
    }

    article {
      align-items: center;
      display: flex;
      margin-bottom: 1.5em;

      .author-images {
        flex-shrink: 0;
        margin-right: 1em;
        position: relative;

        &.block-opinion {
          &:hover {
            opacity: 0.7;
            transition: opacity 0.2s ease;
          }
        }

        a {
          &:not(:first-of-type) {
            img {
              position: absolute;
            }
          }

          &.inactive {
            img {
              opacity: 0;
            }
          }
        }

        img {
          border-radius: 50%;
          cursor: pointer;
          height: auto;
          left: 0;
          top: 0;
          transition: opacity 1s ease-in-out;
          width: 50px;
        }

        i {
          color: $white;
          cursor: pointer;
          font-size: 50px;
          transition: color 0.2s ease, background-color 0.2s ease;

          &:hover {
            background-color: $black;

            &::before {
              background-color: $white;
              border-radius: 50%;
              color: $black;
              transition: color 0.2s ease, background-color 0.2s ease;
            }
          }
        }
      }

      h3 {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        color: $white;
        font-family: $tisa-pro;
        font-size: 1em;
        font-weight: 600;
        line-height: 1.1em;
        margin: 0 0 0.2em;
      }

      .authors {
        @include link($color: $meta-grey, $hover-color: $cigi-dark-pink);
        color: $meta-grey;
        font-size: 0.75em;
        margin: 0.5em 0 0;
        text-transform: uppercase;

        span {
          &:not(:only-child) {
            &::after {
              content: ', ';
              margin-right: 2px;
            }
          }

          &:nth-last-child(2) {
            &::after {
              content: ' and ';
            }
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  footer {
    padding-top: 2em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
