.after-covid-series-article {
  header {
    @include media-breakpoint-up(md) {
      background-color: transparent;
      position: absolute;
    }
    background-color: $black;
    position: fixed;
  }

  .after-covid-series-article-hero {
    @include link($color: $black, $hover-color: $cigi-dark-pink);
    @include media-breakpoint-up(md) {
      @include link($color: $white, $hover-color: $cigi-dark-pink);
      background-size: cover;
      color: $white;
      min-height: 40em;
    }
    background-size: 0;
    color: $black;
    position: relative;

    & > * {
      position: relative;
    }

    &::before {
      @include media-breakpoint-up(md) {
        background: linear-gradient(to right, $after-covid-series-left-hero-colour, transparent);
      }
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &::after {
      @include media-breakpoint-up(md) {
        background: linear-gradient(to bottom, $after-covid-series-top-hero-colour, transparent);
        height: 70%;
      }
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .hero-content {
      @include media-breakpoint-up(md) {
        background-color: transparent;
        padding-top: 6em;
      }
      background-color: $white;
      padding-bottom: 1em;
      padding-top: 3em;
      z-index: 1;
    }

    h1 {
      @include media-breakpoint-up(md) {
        font-size: 2.3em;
      }
      font-family: $tisa-pro;
      font-size: 1.8em;
      font-weight: 900;
      margin-bottom: 0.22em;
      margin-top: 0;
    }

    .opinion-label {
      font-family: $tisa-pro;
      font-weight: 400;
      margin-bottom: 0.5em;
    }

    .date {
      color: $black;
      font-family: $primary-font-family;
      font-size: 0.75em;
      text-transform: uppercase;
    }

    .opinion-label,
    .date,
    .author-byline {
      @include media-breakpoint-up(md) {
        color: $meta-grey;
      }
    }

    .authors {
      @include media-breakpoint-up(md) {
        margin: 2em 0 6em;
      }
      font-size: 1em;
      margin: 1em 0;

      .author {
        align-items: center;
        display: flex;

        img {
          border-radius: 50%;
          height: 4em;
          margin: 0 1em 1em 0;
          width: 4em;
        }

        .author-title {
          font-family: $tisa-pro;
          font-size: 0.8em;
          font-weight: 600;
        }

        .author-byline {
          font-size: 0.9em;
        }
      }
    }

    .social-share-list {
      @include link($color: $cigi-light-grey, $hover-color: $cigi-dark-pink);
      @include media-breakpoint-up(md) {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
      }
      justify-content: left;
    }
  }

  .article-image-hero {
    img {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .drop-caps {
    border: 0;
    color: $black;
    font-size: 5.25em;
    font-weight: 900;
    padding: 0.03em 0.05em 0 0;
  }

  .series-blurb {
    color: $cigi-text-grey;
    margin-bottom: 2em;

    a {
      color: $color--blue;
      text-decoration: underline;
    }
  }

  .stream-block-blockquote {
    align-items: center;
    display: flex;
    margin-bottom: 1em;

    blockquote {
      @include media-breakpoint-up(md) {
        font-size: 1.5em;
        padding: 2em 1em 2em 0;
      }
      color: $black;
      font-family: $tisa-pro;
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 0;
      padding: 1em 1em 1em 0;
      position: relative;

      &::before {
        @include media-breakpoint-up(md) {
          top: 1em;
        }
        border-bottom: 5px solid $black;
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        top: 0.5em;
        width: 60px;
      }
    }

    a {
      flex-shrink: 0;
      font-size: 1.2em;

      &:hover {
        .fa-circle {
          color: $twitter-blue;
        }

        .fa-x-twitter {
          color: $white;
        }
      }

      .fa-circle {
        color: $cigi-light-grey;
        transition: color 0.2s ease;
      }

      .fa-x-twitter {
        color: $twitter-blue;
        transition: color 0.2s ease;
      }
    }
  }
}
