.after-covid-series-article-series {
  background-color: $black;

  header {
    background-color: transparent;

    .main-navigation-wrapper {
      background-color: transparent;
    }
  }

  .after-covid-series-article-series-hero {
    margin-bottom: 2em;
    padding-top: 8em;
    text-align: center;

    .opinion-series-label {
      color: $landing-heading-blue;
      font-size: 1em;
      font-weight: 400;
      margin-bottom: 1em;
    }

    h1 {
      color: $white;
      font-family: $tisa-pro;
      font-size: 2em;
      font-weight: 900;
      margin: 0 0 1em;

      @media screen and (min-width: 768px) {
        font-size: 2.75em;
      }
    }

    p {
      color: $landing-description-grey;
      line-height: 1.25;
      text-align: left;
    }
  }

  .video-banner {
    background-position-x: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 150px;
    margin: 3em 0;

    @media screen and (min-width: 768px) {
      background-position-x: left;
      height: 200px;
    }
  }

  .after-covid-series-article-series-in-the-series {
    article {
      .authors {
        span {
          &:not(:only-child) {
            &::after {
              content: ', ';
              margin-right: 2px;
            }
          }

          &:nth-last-child(2) {
            &::after {
              content: ' and ';
            }
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
