.after-covid-series-article-series {
  @include top-bar($background-color: transparent);
  @include light-footer;
  background-color: $black;

  .after-covid-series-article-series-hero {
    padding-top: 8em;
  }

  .after-covid-series-article-series-in-the-series {
    article {
      .authors {
        span {
          &:not(:only-child) {
            &::after {
              content: ', ';
              margin-right: 2px;
            }
          }

          &:nth-last-child(2) {
            &::after {
              content: ' and ';
            }
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
