{% extends "multimedia/multimedia_page.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block theme_css %}
  {% render_bundle 'themeWomenAndTradeSeries' 'css' %}
{% endblock %}

{% block body_class %}women-and-trade-series-multimedia{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <h2>In the Series</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            {% include "./includes/in_the_series.html" with series_items=self.article_series.specific.article_series_items article_id=self.id %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Women and Trade series multimedia pages #}
{% endblock %}
