{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/zzr4vtn.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeHealthSecuritySeries' 'css' %}
{% endblock %}

{% block body_class %}health-security-series-article{% endblock %}

{% block hero %}
  {% image self.image_hero original as image_hero %}
  <section class="health-security-series-article-hero" style="background-image: url('{{ image_hero.url }}')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10 health-security-series-article-hero-content">
          <h1>{{ self.title }}</h1>
          {% include "includes/date.html" with date=self.publishing_date %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Health Security series articles #}
{% endblock %}
