{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags static %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/zzr4vtn.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeHealthSecuritySeries' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'themeHealthSecuritySeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}health-security-series health-security-series-article-series{% endblock %}

{% block content %}
  {% if self.image_banner.file.url|file_extension == '.gif' %}
    {% define self.image_banner.file.url as image_banner_url %}
  {% else %}
    {% image self.image_banner original as image_banner %}
    {% define image_banner.url as image_banner_url %}
  {% endif %}
  <section class="health-security-series-article-series-hero" style="background-image: url('{{ image_banner_url }}');">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-md-10 col-lg-8">
          {% include "includes/social_links.html" with title=self.title %}
          <h1>{{ self.title }}</h1>
          <div class="short-description">
            {{ self.short_description|richtext }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="health-security-series-article-series-in-the-series">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="dots-divider"><span></span><span></span><span></span></div>
          {% for series_item in self.article_series_items %}
            {% if series_item.category_title %}
              <h2>{{ series_item.category_title }}</h2>
            {% endif %}
            {% define series_item.content_page.specific|page_type as page_type %}
            <article>
              <div class="author-images block-{{page_type}}">
                {% include './includes/health_security_series_rings.html' %}
                {% if page_type == 'opinion' %}
                  {% for item in series_item.content_page.authors.all %}
                    <a href="{% pageurl item.author %}">
                      {% image item.author.image_square fill-100x100 %}
                    </a>
                  {% endfor %}
                {% elif page_type == 'multimedia' %}
                  <a href="{% pageurl series_item.content_page %}">
                    <i class="fa fa-play-circle"></i>
                  </a>
                {% endif %}
              </div>
              <div>
                <h3>
                  <a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a>
                </h3>
                <p class="authors">
                  {% for item in series_item.content_page.authors.all %}
                    {% if item.hide_link %}
                      <span>{{ item.author.title }}</span>
                    {% else %}
                      <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                    {% endif %}
                  {% endfor %}
                </p>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="health-security-series-article-series-credits">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="dots-divider"><span></span><span></span><span></span></div>
          <h2>Credits</h2>
          <div class="health-security-series-article-series-credits-content">
            {{ self.credits|richtext }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
