{% load wagtailcore_tags %}

<div class="indigenous-lands-series-in-the-series">
  <h3>In the Series</h3>
  <div class="indigenous-lands-series-in-the-series-items">
    {% for block in series_items %}
      {% if block.block_type == 'series_item' and block.value.id != article_id %}
        <article>
          <h4>
            <a href="{{ block.value.url }}">
              {{ block.value.title }}
            </a>
          </h4>
          <p class="authors meta">
            Author{{ block.value.specific.authors|length|pluralize }}:
            {% for item in block.value.specific.authors %}
              {% if item.block_type == 'author' %}
                <span><a href="{% pageurl item.value %}">{{ item.value.title }}</a></span>
              {% elif item.block_type == 'external_author' %}
                <span>{{ item.value }}</span>
              {% endif %}
            {% endfor %}
          </p>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
