{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/ocy8tcr.css">
{% endblock extra_fonts %}

{% block body_class %}big-tech-s3-theme big-tech-s3-multimedia{% endblock %}

{% block header %}
  <div class="big-tech-hero">
    {% include "./includes/top_bar.html" with podcast_apple_url=self.multimedia_series.specific.podcast_apple_url podcast_spotify_url=self.multimedia_series.specific.podcast_spotify_url podcast_google_url=self.multimedia_series.specific.podcast_google_url %}
    <div class="container-lg big-tech-mm-hero">
      <div>
        {% include "includes/topics.html" with topics=self.topics %}
        <h1>
          {% if self.podcast_guests and self.podcast_subtitle %}
            {% for guest in self.podcast_guests %}
              <span class="podcast-guest">{{ guest }}</span>
            {% endfor %}
            <span class="podcast-subtitle">{{ self.podcast_subtitle }}</span>
          {% else %}
            {{ self.title }}
          {% endif %}
        </h1>
        <div class="subtitle">
          {{ self.subtitle|richtext }}
        </div>
        <p class="meta">
          {{ self.publishing_date|date:"F j, Y" }}
        </p>
        {% include "includes/social_links.html" with title=self.title no_circle=True %}
      </div>
      {% image self.image_square width-600 class="big-tech-headshot" %}
    </div>
  </div>
{% endblock header %}

{% block content %}
  <section class="body">
    <div class="container-sm">
      <h2>Episode Description</h2>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
{% endblock content %}

{% block extra_bundles %}
  {% render_bundle 'themeBigTechS3' %}
{% endblock extra_bundles %}
