{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/ocy8tcr.css">
{% endblock %}
{% block extra_css %}
  {% render_bundle 'themeBigTechS3' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'themeBigTechS3' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}big-tech-s3-theme big-tech-s3-multimedia-series{% endblock %}

{% block header %}
  <div class="big-tech-hero">
    {% include "./includes/top_bar.html" with podcast_apple_url=self.podcast_apple_url podcast_spotify_url=self.podcast_spotify_url podcast_google_url=self.podcast_google_url %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 big-tech-mm-series-hero">
          {% image self.image_banner width-600 %}
          <div class="description">
            {{ self.subtitle|richtext }}
          </div>
          {% include "includes/social_links.html" with title=self.title no_circle=True %}
          <div class="subscribe-label">
            SUBSCRIBE:
          </div>
          <div class="subscribe-links">
            <a class="apple" href="{{ self.podcast_apple_url }}" rel="noopener noreferrer" target="_blank">{% include './includes/apple_podcasts_icon.svg' %}</a>
            <span class="slash"></span>
            <a class="spotify" href="{{ self.podcast_spotify_url }}" rel="noopener noreferrer" target="_blank">{% include './includes/spotify_podcasts_icon.svg' %}</a>
            <span class="slash"></span>
            <a class="google" href="{{ self.podcast_google_url }}" rel="noopener noreferrer" target="_blank">{% include './includes/google_podcasts_icon.svg' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <section class="episode-listing">
    <div class="container">
      <div class="row d-block">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class="big-tech-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SEASON 3
            </button>
            <ul class="dropdown-menu" id="season-select">
              <li data-season="season-3">SEASON 3</li>
              <li data-season="season-2">SEASON 2</li>
              <li data-season="season-1">SEASON 1</li>
            </ul>
          </div>
          {% for season, episodes in self.series_seasons.items %}
            <div class="season-episodes {% if season == 3 %}active{% endif %}" id="season-{{ season }}">
              {% for episode in episodes %}
                <article>
                  <div>
                    <h3>
                      <a href="{{ episode.url }}">
                        {{ episode.specific.podcast_guests }}
                        <div>{{ episode.specific.podcast_subtitle }}</div>
                      </a>
                    </h3>
                    <div>{{ episode.specific.subtitle|richtext }}</div>
                    {% include "includes/date.html" with date=episode.specific.publishing_date %}
                  </div>
                  <div class="circle">
                    <a href="{{ episode.url }}">
                      <span><i class="fa fa-headphones" aria-hidden="true"></i></span>
                    </a>
                  </div>
                </article>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="body">
    <div class="container">
      <div class="row d-block">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h2>About the Podcast</h2>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
{% endblock content %}

{% block footer %}
  {% include "./includes/footer.html" with podcast_apple_url=self.podcast_apple_url podcast_spotify_url=self.podcast_spotify_url podcast_google_url=self.podcast_google_url %}
{% endblock %}
