{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block meta_description %}
  {% if self.short_description %}
    <meta name="description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.short_description %}
    <meta property="og:description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/ocy8tcr.css">
{% endblock %}
{% block extra_css %}
  {% render_bundle 'themeBigTechS3' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'themeBigTechS3' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}big-tech-s3-theme big-tech-s3-multimedia-series{% endblock %}

{% block header %}
  <div class="big-tech-hero">
    {% include "./includes/top_bar.html" with podcast_subscribe_buttons=self.podcast_subscribe_buttons %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 big-tech-mm-series-hero">
          {% if self.podcast_season_tagline %}
            <div class="season-tagline">
              {{ self.podcast_season_tagline }}
            </div>
          {% endif %}
          {% image self.image_banner width-600 %}
          <div class="description">
            {{ self.subtitle|richtext }}
          </div>
          {% include "includes/social_links.html" with title=self.title no_circle=True %}
          <div class="subscribe-label">
            SUBSCRIBE:
          </div>
          <div class="subscribe-links">
            <a class="apple" href="{{ self.podcast_subscribe_buttons.0.value.url }}" rel="noopener noreferrer" target="_blank">{% include './includes/apple_podcasts_icon.svg' %}</a>
            <span class="slash"></span>
            <a class="spotify" href="{{ self.podcast_subscribe_buttons.1.value.url }}" rel="noopener noreferrer" target="_blank">{% include './includes/spotify_podcasts_icon.svg' %}</a>
            <span class="slash"></span>
            <a class="pocket-casts" href="{{ self.podcast_subscribe_buttons.2.value.url }}" rel="noopener noreferrer" target="_blank">{% include './includes/pocket_casts_icon.svg' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock header %}

{% block content %}
  <section class="latest-episode">
    {% define self.latest_episode.specific as latest_episode %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>LATEST EPISODE</h2>
          {% include "includes/topics.html" with topics=latest_episode.topics_sorted %}
          <h3>
            <a href="{{ latest_episode.url }}">
              {{ latest_episode.specific.podcast_guests }}
              <div>{{ latest_episode.specific.podcast_subtitle }}</div>
            </a>
          </h3>
          <div class="simplecast-embed">
            {% include "includes/simplecast_embed.html" with simplecast_url=latest_episode.multimedia_url %}
          </div>
          {{ latest_episode.specific.subtitle|richtext }}
          <div class="date">
            {% if latest_episode.specific.podcast_season and latest_episode.specific.podcast_episode %}
              S{{ latest_episode.specific.podcast_season }}E{{ latest_episode.specific.podcast_episode }} /
            {% endif %}
            {{latest_episode.specific.publishing_date|date:"F j, Y"}}
          </div>
          <button><a href="{{ latest_episode.url }}"><i class="fa fa-headphones" aria-hidden="true"></i>Listen</a></button>
        </div>
        <div class="d-none d-md-flex col-md-4 align-items-center">
          {% image latest_episode.image_square fill-600x600 class="big-tech-headshot" %}
        </div>
      </div>
    </div>
  </section>

  <section class="episode-listing">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-9">
          <div class="big-tech-dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="season-select-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SEASON 3
            </button>
            <ul class="dropdown-menu" id="season-select">
              <li data-season="season-3"><button>SEASON 3</button></li>
              <li data-season="season-2"><button>SEASON 2</button></li>
              <li data-season="season-1"><button>SEASON 1</button></li>
            </ul>
          </div>
          {% for season, episodes in self.series_seasons.items %}
            <div class="season-episodes {% if season == 3 %}active{% endif %}" id="season-{{ season }}">
              {% if episodes.unpublished %}
                {% for unpublushed_episode in episodes.unpublished %}
                  <article class="flex-row unpublished">
                    <div class="episode-info">
                      <div class="date">Available on {{unpublushed_episode.specific.publishing_date|date:"F j, Y"}}</div>
                      <h3>
                        {{ unpublushed_episode.specific.podcast_guests }}
                        <div>{{ unpublushed_episode.specific.podcast_subtitle }}</div>
                      </h3>
                      {{ unpublushed_episode.specific.subtitle|richtext }}
                    </div>
                    <div class="circle">
                      <span><i class="fa fa-headphones" aria-hidden="true"></i></span>
                    </div>
                  </article>
                {% endfor %}
              {% endif %}

              {% for episode in episodes.published %}
                <article class="flex-row {% if season == 3 and forloop.counter == 1 %}d-none{% endif %}">
                  <div class="episode-info">
                    {% include "includes/topics.html" with topics=episode.topics_sorted %}
                    <h3>
                      <a href="{{ episode.url }}">
                        {% if not episode.specific.podcast_subtitle %}
                          <div class="block-guest">{{ episode.title }}</div>
                        {% else %}
                          {{ episode.specific.podcast_guests }}
                          <div>{{ episode.specific.podcast_subtitle }}</div>
                        {% endif %}
                      </a>
                    </h3>
                    {{ episode.specific.subtitle|richtext }}
                    <div class="date">
                      {% if episode.specific.podcast_season and episode.specific.podcast_episode %}
                        S{{ episode.specific.podcast_season }}E{{ episode.specific.podcast_episode }} /
                      {% endif %}
                      {{episode.specific.publishing_date|date:"F j, Y"}}
                    </div>
                  </div>
                  <div class="circle">
                    <a href="{{ episode.url }}">
                      <span><i class="fa fa-headphones" aria-hidden="true"></i></span>
                    </a>
                  </div>
                </article>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-9">
          <h2>About the Podcast</h2>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
{% endblock content %}

{% block footer %}
  {% include "./includes/footer.html" with podcast_subscribe_buttons=self.podcast_subscribe_buttons %}
{% endblock %}
