{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/ocy8tcr.css">
{% endblock extra_fonts %}

{% block body_class %}big-tech-s3-theme big-tech-s3-multimedia{% endblock %}

{% block header %}

{% endblock header %}

{% block content %}
  <section class="body">
    <div class="container-sm">
      <h2>Episode Description</h2>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
  {% if self.companion_essay %}
    <section class="big-tech-s3-companion-essay">
      <div class="container-sm companion-essay">
        <div class="essay-details">
          <h2>Opinion</h2>
          <article>
            <h3><a href="{{ self.companion_essay.url }}">{{ self.companion_essay.title }}</a></h3>
            {% for author in self.companion_essay.specific.authors %}
              {% if author.block_type == 'author' %}
                <a href="{{ author.value.url }}" class="author">
                  <div class="author-image-wrapper">
                    {% image author.value.image_square fill-100x100 %}
                  </div>
                  <div>
                    {{ author.value.byline|richtext }}
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          </article>
        </div>
        <a href="{{ self.companion_essay.url }}">
          Read
        </a>
      </div>
    </section>
  {% endif %}
  <section class="multimedia-disclaimer-section">
    {% include 'includes/multimedia_disclaimer.html' %}
    {% include 'includes/opinion_disclaimer.html' %}
  </section>
{% endblock content %}

{% block extra_bundles %}
  {% render_bundle 'themeBigTechS3' %}
{% endblock extra_bundles %}
