{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block theme_css %}
  {% render_bundle 'themeIndigenousLandsSeries' 'css' %}
{% endblock %}

{% block body_class %}indigenous-lands-series-article{% endblock %}

{% block hero %}
  <section class="indigenous-lands-series-article-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          {% include "includes/topics.html" with topics=self.topics_sorted %}
          <h1>{{ self.title }}</h1>
          <div class="meta">
            {% if self.article_series %}
              <div class="series"><label>Series:</label><a href="{{ self.article_series.url }}">{{ self.article_series.title }}</a></div>
            {% endif %}
            <div><label>Published:</label>{% include "includes/date.html" with date=self.publishing_date %}</div>
            <div class="authors"><label>Author{{ self.author_count|pluralize }}:</label>
              <div class="custom-text-list">
                {% for item in self.authors.all %}
                  {% if item.hide_link %}
                    <span class="block-author">{{ item.author.title }}</span>
                  {% else %}
                    <a class="block-author" href="{% pageurl item.author %}">{{ item.author.title }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <ul class="social-share-list">
            <li class="linkedin">
              <a class="linkedin-share-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri|slice:':-1' }}&amp;title={{title|social_string}}" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin-in icon"></i>
              </a>
            </li>
            <li>
              <a href="https://x.com/share?text={{title|social_string}}&amp;url={{request.build_absolute_uri|slice:':-1'}}">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
            <li>
              <a href="mailto:?subject={{self.title}}&body=From the Centre for International Governance Innovation: {{self.title}} ({{ request.build_absolute_uri|slice:':-1' }})">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="javascript:window.print()">
                <i class="fa fa-print"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <figure>
            {% image self.image_hero width-1760 %}
          </figure>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          {% if self.image_hero.caption %}
          <figcaption>
            {{ self.image_hero.caption }}
          </figcaption>
        {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    <section class="indigenous-lands-series-article-in-the-series">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <h2>
              <a href="{{ self.article_series.url }}">
                {{ self.article_series.title }}
              </a>
            </h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            {% include "./includes/in_the_series.html" with series_items=self.article_series.specific.article_series_items article_id=self.id %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Indigenous Lands series articles #}
{% endblock %}
