{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block theme_css %}
  {% render_bundle 'themeIndigenousLandsSeries' 'css' %}
{% endblock %}

{% block body_class %}indigenous-lands-series-article-series{% endblock %}

{% block content %}
  {% image self.image_hero original as image_hero %}
  <section class="indigenous-lands-series-article-series-hero">
    <div class="indigenous-lands-series-article-series-hero-image" style="background-image: url('{{ image_hero.url }}');">
    </div>
    <div class="hero-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <ul class="social-share-list-square">
              <li class="linkedin">
                <a class="linkedin-share-link" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri|slice:':-1' }}&amp;title={{title|social_string}}" target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-linkedin-in icon"></i>
                </a>
              </li>
              <li class="twitter">
                <a class="twitter-share-link"
                  href="https://x.com/share?text={{ self.title|social_string }}&amp;url={{ request.build_absolute_uri|slice:':-1' }}"
                  target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-x-twitter"></i>
                </a>
              </li>
            </ul>
            {% include "includes/topics.html" with topics=self.topics_sorted %}
            <h1><span>{{ self.title }}</span></h1>
            <h2>{{ self.subtitle|richtext }}</h2>
          </div>
        </div>
      </div>
      <a href="#article-body" class="scroll-arrow">
        <i class="far fa-angle-down" aria-hidden="true"></i>
      </a>
    </div>
  </section>

  {% include "includes/body.html" with body=self.body heading="About the Series" full_heading=True %}

  <section class="indigenous-lands-series-article-series-in-the-series">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include "./includes/in_the_series.html" with series_items=self.article_series_items %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
