{% extends "articles/article_page.html" %}
{% load wagtailimages_tags webpack_loader %}

{% block theme_css %}
  {% render_bundle 'themeIndigenousLandsSeries' 'css' %}
{% endblock %}

{% block body_class %}indigenous-lands-series-article{% endblock %}

{% block hero %}
  <section class="indigenous-lands-series-article-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          {% include "includes/topics.html" with topics=self.topics %}
          <h1>{{ self.title }}</h1>
          {% if self.article_series %}
            <p>
              Series:
              <a href="{{ self.article_series.url }}">
                {{ self.article_series.title }}
              </a>
            </p>
          {% endif %}
          {% include "includes/date.html" with date=self.publishing_date %}
          {% include "includes/authors.html" with authors=self.authors.all external_authors=self.external_authors %}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <figure>
            {% image self.image_hero width-1760 %}
            {% if self.image_hero.title %}
              <figcaption>
                {{ self.image_hero.title }}
              </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
