.four-domains-series-article-series {
  @include top-bar($background-color: transparent, $color: $black);
  background-color: $four-domains-series-page-bg-color;

  .four-domains-series-article-series-hero {
    @include media-breakpoint-up(sm) {
      height: auto;
      padding-top: 2em;
      text-align: center;
    }
    height: 100vh;
    padding-top: 5em;

    .banner-bg {
      @include media-breakpoint-up(sm) {
        height: auto;
        opacity: 1;
        position: absolute;
        width: 100vw;
      }
      @include media-breakpoint-up(lg) {
        max-width: 1200px;
      }
      height: 100vh;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      opacity: 0.2;
      position: fixed;
      right: 0;
      width: 100%;
    }

    .hero-content {
      position: relative;
    }

    .hero-text {
      @include media-breakpoint-up(sm) {
        left: 0;
        padding-top: 35vw;
      }
      @include media-breakpoint-up(md) {
        padding-top: 35vw;
      }
      @include media-breakpoint-up(xl) {
        padding-top: 25em;
      }
      width: 100%;

      h1 {
        @include media-breakpoint-up(sm) {
          font-size: 2.5em;
          margin-left: auto;
          margin-right: auto;
          width: 70%;
        }
        @include media-breakpoint-up(lg) {
          font-size: 3.5em;
          width: 100%;
        }
        font-family: $four-domains-font;
        font-size: 2em;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 2em;
      }

      .opinion-series-label {
        font-style: italic;
        font-weight: 500;
        margin-bottom: 1em;
      }

      .scrollanchor-container {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        @include media-breakpoint-up(sm) {
          display: none;
        }
        animation: bounce 2s infinite;
        margin: 2.5em 0;
      }
    }
  }

  .four-domains-series-article-series-in-the-series {
    padding-top: 3em;

    h2 {
      color: $cigi-medium-grey;
      font-family: $four-domains-font;
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 1.5em;
      transition: color 0.2s ease;
    }

    .series-introduction {
      margin-bottom: 2em;
      text-align: center;

      h2 {
        color: $black;
      }

      article {
        margin-bottom: 2em;

        h3 {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 0.75em;
        }

        .authors {
          @include link(
            $color: $cigi-text-grey,
            $hover-color: $cigi-primary-colour
          );
          font-size: 0.75em;
          justify-content: center;
          text-transform: uppercase;
        }
      }
    }

    .series-items {
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      border-bottom: 1px solid $cigi-text-grey;
      column-gap: 2em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 2em;

      .series-category {
        @include media-breakpoint-only(md) {
          grid-template-rows: 66px repeat(4, 1fr);
        }
        display: grid;
        grid-template-rows: auto repeat(4, 1fr);

        &:hover {
          h2 {
            color: $black;
          }

          h3 {
            @include link($color: $black, $hover-color: $cigi-primary-colour);
          }

          .authors {
            @include link(
              $color: $cigi-text-grey,
              $hover-color: $cigi-primary-colour
            );
          }
        }

        article {
          border-bottom: 1px solid $cigi-text-grey;
          margin-bottom: 1em;
          padding-bottom: 1em;

          &:nth-child(5n) {
            border-bottom: 0;
          }

          h3 {
            @include link(
              $color: $cigi-medium-grey,
              $hover-color: $cigi-primary-colour
            );
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.75em;
          }

          .authors {
            @include link(
              $color: $cigi-medium-grey,
              $hover-color: $cigi-primary-colour
            );
            font-size: 0.75em;
            text-transform: uppercase;
          }

          &.hover {
            h3 {
              @include link($color: $black, $hover-color: $cigi-primary-colour);
            }

            .authors {
              @include link(
                $color: $cigi-text-grey,
                $hover-color: $cigi-primary-colour
              );
            }
          }
        }
      }
    }
  }

  .credits {
    margin-bottom: 4em;
    margin-top: 3em;

    h2 {
      font-weight: 500;
      margin-bottom: 2em;
      text-align: center;
      text-transform: uppercase;
    }

    .credits-content {
      @include media-breakpoint-up(sm) {
        -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include media-breakpoint-up(md) {
        -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      -ms-grid-columns: 1fr 0.5em 1fr;
      display: grid;
      font-size: 0.9em;
      grid-column-gap: 0.5em;
      grid-row-gap: 2em;
      grid-template-columns: 1fr 1fr;

      .title {
        text-transform: uppercase;
      }
    }
  }
}
