{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block theme_css %}
  {% render_bundle 'themeDataSeries' 'css' %}
{% endblock %}

{% block body_class %}data-series-theme data-series-article-series{% endblock %}

{% block content %}
<section class="body">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About the Series</h2>
        {% for block in self.body %}
          {% include_block block %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="footer-image"></div>
<section class="data-series-in-the-series">
  <div class="container">
    <div class="row">
      <div class="col">
        {% for block in self.series_items %}
          {% if block.block_type == 'series_item' %}
            <article>
              <h4 class="article-title"><a href="{{ block.value.url }}">{{ block.value.title}}</a></h4>
              <p class="authors">
                {% for item in block.value.specific.authors.all %}
                  <span><a href="{{ item.author.url }}">{{ item.author.title }}</a></span>
                {% endfor %}
                {% for item in block.value.specific.external_authors %}
                  {% if item.block_type == 'external_person' %}
                    <span>{{ item.value }}</span>
                  {% endif %}
                {% endfor %}
              </p>
            </article>
          {% elif block.block_type == 'category_title' %}
            <h3 class="section-title">{{ block.value }}</h3>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
