{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_css %}
  {% render_bundle 'articlePage' 'css' %}
  {% render_bundle 'themeDataSeries' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'themeDataSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}data-series-article{% endblock %}

{% block content %}
  <section class="article-header-sticky">
      <div class="container-lg">
        <a class="cigi-logo" href="/">{% include "../../includes/header_cigi_logo_large.svg" %}</a>
        <div class="series-title">
          <span>{{ self.article_series }}</span> |
          {{ self.title }}
        </div>
        </div>
    </div>
    <div class="progress-bar">
      <progress></progress>
    </div>
  </section>

  {% image self.image_banner original as image_hero %}
  <section class="hero" style="background-image: url('{{ image_hero.url }}');">
    <div class="container-sm">
      <div class="hero-content">
        {% include "includes/topics.html" with topics=self.topics %}
        <h1><span>{{ self.title }}</span></h1>
      </div>
    </div>
  </section>
  <section class="meta-section">
    <div class="container-sm">
      <div class="social">
        <ul>
          <li>
            <a data-url="{{ request.build_absolute_uri|slice:':-1' }}">
              <i class="fab fa-facebook-square icon"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/share?text={{title|social_string}}&amp;url={{request.build_absolute_uri|slice:':-1'}}">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{self.title}}&body=From the Centre for International Governance Innovation: {{self.title}} ({{ request.build_absolute_uri|slice:':-1' }})">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="javascript:window.print()">
              <i class="fa fa-print"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="meta">
        <p>Published: {{self.publishing_date|date:"F j, Y" }}</p>
        <p>
          Author{{self.authors|length|pluralize}}:

          {% for author in self.authors %}
            <span class="author">{{author}}</span>
          {% endfor %}
        </p>
      </div>
    </div>
  </section>
  <section class="body">
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
  {% if self.footnotes %}
    <section class="article-footnotes">
      <div class="container-sm">
        <div class="footnotes">
          {{ self.footnotes|richtext }}
        </div>
      </div>
    </section>
  {% endif %}
  {% if self.works_cited %}
    <section class="article-works-cited">
      <div class="container-sm">
        <h2>Works Cited</h2>
        {{ self.works_cited|richtext }}
      </div>
    </section>
  {% endif %}
  <section>
    {% include 'includes/opinion_disclaimer.html' %}
  </section>
  {% if self.is_opinion and self.authors|length > 0 %}
    {% include "includes/about_the_author.html" with authors=self.authors %}
  {% endif %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific article_id=self.id %}
  {% endif %}
{% endblock %}
