{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block theme_css %}
  {% render_bundle 'themeDataSeries' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'themeDataSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}data-series-theme data-series-article{% endblock %}

{% block hero %}
  <section class="article-header-sticky">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="article-header-sticky-content">
            <a class="cigi-logo" href="/">{% include "../../includes/header_cigi_logo_large.svg" %}</a>
            <div class="series-title">
              <span><a href="{{ self.article_series.url }}">{{ self.article_series.title }}</a></span> |
              {{ self.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress-bar">
      <progress value="0" max="100"></progress>
    </div>
  </section>


  {% image self.image_banner original as image_hero %}
  <section class="hero" style="background-image: url('{{ image_hero.url }}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <div class="hero-content">
            {% include "includes/topics.html" with topics=self.topics_sorted %}
            <h1><span>{{ self.title }}</span></h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="meta-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 social">
          <ul>
            <li>
              <a class="facebook-share-link" data-url="{{ request.build_absolute_uri|slice:':-1' }}">
                <i class="fa-brands fa-facebook-square icon"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/share?text={{title|social_string}}&amp;url={{request.build_absolute_uri|slice:':-1'}}">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
            <li>
              <a href="mailto:?subject={{self.title}}&body=From the Centre for International Governance Innovation: {{self.title}} ({{ request.build_absolute_uri|slice:':-1' }})">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="javascript:window.print()">
                <i class="fa fa-print"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 meta">
          <p>Published: {{self.publishing_date|date:"F j, Y" }}</p>
          <p>
            Author{{self.author_count|pluralize}}:

            {% for item in self.authors.all %}
              {% if item.hide_link %}
                <span class="author">{{ item.author.title }}</span>
              {% else %}
                <span class="author"><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific article_id=self.id %}
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Data series articles #}
{% endblock %}
