@import '../../../css/global/mixins';

.in-the-series {
  h2 {
    margin-bottom: 2em;
  }
  h3 {
    color: $cigi-primary-colour;
    font-size: 1em;
    margin: 1.5em 0;
    text-transform: uppercase;
  }
  article {
    border-bottom: 1px solid $cigi-light-grey;
    margin-bottom: 0;
    padding: 2em 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    p {
      color: $cigi-text-grey;
    }

    h4 {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      font-size: 1.3em;
    }

    .topics {
      margin-bottom: 0.5em;
    }

    .authors {
      @include link($color: $cigi-text-grey, $hover-color: $cigi-dark-pink);
      font-size: 0.75em;
      margin-bottom: 0;
      text-transform: uppercase;

      li {
        color: $cigi-text-grey;
        display: inline;
      }
    }

    .date {
      color: $cigi-text-grey;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
}
