{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block extra_css %}
  {% render_bundle 'homePage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'homePage' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}
  <section class="featured homepage-featured">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          {% if self.featured_large %}
            {% include "includes/features/feature_content_large.html" with content=self.featured_large %}
          {% endif %}
        </div>
        <hr>
        <div class="col-12 col-md-4 featured-small">
          {% for item in self.featured_small %}
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            {% include "includes/features/feature_content_small.html" with content=item %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row featured-medium">
        {% for item in self.featured_medium %}
          <div class="col-12 col-md-4">
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            {% include "includes/features/feature_content_medium.html" with content=item %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="homepage-featured-publications">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="homepage-subheading">
            <a href="/publications/">
              Publications
            </a>
          </h2>
        </div>
      </div>
      <div class="row">
        {% for publication in self.featured_publications %}
          <div class="col-12 col-md-3 homepage-featured-publication-row">
            {% include "includes/features/feature_publication_teaser.html" with publication=publication %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="homepage-promotion-blocks">
    <div class="container">
      <div class="row">
        {% for promotion_block in self.promotion_blocks_list %}
          <div class="homepage-promotion-block col-md-6">
            {% include "includes/promotion_block.html" with promotion_block=promotion_block %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="homepage-featured-highlights">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="homepage-subheading"><span>Highlights</span></h2>
          {% include "includes/swiper.html" with swiper_content=self.highlight_pages.all type="homepage-highlight" %}
        </div>
      </div>
    </div>
  </section>
  <section class="featured homepage-featured-multimedia">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="homepage-subheading dark-mode">
            <a href="/multimedia/">
              Multimedia
            </a>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8">
          {% if self.featured_multimedia_large %}
            {% include "includes/features/feature_content_large.html" with content=self.featured_multimedia_large dark_mode=True %}
          {% endif %}
        </div>
        <hr>
        <div class="col-12 col-md-4 featured-small">
          {% for item in self.featured_multimedia_small %}
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            {% include "includes/features/feature_content_small.html" with content=item dark_mode=True %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="homepage-featured-events">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="homepage-subheading">
            <a href="/events/">
              Events
            </a>
          </h2>
        </div>
      </div>
      <div class="events-container row">
        {% for event in self.featured_events %}
          <div class="col-12 col-md-4 homepage-featured-event-row">
            {% include "includes/features/feature_event.html" with event=event %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="homepage-featured-experts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="homepage-subheading">
            <a href="/experts/">
              Experts
            </a>
          </h2>
        </div>
      </div>
      <div class="row">
        {% for expert in self.featured_experts_list %}
          <div class="col-12 col-md-4 homepage-featured-expert-row">
            {% include "includes/features/feature_expert_short.html" with expert=expert %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
