@import '../../../css/global/mixins';

header {
  &.header--submenu {
    margin-bottom: 0;

    nav {
      border-bottom: 0;
    }

    .header__title {
      display: flex;

      i {
        margin-right: 0.5em;
        padding-top: 0.1em;
      }

      h1 {
        font-size: 1.1rem;
      }
    }

    .header--submenu__right__menu-item {
      color: $cigi-medium-grey;

      &.active {
        &::before {
          top: -1.05em;
        }
      }
    }
  }

  &.header__topics {
    .top-topics-list {
      ul {
        li {
          button {
            &.active {
              background-color: $black;
              border: 1px solid $black;
              color: $white;
              cursor: default;
            }
          }
        }
      }
    }
  }
}

section {
  &.layout {
    .border-container {
      padding: 1rem 0;
      border-top: 1px solid $cigi-light-grey;
    }
  }

  &.topic-page__authors {
    .border-container {
      padding: 1rem 0;
      border-top: 1px solid $cigi-light-grey;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      position: relative;
      font-size: 0.8em;

      li {
        flex-shrink: 0;
        margin-right: 0.5em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;

        &.hidden {
          display: none;

          .live-event__scroll__container {
            display: none;
          }
        }

        .button--rounded {
          @include button(
            $background-color: $black,
            $color: $white,
            $hover-color: $black,
            $hover-background-color: $white,
            $hover-border-color: $black
          );
        }
      }
    }
  }
}

.topic-page__title {
  margin-top: 2em;
}

.topic-page__search-table {
  .topic-search-table {
    .search-table-container {
      border-top: 1px solid $cigi-light-grey;
      padding-top: 4rem;
      margin-top: 0;
    }

    .search-table__results--grid {
      .article-container {
        padding: 1.5em 0;

        &:nth-child(3n) {
          .article-container__border {
            border-right: 0;
          }
        }

        .article-container__border {
          padding: 0 1.5em;
          border-right: 1px solid $cigi-light-grey;
          height: 100%;

          article {
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
