@import '../../../css/global/mixins';
@import '../../../css/global/animations/slide_down';
@import '../../../css/includes/hero_multimedia';

.multimedia-series-block {
  margin: 3em 0;

  article {
    border-top: 1px solid $cigi-dark-grey;
    padding-top: 1em;

    h2 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0;
    }

    p {
      line-height: 1.25em;
      margin-bottom: 0;
    }
  }
}

section {
  &.recommended {
    margin-top: 2em;

    h2 {
      font-size: 1.25em;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 0.8em;
    }

    .recommended-dot {
      @include media-breakpoint-up(sm) {
        display: block;
      }
      background-color: $black;
      border-radius: 50%;
      display: none;
      height: 0.4rem;
      width: 0.4rem;
    }

    .recommended-vertical-line {
      @include media-breakpoint-up(sm) {
        display: block;
      }
      border-left: 1px solid $cigi-medium-light-grey;
      display: none;
      height: 100px;
    }

    .footer-bracket {
      @include media-breakpoint-up(sm) {
        display: block;
      }
      display: none;
      margin-bottom: 1em;
      width: 100%;
    }

    .recommended-article {
      @include media-breakpoint-up(sm) {
        display: grid;
        grid-template-columns: 65% 10% 25%;
      }
      margin: 1em 0 2em;

      .recommended-content {
        grid-column: 1;
        grid-row: 1;

        h3 {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
          font-size: 1.0625em;
        }

        .authors {
          @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
          font-size: 0.75em;
          margin: 0;
          text-transform: uppercase;
        }

        .date {
          color: $cigi-text-grey;
          font-size: 0.75em;
          text-transform: uppercase;
        }

        .topics {
          margin-bottom: 0.5em;
          margin-top: 0;
        }
      }

      .recommended-image {
        @include media-breakpoint-up(sm) {
          display: block;
        }
        display: none;
        grid-column: 3;
        grid-row: 1;

        a {
          background-color: $black;
          display: block;
          position: relative;

          &:hover {
            img {
              opacity: 0.8;
            }
          }

          img {
            opacity: 1;
            transition: opacity 0.3s ease;
          }

          .play-icon {
            align-items: center;
            background-color: $cigi-primary-colour;
            bottom: 0;
            color: $white;
            display: flex;
            height: 40px;
            justify-content: center;
            position: absolute;
            right: 0;
            width: 40px;
          }
        }
      }
    }
  }
}

.article-series-description {
  align-items: center;
  border-bottom: 1px solid $cigi-light-grey;
  display: flex;
  margin-bottom: 2em;
  padding-bottom: 1em;

  i {
    color: $cigi-primary-colour;
    margin-right: 0.5em;
  }

  p {
    display: inline-block;
    margin-bottom: 0;
  }
}