[flake8]
ignore = BLK100, E501, W504
exclude =
    .git,
    __pycache__,
    *.egg-info,
    .nox,
    .pytest_cache,
    .mypy_cache,
    node_modules,
    static,
    venv,
    cigionline/settings,
    src/wagtailschedules,
    src/django-adv-cache-tag
