{% load wagtailcore_tags %}

<section class="data-series-in-the-series-title">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 ">
        <h3>
          <a href="{{ article_series.url }}"><span>{{ article_series.title }}</span></a>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="data-series-in-the-series">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 series-items">
        {% for block in article_series.series_items %}
          {% if block.block_type == 'series_item' and block.value.id != article_id %}
            <article>
              <h5 class="article-title"><a href="{{ block.value.url }}">{{ block.value.title }}</a></h5>
              <p class="authors">
                {% for item in block.value.specific.authors %}
                  {% if item.block_type == 'author' %}
                    <span><a href="{% pageurl item.value %}">{{ item.value.title }}</a></span>
                  {% elif item.block_type == 'external_author' %}
                    <span>{{ item.value }}</span>
                  {% endif %}
                {% endfor %}
              </p>
            </article>
          {% elif block.block_type == 'category_title' %}
            <h4 class="section-title">{{ block.value }}</h4>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
