@import '../../../css/global/mixins';

.border-top {
  border-top: 1px solid $cigi-light-grey;
  margin-top: 1em;
  // padding: 1em 0;

  .events-landing-page-label {
    padding-top: 1em;
    padding-bottom: 2em;
  
    .events-icon {
      padding-right: 1em;
    }
  }
  
  .events-landing-page-tabs {
    padding-bottom: 2em;

    .nav-tabs {
      border: 0;

      .nav-item {
        padding: 0 calc(var(--bs-gutter-x)*.5);

        .nav-link {
          border: 0;
          border-radius: 0;
          color: $cigi-medium-grey;
          padding: 1em 5em 0 0;

          &.active {
            color: $black;
            border-top: 1px solid $black;
          }
        }
      }
    }
  }
}

.events-wrapper {
  #event-list {
    padding-right: 0;

    .event-items {
      >div[class*='col'] {
        width: 100%;
        border-bottom: 1px solid $cigi-light-grey;
        padding: 3em 0;
  
        &:first-child {
          @include media-breakpoint-up(lg) {
            border-top: 0;
            padding-top: 0;
          }
    
          border-top: 1px solid $cigi-light-grey;
        }
      }
  
      .card--event__top {
        margin-bottom: 5em;
  
        .card--event--upcoming-label {
          display: none;
        }
  
        .card--event__calendar-date {
          .card--event__date {
            display: flex;
            justify-content: center;
            line-height: 70%;
          }
  
          .card--event__month {
            display: flex;
            justify-content: center;
            padding-top: 0.5em;
          }
        }
      }
    }

    .pagination-links-numbered {
      margin: 5em 0;
    }
  }
  
}

.events-calendar {
  // sass-lint:disable-block class-name-format
  margin-bottom: 2rem;
  position: relative;

  .events-calendar__loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
  }
}

.react-calendar {
  // sass-lint:disable-block class-name-format
  .react-calendar__navigation__label,
  .react-calendar__month-view__days__day {
    color: $cigi-text-grey;
  }

  .react-calendar__month-view__weekdays__weekday {
    color: $cigi-text-grey;

    abbr {
      cursor: auto;
      text-decoration: none;
    }
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: $cigi-light-grey;
  }

  .react-calendar__navigation {
    padding: 0 0 0.5rem 0;
  }

  .react-calendar__viewContainer {
    margin: 0.5rem 0;
  }

  .react-calendar__tile {
    align-items: center;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    position: relative;

    &::before {
      content: '';
      display: table;
      padding-top: 100%;
    }

    abbr {
      align-items: center;
      border-radius: 50%;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      height: 30px;
      justify-content: center;
      width: 30px;
    }

    .react-calendar__tile__overlay {
      border-radius: 50%;
      height: 30px;
      position: absolute;
      width: 30px;
    }
  }

  .react-calendar__tile--has-event {
    cursor: pointer;

    .react-calendar__tile__overlay {
      border: 2px solid $cigi-primary-colour;
    }
  }

  .react-calendar__tile--now {
    abbr {
      background: $black;
      color: $white;
    }
  }

  .react-calendar__month-view__weekdays {
    text-align: center;
  }

  .react-calendar__navigation__arrow {
    color: $cigi-primary-colour;

    &:hover {
      color: $cigi-dark-pink;
    }
  }
}

.popover {
  border-radius: 0;

  .popover-body {
    // sass-lint:disable-block class-name-format
    .react-calendar__tile__popover {
      @include link($color: $black, $hover-color: $cigi-primary-colour);

      a {
        display: block;
        font-size: 0.875em;
        padding: 0.5rem 0;
      }

      a + a {
        border-top: 1px solid $divider-grey;
      }
    }
  }
}
