@import '../../css/variables';
@import '../../css/mixins';

body {
  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    margin: 2rem 0 1rem;
    text-decoration: underline;
  }

  .abstract-submission {
    text-align: center;
    margin: 4rem 0 5rem;

    button {
      border: 2px solid $cigi-primary-colour;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      background-color: $white;
      transition: background-color 0.3s ease, color 0.3s ease;
      text-transform: uppercase;
    }

    .response-message {
      margin-top: 1rem;
      padding: 0.25rem 0.75rem;
      border: 1px solid $black;
      border-radius: 5px;
      display: none;
    }
  }
}