{% load wagtailcore_tags core_tags %}

<ul class="custom-text-list card__text__people">
  {% if not people_limit %}
    {% define 3 as people_limit %}
  {% endif %}
  {% for item in authors %}
    {% if forloop.counter <= people_limit %}
      {% if item.author %}
        {% define item.author as person %}
      {% elif item.editor %}
        {% define item.editor as person %}
      {% elif item.title %}
        {% define item as person %}
      {% endif %}
      {% if person %}
        {% if type == "editors" and forloop.first %}
          {% define "Edited by: "|add:person.title as title %}
        {% else %}
          {% define person.title as title %}
        {% endif %}
        {% if item.hide_link %}
          <li>{{ title }}</li>
        {% else %}
          <li><a href="{% pageurl person %}">{{ title }}</a></li>
        {% endif %}
      {% endif %}
    {% elif forloop.counter == people_limit|add:1 %}
      {% if people_limit == 1 %}
        <li>+{{ authors|length }} more</li>
      {% else %}
        <li>and more</li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
