{% load core_tags %}

<div class="card__text__more__container dropup">
  <button type="button" class="card__text__more dropdown-toggle" data-bs-toggle="dropdown">
    <i class="far fa-ellipsis-h"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-end">
    <button class="dropdown-item copy-text-button" type="button">
      <i class="fas fa-link"></i>
      Copy Link
    </button>
    <input type="text" value="{{ url }}" class="copyText">
    <a class="dropdown-item" href="https://twitter.com/share?text={{title|social_string}}&amp;url={{ url|slice:':-1' }}" target="_blank"
    rel="noopener noreferrer">
      <i class="fab fa-twitter"></i>
      Share on Twitter
    </a>
    <a class="dropdown-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ url|slice:':-1' }}&amp;title={{ title|social_string }}" target="_blank"
    rel="noopener noreferrer">
      <i class="fab fa-linkedin-in"></i>
      Share on Linkedin
    </a>
    <a class="dropdown-item" data-url="{{ url|slice:':-1' }}" target="_blank"
    rel="noopener noreferrer">
      <i class="fab fa-facebook-f"></i>
      Share on Facebook
    </a>
    {% if type == "event" and event_access == 'Public' %}
      <a class="dropdown-item" href="{{ registration_url }}" onclick="ga('send', 'event', 'Event Registration', 'Click' );">
        <i class="fal fa-check-square"></i>
        Register
      </a>
    {% endif %}
    {% if type == 'publication' and pdf_download %}
      <a class="dropdown-item" href="{{ pdf_download }}" target="_blank" rel="noopener noreferrer">
        <i class="fal fa-file-pdf"></i>
        Download PDF
      </a>
    {% endif %}
    {% if type == 'expert' %}
      {% if twitter %}
        <a class="dropdown-item" href="https://twitter.com/{{twitter}}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
          {{twitter}}
        </a>
      {% endif %}
      {% if linkedin_username %}
        <a class="dropdown-item" href="https://www.linkedin.com/{{linkedin_username}}" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin-in"></i>
          {{linkedin_username}}
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>