.health-security-series-article-series {
  @include top-bar($background-color: transparent);
  background-color: $health-security-series-background-colour;

  .health-security-series-article-series-hero {
    padding-top: 8em;

    h1 {
      color: $white;
    }

    .short-description {
      color: $white;
      columns: 2;
    }
  }

  .health-security-series-article-series-in-the-series {
    article {
      .authors {
        span {
          @include and-separated;
        }
      }
    }
  }

  .health-security-series-article-series-credits {
    .health-security-series-article-series-credits-content {
      columns: 3;
    }
  }
}
