.health-security-series-article {
  @include top-bar(
    $background-color: transparent,
    $background-color-scrolled: $black
  );

  .health-security-series-article-hero {
    background-position: center;
    background-size: cover;
    height: 95vh;
    margin-bottom: 2em;
    position: relative;
    width: 100%;

    &::before {
      background: linear-gradient(to bottom, transparent, $white-alpha-40);
      bottom: 0;
      content: '';
      height: 75%;
      position: absolute;
      top: auto;
      width: 100%;
      z-index: 1;
    }

    &::after {
      @include media-breakpoint-up(md) {
        background: linear-gradient(
          to bottom,
          $health-security-series-gradient-top,
          $health-security-series-gradient-bottom,
          transparent
        );
        height: 85%;
      }
      background: $health-security-series-hero-background-colour;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    .fingerprint-icon-container {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 100%;

      img {
        max-width: 768px;
        opacity: 0.3;
      }
    }

    .health-security-series-article-hero-content {
      padding-top: 6em;
      position: relative;
      text-align: center;
      z-index: 2;

      h1 {
        @include health-security-title;
        @include media-breakpoint-up(md) {
          font-size: 2.5em;
        }
        font-size: 2em;
      }

      .social-share-list {
        @include health-security-social-links;
      }

      .date {
        color: $health-security-series-light-grey;
        font-size: 0.75em;
        text-transform: uppercase;
      }

      .authors {
        @include link($color: $white, $hover-color: $cigi-primary-colour);
        display: flex;
        font-size: 1em;
        justify-content: center;

        article {
          text-align: center;

          .author-image {
            height: 80px;
            margin: 1.8em 1.5em 0.4em;
            position: relative;
            width: 80px;

            .author-img {
              border-radius: 50%;
              cursor: pointer;
              height: auto;
              left: 50%;
              margin: -30px 0 0 -30px;
              position: absolute;
              top: 50%;
              transition: opacity 1s ease-in-out;
              width: 60px;
            }
          }

          .author-name {
            font-family: $health-security-series-font;
          }

          &:hover {
            .inner-ring {
              animation-play-state: running;
            }

            .outer-ring {
              animation-play-state: running;
            }
          }
        }
      }
    }
  }

  .drop-caps {
    border: 0;
    font-family: $health-security-series-font;
    font-size: 3em;
    margin-right: 0.15em;
    padding-top: 0.15em;
  }

  .stream-block-blockquote {
    font-family: $health-security-series-font;
    font-weight: 700;
    line-height: 1.2;
    margin: 1.5em 0 0.5em;
    position: relative;

    blockquote {
      @include media-breakpoint-up(md) {
        font-size: 2.1em;
      }
      color: $health-security-series-background-colour;
      font-size: 1.5em;

      &::before {
        border-bottom: 5px solid $health-security-series-background-colour;
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
      }
    }
  }

  .stream-block-external-quote {
    blockquote {
      border-left: 5px solid $health-security-series-background-colour;
    }
  }

  footer {
    padding-top: 2em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
