$health-security-series-light-grey: #d8d8d8;
$health-security-series-font: 'Masqualero', sans-serif;
$health-security-series-gradient-top: rgba(11, 80, 111, 1);
$health-security-series-gradient-bottom: rgba(11, 80, 111, 0.7);
$health-security-series-hero-background-colour: rgba(11, 80, 111, 0.8);
$meta-grey: #c7c7c5;

@mixin health-security-social-links {
  margin: 0;

  a {
    width: 1.5em;
  }

  i {
    color: $white;
    transition: color 0.2s ease;

    &:hover {
      color: $cigi-primary-colour;
    }
  }

  .fa-circle {
    display: none;
  }
}

@mixin health-security-title {
  color: $white;
  font-family: $health-security-series-font;
  font-weight: 900;
  line-height: 1.1;
  margin: 0.2em 0;
  text-align: center;
}

@import '../../../css/global/mixins';

@import './health_security_series_article_series';
@import './health_security_series_article';
@import './health_security_series_multimedia';
@import './includes/health_security_series_rings';
@import './includes/in_the_series';

.health-security-series {
  @include light-footer;
}
