@import '../global/variables';
@import '../global/mixins';

.hamburger-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 101;
  color: white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    position: absolute;

    i {
      color: $white;
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  z-index: 100;
  color: $white;
}

.menu-content {
  z-index: 101;
  position: absolute;
  top: 25%;
  width: 100%;
  color: $white;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .slide-list {
    ol {
      padding: 0;
      columns: 2;

      p {
        margin-bottom: 0;
        font-weight: 500;
      }
    }
  }

  a {
    color: $white;
    background-size: 0 100%;
    transition: background-size 0.5s;
    background-image: linear-gradient(
      transparent calc(100% - 2px),
      $cigi-primary-colour 10px
    );
    background-repeat: no-repeat;

    &:hover {
      background-size: 100% 100%;
    }
  }
}
