@import '../global/mixins';

.article-series-row {
  @include media-breakpoint-up(md) {
    flex-direction: row-reverse;
  }
  border-bottom: 1px solid $cigi-light-grey;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-bottom: 2em;
  padding-bottom: 2em;

  .article-series-content {
    .article-series-contributors {
      h3 {
        color: $cigi-text-grey;
        font-size: 0.75em;
        text-transform: uppercase;
      }

      ul {
        @include media-breakpoint-up(md) {
          columns: 4;
        }
        columns: 3;
        list-style: none;

        li {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
        }
      }
    }

    .article-series-short-description {
      color: $cigi-text-grey;
    }

    .article-series-title {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      font-size: 1.125em;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 0.5em;
    }

    .article-series-topic-list {
      margin-bottom: 0.5em;

      li {
        @include link($color: $cigi-primary-colour, $hover-color: $cigi-dark-pink);
        font-size: 0.75em;
        font-weight: 500;
        line-height: 1.25em;
        text-transform: uppercase;
      }
    }
  }

  .article-series-image {
    @include media-breakpoint-up(md) {
      margin-right: 1em;
      max-width: 25%;
      min-width: 25%;
      width: 25%;
    }
    margin-right: 0;
    width: 100%;
  }
}
