@import '../global/mixins';

#events-search-table {
  .card__container {
    padding: 0 2em;

    .card--event--live-label {
      i {
        color: $cigi-primary-colour;
        font-weight: 500;
        padding-right: 0.5em;
      }
    }

    .card__text__title {
      min-height: 6em;
    }

    .card__text__meta {
      margin-top: 1.5em;
    }
  }
}
