@import '../global/mixins';

#event-list {
  .event-items {
    @include media-breakpoint-up(lg) {
      padding-left: 1em;
    }
    
    >div[class*='col'] {
      width: 100%;
      border-bottom: 1px solid $cigi-light-grey;
      padding: 3em 0;
  
      &:first-child {
        @include media-breakpoint-up(lg) {
          border-top: 0;
          padding-top: 0;
        }
  
        border-top: 1px solid $cigi-light-grey;
      }
    }
  
    .card--event__top {
      @include media-breakpoint-up(md) {
        margin-bottom: 5em;  
      }
      @include media-breakpoint-up(lg) {
        margin-right: 0;
      }
      margin-bottom: 2em;
  
      .card--event--upcoming-label {
        margin-bottom: 0;
      }

      .card--event--live-label {
        i {
          color: $cigi-primary-colour;
          font-weight: 500;
          padding-right: 0.5em;
        }
      }
  
      .card--event__calendar-date {
        .card--event__date {
          display: flex;
          justify-content: center;
          line-height: 70%;
        }
  
        .card--event__month {
          display: flex;
          justify-content: center;
          padding-top: 0.5em;
        }
      }
    }
  }
  
  .pagination-links-numbered {
    margin: 5em 0;
  
    li {
      @include media-breakpoint-down(sm) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}
