@import '../global/mixins';

.events-calendar {
  color: $white;

  i {
    color: $white;
  }

  .month-year {
    text-align: center;
  }

  .row {
    flex-wrap: nowrap;
  }

  .disabled {
    color: $cigi-text-grey;
  }
}
