.multimedia-list-col {
  margin-bottom: 2em;

  .multimedia-card-image {
    @include aspect-ratio(4, 3);
    display: block;
    margin-bottom: .5em;

    &::before {
      background: transparent;
      transition: background-color 0.3s ease;
    }

    .multimedia-image-type {
      align-items: center;
      background: $cigi-primary-colour;
      bottom: 0;
      color: $white;
      display: inline-flex;
      height: 40px;
      justify-content: center;
      position: absolute;
      right: 0;
      width: 40px;
      z-index: 1;
    }

    .img-wrapper {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    &:hover {
      &::before {
        background-color: $black;
      }

      .img-wrapper {
        opacity: 0.8;
      }
    }
  }

  .multimedia-card-topic-list {
    margin-bottom: 0.5em;

    li,
    a {
      color: $cigi-primary-colour;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.25em;
      text-transform: uppercase;
    }

    a {
      &:hover {
        color: $cigi-dark-pink;
      }
    }
  }

  .multimedia-card-title {
    @include link($color: $black, $hover-color: $cigi-primary-colour);
    margin-bottom: 0.2em;

    a {
      font-size: 1.0625em;
      font-weight: 400;
    }
  }

  .multimedia-card-speakers-list {
    font-size: 0.75em;
    margin-bottom: 0;

    li,
    a {
      color: $cigi-text-grey;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    a {
      &:hover {
        color: $cigi-primary-colour;
      }
    }
  }

  .multimedia-card-date {
    color: $cigi-text-grey;
    font-size: 0.75em;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
