@import '../global/mixins';

article {
  &.multimedia-listing-series {
    align-items: flex-start;
    border-bottom: 1px solid $cigi-light-grey;
    display: flex;
    margin-bottom: 0;
    padding: 2em 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    .multimedia-card-image {
      @include aspect-ratio(4, 3);
      @include media-breakpoint-down(sm) {
        display: none;
      }
      flex-basis: 40%;
      flex-shrink: 0;
      margin-right: 1em;

      &:hover {
        &::before {
          background-color: $black;
        }

        .img-wrapper {
          opacity: 0.8;
          transition: opacity 0.2s ease;
        }
      }

      .multimedia-image-type {
        align-items: center;
        background: $cigi-primary-colour;
        bottom: 0;
        color: $white;
        display: inline-flex;
        height: 40px;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 40px;
        z-index: 1;
      }
    }

    p {
      color: $cigi-text-grey;
    }

    h3 {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      font-size: 1.3em;
    }

    .topics {
      margin-bottom: 0.5em;
    }

    .authors {
      @include link($color: $cigi-text-grey, $hover-color: $cigi-dark-pink);
      font-size: 0.75em;
      margin-bottom: 0;
      text-transform: uppercase;

      li {
        color: $cigi-text-grey;
        display: inline;
      }
    }

    .date {
      color: $cigi-text-grey;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
}
