@import '../global/mixins';

.pagination-links-numbered {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $cigi-light-grey;
  position: relative;
  width: 100%;

  li {
    cursor: pointer;
    display: inline-block;
    padding: 0 2em;
    position: relative;

    button {
      color: $cigi-medium-grey;
    }

    a {
      text-align: center;
    }

    &.pagination-link-first,
    &.pagination-link-last {
      @include media-breakpoint-up(sm) {
        display: inline;
      }

      display: none;
      padding: 0;

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &.pagination-link-first {
      margin-right: 1em;
    }

    &.pagination-link-last {
      margin-left: 1em;
    }

    &.active {
      color: $black;

      &::before {
        content: '';
        position: absolute;
        border-bottom: 1px solid $black;
        top: -35px;
        left: 0;
        width: 100%;
      }
    }
  }
}
