@import '../global/mixins';

article {
  &.search-result-listing {
    align-items: flex-start;
    border-bottom: 1px solid $cigi-light-grey;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
    padding-top: 1em;

    &:last-child {
      border-bottom: 0;
    }

    .search-result-content {
      .search-result-highlight {
        color: $cigi-text-grey;
        margin-bottom: 0;
        margin-top: 1em;

        span {
          &:first-child {
            &::before {
              content: '...';
            }
          }

          &::after {
            content: '...';
          }

          em {
            background-color: $cigi-light-pink;
            font-style: normal;
          }
        }
      }

      .search-result-meta {
        @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
        color: $cigi-text-grey;
        font-size: 0.75em;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .search-result-title {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        font-size: 1.0625em;
        margin-bottom: 0.25em;

        .elevate-bookmark {
          font-size: 15px;
          margin-left: 5px;
        }
      }
    }
  }
}
