@import '../global/variables';

.search-table {
  position: relative;

  form {
    margin-bottom: 0.3em;

    input {
      border-bottom: 2px solid $black;
      color: $black;
      font-weight: 400;
    }

    select {
      border-bottom: 2px solid $black;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      width: 100%;
    }
  }

  .search-results {
    opacity: 1;
    transition: opacity 1s;

    &.loading {
      opacity: .5;
    }
  }

  .loading-spinner {
    left: 50%;
    position: absolute;
    top: min(40vh, 50%);
    transform: translateX(-50%);
    width: 50px;
  }
}
