.search-table {
  position: relative;

  .search-results {
    opacity: 1;
    transition: opacity 1s;

    &.loading {
      opacity: .5;
    }
  }

  .loading-spinner {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
