@import '../global/mixins';

.search-filters {
  .dropdown {
    &.dropdown-topics {
      .dropdown-menu {
        &.show {
          border-bottom: 1em solid $white;
          height: 300px;
        }
      }
    }

    .dropdown-menu {
      &.show {
        height: auto;
        margin: 0 0 2em;
        overflow-y: scroll;
        position: relative;
        transform: none !important;
        z-index: 14;

        .expert-filter,
        .topic-filter {
          background-color: $white;
          display: block;
          padding: 1em 0.75em 0.5em;
          position: sticky;
          top: 0;
          z-index: 2;

          input {
            &::placeholder {
              color: $cigi-medium-light-grey;
              font-size: 0.75em;
              text-transform: uppercase;
            }
          }

          .btn-search {
            color: $cigi-medium-grey;
          }
        }
      }
    }

    .columns-2 {
      @include media-breakpoint-only(md) {
        column-count: 1;
      }
      column-count: 2;
    }

    .dropdown-item {
      @include media-breakpoint-up(lg) {
        font-size: 0.8em;
      }
      padding-bottom: 0;
      padding-left: 1em;
      padding-right: 1em;

      .dropdown-item {
        font-size: 1em;
      }

      label {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin-bottom: 0;

        &.inactive {
          color: $cigi-medium-grey;
          pointer-events: none;
        }

        span {
          flex-shrink: 0;
        }
      }

      input {
        &[type='checkbox'] {
          display: none;

          & + span {
            border: 1px solid $black;
            cursor: pointer;
            display: inline-block;
            height: 12px;
            margin-right: 0.5em;
            position: relative;
            vertical-align: sub;
            width: 12px;

            &::after {
              content: '';
              height: 8px;
              left: 1px;
              position: absolute;
              top: 1px;
              width: 8px;
            }
          }

          &.partial {
            & + span {
              &::after {
                background-color: $color--blue;
                opacity: 0.42;
              }
            }
          }

          &:checked {
            & + span {
              &::after {
                background-color: $color--blue;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.filterlist {
  margin: 1em 0;

  .filtertitle {
    color: $cigi-text-grey;
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 0.5em;
  }

  .filter {
    @include button();
    color: $black;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 0.75em;
    font-weight: 300;
    border-radius: 2em;
    margin-right: 0.5em;
    padding: 0.5em 1em;
    position: relative;

    &:hover {
      background-color: $cigi-medium-light-grey;
    }

    i {
      margin-left: 1em;
      font-size: 0.75em;
      color: $cigi-text-grey;
    }

    &.button--clear {
      border: 1px solid $cigi-dark-grey;
      background-color: transparent;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}

.search-table-container {
  margin-top: 4em;
}

.search-table {
  font-family: $metadata-font-family;
  margin-bottom: 4em;
  position: relative;

  &.search-table-mobile {
    margin-bottom: 0;
  }

  .search-table-scroll {
    height: 0;
    position: absolute;
    top: -5em;
    width: 100%;
  }

  .search-table-count {
    color: $cigi-medium-light-grey;
    font-size: 0.9em;
    margin-bottom: 1.5em;
  }

  .search-table__results {
    opacity: 1;
    transition: opacity 1s;

    &.loading {
      opacity: 0.5;
    }

    th {
      &.search-table__results__row__more {
        text-align: right;
      }
    }
  }

  .loading-spinner {
    left: 50%;
    position: absolute;
    top: min(40vh, 50%);
    transform: translateX(-50%);
    width: 50px;
  }
}

//3.0 styling

.search-table {
  .empty-query-prompt {
    margin: 2em 0;
  }

  .search-table__results--grid {
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    display: grid;
    margin: 0 -1.5em;

    .article-container {
      padding: 2em 0;

      &:not(:nth-last-child(-n + 3)) {
        border-bottom: 1px solid $cigi-light-grey;
      }

      &:not(:nth-child(3n)) {
        article {
          @include media-breakpoint-up(lg) {
            border-right: 1px solid $cigi-light-grey;
          }
        }
      }

      article {
        padding: 0 1.5em;
      }
    }
  }

  .search-bar {
    &.show-filters {
      .search-bar__input-container {
        &::after {
          @include media-breakpoint-up(lg) {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0.75em;
            background-color: $cigi-light-grey;
            height: 1px;
            width: calc(100% - 0.75em);
          }
          @include media-breakpoint-up(xl) {
            left: 1.5em;
            width: calc(100% - 1.5em);
          }
        }
      }

      .search-bar__display-mode-container {
        &::after {
          @include media-breakpoint-up(lg) {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0.75em;
            background-color: $cigi-light-grey;
            height: 1px;
            width: calc(100% - 0.75em);
          }
          @include media-breakpoint-up(xl) {
            right: 1.5em;
            width: calc(100% - 1.5em);
          }
        }
      }

      .search-bar__input-container,
      .search-bar__filters-button,
      .search-bar__display-mode {
        @include media-breakpoint-up(lg) {
          padding-bottom: 1em;
        }
      }

      .search-bar__filters__dropdown {
        background-color: $black;
        color: $white;

        .fa-angle-down {
          transform: rotate(180deg);
        }
      }
    }

    & > div {
      &:not(:last-child) {
        @include media-breakpoint-up(lg) {
          border-right: 1px $cigi-light-grey solid;
        }
      }
    }

    .search-bar__input-container,
    .search-bar__display-mode-container {
      position: relative;
    }

    form {
      background-color: $cigi-light-grey;
      border-radius: 50px;
      padding: 1em;
      display: flex;
      align-items: center;

      .btn-search {
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: $cigi-medium-grey;
      }
    }

    .search-bar__filters-button {
      .search-bar__filters__dropdown {
        font-weight: 300;
        border: 1px solid $black;
        border-radius: 50px;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        width: 100%;
        transition: background-color 0.2s ease, color 0.2s ease;

        span {
          margin-left: 0.5em;
        }

        i {
          transition: transform 0.2s ease;
        }
      }
    }

    .search-bar__display-mode {
      @include media-breakpoint-up(lg) {
        display: flex;
      }
      @include media-breakpoint-up(xl) {
        justify-content: space-between;
      }
      display: none;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;

      button {
        color: $cigi-medium-grey;

        &.active {
          color: $cigi-dark-grey;
        }
      }
    }

    &.search-page__search-bar {
      & > div {
        border: 0;
      }

      .search-bar__display-mode-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .search-bar-sort-wrapper {
    @include media-breakpoint-up(md) {
      width: 20%;
    }
    width: 25%;
    position: relative;
    
    &:nth-child(2) {
      @include media-breakpoint-up(md) {
        padding: 0 2em;
      }
    }

    .search-bar__sort__label {
      color: $cigi-text-grey;
      font-size: 0.875em;
      font-weight: 300;
      margin-bottom: 0.5em;
    }

    .search-bar-sort-list {
      button {
        text-transform: capitalize;
      }
    }

    .dropdown-menu {
      .dropdown-item {
        font-weight: 300;
      }
    }
  }

  .search-table__filters {
    border-bottom: 1px solid $cigi-light-grey;

    .search-table__filters__row {
      display: flex;
      position: relative;

      .dropdown {
        @include media-breakpoint-up(lg) {
          position: relative;
        }
        flex: 1 0 0%;
        margin-top: 1em;

        &:not(:last-child) {
          border-right: 1px solid $cigi-light-grey;
        }

        &.dropdown-year {
          @include media-breakpoint-up(lg) {
            flex: 0 0 20%;
          }
        }

        .search-table__filters__dropdown-toggle {
          @include media-breakpoint-up(md) {
            padding: 0.5em 2em 1em;
          }
          padding: 0.5em 1em 1em;
          align-items: center;
          color: $black;
          display: flex;
          font-size: 1em;
          font-weight: 300;
          justify-content: space-between;
          width: 100%;

          &::after {
            align-items: center;
            border: 0;
            color: $cigi-medium-grey;
            content: '\f078';
            display: inline-flex;
            font-family: 'Font Awesome 5 Pro';
            font-size: 0.75em;
            height: 100%;
            margin-left: 0.5em;
            transform: rotate(0deg);
            transition: transform 0.25s ease;
            vertical-align: 0.255em;
          }

          &[aria-expanded='true'] {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .search-table__filters__container {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }
}
