$strategic-plan-grey: #2d2e35;
$strategic-plan-yellow: #edc54c;

@import '../global/variables';
@import '../global/mixins';

@keyframes slideTitleLineExpand {
  0% {
    margin-left: -350px;
    width: 0;
  }

  50% {
    margin-left: -350px;
    width: 450px;
  }

  100% {
    margin-left: 0;
    width: 100px;
  }
}

.slide-background {
  &.title {
    .background-colour {
      background-color: $strategic-plan-grey;
      height: 105vh;
      width: 50%;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }

  &.toc {
    .background-colour {
      background-color: $strategic-plan-grey;
      height: 105vh;
      width: 66%;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }

  .background-image {
    z-index: -2;
    &::before {
      @include media-breakpoint-down(md) {
        background: rgba(0, 0, 0, 0.8) !important;
      }
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      pointer-events: none;
      transition: opacity 0.6s ease-in-out;
    }

    &.left {
      &::before {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3),
          transparent
        );
      }
    }

    &.right {
      &::before {
        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.95),
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.3),
          transparent
        );
      }

      &.columns-2 {
        &::before {
          background: linear-gradient(
            to left,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.3),
            transparent
          );
        }
      }
    }

    &.full {
      &::before {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.9)
        );
      }
    }
  }
}

.strategic-plan-slide {
  @include media-breakpoint-up(md) {
    padding: 6rem 0;
    height: 100vh;
  }
  padding: 3rem 0;
  color: white;

  h1 {
    font-size: clamp(1.25rem, 5vw, 2rem);

    &::before {
      animation-duration: 1.25s;
      animation-name: slideTitleLineExpand;
      border-bottom: 8px solid #e6023b;
      margin: 0 0 0.5rem;
      width: 100px;
      animation-timing-function: ease-in-out;
      display: block;
      content: '';
    }
  }

  ul {
    padding-left: 1.5rem;
  }
}

.title-slide {
  .large-logo {
    width: 150px;
    fill: $white;
    transition: fill 0.3s ease;

    &:hover {
      fill: $cigi-primary-colour;
    }
  }

  .title-slide__title {
    padding-top: 10rem;

    p {
      font-size: 1rem;
    }
  }

  .title-slide__content {
    font-size: 1.5rem;
  }
}

.regular-slide {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  line-height: 1.25;

  .regular-slide__title {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  &.full {
    p {
      font-size: 1.1rem;
    }

    .regular-slide__content__acknowledgement {
      p {
        font-size: 0.9rem;
      }
    }
  }
}

.table-of-contents {
  h1 {
    margin-bottom: 3rem;
  }
  ol {
    padding-left: 3rem;
    list-style: none;
    counter-reset: custom-counter 1;

    li {
      @include link($color: $white, $hover-color: $cigi-primary-colour);
      counter-increment: custom-counter;
      position: relative;
      font-size: 1.25rem;
      margin-bottom: 1rem;

      &::before {
        content: counter(custom-counter);
        color: $cigi-primary-colour;
        font-weight: 500;
        position: absolute;
        left: -2rem;
      }
    }
  }
}
