{% extends "base.html" %}

{% block content %}
  {% include "includes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}
  {% include "includes/body.html" with body=self.body %}
  <section class="mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 col-lg-2">
          <a class="grey-image-link" href="http://www.eluta.ca/jobs-at-centre-for-international-governance-innovation" target="_blank" rel="noopener noreferrer">
            <img src="/static/assets/careers_waterloo_top_employer_2019.svg" />
          </a>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1">
          <a class="grey-image-link" href="http://content.eluta.ca/top-employer-centre-for-international-governance-innovation" target="_blank" rel="noopener noreferrer">
            <img src="/static/assets/careers_young_people_top_employer_2019.svg" />
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
