{% load wagtailcore_tags wagtailimages_tags core_tags %}

{% if article_series.image_banner.file.url|file_extension == '.gif' %}
  {% define article_series.image_banner.file.url as image_banner_url %}
{% else %}
  {% image article_series.image_banner original as image_banner %}
  {% define image_banner.url as image_banner_url %}
{% endif %}

<section class="pfpc-series-in-the-series">
  <div class="video-bg" style="background-image: url('{{ image_banner_url }}');">
    {% if article_series.video_banner %}
    <video playsinline autoplay muted loop>
      <source src="{{ article_series.video_banner.url }}" type="video/mp4">
    </video>
    {% endif %}
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <article>
          <div class="essay-series-label">Opinion Series</div>
          <div class="series-info">
            <h2><a href="{{ article_series.url }}">{{ article_series.title }}</a></h2>
          </div>
          <div class="series-contributors">
            <div class="contributors-label">Contributors</div>
            <ul class="contributors">
              {% for item in article_series.series_contributors_by_person %}
                <li>
                  <a href="{{ item.item.url }}">
                    {% for contributor in item.contributors %}
                      {{ contributor.title }}
                    {% endfor %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
