@import '../../../css/global/mixins';

.hero {
  margin: 3rem 0;

  .hero__subtitle {
    @include media-breakpoint-up(md) {
      font-size: 2em;
    }
    font-size: 1.25em;
    line-height: 1.25;

    p {
      margin: 0;
    }
  }
}

.media-latest-news {
  margin-bottom: 3em;

  h2 {
    font-size: 1.1em;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $cigi-light-grey;
    width: 100%;
  }

  .media-latest-news__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .media-latest-news__item__container {
      @include media-breakpoint-up(md) {
        width: 33.33333%;
      }
      padding: 0 1rem;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5) {
        @include media-breakpoint-up(md) {
          border-right: 1px solid $cigi-light-grey;
        }
      }

      &:nth-child(-n + 3) {
        article {
          @include media-breakpoint-up(md) {
            border-bottom: 1px solid $cigi-light-grey;
          }
        }
      }

      &:not(:last-child) {
        article {
          @include media-breakpoint-down(md) {
            border-bottom: 1px solid $cigi-light-grey;
          }
        }
      }

      article {
        padding: 1rem 0;

        h3 {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
          font-size: 1.0625em;
        }

        .cigi-people-mentioned,
        .date,
        .meta {
          color: $cigi-text-grey;
          font-size: 0.75em;
          margin: 0;
          text-transform: uppercase;
        }

        .cigi-people-mentioned {
          @include link(
            $color: $cigi-text-grey,
            $hover-color: $cigi-primary-colour
          );
          margin-bottom: 0;

          a {
            @include comma-separated;
          }
        }
      }
    }
  }
}

.media-search-table {
  .search-table-container {
    margin-top: 0;

    .search-table__results--list {
      .search-table__results__row__type {
        @include media-breakpoint-up(md) {
          width: 15%;
        }
      }

      .search-table__results__row__authors {
        @include media-breakpoint-up(md) {
          width: 15%;
        }
      }

      .search-table__results__row__topics {
        @include media-breakpoint-up(md) {
          width: 15%;
        }
      }
    }
  }
}