{% load wagtailcore_tags wagtailimages_tags %}

{% image article_series.image_banner original as image_banner %}
<section class="ai-series-in-the-series" style="background-image: url('{{ image_banner.url }}')">
  <div class="container-md">
    <article>
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <div class="essay-series-label">A CIGI Essay Series</div>
          <h2><a href="{{ article_series.url }}">{{ article_series.title }}</a></h2>
        </div>
        <div class="col-md-4 col-lg-4 offset-lg-2 series-contributors">
          <div class="contributors-label">Contributors</div>
          <ul>
            {% for item in article_series.series_contributors_by_article %}
              <li>
                <a href="{{ item.item.url }}">
                  {% include "includes/contributors.html" with contributors=item.contributors %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col short-description">
          {{ article_series.short_description|richtext }}
        </div>
      </div>
    </article>
  </div>
</section>
