form {
  &.contact-form {
    label {
      display: none;
    }

    input,
    textarea {
      border: 1px solid $cigi-light-grey;
      border-radius: 0;
      margin-bottom: 1em;
      padding: 0.625em 0.8125em;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .helptext {
      display: none;
    }
  }
}
