section {
  &.hero {
    @include media-breakpoint-up(md) {
      padding-top: 6em;
    }
    background-color: $black;
    font-size: 1rem;
    padding-bottom: 2em;
    padding-top: 4em;

    .hero-container {
      display: flex;
      justify-content: space-between;

      .hero-main {
        @include media-breakpoint-up(md) {
          max-width: 60%;
        }

        h1 {
          @include media-breakpoint-up(md) {
            font-size: 2.5em;
          }
          color: $white;
          font-size: 1.75em;
          font-weight: $sans-regular;
          margin-bottom: 0;
        }

        h2 {
          color: $cigi-medium-light-grey;
          font-size: 1em;
          font-weight: $sans-regular;
        }
      }

      aside {
        nav {
          h2 {
            color: $white;
            font-size: 0.75em;
            font-weight: 500;
            text-transform: uppercase;

            span {
              border-top: 3px solid $white;
            }
          }

          ul {
            columns: 2;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              @include link($color: $white, $hover-color: $cigi-primary-colour);

              border-bottom: 1px solid $border-grey;
              break-inside: avoid-column;
              padding-bottom: .2em;
              padding-top: .2em;
            }
          }
        }
      }
    }
  }
}
