section {
  margin: 1em 0;

  @include media-breakpoint-up(md) {
    margin: 3em 0;
  }

  &.hero {
    margin-top: 0;
  }

  &.main {
    ol,
    ul {
      line-height: 1.5em;
      margin: 0 0 1em 1em;
      padding: 0;
    }
  }

  &.featured-section {
    .featured-section-title {
      border-top: 3px solid $black;
      color: $black;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 500;
      margin-bottom: 1em;
      text-transform: uppercase;
    }
  }
}
