// TABLES

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;

  thead {
    tr {
      th {
        border-bottom: 1px solid $cigi-light-grey;
        color: $cigi-medium-grey;
        font-size: 0.875em;
        font-weight: 300;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: left;
      }
    }
  }
}

//CUSTOM THEME TABLE

.custom-theme-table {
  thead {
    tr {
      th {
        font-size: 0.75em;
        line-height: 1.25em;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          padding-left: 0;
        }

        .table-mobile-text {
          display: none;
        }

        .table-content {
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          line-height: 1.25em;
        }

        .table-infos-wrapper {
          align-items: center;
          display: flex;
        }

        .table-infos {
          line-height: 1.25em;
        }

        .table-title-link {
          color: $black;
          font-size: 0.875em;
          font-weight: 500;

          &:hover {
            color: $cigi-primary-colour;
            text-decoration: none;
          }
        }

        .table-infos-meta {
          color: $cigi-text-grey;
          font-size: 0.75em;
          font-weight: 400;
          text-transform: uppercase;
        }

        .table-infos-function {
          color: $cigi-text-grey;
          font-size: .9em;
        }

        .custom-text-list {
          margin-bottom: 0;

          &.author-list {
            color: $cigi-text-grey;
          }
        }

        .table-btn-icon {
          align-items: center;
          border: 1px solid $cigi-primary-colour;
          display: inline-flex;
          font-size: 0.75em;
          height: 2.1em;
          justify-content: center;
          transition: background 0.25s ease, color 0.25s ease;
          width: 2.1em;

          &:hover {
            background: $cigi-primary-colour;
            color: $white;
            text-decoration: none;
          }
        }

        .table-thumbnail-photo {
          @include aspect-ratio(1, 1);
          border-radius: 100%;
          margin-right: 1em;
          max-width: 70px;
          width: 100%;
        }

        .table-list-item {
          font-size: 0.75em;
          font-weight: 400;
          text-transform: uppercase;
        }

        .table-recent-activity {
          align-items: center;
          display: inline-flex;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead {
      tr {
        left: -9999px;
        position: absolute;
        top: -9999px;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $cigi-light-grey;
        margin-bottom: 1em;
        padding-bottom: 1em;

        td {
          align-items: baseline;
          border: 0;
          display: flex;
          padding: 0 0 0.25em;
          position: relative;
          text-align: left !important;

          .table-mobile-text {
            color: $cigi-text-grey;
            display: inline-flex;
            flex: 0 0 20%;
            font-size: 0.75em;
            margin-right: 1em;
          }
        }
      }
    }
  }

  &.table-publications {
    tbody {
      tr {
        td {
          &:last-of-type {
            .table-content {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  &.table-experts {
    .table-infos-wrapper {
      flex-grow: 1;

      .table-title-link {
        font-size: 1.0625em;
        font-weight: 400;
      }
    }

    .custom-text-list {
      li {
        color: $cigi-text-grey;
      }
    }

    thead {
      tr {
        th {
          font-size: 0.75em;
        }
      }
    }

    tbody {
      tr {
        td {
          &:first-of-type {
            padding-left: 0;
          }
        }
      }
    }

    @include media-breakpoint-down(sm) {
      tbody {
        tr {
          td {
            .table-mobile-text {
              display: none;
            }
          }
        }
      }
    }
  }
}

//CORE RELATED FILES TABLE


.table-related-files {
  margin-bottom: 3em;

  thead {
    tr {
      th {
        border-bottom-color: $border-box;
        padding-bottom: .5em;
        padding-top: .5em;
      }
    }
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom-color: $border-box;
        }
      }

      td {
        font-size: .9em;
        padding-bottom: .5em;
        padding-top: .5em;
      }
    }
  }

  .table-wide-lg {
    @include media-breakpoint-down(sm) {
      width: 80%;
    }
    padding-right: .5em;
    width: 85%;
  }
}
