.in-the-series {
  @include link($color: $black, $hover-color: $cigi-primary-colour);

  > .container {
    border-bottom: 1px $cigi-text-grey solid;
    border-top: 1px $cigi-text-grey solid;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .essay-series-label {
    font-family: $ai-ethics-bilo;
    margin-bottom: 0.5em;
    text-align: center;
  }

  h2 {
    font-family: $ai-ethics-heading;
    font-size: calc(2vw + 1em);
    font-weight: 600;
    line-height: 1;
    margin: 0;
    position: relative;
    text-align: center;

    &::before {
      @include media-breakpoint-up(md) {
        display: block;
      }
      background-image: url('../../assets/ai_ethics_doodle_square.png');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: none;
      height: 0.3em;
      left: -0.3em;
      position: absolute;
      top: -0.3em;
      width: 0.3em;
    }
  }

  li {
    @include media-breakpoint-up(xl) {
      font-size: 0.9em;
    }
    font-family: Helvetica, sans-serif;
    font-size: 0.75em;
  }

  ul {
    @include media-breakpoint-up(sm) {
      margin-top: 2em;
    }
    @include media-breakpoint-up(lg) {
      columns: 3;
    }
    columns: 2;
    list-style: none;
    margin-top: 1em;
  }

  .ai-ethics-doodle {
    max-width: 20%;

    &.left {
      text-align: right;

      img {
        width: 7.5vw;
      }
    }

    &.right {
      text-align: left;

      img {
        width: 7.5vw;
      }
    }
  }
}
