{% load wagtailcore_tags wagtailimages_tags core_tags static %}

<article class="bt-recommended-article">
  <div class="bt-recommended-content">
    {% if article.topics %}
      {% include "includes/topics.html" with topics=article.topics_sorted %}
    {% endif %}
    <h3><a href="{% pageurl article %}">{{ article.title }}</a></h3>
    {% if article.authors %}
      {% include "includes/authors.html" with authors=article.authors.all %}
    {% endif %}
    {% if article.publishing_date %}
      {% include "includes/date.html" with date=article.publishing_date %}
    {% endif %}
  </div>
  <div class="bt-recommended-image">
    <a href="{% pageurl article %}">
      {% if article.image_feature and not article.expired_image %}
        {% image article.image_feature width-300 %}
      {% elif article.image_hero and not article.expired_image %}
        {% image article.image_hero width-300 %}
      {% else %}
        <img src="{% static 'assets/CIGI-default-recommended-thumb.png' %}" alt="CIGI Logo">
      {% endif %}
      {% if article|page_type == 'multimedia' %}
        <div class="play-icon">
          <i class="fas fa-play"></i>
        </div>
      {% endif %}
    </a>
  </div>
</article>
