{% load wagtailcore_tags %}

<header>
  <div class="container">
    <div class="row">
      <div class="col big-tech-top-bar">
        <a href="/big-tech/" class="big-tech-logo">
          {% include "./big_tech_logo.svg" %}
        </a>
        <div class="big-tech-dropdown big-tech-subscribe">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="bigTechSubscribeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Subscribe
          </button>
          <div class="dropdown-menu" aria-labelledby="bigTechSubscribeButton">
            {% if podcast_apple_url %}
              <a class="dropdown-item" href="{{ podcast_apple_url }}" target="_blank" rel="noopener noreferrer">
                Apple
              </a>
            {% endif %}
            {% if podcast_spotify_url %}
              <a class="dropdown-item" href="{{ podcast_spotify_url }}" target="_blank" rel="noopener noreferrer">
                Spotify
              </a>
            {% endif %}
            {% if podcast_google_url %}
              <a class="dropdown-item" href="{{ podcast_google_url }}" target="_blank" rel="noopener noreferrer">
                Google
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
