%button {
  background: $white;
  border: 1px solid $cigi-pink;
  border-radius: 2px;
  color: $cigi-pink;
  display: inline-block;
  font-size: 10px;
  line-height: 1.1em;
  margin: 1em 0 0;
  padding: 7px 10px;
  text-decoration: none;
  transition: background 0.25s ease, color 0.25s ease;

  &.primary {
    background: $color--blue;
    border: 1px solid $color--blue;
    color: $white;

    &:hover {
      background: $white;
      color: $color--blue;
      cursor: pointer;
    }
  }

  svg {
    display: inline;
  }

  &:hover {
    background: $cigi-pink;
    color: $white;
  }

  a {
    color: $white;
  }
}

.download-button {
  @extend %button;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 12px;
  justify-content: center;
  margin-top: 0.5em;
  width: 30px;

  &.with-description {
    width: auto;
  }
}

table {
  .download-button {
    margin: auto;
  }
}

%multimedia-series-button {
  float: right;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  position: relative;

  .play {
    font-size: 0.25rem;
    left: 0.6875rem;
    position: absolute;
    top: 0.25rem;
  }
}

input {
  &[type='submit'] {
    @extend %button;
  }
}

.button {
  @extend %button;
}

.play-button {
  background: $cigi-pink;
  bottom: 0;
  color: $white;
  font-size: 1.5em;
  height: 62px;
  line-height: 62px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 62px;

  &:hover {
    background: $cigi-dark-pink;
    color: $white;
  }
}
