*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font-family;
  line-height: 1.25em;
  margin: 0;
}

a {
  color: $cigi-pink;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $cigi-dark-pink;
  }
}

article {
  section {
    margin-bottom: 3em;
    margin-top: 3em;

    &.hero {
      margin-top: 0;
    }

    &.main {
      ol,
      ul {
        line-height: 1.5em;
        margin: 0 0 1em 1em;
        padding: 0;
      }
    }
  }

  h2 {
    border-top: 3px solid $black;
    color: $black;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
  }

  p {
    color: $cigi-dark-grey;
    margin: 1em 0;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

hr {
  background: $cigi-light-grey;
  border: 0;
  height: 1px;
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75em;
  width: 100%;

  td {
    padding: 1.33em 0.833em;
    text-align: left;
    vertical-align: middle;

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    border-left: 1px solid $cigi-light-grey;
    color: $cigi-text-grey;
    font-weight: 500;
    padding: 0 0.833em;
    text-align: left;

    &:first-child {
      padding-left: 0;
      border-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tr {
    border-bottom: 1px solid $cigi-light-grey;
  }
}

[class*='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.container-lg {
  max-width: 67.5rem;
}

.container-md {
  max-width: 55rem;
}

.container-sm {
  max-width: 45rem;
}

.paragraph-heading {
  border-top: 0.25em solid $black;
  color: $black;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: $sans-medium;
  text-transform: uppercase;
}
