*,
*:after,
*:before {
  // Removes padding behaviour on widths
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font-family;
  margin: 0;
}

a {
  color: $cigi-pink;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $cigi-dark-pink;
  }
}

article {
  section {
    margin-bottom: 3em;
    margin-top: 3em;

    &.hero {
      margin-top: 0;
    }

    &.main {
      ol,
      ul {
        line-height: 1.5em;
        margin: 0 0 1em 1em;
        padding: 0;
      }
    }
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

hr {
  background: $cigi-light-grey;
  border: 0;
  height: 1px;
  margin: 1em 0;
}

[class*='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.container-lg {
  max-width: 67.5rem;
}

.container-md {
  max-width: 55rem;
}

.container-sm {
  max-width: 40rem;
}

.meta {
  color: #6d6d6d;
  font-size: 0.75rem;
  font-family: futura-pt,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.social-links {
  @include social-links($color: $black, $background: $cigi-light-grey, $hover-color: $cigi-pink);

  .facebook-share-link {
    cursor: pointer;
  }
}
.paragraph-heading {
  border-top: 0.25em solid $black;
  color: $black;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: $sans-medium;
  text-transform: uppercase;
}
