body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $primary-font-family;
  margin: 0;
}

a {
  color: #e6023b;
  text-decoration: none;
  transition: color 0.2s ease;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

[class*='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.container-lg {
  max-width: 67.5rem;
}

.container-md {
  max-width: 55rem;
}

.container-sm {
  max-width: 40rem;
}
