.meta {
  color: $cigi-text-grey;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.topics {
  .topic {
    font-size: 0.75rem;
    text-transform: uppercase;

    &::after {
      content: ', ';
    }

    &:last-child {
      ::after {
        content: '';
      }
    }
  }
}
