.meta {
  color: $cigi-text-grey;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.topics {
  list-style-type: none;
  margin: 0;

  .topic {
    @include comma-separated;
    display: inline;
    font-size: 0.75rem;
    text-transform: uppercase;

    &::after {
      color: $black;
    }
  }
}
