@mixin link($color: $cigi-pink, $hover-color: $cigi-dark-pink) {
  a {
    color: $color;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
}

@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
