.person-page {
  .hero {
    .grid-container {
      @include breakpoint($medium) {
        grid-template-columns: 70% 25%;
        grid-column-gap: 5%;
      }

      align-items: end;
    }

    .content {
      max-width: 530px;

      .short-bio {
        color: $white;
      }

      .topics {
        .topic {
          font-weight: 500;
        }
      }
    }

    .portrait-circle {
      padding-top: 1em;

      img {
        border-radius: 50%;
      }
    }

    &.archived {
      background: $white;

      .content {
        h1,
        .person-type {
          color: $black;
        }

        h1 {
          margin-top: 0;
        }
      }
    }
  }

  .main {
    .expertise-section {
      border: 1px solid $cigi-light-grey;
      margin: 1em 0;
      padding: 1em;
      
      @include breakpoint($medium) {
        margin: 3em 0;
      }

      .expertise-item {
        &::after {
          content: ', ';
        }

        &:last-child {
          &::after {
            content: '';
          }
        }
      }

      .contact {
        @include breakpoint($medium) {
          columns: 3;
        }

        .contact-item {
          a {
            color: $black;
            display: inline-block;
            line-height: 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 30px);
          }

          i {
            color: $cigi-pink;
            line-height: 1.2em;
            vertical-align: top;
            width: 22px;
          }
        }
      }
    }
  }
}
