body {
  &.person-page {
    .hero {
      .hero-container {
        @include breakpoint($medium) {
          align-items: flex-end;
          flex-direction: row;
        }

        flex-direction: column;
      }

      .hero-main {
        .short-bio {
          color: $cigi-medium-light-grey;
        }
      }

      .portrait-circle {
        margin-right: 5em;
        padding-top: 1em;

        img {
          border-radius: 50%;
        }
      }

      &.archived {
        background: $white;

        .hero-main {
          h1,
          .position {
            color: $black;
          }

          h1 {
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }
    }

    section {
      &.expertise {
        .expertise-container {
          border: 1px solid $cigi-light-grey;
          padding: 1em;

          .expertise-item {
            @include comma-separated;
          }

          .contact {
            @include breakpoint($medium) {
              columns: 3;
            }

            .contact-item {
              @include link($color: $black, $hover-color: $cigi-dark-pink);

              a {
                display: inline-block;
                line-height: 1.2em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 9.5em;
              }

              i {
                color: $cigi-pink;
                line-height: 1.2em;
                margin-right: 0.3em;
                vertical-align: top;
              }
            }
          }
        }
      }

      &.external-publications {
        article {
          border-bottom: 1px solid $cigi-light-grey;
          display: flex;
          padding: 1em 0;

          .counter {
            margin-right: 0.5em;
          }
        }
      }
    }
  }

  &.person-list-staff-page {
    .pager {
      margin: 2em 0;
    }

    .staff-directory {
      @include link($color: $black, $hover-color: $cigi-pink);
      border-collapse: collapse;
      width: 100%;

      i {
        color: $cigi-pink;
        margin-right: 0.3em;
      }

      th {
        color: $cigi-text-grey;
        font-size: 0.67em;
        font-weight: 500;
        letter-spacing: 2.09px;
        text-align: left;
      }

      tr {
        &:not(:first-child) {
          border-bottom: 1px solid $cigi-light-grey;
        }
      }

      td {
        font-size: .875em;
        padding: 1.25em 0;

        &:nth-child(2) {
          width: 200px;
        }
      }

      .name {
        font-size: 1rem;
        font-weight: 700;
      }

      .position {
        color: $cigi-text-grey;
      }
    }
  }
}
