header {
  background-color: $black;
  position: sticky;

  .cigi-top-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .cigi-logo {
      @include breakpoint($large) {
        padding: 0.7em 0;
      }
      a {
        align-items: center;
        display: flex;
        transition: height 0.5s ease;
      }

      svg {
        fill: $white;
        transition: opacity 0.5s ease;
      }

      .small-logo {
        @include breakpoint($large) {
          opacity: 0;
        }
        opacity: 1;
        position: absolute;
        width: 2em;
      }

      .large-logo {
        @include breakpoint($large) {
          opacity: 1;
        }
        opacity: 0;
        width: 8.5em;
      }
    }

    nav {
      .desktop-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        a,
        button {
          color: $white;
          display: block;
          font-size: 0.75rem;
          font-weight: $sans-medium;

          &:hover {
            color: $cigi-primary-colour;
          }
        }

        .menu-break {
          margin-left: 1.5em;
        }

        .menu-item {
          @include breakpoint($large) {
            display: flex;
          }
          align-items: center;
          display: none;

          a {
            padding-left: 1em;
            padding-right: 1em;
          }
        }

        .overlay-controls {
          align-items: center;
          display: flex;

          .overlay-controls-button {
            padding-left: 0.5em;
            padding-right: 0.5em;
          }
        }
      }
    }
  }
}
