.nav-wrapper .logo svg {
  fill: #fff;
  width: 100%;
}

.Draftail-block--DROPCAP {
  float: left;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.5em 0.5em 0;
}

.Draftail-block--ENDOFARTICLE {
  text-align: center;
}
.Draftail-block--ENDOFARTICLE::before {
  content: '***';
}

.Draftail-block--NAME {
  font-weight: 600;
}

.draftail_rich_text_area {
  word-break: break-all;
}

#id_featured_articles-FORMS,
#id_featured_pages-FORMS,
#id_featured_multimedia-FORMS {
  counter-reset: featured-item;
}

#id_featured_articles-FORMS [id^='inline_child_featured_articles']::before,
#id_featured_pages-FORMS [id^='inline_child_featured_pages']::before,
#id_featured_multimedia-FORMS [id^='inline_child_featured_multimedia']::before {
  counter-increment: featured-item;
  content: 'Item ' counter(featured-item) ': ';
}

.newsletter-streamfield-menu {
  .w-combobox__optgroup {
    [id$='item-0'],
    [id$='item-1'] {
      display: none;
    }
  }
}

.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth3 {
  list-style-type: disc;
}

.sidebar-custom-branding svg {
  width: 80%;
  fill: white;
}

.registration-reports-header .title {
  color: #c8c8c8;
}

.registration-reports-body .title .help-block {
  color: #c8c8c8;
}

.registration-reports-body .column-view .button {
  padding: 0.5em;
  height: auto;
}

.registration-types-report-header .help-block {
  color: #c8c8c8;
  margin-bottom: 0.5em;
}

.registration-types-report-header .registration-types-report-nav {
  display: flex;
  gap: 0.5em;
  margin-bottom: 2rem;
}

.registration-types-report-header .registration-types-report-nav .button {
  padding: 0.5em;
  height: auto;
}

.registration-registrants-report-section .x-scroll {
  overflow-x: auto;
}

.registration-registrants-report-section td.actions a {
  margin-bottom: 0.5rem;
}

.registration-registrants-report-section table.listing.full-width {
  margin-bottom: 0;
}
