.nav-wrapper .logo svg {
  fill: #fff;
  width: 100%;
}

.Draftail-block--DROPCAP {
  float: left;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.5em 0.5em 0;
}

.Draftail-block--ENDOFARTICLE {
  text-align: center;
}
.Draftail-block--ENDOFARTICLE::before {
  content: '***';
}

.Draftail-block--NAME {
  font-weight: 600;
}

.draftail_rich_text_area {
  word-break: break-all;
}

#id_featured_articles-FORMS,
#id_featured_pages-FORMS,
#id_featured_multimedia-FORMS {
  counter-reset: featured-item;
}

#id_featured_articles-FORMS [id^='inline_child_featured_articles']::before,
#id_featured_pages-FORMS [id^='inline_child_featured_pages']::before,
#id_featured_multimedia-FORMS [id^='inline_child_featured_multimedia']::before {
  counter-increment: featured-item;
  content: 'Item ' counter(featured-item) ': ';
}

.row-block > .field > .c-sf-container > div[data-streamfield-stream-container] {
  display: flex;
  overflow-x: scroll;
  align-items: stretch;
}

.row-block > .field > .c-sf-container > div[data-streamfield-stream-container] > div {
  height: 100%;
}

.row-block > .field > .c-sf-container > div[data-streamfield-stream-container] > :not(div[data-contentpath]) {
  flex: 0 0 30px;
  align-self: center;
}