.nav-wrapper .logo svg {
  fill: #fff;
  width: 100%;
}

.Draftail-block--DROPCAP {
  float: left;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.5em 0.5em 0;
}

.Draftail-block--ENDOFARTICLE {
  text-align: center;
}
.Draftail-block--ENDOFARTICLE::before {
  content: '***';
}

.Draftail-block--NAME {
  font-weight: 600;
}

.draftail_rich_text_area {
  word-break: break-all;
}

#id_featured_articles-FORMS,
#id_featured_pages-FORMS,
#id_featured_multimedia-FORMS {
  counter-reset: featured-item;
}

#id_featured_articles-FORMS [id^='inline_child_featured_articles']::before,
#id_featured_pages-FORMS [id^='inline_child_featured_pages']::before,
#id_featured_multimedia-FORMS [id^='inline_child_featured_multimedia']::before {
  counter-increment: featured-item;
  content: 'Item ' counter(featured-item) ': ';
}

.newsletter-streamfield-menu {
  .w-combobox__optgroup {
    [id$='item-0'],
    [id$='item-1'] {
      display: none;
    }
  }
}

.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth3 {
  list-style-type: disc;
}
