header {
  background-color: $black;
  position: sticky;

  .cigi-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cigi-logo {
      a {
        display: flex;
        transition: height 0.5s ease;

        @include breakpoint(large) {
          padding: 0.7rem 0;
        }
      }

      svg {
        fill: $white;
        transition: opacity 0.5s ease;
      }

      .small-logo {
        opacity: 1;
        width: 32.27px;
        position: absolute;
        top: 50%;
        margin-top: -9px;

        @include breakpoint(large) {
          opacity: 0;
        }
      }

      .large-logo {
        opacity: 0;
        width: 136.92px;

        @include breakpoint(large) {
          opacity: 1;
        }
      }
    }

    nav {
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;

        &.menu-icons {
          padding-left: 1em;
          display: flex;
          align-items: center;
        }

        a,
        button {
          color: $white;
          display: block;
          font-family: $primary-font-family;
          font-size: 0.75rem;
          font-weight: $sans-medium;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          &:hover {
            color: $cigi-primary-colour;
          }
        }

        button {
          padding: 2em 0.5em;
        }

        .menu-break {
          margin-left: 2em;
        }
      }

      .desktop-menu {
        display: none;

        @include breakpoint(large) {
          display: flex;
        }
      }
    }
  }
}
