{% load static wagtailcore_tags core_tags wagtailimages_tags %}

<section class="hero publication-hero-book">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        {% include "includes/topics.html" with topics=self.topics_sorted %}
        <h1>{{ title }}</h1>
        <h2>{{subtitle|safe}}</h2>
        <div class="meta"><span class="label">Published:</span> {% include "includes/date.html" with date=self.publishing_date %}</div>
        {% if editors.all or self.external_editors %}
          <div class="meta"><span class="label">Edited by:</span>  {% include "includes/editors.html" with editors=self.editors.all external_editors=self.external_editors %}</div>
        {% elif authors.all or self.external_authors %}
          <div class="meta"><span class="label">Author{{ self.author_count|pluralize }}:</span>  {% include "includes/authors.html" with authors=self.authors.all external_authors=self.external_authors %}</div>
        {% endif %}
        {% include "includes/social_links.html" with title=self.title %}
        {% if purchase_links %}
          <ul class="button-list">
            {% for link in purchase_links %}
              <li><a href="{{ link.value.url }}">{{ link.value.link_text }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-md-3 offset-md-1">
        {% image image_cover fill-600x900 %}
      </div>
    </div>
  </div>
</section>
