<section class="hero-container publication-hero">
  <div class="container">
    <div class="row justify-content-center social-links-anchor">
      <div class="col col-md-10 col-lg-8">
        {% include "includes/topics.html" with topics=self.topics_sorted %}
        <h1>{{title}}</h1>
        <h2>{{subtitle|safe}}</h2>
        {% include "includes/authors.html" with authors=self.authors.all %}
        {% if self.publication_series.live %}
          <div class="publication-series">
            <span>Series:</span>
            <a href="{{ self.publication_series.url }}">
              {{ self.publication_series.title }}
            </a>
          </div>
        {% endif %}
        {% include "includes/date.html" with date=self.publishing_date %}
        {% include "includes/social_links.html" with title=self.title no_circle=True %}
        {% for document in download %}
          {% if document.value.display %}
            <div class="publication-download">
              {% include 'includes/cta_button.html' with url=self.pdf_download button_text='Download PDF' %}
            </div>
            {% comment %} <button class="button">
              <a href="{{document.value.file.url}}">
                  <i class="fa fas fa-download"></i>
                  {% if document.value.button_text == '' %}Download PDF {% else %} {{ document.value.button_text}} {% endif %}
              </a>
            </button> {% endcomment %}
          {% endif %}
        {% endfor %}
        {% for cta in ctas %}
          <button class="button">
            <a href="{% if cta.value.file %}{{cta.value.file}}{% else %}{{ cta.value.link }}{% endif %}">
                <i class="{{ cta.value.button_icon }}"></i>
                {{ cta.value.button_text }}
            </a>
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
