{% load wagtailcore_tags core_tags %}

<section class="hero hero-topic">
  <div class="container">
    <div class="row hero-container">
      <div class="hero-main col-md-7">
        <h1>{{title}}</h1>
      </div>
      <aside class="col-md-4 offset-md-1">
        {% if submenu %}
          <nav aria-label="secondary">
            <h2><span>More</span></h2>
            <ul {% if submenu|length > 5 %}class="multicol-2"{% endif %}>
              {{ submenu }}
            </ul>
          </nav>
        {% endif %}
      </aside>
    </div>
  </div>
</section>
