{% load menu_tags %}

<section class="hero">
  <div class="container">
    <div class="row hero-container">
      <div class="hero-main col-md-7">
        <h1>{{title}}</h1>
        <h2>{{subtitle|safe}}</h2>
        {% if self.hero_link_text and self.hero_link_url %}
          <div class="hero-link">
            <a href="{{ self.hero_link_url }}">
              {% if self.hero_link_icon %}
                <i class="fas {{ self.hero_link_icon }}"></i>
              {% endif %}
              {{ self.hero_link_text }}
            </a>
          </div>
        {% endif %}
      </div>
      <aside class="col-md-4 offset-md-1">
        {% if submenu %}
          {% get_menu_items submenu.slug as submenu_items %}
          <nav aria-label="secondary">
            <h2><span>More</span></h2>
            <ul {% if submenu_items|length > 5 %}class="multicol-2"{% endif %}>
              {% for submenu_item in submenu_items %}
                <li>
                  <a href="{{ submenu_item.link }}">{{ submenu_item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </aside>
    </div>
  </div>
</section>
