{% load wagtailcore_tags menu_tags core_tags wagtailimages_tags %}

<section class="hero {{ additional_classes }}">
  {% if video_banner %}
    <video class="banner-bg" autoplay muted loop playsinline>
      <source src="{{ video_banner.url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  {% elif image_banner %}
    <picture class="banner-bg">
      {% if image_banner.file.url|file_extension == '.gif' %}
        <img src="{{image_banner.file.url}}" alt="{{image_banner.caption}}">
      {% else %}
        {% image image_banner original as image_banner_lg %}
        {% image image_banner fill-1440x484 as image_banner_md %}
        {% image image_banner fill-768x412 as image_banner_sm %}
          <source srcset="{{image_banner_lg.url}}, 1440w" media="(min-width: 1440px)">
          <source srcset="{{image_banner_md.url}}, 768w" media="(min-width: 768px)">
          <img src="{{image_banner_sm.url}}" alt="{{image_banner.title}}">
      {% endif %}
    </picture>
  {% endif %}
  <div class="container">
    <div class="row hero-container">
      <div class="hero-main col-md-7">
        {% if topics %}
          {% include 'includes/topics.html' %}
        {% endif %}
        <h1>{{title}}</h1>
        <h2>{{subtitle|safe}}</h2>
        {% if self.hero_link %}
          <div class="hero-links">
            {% for block in self.hero_link %}
              <div class="hero-link">
                {{ block }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <aside class="col-md-4 offset-md-1">
        {% if submenu %}
          {% get_menu_items submenu.slug as submenu_items %}
          {% if submenu_items %}
            <nav aria-label="secondary">
              <h2><span>More</span></h2>
              <ul {% if submenu_items|length > 5 %}class="multicol-2"{% endif %}>
                {% for submenu_item in submenu_items %}
                  {% if submenu_item.link_page %}
                    <li>
                      {% if submenu_item.link_page.url_path == self.url_path or submenu_item.link_url == request.path  %}
                        {{ submenu_item.title }}
                      {% else %}
                        <a href="
                          {% if submenu_item.link_url %}
                            {{ submenu_item.link_url }}
                          {% else %}
                            {% pageurl submenu_item.link_page %}
                          {% endif %}
                        ">
                          {{ submenu_item.title }}
                        </a>
                      {% endif %}
                    </li>
                  {% elif submenu_item.link_url %}
                    <li>
                      <a href="{{ submenu_item.link_url }}">
                        {{ submenu_item.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        {% endif %}
      </aside>
    </div>
  </div>
</section>
