{% load static wagtailcore_tags core_tags %}

<section class="hero event-hero">
  <div class="container">
    <div class="hero-container row">
      <div class="col col-md-8 col-lg-9 event-hero-content">
        {% include "includes/topics.html" with topics=topics %}
        <h1>{{ title }}</h1>

        <div class="meta">{{ date|date:"l, F j, Y g:i A" }}
          {% if end_date != None %} -
            {% if date|date:"U" < end_date|date:"U" %}
              {% if date|date:"l F j" == end_date|date:"l F j" %}
                {{ end_date|date:"g:i A" }}
              {% else %}
                {{ end_date|date:"l, F j, Y g:i A" }}
              {% endif %}
            {% endif %}
          {% endif %}
          {{ time_zone }}
        </div>

        {% if event_access|length > 1 or type|length > 1 %}
          <div class="meta">{{ event_access }} Event{% if event_type|length > 1 %}: {{ event_type }}{% endif %}</div>
        {% endif %}

        {% if author_count > 0 %}
          <div class="meta speakers">
            Speaker{{ author_count|pluralize }}:
            <ul class="custom-text-list">
              {% for item in authors %}
                {% if item.hide_link %}
                  <li class="block-speaker">{{ item.author.title }}</li>
                {% else %}
                  <li class="block-speaker"><a href="{% pageurl item.author %}">{{ item.author.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        {% if not is_past %}
          <ul class="event-registration inline-list">
            {% if registration_url|length > 0 %}
              <li><a class="button" href="{{ registration_url }}" onclick="ga('send', 'event', 'Event Registration', 'Click' );">Register Now</a></li>
            {% endif %}
            <li class="dropdown-button-list">
              <button class="button">Add to Calendar <i class="fas fa-chevron-down"></i></button>
              <ul>
                <li><a href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text={{ title }}&amp;dates={{date|date:'Ymd His'}}/{{end_date|date:'Ymd His'}}&amp;ctz={{time_zone}}&amp;details=More Event Information: {{ request.build_absolute_uri|slice:':-1' }}&amp;location=&amp;trp=false&amp;sprop=www.cigionline.org&amp;pli=1&amp;sf=true&amp;output=xml" target="_blank" class="cal_google">Google</a></li>
                <li><a href="/events/feed.ics?id={{self.id}}">Outlook</a></li>
                <li><a href="/events/feed.ics?id={{self.id}}">iCal</a></li>
              </ul>
            </li>
          </ul>
        {% endif %}
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="event-date-circle">
          <div>{{ date|date:"M" }}</div>
          <div>{{ date|date:"j" }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
