{% load static wagtailcore_tags core_tags wagtailimages_tags %}

<section class="hero publication-hero-book">
  <div class="container">
    {% if self.editor_count > 0 %}
      {% define self.editors.all as people %}
    {% else %}
      {% define self.authors.all as people %}
    {% endif %}
    {% include 'streams/publication_card_block_large.html' with title=self.title authors=people date=self.publishing_date description=self.subtitle url=self.url topics=self.topics_sorted pdf_download=self.pdf_download book_epub_download=self.book_epub_download purchase_links=self.book_purchase_links image=self.image_cover %}
  </div>
    {% comment %} <div class="container">
    <div class="row">
      <div class="col-md-7">
        {% include "includes/topics.html" with topics=self.topics_sorted %}
        <h1>{{ title }}</h1>
        <h2>{{subtitle|safe}}</h2>
        <div class="meta"><span class="label">Published:</span> {% include "includes/date.html" with date=self.publishing_date %}</div>
        {% if editor_count > 0 %}
          <div class="meta"><span class="label">Edited by:</span>  {% include "includes/authors.html" with authors=editors %}</div>
        {% elif author_count > 0 %}
          <div class="meta"><span class="label">Author{{ author_count|pluralize }}:</span>  {% include "includes/authors.html" with authors=authors %}</div>
        {% endif %}
        {% include "includes/social_links.html" with title=self.title %}
        {% if purchase_links %}
          <ul class="button-list">
            {% for link in purchase_links %}
              <li><a href="{{ link.value.url }}">{{ link.value.link_text }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-md-3 offset-md-1">
        {% image image_cover fill-600x900 %}
      </div>
    </div>
  </div> {% endcomment %}
</section>
