{% load wagtailcore_tags %}

{% if not no_container %}
  <div class="container">
    <div class="row d-block">
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
{% endif %}
<div class="stream-accordion-block">
  <button class="meta__text" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-block-{{ id }}" aria-expanded="false" aria-controls="accordion-block-{{ id }}">
    {{ self.title }}
  </button>
  <div class="accordion-content collapse" id="accordion-block-{{ id }}">
    {{ self.text|richtext }}
  </div>
</div>
{% if not no_container %}
      </div>
    </div>
  </div>
{% endif %}
