{% load wagtailcore_tags wagtailimages_tags %}

<div class="col col-12 col-md-4">
  <article class="card__container card--small card--small--article-series {{ theme|slugify }}">
    <div class="card__image">
      <a href="{{ url }}" class="feature-content-image">
        <div class="img-wrapper landscape">
          {% if landscape_image_src %}
            <img alt="{{ landscape_image_alt }}" src="{{ landscape_image_src }}" />
          {% else %}
            {% image landscape_image fill-600x338 %}
          {% endif %}
        </div>
      </a>
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_topics.html' %}
        {% include 'includes/cards/card_text_title.html' %}
      </div>
      <div class="card__text__meta">
        {% include 'includes/cards/card_text_people.html' with people_limit=1 %}
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>
