{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-12 col-lg-8 2-col">
  <article class="card__container card--medium card--medium--article-series card--vertical--article-series {{ theme|slugify }}">
    <div class="card__image">
      <a href="{{ url }}" class="feature-content-image">
        <div class="img-wrapper landscape">
          {% if landscape_image_src %}
            <img alt="{{ landscape_image_alt }}" src="{{ landscape_image_src }}" />
          {% else %}
            {% image landscape_image fill-1440x990 %}
          {% endif %}
        </div>
        <div class="img-wrapper poster">
          {% if poster_image_src %}
            <img alt="{{ poster_image_alt }}" src="{{ poster_image_src }}" />
          {% else %}
            {% image poster_image fill-990x1440 %}
          {% endif %}
        </div>
      </a>
      <div class="card__label">
        <span class="fa-stack">
          <i class="fal fa-file-alt front"></i>
          <i class="fal fa-file-alt back"></i>
        </span>
        <p>Essay Series</p>
      </div>
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_title.html' %}
        {% include 'includes/cards/card_text_description.html' %}
      </div>
      <div class="card__text__meta">
        <div>
          {% include 'includes/cards/card_text_people.html' with people_limit=1 %}
          {% include 'includes/cards/card_text_topics.html' %}
        </div>
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>
