{% load wagtailimages_tags %}

<div class="col-12 col-lg-8 2-col">
  <article class="card__container card--medium__article-series card--vertical__article-series">
    {% include 'includes/cards/card_label.html' %}
    <div class="card__content d-flex">
      <div class="col-6 col-lg-12">
        <div class="card__image">
          <a href="{{ url }}">
            <div class="img-wrapper">
              {% if image_src %}
                <img alt="{{ image_alt }}" src="{{ image_src }}" />
              {% else %}
                {% image image fill-990x1440 %}
              {% endif %}
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-lg-12">
        <div class="card__text">
          {% include 'includes/cards/card_text_title.html' %}
          <div class="card__text__meta">
            <div>
              {% include 'includes/cards/card_text_people.html' %}
              {% include 'includes/cards/card_text_topics.html' %}
            </div>
            {% include 'includes/cards/card_text_more.html' %}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
