{% load wagtailimages_tags %}

<div class="col-12 col-lg-8 2-col">
  <article class="card__container card--medium card--medium--article">
    <div class="card__image card__image--{{ image_type }}">
      <a href="{{ url }}">
        <div class="img-wrapper">
          {% if image_src %}
            <img alt="{{ image_alt }}" src="{{ image_src }}" />
          {% else %}
            {% if image_type == 'landscape' %}
              {% image image fill-1440x990 %}
            {% elif image_type == 'square' %}
              {% image image fill-990x990 %}
            {% endif %}
          {% endif %}
        </div>
      </a>
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_topics.html' %}
        {% include 'includes/cards/card_text_title.html' %}
        {% include 'includes/cards/card_text_description.html' %}
      </div>
      <div class="card__text__meta">
        {% include 'includes/cards/card_text_people.html' %}
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>