{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-12 col-lg-8 2-col">
  <article class="card__container card--medium card--medium--article-series card--vertical--article-series">
    <div class="card__image">
      <a href="{{ url }}" class="feature-content-image">
        <div class="img-wrapper">
          {% if image_src %}
            <img alt="{{ image_alt }}" src="{{ image_src }}" />
          {% else %}
            {% image image fill-1440x990 %}
          {% endif %}
        </div>
      </a>
      <div class="card__label">
        <span class="fa-stack">
          <i class="fal fa-file-alt front"></i>
          <i class="fal fa-file-alt back"></i>
        </span>
        <p>Essay Series</p>
      </div>
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_title.html' %}
        {% include 'includes/cards/card_text_description.html' %}
      </div>
      <div class="card__text__meta">
        <div>
          {% include 'includes/cards/card_text_people.html' with authors=self.page.series_authors people_limit=1 %}
          {% include 'includes/cards/card_text_topics.html' %}
        </div>
        <button type="button" class="card__text__more">
          <a href="{{ url }}"><i class="far fa-ellipsis-h"></i></a>
        </button>
      </div>
    </div>
  </article>
</div>
