<div class="col col-12">
  <article class="card__container card--tiny card--tiny--article-series">
    <span class="fa-stack">
      <i class="fal fa-file-alt front"></i>
      <i class="fal fa-file-alt back"></i>
    </span>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_topics.html' %}
        {% include 'includes/cards/card_text_title.html' %}
      </div>
      <div class="card__text__meta">
        {% include 'includes/cards/card_text_people.html' with people_limit=1 %}
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>
