{% load wagtailcore_tags wagtailimages_tags %}

<div class="container">
  <div class="row d-block">
    <div class="col {% if self.image %}col-lg-10 offset-lg-1{% else %}col-md-10 offset-md-1 col-lg-8 offset-lg-2{% endif %}">
      <div class="stream-block-blockquote flex-row">
        {% if self.image %}
          {% image self.image fill-150x150 class="border-round" %}
        {% endif %}

        <div class="stream-block-blockquote-content{% if self.image %} has-image{% endif %}">
          <blockquote>
            {{ self.quote }}
          </blockquote>

          {% if self.quote_author %}
            <div class="stream-block-blockquote-author">
              {{ self.quote_author }}
            </div>
          {% endif %}

          {% if self.author_title %}
            <div class="stream-block-blockquote-author-title">
              {{ self.author_title }}
            </div>
          {% endif %}

          {% if self.link_url %}
            <a href="{{ self.link_url }}" class="stream-block-blockquote-link">
              {{ self.link_text }}
              <i class="far fa-external-link"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
