{% load wagtailcore_tags wagtailimages_tags %}

<div class="stream-block stream-block-blockquote">
  <div class="container-sm flex-row">
    {% if self.image %}
      {% image self.image fill-300x300 class="border-round" %}
    {% endif %}
  
    <div class="stream-block-blockquote-content{% if self.image %} has-image{% endif %}">
      <blockquote>
        {{ self.quote }}
      </blockquote>
  
      {% if self.quote_author %}
        <div class="stream-block-blockquote-author">
          {{ self.quote_author }}
        </div>
      {% endif %}
  
      {% if self.author_title %}
        <div class="stream-block-blockquote-author-title">
          {{ self.author_title }}
        </div>
      {% endif %}
  
      {% if self.link_url %}
        <a href="{{ self.link_url }}" class="stream-block-blockquote-link">
          {{ self.link_text }}
          <i class="far fa-external-link"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>
