{% load wagtailcore_tags %}

<div class="collapsible-paragraph-block paragraph-block {% if self.collapsed %}collapsed{% endif %}">
  <div class="container">
    <div class="row d-block">
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="collapsible-header">
          <h2>{{ self.title }}</h2>
          <button class="toggle-button" aria-expanded="{% if self.collapsed %}false{% else %}true{% endif %}" aria-controls="collapsible-content-{{ self.id }}">
            <span class="icon-expand">+</span>
            <span class="icon-collapse">−</span>
          </button> 
        </div>
        <div class="collapsible-content">
          {{ self.paragraph|richtext }}
        </div>
      </div>
    </div>
  </div>
</div>