<div class="col col-12">
  <article class="card__container card--tiny card--tiny--event">
    <i class="fal fa-calendar"></i>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_topics.html' %}
        {% include 'includes/cards/card_text_title.html' with display_date=True %}
      </div>
      <div class="card__text__meta">
        {% include 'includes/cards/card_text_people.html' %}
        {% include 'includes/cards/card_text_more.html' with type='event' %}
      </div>
    </div>
  </article>
</div>