{% load wagtailimages_tags %}

<div class="col col-12 col-md-4">
  <article class="card__container card--small card--small--expert card--expert">
    <div class="card--small--expert__top">
      <div class="d-flex align-items-center pb-3">
        <div class="card__image card__image--portrait--circle">
          <a href="{{ url }}">
            <div class="img-wrapper">
              {% image image fill-100x100 %}
            </div>
          </a>
        </div>
        <div>
          {% include 'includes/cards/card_text_title.html' %}
          {% if board_position %}
            <div class="card--expert__board-position">
              {{ board_position }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="card__expert-info">
        <div class="card__text">
          {% include 'includes/cards/card_text_description.html' %}
        </div>
      </div>
    </div>

    <div class="card--small--expert__bottom">
      <h4>Expertise</h4>
      <ul class="card--expert__bottom__expertise-list">
        {% for expertise in expertise_list %}
          <li>{{ expertise }}</li>
        {% endfor %}
      </ul>
      <div class="card--expert__social">
        <ul>
          {% if twitter %}
            <li>
              <div>Twitter</div>
              <a href="https://twitter.com/{{twitter}}" target="_blank">
                {{twitter}}
              </a>
            </li>
          {% endif %}
          {% if linkedin_username %}
            <li>
              <div>Linkedin</div>
              <a href="https://www.linkedin.com/{{linkedin_username}}" target="_blank">
                {{linkedin_username}}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </article>
</div>