{% load wagtailcore_tags wagtailimages_tags %}
<div class="ges-highlights-block">
  <div class="container">
    <div class="row d-block">
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="paragraph-heading">
          Highlights
        </h2>

        {% if self.slides %}
          <div class="swiper-container">
            <div class="swiper-controls">
              <div class="swiper-button-prev"><i class="fal fa-long-arrow-left"></i></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"><i class="fal fa-long-arrow-right"></i></div>
            </div>
            <div class="swiper-wrapper">
              {% for block in self.slides %}
                {% include_block block %}
              {% endfor %}
            </div>
          </div>
        {% endif%}
      </div>
    </div>
    {% if self.pdf %}
      <div class="highlights__download">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-lg-4">
            <a href="{{ self.pdf.url }}">
              <div class="img-wrapper">
                {% image self.image width-1920 %}
              </div>
            </a>
          </div>
          <div class="col-12 col-md-5 col-lg-4 slide-deck__right">
            <div>
              {% if self.title %}
                <h3>{{ self.title }}</h3>
              {% endif %}
          
              {% if self.description %}
                {{ self.description|richtext }}
              {% endif %}
            </div>
            <a href="{{ self.pdf.url }}" target="_blank">
              <button class="button-action">
                <i class="fas fa-download"></i> Download PDF
              </button>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
