{% load wagtailimages_tags %}

<div class="container igc-timeline-block">
  <div class="row d-block">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 igc-timeline">
      <div class="timeline-separator">
        <div class="timeline-red-dot"></div>
        <div class="timeline-vertical-line"></div>
      </div>
      <div class="timeline-contents">
        <div class="timeline-date">{{self.date}}</div>
        {% if self.title %}
          <div class="timeline-title">{{self.title}}</div>
        {% endif %}
        <div class="timeline-location">{{self.location}}</div>
        <div class="timeline-body">{{self.body}}</div>
        {% if self.countries_represented %}
          <div class="timeline-title">Countries Represented</div>
          <div class="timeline-countries">
            {% image self.countries_represented fill-1440x768 %}
          </div>
        {% endif %}
        {% if self.witnesses %}
          <div class="timeline-title">Witnesses</div>
          <div class="witnesses-dates date-container"></div>
          <div class="timeline-witnesses">
            {% for witness_date_block in self.witnesses %}
              <div class="witnesses-date-block">
                {% if witness_date_block.value.date %}
                <div class="witnesses-date date">
                  <time>
                    {{ witness_date_block.value.date }}
                  </time>
                </div>
                {% endif %}
                <div class="witnesses">
                  {% for witnesses_block in witness_date_block.value.witnesses %}
                    {% if witnesses_block.block_type == 'witnesses_full_session' %}
                      <div class="witnesses-full-session-block">
                        <div class="witness-row">
                          <div class="witness-info">
                            <div class="witness-full-session">
                              {{ witnesses_block.value.title }}
                            </div>
                          </div>
                          <div class="witness-links">
                            {% if witnesses_block.value.witness_transcript %}
                              <div class="witness-transcript">
                                <a href="{{ witnesses_block.value.witness_transcript }}">
                                  <i class="fas fa-file-alt"></i><span class="witness-link-text"> Transcript</span>
                                </a>
                              </div>
                            {% endif %}
                            {% if witnesses_block.value.witness_video %}
                              <div class="witness-video">
                                <a href="{{ witnesses_block.value.witness_video }}">
                                  <i class="fas fa-play-circle"></i><span class="witness-link-text"> Video</span>
                                </a>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% elif witnesses_block.block_type == 'witness' %}
                      <div class="witnesses-block">
                        <div class="witness-row">
                          <div class="witness-info">
                            {% if witnesses_block.value.name %}
                              <div class="witness-name">{{ witnesses_block.value.name }}</div>
                            {% endif %}
                            {% if witnesses_block.value.title %}
                              <div class="witness-title meta">{{ witnesses_block.value.title }}</div>
                            {% endif %}
                          </div>
                          <div class="witness-links">
                            {% if witnesses_block.value.witness_transcript %}
                              <div class="witness-transcript">
                                <a href="{{witnesses_block.value.witness_transcript}}">
                                  <i class="fas fa-file-alt"></i><span class="witness-link-text"> Transcript</span>
                                </a>
                              </div>
                            {% endif %}
                            {% if witnesses_block.value.witness_video %}
                              <div class="witness-video">
                                <a href="{{witness_block.value.witness_video}}">
                                  <i class="fas fa-play-circle"></i><span class="witness-link-text"> Video</span>
                                </a>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if self.outcomes %}
          <div class="timeline-title">Outcomes</div>
          <div class="outcomes-dates date-container"></div>
          <div class="timeline-outcomes">
            {% for outcomes_block in self.outcomes %}
              <div class="outcomes-block">
                {% if outcomes_block.value.date %}
                  <div class="outcomes-date date">
                    <time>
                      {{ outcomes_block.value.date }}
                    </time>
                  </div>
                {% endif %}
                <div class="outcomes-text">
                  {{ outcomes_block.value.text}}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
