{% load wagtailcore_tags wagtailimages_tags %}

<div class="col">
  <article class="card__container card--large--multimedia">
    <div class="row flex-column-reverse flex-md-row g-3 g-md-5">
      <div class="col-md-4">
        <div class="card__text">
          <div>
            {% include 'includes/cards/card_text_title.html' %}
            {% include 'includes/cards/card_text_description.html' %}
          </div>
          <div class="card__text__meta">
            <div>
              {% include 'includes/cards/card_text_people.html' %}
              {% include 'includes/cards/card_text_topics.html' %}
            </div>
            <button type="button" class="card__text__more">
              <a href="{{ url }}"><i class="far fa-ellipsis-h"></i></a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card__image">
          <a href="{{ url }}" class="feature-content-image">
            <div class="img-wrapper">
              {% if image_src %}
                <img alt="{{ image_alt }}" src="{{ image_src }}" />
              {% else %}
                {% image image fill-1440x990 %}
              {% endif %}
            </div>
          </a>
          <div class="card__image__play-icon">
            <i class="fas fa-play"></i>
          </div>
          {% if length %}
            <div class="card__image__mm-length">{{ length }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
</div>