{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags core_tags %}

<div class="col col-12 col-md-4">
  <article class="card__container card--small--multimedia card--multimedia card--multimedia--{{multimedia_type}} theme-{{theme}} {% if vimeo_url %}has-vimeo{% endif %}">
    <div class="card__image">
      <div class="img-wrapper">
        {% if image_src %}
          {% define image_src as img_url %}
        {% else %}
          {% image image fill-600x338 %}
        {% endif %}
        {% if multimedia_type == 'video' and vimeo_url %}
          {% embed vimeo_url %}
        {% endif %}
        
        {% if multimedia_type == 'audio' and multimedia_url %}
          <iframe height="52px" width="100%" frameborder="no" scrolling="no" seamless src="{{ multimedia_url }}?dark=false"></iframe>
        {% endif %}
      </div>

      <div class="card__image__play-icon">
        {% if multimedia_type == 'video' %}
        <i class="fas fa-play"></i>
        {% elif multimedia_type == 'audio' %}
        <i class="fas fa-microphone icon-audio"></i>
        {% endif %}
      </div>
      {% if length %}
      <div class="card__image__mm-length">{{ length }}</div>
      {% endif %}
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_topics.html' %}
        {% include 'includes/cards/card_text_title.html' %}
        {% include 'includes/cards/card_text_description.html' %}
      </div>
      <div class="card__text__meta">
        {% include 'includes/cards/card_text_people.html' %}
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>
