{% load wagtailcore_tags wagtailimages_tags core_tags wagtailembeds_tags %}

<div class="col-12 col-md-8">
  <article class="card__container card--medium card--multimedia card--medium--multimedia card--multimedia--{{multimedia_type}} theme-{{theme}} {% if vimeo_url %}has-vimeo{% endif %}">
    <div class="card__image">
      <div class="img-wrapper">
        {% if image_src %}
          {% define image_src as img_url %}
        {% else %}
          {% image image fill-1600x900 class="image-landscape" %}
          {% if multimedia_type == 'audio' %}
            {% image image fill-900x900 class="image-square" %}
          {% endif %}
        {% endif %}
        {% if multimedia_type == 'video' and vimeo_url %}
          {% embed vimeo_url %}
        {% endif %}
      </div>
      <div class="card__image__play-icon">
        {% if multimedia_type == 'video' %}
          <i class="fas fa-play"></i>
        {% elif multimedia_type == 'audio' %}
          <i class="fas fa-microphone icon-audio"></i>
        {% endif %}
      </div>
      {% if length %}
        <div class="card__image__mm-length">{{ length }}</div>
      {% endif %}
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_title.html' %}
        {% if multimedia_type == 'audio' and multimedia_url %}
          <iframe height="52px" width="100%" frameborder="no" scrolling="no" seamless src="{{ multimedia_url }}?dark=false&color=D9553E"></iframe>
        {% endif %}
      </div>
      {% include 'includes/cards/card_text_description.html' %}
      <div class="card__text__meta">
        <div>
          {% include 'includes/cards/card_text_people.html' %}
          {% include 'includes/cards/card_text_topics.html' %}
        </div>
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>