{% load wagtailimages_tags core_tags %}

<div class="col-12 col-md-8">
  <article class="card__container card--medium card--multimedia card--medium--multimedia">
    <div class="card__image">
      <div class="img-wrapper">
        {% if image_src %}
          {% define image_src as img_url %}
        {% else %}
          {% image image fill-1440x990 as image %}
          {% define image.url as img_url %}
        {% endif %}
        <video 
          class="video-js"
          id="video-js-{{ block_id }}"
          preload="auto"
          poster="{{ img_url }}"
          data-youtube-url="{{ youtube_url }}"
          data-block-id="{{ block_id }}"
        >
        </video>
      </div>
      <div class="card__image__play-icon">
        {% if multimedia_type == 'video' %}
          <i class="fas fa-play"></i>
        {% elif multimedia_type == 'audio' %}
          <i class="fal fa-microphone icon-audio"></i>
        {% endif %}
      </div>
      {% if length %}
        <div class="card__image__mm-length">{{ length }}</div>
      {% endif %}
    </div>
    <div class="card__text">
      {% include 'includes/cards/card_text_title.html' %}
      {% include 'includes/cards/card_text_description.html' %}
      <div class="card__text__meta">
        <div>
          {% include 'includes/cards/card_text_people.html' %}
          {% include 'includes/cards/card_text_topics.html' %}
        </div>
        {% include 'includes/cards/card_text_more.html' %}
      </div>
    </div>
  </article>
</div>