<div class="newsletter-subscription-block-container">
  <div class="container">
    <div class="row d-block">
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="newsletter-subscription-block">
          <p>Get regular updates on our research and events in your inbox.</p>
          <form class="cigi-newsletter-subscription-form" title="Newsletter Sign Up" action="/subscribe/" method="GET">
            <input type="email" name="email" value="" size="60" maxlength="128" placeholder="Your email"
              class="form-email required" required="required" aria-required="true">
            <button type="submit" class="button-submit"><i class="fal fa-envelope"></i>SIGN UP</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>