{% load wagtailcore_tags wagtailimages_tags %}

<div class="paragraph-type-bloquote">
  <blockquote>
    {{ self.quote }}
  </blockquote>

  {% if self.author %}
  <div class="paragraph-type-blockquote-author">
    {{ self.author }}
  </div>
  {% endif %}

  {% if self.author_title %}
  <div class="paragraph-type-blockquote-author-title">
    {{ self.author_title }}
  </div>
  {% endif %}

  {% image self.image width-1000 %}

  {% if self.link_url %}
  <a href="{{ self.link_url }}" class="paragraph-type-blockquote-link">
    {{ self.link_text }}
    <i class="far fa-external-link"></i>
  </a>
  {% endif %}
</div>
