{% load wagtailcore_tags core_tags wagtailimages_tags %}

<div class="container persons-list-block">
  <div class="row d-block">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      {% if self.title %}
        <div class="block-title">{{ self.title }}</div>
      {% endif %}
      <ul class="persons-list">
        {% for block in self.persons %}
          {% with block.value.person.specific as person %}
          {% if block.value.bio_override %}
            {% define block.value.bio_override as bio %}
          {% else %}
            {% define person.short_bio as bio %}
          {% endif %}
          <li>
            <div class="person-info">
              <a href="{{ person.url }}" class="person-photo">
                {% image person.image_square width-300 as image_square %}
                <div class="img-wrapper" style="background-image: url('{{ image_square.url }}');"></div>
              </a>
      
              <div>
                <a href="{{ person.url }}" class="person-name">{{ person.title }}</a>
                <div class="person-function">
                  {{ person.position }}
                </div>
              </div>
            </div>
            <p class="person-description">
              {{ bio|safe }}
            </p>
          </li>
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
