{% load core_tags wagtailimages_tags wagtailcore_tags %}

<div class="container">
  <div class="row d-block">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <article class="poster-block">
        <div class="img-wrapper">
          {% image self.image_poster width-700 %}
        </div>
        <div class="details">
          <div class="meta">{{ self.publication_type }}</div>
          {% include "includes/topics.html" with topics=self.topics %}
          <h3>
            <a href="{{ self.url }}">{{ self.title }}</a>
          </h3>
          <div class="meta date">{{ self.publishing_date|date:"F j, Y" }}</div>
          <div class="short-description">{{ self.short_description|richtext }}</div>
        </div>
      </article>
    </div>
  </div>
</div>
