{% load wagtailimages_tags %}

<div class="col col-12 col-md-8">
  <article class="card__container card--medium card--medium--publication {% if use_hero_image %}card__image--landscape{% endif %}">
    <div class="row g-3">
      {% if use_hero_image %}
        <div class="col-12 col-md-8">
      {% else %}
        <div class="col-4 col-lg-5">
      {% endif %}
        <div class="card__image">
          <a href="{{ url }}">
            <div class="img-wrapper">
              {% if image_src %}
                <img alt="{{ image_alt }}" src="{{ image_src }}" />
              {% else %}
                {% if use_hero_image %}
                  {% image image fill-1300x1000 %}
                {% else %}
                  {% image image fill-990x1440 %}
                {% endif %}
              {% endif %}
            </div>
          </a>
        </div>
      </div>
      {% if use_hero_image %}
        <div class="col-12 col-md-4">
      {% else %}
        <div class="col-8 col-lg-7">
      {% endif %}
        <div class="card__text">
          <div>
            {% include 'includes/cards/card_text_topics.html' %}
            {% include 'includes/cards/card_text_title.html' %}
            {% include 'includes/cards/card_text_description.html' %}
          </div>
          <div class="card__text__bottom">
            <div class="card__text__meta {% if pdf_downloads or book_epub_downloads %}meta--vertical{% endif %}">
              <div class="d-flex flex-column">
                {% include 'includes/cards/card_text_date.html' %}
                {% if self.editor_count > 0 %}
                  {% include 'includes/cards/card_text_people.html' with type='editors' %}
                {% else %}
                  {% include 'includes/cards/card_text_people.html' %}
                {% endif %}
              </div>
              {% include 'includes/cards/card_text_more.html' with type='publication' %}
            </div>
            {% if pdf_downloads or book_epub_downloads %}
              <div class="card__cta">
                {% if book_epub_downloads %}
                  {% for document in book_epub_downloads %}
                    {% if document.value.display %}
                      {% include 'includes/cta_button.html' with url=document.value.file.url button_type='Download Book' custom_text=document.value.button_text %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if pdf_downloads %}
                  {% for document in pdf_downloads %}
                    {% if document.value.display %}
                      {% include 'includes/cta_button.html' with url=document.value.file.url button_type='Download PDF' custom_text=document.value.button_text %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>