{% load wagtailimages_tags %}

<div class="col-12 col-lg-8 2-col">
  <article class="card__container card--medium card--medium--publication card--vertical--publication">
    <div class="row g-3 g-md-5">
      <div class="col-4 col-lg-12">
        <div class="card__image">
          <a href="{{ url }}">
            <div class="img-wrapper">
              {% if image_src %}
                <img alt="{{ image_alt }}" src="{{ image_src }}" />
              {% else %}
                {% image image fill-990x1440 %}
              {% endif %}
            </div>
          </a>
        </div>
      </div>
      <div class="col-8 col-lg-12">
        <div class="card__text">
          <div>
            {% include 'includes/cards/card_text_title.html' %}
            {% include 'includes/cards/card_text_description.html' %}
          </div>
          <div class="card__text__meta">
            <div>
              {% include 'includes/cards/card_text_people.html' %}
              {% include 'includes/cards/card_text_topics.html' %}
            </div>
            {% include 'includes/cards/card_text_more.html' with type='publication' %}
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
