{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-12 col-md-4">
  <article class="card__container card--small card--small--publication">
    <div class="card__image">
      <a href="{{ url }}"
        class="feature-content-image">
        <div class="img-wrapper">
          {% if image_src %}
            <img alt="{{ image_alt }}" src="{{ image_src }}" />
          {% else %}
            {% image image fill-495x720 %}
          {% endif %}
        </div>
      </a>
    </div>
    <div class="card__text">
      <div>
        {% include 'includes/cards/card_text_topics.html' %}
        {% include 'includes/cards/card_text_title.html' %}
      </div>
      <div class="card__text__meta">
        {% include 'includes/cards/card_text_people.html' %}
        {% include 'includes/cards/card_text_more.html' with type='publication' %}
      </div>
    </div>
  </article>
</div>