{% load wagtailimages_tags %}

<div class="container">
  <div class="row d-block">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="stream-block-recommended">
        <div class="img-wrapper">
          <a href="{{ self.url }}">
            {% image self.specific.image_hero fill-377x246 %}
          </a>
        </div>

        <div class="stream-block-recommended-text flex-column">
          <div class="stream-block-recommended-label meta">RECOMMENDED</div>
          <a href="{{ self.url }}">{{self.title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
