{% load wagtailimages_tags wagtailcore_tags static %}

<div class="container">
  <div class="row d-block">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="stream-block-recommended">
        <div class="img-wrapper">
        </div>
        <div class="stream-block-recommended-text flex-column">
          <div class="stream-block-recommended-label meta">RECOMMENDED</div>
          <a href="{% pageurl self %}">{{self.title}}</a>
          {% if self.specific.publication_type %}
            <div class="stream-block-recommended-type meta">{{ self.specific.publication_type }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
