{% load wagtailimages_tags wagtailcore_tags static %}

<div class="container">
  <div class="row d-block">
    <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="stream-block-recommended">
        <div class="img-wrapper">
          <a href="{% pageurl self %}">
            {% if self.specific.image_feature and not self.expired_image %}
              {% image self.specific.image_feature fill-377x246 %}
            {% elif self.specific.image_hero and not self.expired_image %}
              {% image self.specific.image_hero fill-377x246 %}
            {% else %}
              <img src="{% static 'assets/CIGI-default-recommended-thumb-1440x990.png' %}" alt="CIGI Logo">
            {% endif %}
          </a>
        </div>
        <div class="stream-block-recommended-text flex-column">
          <div class="stream-block-recommended-label meta">RECOMMENDED</div>
          <a href="{% pageurl self %}">{{self.title}}</a>
          {% if self.specific.publication_type %}
            <div class="stream-block-recommended-type meta">{{ self.specific.publication_type }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
