{% load wagtailimages_tags %}
{{ years|json_script:'years' }}

<div class="timeline-gallery-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8 col-xl-7">
        <ul class="timeline-nav" id="timeline-nav">
          {% for year in years %}
          <li><button data-year="{{year}}" {% if forloop.counter == 1 %}class="active"{% endif %}>{{year}}</button></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for block in self.timeline %}
        <div class="swiper-slide">
          <div class="img-wrapper">
            {% image block.value.image original %}
          </div>
          <div class="gallery-text">
            <div class="year">{{block.value.year}}</div>
            <div class="caption">{{block.value.text}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev swiper-button"><i class="fal fa-angle-left"></i></div>
    <div class="swiper-button-next swiper-button"><i class="fal fa-angle-right"></i></div>
  </div>
</div>
