{% load wagtailcore_tags %}
<div class="social--media social--media__first swiper-slide">
  <article class="card__container card--small card--small__social--media card--twitter">
    <div class="social--media__profile--bar">
      <div class="profile--image">
        <img src="{{ self.tweet.tweet_user_profile_image_url }}">
      </div>
      <div class="row">
        <h6 class="profile--name">
          <a href="https://twitter.com/{{ self.tweet.tweet_user_username }}" target="_blank">{{ self.tweet.tweet_user_name }}</a>
        </h6>
        <div class="profile--handle">
          <span class="twitter-id">@{{ self.tweet.tweet_user_username }}</span> ∙ <span class="date">{{ self.tweet.tweet_created_at|date:"M j" }}</span>
        </div>
      </div>
    </div>
    <p class="card__text">
      {{ tweet_text|richtext }}
    </p>
    <div class="card__image">
      <a href="{{ tweet_media_link }}"
        class="feature-content-image">
        <div class="img-wrapper">
          <img alt=""
            src="{{ self.tweet.tweet_media_url }}">
        </div>
      </a>
    </div>
    <div class="social--media__status--bar">
      <div class="social--media__status--wrapper">
        <a href="https://twitter.com/intent/like?tweet_id={{ self.tweet.tweet_id }}" class="social--media__upvotes" target="_blank">
          <i class="far fa-thumbs-up"></i><span class="upvotes">{{ self.tweet.tweet_likes }}</span>
        </a>
        <a href="https://twitter.com/intent/tweet?in_reply_to={{ self.tweet.tweet_id }}" class="social--media__comments" target="_blank">
          <i class="far fa-comment-alt"></i><span class="comments">{{ self.tweet.tweet_replies }}</span>
        </a>
      </div>
      <a href="{{ self.tweet.tweet_url }}" class="social-media__link" target="_blank">
        <button type="button" class="social--media__link--button">
          <i class="fab fa-twitter"></i>
          Visit Twitter
        </button>
      </a>
    </div>
  </article>
</div>
