<div class="col col-12 col-md-6 col-xl-4 social--media social--media__first swiper-slide">
  <article class="card__container card--small card--small__social--media card--twitter">
    <div class="social--media__profile--bar">
      <div class="profile--image">
        <img src="">
      </div>
      <div class="row">
        <h6 class="profile--name">
          CIGI
        </h6>
        <div class="profile--handle">
          <span class="twitter-id"></span> ∙ <span class="date"></span>
        </div>
      </div>
    </div>
    <p class="card__text">
    </p>
    <div class="card__image">
      <a href=""
        class="feature-content-image">
        <div class="img-wrapper">
          <img alt=""
            src="">
        </div>
      </a>
    </div>
    <div class="social--media__status--bar">
      <div class="social--media__status--wrapper">
        <div class="social--media__upvotes">
          <i class="far fa-thumbs-up"></i><span class="upvotes"></span>
        </div>
        <div class="social--media__comments">
          <i class="far fa-comment-alt"></i><span class="comments"></span>
        </div>
      </div>
      <div class="social--media__link--wrapper">
        <i class="fab fa-twitter"></i>
        <button type="button" class="social--media__link--button">
          <a href="https://twitter.com/CIGIonline">Visit Twitter</a>
        </button>
      </div>
    </div>
  </article>
</div>