{% load wagtailembeds_tags %}

<section class="anniversary-video-text">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="anniversary-video-text-copy">
          {{ self.paragraph }}
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <div class="anniversary-video-text-embed">
          {% embed self.video_url max_width=900 %}
        </div>
      </div>
    </div>
  </div>
</section>
