.longform-article {
  background-color: $longform-background-color;

  header {
    background-color: $longform-background-color;
    position: relative;

    .main-navigation-wrapper {
      background-color: $longform-background-color;

      .cigi-top-bar {
        &.scroll-nav {
          height: 36px;

          @media screen and (min-width: $large) {
            height: 66px;
          }
        }

        .cigi-logo {
          svg {
            fill: $black;
          }
        }

        nav {
          ul {
            a,
            button {
              color: $black;

              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    background-position: center;
    background-size: cover;
    min-height: 25em;
    position: relative;

    .hero-content {
      position: absolute;
      top: 20%;

      h1 {
        background-color: $cigi-primary-colour;
        box-shadow: 5px 0 0 $cigi-primary-colour, -5px 0 0 $cigi-primary-colour;
        color: $white;
        font-size: 2.75em;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 0.5em;
      }

      .subtitle {
        background: $black;
        box-shadow: 5px 0 0 $black, -5px 0 0 $black;
        color: $white;
        display: inline;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.25;
      }

      .topics {
        margin: 0;
      }
    }
  }
}
