.longform-article {
  background-color: $longform-background-color;

  header {
    background-color: $longform-background-color;
    position: relative;

    .main-navigation-wrapper {
      background-color: $longform-background-color;

      .cigi-top-bar {
        &.scroll-nav {
          height: 36px;

          @media screen and (min-width: $large) {
            height: 66px;
          }
        }

        .cigi-logo {
          svg {
            fill: $black;
          }
        }

        nav {
          ul {
            a,
            button {
              color: $black;

              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    background-position: center;
    background-size: cover;
    margin: 0 0 1em;
    min-height: 25em;
    position: relative;

    .hero-content {
      top: 20%;

      h1 {
        color: $white;
        font-size: 2.75em;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 0.5em;

        span {
          background-color: $cigi-primary-colour;
          box-shadow: 5px 0 0 $cigi-primary-colour, -5px 0 0 $cigi-primary-colour;
        }
      }

      .subtitle {
        color: $white;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.25;

        span {
          background: $black;
          box-shadow: 5px 0 0 $black, -5px 0 0 $black;
        }
      }

      .topics {
        margin: 0;
      }
    }
  }

  .meta-section {
    margin: 0;

    .meta {
      border-bottom: 1px solid $divider-grey;
      padding-bottom: 1em;

      p {
        margin: 0;

        .author {
          @include comma-separated;

          a {
            color: $cigi-text-grey;

            &:hover {
              color: $cigi-primary-colour;
            }
          }
        }
      }
    }

    .social {
      ul {
        display: flex;
        list-style-type: none;

        li {
          &:first-child {
            a {
              padding-left: 0;
            }
          }

          a {
            color: $black;
            cursor: pointer;
            display: block;
            padding: 1em 1.5em;

            &:hover {
              color: $cigi-primary-colour;
            }
          }
        }
      }
    }
  }
}
