@import '../../../css/global/animations/bounce';

.longform-article-series {
  @include top-bar(
    $background-color: $longform-background-color,
    $background-color-medium: transparent,
    $color: $black,
    $color-medium: $white,
    $hover-color: $black,
    $hover-color-medium: $white,
    $position: absolute
  );

  .body {
    background-color: $longform-series-body-color;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
  }

  .longform-article-series-hero {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
      @include media-breakpoint-up(md) {
        background-color: transparent;
      }
      background-color: $longform-hero-background-color;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .hero-content {
      position: absolute;
      top: 20%;
      width: 100%;
      z-index: 3;

      h1,
      p {
        @include media-breakpoint-up(md) {
          color: $white;
        }
        color: $black;
        max-width: 550px;
      }

      h1 {
        @include media-breakpoint-up(md) {
          font-size: 3.5em;
        }
        font-size: 2.75em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0.5em;
      }

      .cigi-essay-series {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
      }

      .series-contributors-title {
        font-size: 1.125em;
        margin: 0;
      }

      .series-contributors {
        line-height: 1.25;
        margin: 0;
        text-transform: uppercase;

        span {
          @include comma-separated;
          white-space: nowrap;
        }
      }

      .scroll-anchor {
        animation: 'bounce' 2s infinite;
        font-size: 2.5em;

        a {
          @include media-breakpoint-up(md) {
            color: $white;
          }
          color: $black;
        }
      }
    }

    .video-background {
      @include media-breakpoint-up(md) {
        display: block;
      }
      display: none;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .longform-article-series-featured {
    margin: 2em 0;

    .longform-article-series-featured-item {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: cover;
      height: 400px;
      position: relative;
      width: 100%;

      .longform-article-series-featured-item-content {
        @include media-breakpoint-up(md) {
          padding: 0 2em;
        }
        bottom: 3em;
        left: 0;
        max-width: 600px;
        padding: 0 1em;
        position: absolute;

        h3 {
          font-size: 2em;
          font-weight: 400;
          margin-bottom: 0.6em;

          a {
            background-color: $cigi-primary-colour;
            box-shadow: 5px 0 0 $cigi-primary-colour,
              -5px 0 0 $cigi-primary-colour;
            color: $white;
          }
        }

        .featured-item-authors {
          span {
            @include comma-separated;
            @include link($color: $white, $hover-color: $white);
            background-color: $black;
            box-shadow: 5px 0 0 $black, -5px 0 0 $black;
            color: $white;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .longform-article-series-in-the-series {
    margin-bottom: 2em;

    .longform-article-series-in-the-series-items {
      @include media-breakpoint-up(md) {
        columns: 2;
      }
      columns: 1;

      article {
        @include media-breakpoint-up(md) {
          padding-bottom: 1.25em;
          padding-left: 0;
          padding-right: 2em;
        }
        break-inside: avoid;
        padding-bottom: 0;
        padding-left: 1.875em;
        padding-right: 0;
        padding-top: 1.25em;

        h4 {
          @include link(
            $color: $cigi-dark-grey,
            $hover-color: $cigi-medium-grey
          );
          font-size: 1.5em;
          font-weight: 500;
          margin-bottom: 0.25em;
        }

        .authors {
          color: $cigi-text-grey;
          font-size: 0.75em;
          margin: 0;
          text-transform: uppercase;

          span {
            @include comma-separated;
            @include link(
              $color: $cigi-text-grey,
              $hover-color: $cigi-primary-colour
            );
          }
        }
      }
    }
  }

  .body,
  .longform-article-series-in-the-series {
    h2 {
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 1em;

      span {
        border-bottom: 5px solid $black;
      }
    }
  }

  footer {
    position: relative;
    padding-top: 2em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
