.longform-article {
  @include top-bar(
    $background-color: $longform-background-color,
    $color: $black,
    $position: relative,
  );
  background-color: $longform-background-color;

  .hero {
    background-position: center;
    background-size: cover;
    margin: 0 0 1em;
    min-height: 25em;
    padding-top: 6em;
    position: relative;

    &::after {
      @include media-breakpoint-up(lg) {
        background-color: transparent;
      }
      background-color: $longform-hero-background-color;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .hero-content {
      position: relative;
      top: 20%;
      z-index: 2;

      h1 {
        @include media-breakpoint-up(lg) {
          font-size: 2.75em;
        }
        color: $white;
        font-size: 2em;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 0.5em;

        span {
          background-color: $cigi-primary-colour;
          box-shadow: 5px 0 0 $cigi-primary-colour, -5px 0 0 $cigi-primary-colour;
        }
      }

      .subtitle {
        p {
          @include media-breakpoint-up(lg) {
            font-size: 1.5em;
          }
          background-color: $black;
          box-shadow: 5px 0 0 $black, -5px 0 0 $black;
          color: $white;
          display: inline;
          font-size: 1.25em;
          font-weight: 400;
          line-height: 1.25;
        }
      }

      .topics {
        margin: 0;
      }
    }
  }

  .meta-section {
    margin: 0;

    .meta {
      border-bottom: 1px solid $divider-grey;
      padding-bottom: 1em;

      p {
        margin: 0;

        .author {
          @include comma-separated;
          @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
        }
      }
    }

    .social {
      ul {
        display: flex;
        list-style-type: none;

        li {
          @include link($color: $black, $hover-color: $cigi-primary-colour);

          &:first-child {
            a {
              padding-left: 0;
            }
          }

          a {
            cursor: pointer;
            display: block;
            padding: 1em 1.5em;
          }
        }
      }
    }
  }

  .about-the-author {
    h3 {
      border-bottom: 5px solid $black;
      border-top: 0;
      font-size: 1.5em;
      font-weight: 500;
      text-transform: capitalize;
    }

    .name {
      font-weight: 700;
    }
  }

  .in-the-series {
    h3 {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      border-top: 1px solid $divider-grey;
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 1em;
      padding-top: 1em;
    }

    .in-the-series {
      font-size: 1.5em;
      font-weight: 500;

      span {
        border-bottom: 5px solid $black;
      }
    }

    .series-items {
      @include media-breakpoint-up(md) {
        columns: 2;
      }
      columns: 1;

      article {
        @include media-breakpoint-up(md) {
          padding-bottom: 1.25em;
          padding-left: 0;
        }
        break-inside: avoid;
        padding-bottom: 0;
        padding-left: 1.875em;
        padding-top: 1.25em;

        h4 {
          @include link($color: $cigi-dark-grey, $hover-color: $cigi-medium-grey);
          font-size: 1.375em;
          font-weight: 500;
          margin-bottom: 0.4em;
        }

        .authors {
          color: $cigi-text-grey;
          font-size: 0.75em;
          margin-top: 0;
          text-transform: uppercase;

          span {
            @include comma-separated;
            @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
          }
        }
      }
    }
  }

  footer {
    background-color: $white;
    position: relative;
    padding-top: 2em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
