$longform-background-color: #f2f0ea;
$longform-hero-background-color: #f2f0ea;
$longform-series-body-color: #ebe9e5;

@import '../../../css/global/mixins';

@import './longform_article_series';
@import './longform_article';

footer {
  background-color: $white;
  position: relative;
  padding-top: 2em;

  .footer__subscribe {
    border-top: 0;
  }
}