@import '../../../css/global/mixins';

main {
  img {
    max-width: 100%;
    width: unset;
  }

  table {
    &.cta-button {
      width: auto;
    }

    tbody {
      tr {
        td {
          border-bottom: 0;
          text-align: unset;
        }
      }
    }
  }
}
