@import '../../../css/global/mixins';

.highlighted-topics {
  margin-bottom: 3em;

  .highlighted-topics-container {
    padding-bottom: 2em;
    border-bottom: 1px solid $cigi-light-grey;

    h2 {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1em;
    }
  }
}

.body {
  .body__title {
    font-size: clamp(1.5em, 5vw, 2.5em);
    font-weight: 400;
    line-height: 1;
  }
}