@import '../../../css/global/mixins';

.highlighted-topics {
  margin-bottom: 3em;

  .highlighted-topics-container {
    border: 1px solid $cigi-light-grey;
    padding: 1.25em;

    h2 {
      color: $cigi-text-grey;
      font-size: 0.75em;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 0.5em;
    }

  }
  .topic-label {
    text-overflow: ellipsis;
  }
}

