@import '../../global/variables';
@import '../../global/mixins';

@keyframes messageTitleFade {
  0% {
    opacity: 0;
    top: 10px;
  }

  50% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes messageLineExpand {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100px;
  }
}

@keyframes messageContentFade {
  0% {
    opacity: 0;
    top: 10px;
  }

  66% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes slideTitleFade {
  0% {
    opacity: 0;
    top: 10px;
  }

  50% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes slideTitleLineExpand {
  0% {
    margin-left: -350px;
    width: 0;
    border-color: $cigi-primary-colour;
  }

  50% {
    margin-left: -350px;
    width: 450px;
    border-color: $cigi-primary-colour;
  }

  100% {
    margin-left: 0;
    width: 100px;
    border-color: $white;
  }
}

@keyframes slideContentFade {
  0% {
    opacity: 0;
    top: 10px;
  }

  66% {
    opacity: 0;
    top: 10px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.chairs-message-background,
.presidents-message-background {
  background-color: $white;
}

.chairs-message-background-img {
  background-position: center top;
  background-size: cover;
}

.presidents-message-background-img {
  background-position: center top;
  background-size: cover;
}

.background-row {
  &.standard-background {
    .background-image {
      &.revealable {
        opacity: 0.3;

        &.is-revealed {
          opacity: 1;
        }
      }
    }
  }
}

.ar-slide-content {
  &.chairs-message,
  &.presidents-message {
    color: $black;
    position: relative;
    top: 0%;
    width: 100%;
    z-index: 2;

    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
      padding-top: 10px;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    h1 {
      animation-duration: 1000ms;
      animation-name: messageTitleFade;
      animation-timing-function: ease-in;
      color: $black;
      position: relative;
    }

    p {
      animation-duration: 1500ms;
      animation-name: messageContentFade;
      animation-timing-function: ease-in;
      color: $black;
      position: relative;

      @include media-breakpoint-between(lg, xl) {
        font-size: 15px;
        line-height: 1.3;
      }
    }

    .cigi-red-line {
      animation-duration: 1000ms;
      animation-name: messageLineExpand;
      animation-timing-function: ease-in-out;
      border-top: 4px solid $cigi-primary-colour;
      content: '';
      display: block;
      width: 100px;
    }

    .chair-name {
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 1rem;

      @include media-breakpoint-between(lg, xl) {
        font-size: 15px;
      }
    }
  }

  &.standard {
    position: relative;
    // top: 0;
    width: 100%;
    z-index: 2;

    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
      padding-top: 10px;
    }

    @include media-breakpoint-up(lg) {
      @include media-breakpoint-up(md) {
        @include media-breakpoint-up(sm) {
          position: absolute;
          top: 50%;
          transform: translateY(-55%);
        }
      }
    }

    a {
      color: $white;
    }

    .text-italic {
      margin-right: 0.15em;
    }

    .slide-title {
      &::after {
        animation-duration: 1500ms;
        animation-name: slideTitleLineExpand;
        animation-timing-function: ease-in-out;
        border-bottom: 4px solid $white;
        content: '';
        display: block;
        margin: 15px 0 25px;
        width: 100px;
      }

      h1 {
        animation-duration: 1000ms;
        animation-name: slideTitleFade;
        animation-timing-function: ease-in;
        position: relative;
      }
    }

    .content-links {
      animation-duration: 1500ms;
      animation-name: slideContentFade;
      animation-timing-function: ease-in;
      position: relative;

      .content-link {
        display: block;
        margin-bottom: 12px;

        &:hover {
          h4 {
            color: $cigi-primary-colour;
          }

          .content-link-icon {
            border-color: $cigi-primary-colour;
          }

          .underline {
            background-size: 100% 100%;
          }
        }

        h4 {
          color: #acaaaa;
          font-size: 12px;
          letter-spacing: 0.5px;
          margin-bottom: 0;
          text-transform: uppercase;
          transition: color 500ms;
        }

        p {
          font-weight: 400;
          margin-bottom: 0;
        }

        &.in-line-links {
          span {
            color: $white;
            font-family: $primary-font-family, sans-serif;
            font-style: normal;
            font-weight: 400;
          }

          a {
            &:visited {
              color: $white;
            }

            &:hover {
              color: $cigi-primary-colour;
            }
          }
        }

        .underline {
          background-image: linear-gradient(
            transparent calc(100% - 2px),
            $cigi-primary-colour 10px
          );
          background-repeat: no-repeat;
          background-size: 0% 100%;
          transition: background-size 500ms;
          width: calc(100%);
        }

        .content-link-icon {
          border-color: $white;
          border-radius: 50%;
          border-style: solid;
          border-width: 1px;
          color: $white;
          display: block;
          font-size: 12px;
          height: 38px;
          line-height: 38px;
          margin-right: 10px;
          position: relative;
          text-align: center;
          transition: border-color 500ms;
          width: 38px;

          svg {
            g {
              fill: $white;
            }
          }
        }

        .content-copy {
          overflow: hidden;
        }
      }
    }

    .content-links-mobile {
      &::before {
        border-top: 1px solid $white;
        content: '';
        display: block;
      }

      .content-link-mobile {
        border-bottom: 1px solid $white;
        display: block;
        font-weight: 500;
        padding: 12px 0;

        &:hover {
          color: $cigi-primary-colour;
        }

        &.in-line-links {
          span {
            color: $white;
            font-family: $primary-font-family, sans-serif;
            font-style: normal;
            font-weight: 400;
          }
        }
      }
    }

    .content-image {
      margin-bottom: 15px;
    }

    .paragraphs {
      animation-duration: 1500ms;
      animation-name: slideContentFade;
      animation-timing-function: ease-in;
      position: relative;

      a {
        @include media-breakpoint-up(lg) {
          &:visited {
            color: $white;
          }

          &:hover {
            color: $cigi-primary-colour;
            background-size: 0% 100%;
          }

          background-image: linear-gradient(
            transparent calc(100% - 2px),
            $cigi-primary-colour 10px
          );
          background-repeat: no-repeat;
          background-size: 100% 100%;
          transition: background-size 500ms;
          width: calc(100%);
        }
      }
    }
  }
}
