@import '../../global/variables';
@import '../../global/mixins';

@mixin link-underline {
  color: $white;
  background-size: 0 100%;
  transition: background-size 0.5s;
  background-image: linear-gradient(
    transparent calc(100% - 2px),
    $cigi-primary-colour 10px
  );
  background-repeat: no-repeat;

  &:hover {
    background-size: 100% 100%;
  }
}

@keyframes slideTitleLineExpand {
  0% {
    margin-left: -350px;
    width: 0;
  }

  50% {
    margin-left: -350px;
    width: 425px;
  }

  100% {
    margin-left: 0;
    width: 75px;
  }
}

body {
  background-color: $black;
  overflow-y: auto;
  height: 100%;
}

.annual-report-spa {
  position: relative;
}

.slide-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.slide-background {
  height: calc(100% + 50px);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -3;

  .background-image {
    position: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .background-colour {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
