$black: #000;
$white: #fff;
$cigi-red: #e6023b;
$cigi-red-dark: #bf0332;

$background-colour: $black;
$tooltip-background: #373737;

$background-overlay: rgba(0, 0, 0, .7);
$publication-background-overlay: rgba(0, 0, 0, .8);
$quote-background-overlay: rgba(0, 0, 0, .9);
$lightbox-overlay: rgba(0, 0, 0, .5);
$lightbox-background: rgba(0, 0, 0, .2);
$lightbox-dark-overlay: rgba(0, 0, 0, .92);

$grey-selected: #999;
$grey-button: #666;
$grey-button-hover: #333;

$timeline-event: #e7bc5d;
$timeline-opinion: #63a9a4;
$timeline-publication: $cigi-red;
$timeline-outline: #5f5f5f;
$dark-grey: #494949;

$sm-screen-max: 39.9375em;
$med-screen-min: 40em;
$med-screen-max: 63.9375em;
$lg-screen-min: 64em;
$lg-screen-max: 89.9375em;
$xl-screen-min: 90em;
$xxl-screen-min: 125em;
$height-min: 575px;
$med-height-min: 615px;
$lg-height-min: 725px;

$font-primary: 'futura-pt';
