{% load wagtailimages_tags core_tags %}

<article class="bt-recommended-article">
  <div class="bt-recommended-content">
    {% if article.topics %}
      {% include "includes/topics.html" with topics=article.topics_sorted %}
    {% endif %}
    <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
    {% if article.authors %}
      {% include "includes/authors.html" with authors=article.authors.all external_authors=self.external_authors %}
    {% endif %}
    {% if article.publishing_date %}
      {% include "includes/date.html" with date=article.publishing_date %}
    {% endif %}
  </div>
  <div class="bt-recommended-image">
    {% if article|page_type|in_list:'multimedia,opinion' and article.image_hero %}
      <a href="{{ article.url }}">
        {% image article.image_hero width-300 %}
        {% if article|page_type == 'multimedia' %}
          <div class="play-icon">
            <i class="fas fa-play"></i>
          </div>
        {% endif %}
      </a>
    {% endif %}
  </div>
</article>
