{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_css %}
  {% render_bundle 'themeInnovationSeries' 'css' %}
{% endblock %}

{% block body_class %}innovation-series-article-series{% endblock %}

{% block content %}
  {% image self.image_hero original as image_hero %}
  <section class="innovation-series-article-series-hero" style="background-image: url('{{ image_hero.url }}');">
    {% if self.video_banner %}
      <video playsinline autoplay muted loop class="video-background"">
        <source src="{{ self.video_banner.url }}" type="video/mp4">
      </video>
    {% endif %}
    <div class="hero-content">
      <div class="container-lg">
        <h1>{{ self.title }}</h1>
        <p class="cigi-essay-series">A CIGI Essay Series</p>
        <p class="series-contributors-title">
          Series Contributors:
        </p>
        <p class="series-contributors">
          {% for block in self.series_items %}
            {% if block.block_type == 'series_item' %}
              {% if block.value.specific.authors %}
                {% for author in block.value.specific.authors %}
                  {% if author.block_type == 'author' %}
                    <span>{{ author.value.title }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </p>
        <div class="scroll-anchor">
          <a href="#article-body">
            <i class="far fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  {% if self.body %}
    <section class="innovation-series-article-series-body" id="article-body">
      <div class="container-lg">
        <h2 class="about-series"><span>About the Series</span></h2>
      </div>
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}
