.cyber-series-article {
  @include top-bar(
    $background-color: $cyber-series-background-colour,
    $color: $black,
    $position: relative
  );
  background-color: $cyber-series-background-colour;

  main {
    position: relative;
  }

  .body {
    padding-top: 1em;
  }

  p {
    font-size: 1.065em;
  }

  hr {
    @include media-breakpoint-up(md) {
      margin-bottom: 3.5em;
    }
    border: 0;
    font-size: 18px;
    height: 0;
    margin: 2.5em 0;

    &::after {
      @include media-breakpoint-up(md) {
        font-size: 18px;
        letter-spacing: 6px;
      }
      color: $black;
      content: '\25A0\25A0\25A0';
      font-size: 8px;
      left: calc(50% - 23px);
      letter-spacing: 2px;
      position: absolute;
    }
  }

  .cyber-series-article-hero {
    @include media-breakpoint-up(md) {
      height: 400px;
    }
    @include media-breakpoint-up(lg) {
      height: 500px;
    }

    background-color: $cyber-series-primary-colour;
    display: flex;
    height: 300px;
    position: relative;

    .cyber-series-article-hero-content-container {
      @include media-breakpoint-up(md) {
        width: 50%;
      }
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding: 1em 2.5em 2em;
      width: 100%;
    }

    .cyber-series-article-hero-content {
      @include media-breakpoint-up(md) {
        width: 515px;
      }
    }

    .glitch {
      @include media-breakpoint-up(md) {
        display: block;
      }
      display: none;
    }

    h1 {
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.5em;
      line-height: 1.325em;
      margin: 0.5em 0;

      span {
        animation: blink-border 0.75s step-end infinite;
        border-right: 1px solid $black;
      }
    }

    .authors {
      font-size: 0.875em;
      margin-top: 1em;
      text-transform: uppercase;
    }

    .cyber-series-article-hero-image {
      @include media-breakpoint-up(md) {
        display: block;
      }
      background-position: center;
      background-size: cover;
      display: none;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }

  .share-links {
    @include media-breakpoint-up(md) {
      margin: 0 auto;
      width: 780px;
    }
  }

  .social-share-list {
    justify-content: flex-start;
    margin: 0;

    .fab {
      &:hover {
        color: $cigi-primary-colour;
      }
    }

    a {
      color: $black;
      display: block;
      padding: 1em 1.5em;

      &:hover {
        color: $cigi-primary-colour;
      }
    }
  }

  .article-wrapper {
    position: relative;
  }

  .cyber-series-article-bg-image {
    background-repeat: no-repeat;
    border-top: 3px solid $cyber-series-background-colour;
    bottom: -3em;
    display: block;
    height: 900px;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: -100;
  }

  .article-footnotes {
    .footnotes {
      &::before {
        border-top: 5px solid $black;
        margin-left: -75px;
      }

      ol {
        counter-reset: list-counter;
        font-size: 0.75em;
        list-style: none;
        margin: 0;
        padding-top: 1em;

        li {
          counter-increment: list-counter;

          &::before {
            content: counter(list-counter);
            font-weight: $sans-demi;
            padding-right: 0.25em;
          }
        }

        li + li {
          padding-top: 1em;
        }
      }
    }
  }

  .article-works-cited {
    h2 {
      background-image: linear-gradient(
        to right,
        $cyber-series-highlight 0%,
        $cyber-series-highlight 100%
      );
      background-position: 0 30%;
      background-repeat: repeat-x;
      background-size: 100% 0.75rem;
      color: $black;
      display: inline-block;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.1em;
      font-weight: 600;

      &::after {
        border-bottom: 0;
      }
    }
  }

  .drop-caps {
    background-image: linear-gradient(
      to right,
      $cyber-series-primary-colour 0%,
      $cyber-series-primary-colour 100%
    );
    background-position: 0 150%;
    background-repeat: repeat-x;
    background-size: 100% 3rem;
    border: 0;
    float: left;
    font-size: 4.25em;
    font-weight: 500;
    line-height: 0.95em;
    margin-right: 0.1em;
    padding: 0 0.1em 0.1em;
    text-decoration: underline;
  }

  .stream-block-blockquote {
    margin: 2rem 0 1rem;
    position: relative;

    blockquote {
      &::before {
        border-bottom: 5px solid $cyber-series-primary-colour;
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
      }
    }
  }

  .stream-block-external-quote {
    blockquote {
      border-color: $cyber-series-primary-colour;
      font-size: 1.065em;
      line-height: 1.4em;
    }
  }

  .end-of-article {
    text-align: left;

    &::after {
      animation: blink-background 1.5s step-end infinite;
      background: $cyber-series-primary-colour;
      content: '';
      height: 18px;
      margin-left: 5px;
      margin-top: 3px;
      position: absolute;
      width: 8px;
    }
  }

  .about-the-author {
    h3 {
      background-image: linear-gradient(
        to right,
        $cyber-series-highlight 0%,
        $cyber-series-highlight 100%
      );
      background-position: 0 70%;
      background-repeat: repeat-x;
      background-size: 100%;
      border-top: 0;
      color: $black;
      display: inline-block;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.1em;
      font-weight: 600;
      line-height: 0.8em;
    }
  }

  .author-block {
    .name {
      font-weight: 700;
    }
  }

  .highlight-title-block {
    span {
      background-image: linear-gradient(
        to right,
        $cyber-series-primary-colour 0%,
        $cyber-series-primary-colour 100%
      );
      background-position: 0 20%;
      background-repeat: repeat-x;
      background-size: 100% 0.75rem;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.7rem;
      padding-bottom: 2em;
    }

    h2 {
      margin: 2em 0 1em;
    }
  }

  footer {
    position: relative;
    padding-top: 2em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
