.cyber-series-article {
  @include top-bar($background-color: $cyber-series-background-colour, $color: $black, $position: relative);
  background-color: $cyber-series-background-colour;

  p {
    font-size: 1.065em;
  }

  .cyber-series-article-hero {
    @include media-breakpoint-up(md) {
      height: 400px;
    }
    @include media-breakpoint-up(lg) {
      height: 500px;
    }
    background-color: $cyber-series-primary-colour;
    position: relative;

    .cyber-series-article-hero-content-container {
      @include media-breakpoint-up(md) {
        position: absolute;
      }
      left: 0;
      position: relative;
      top: 0;
      width: 100%;

      .cyber-series-article-hero-content {
        padding-right: 0.5em;
        width: 50%;
      }
    }

    .cyber-series-article-hero-image {
      @include media-breakpoint-up(md) {
        display: block;
      }
      background-position: center;
      background-size: cover;
      display: none;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }

  .article-footnotes {
    .footnotes {
      &::before {
        border-top: 5px solid $black;
        margin-left: -75px;
      }

      ol {
        counter-reset: list-counter;
        font-size: 0.75em;
        list-style: none;
        margin: 0;
        padding-top: 1em;

        li {
          counter-increment: list-counter;

          &::before {
            content: counter(list-counter);
            font-weight: $sans-demi;
            padding-right: 0.25em;
          }
        }

        li + li {
          padding-top: 1em;
        }
      }
    }
  }

  .article-works-cited {
    h2 {
      background-image: linear-gradient(to right, $cyber-series-highlight 0%, $cyber-series-highlight 100%);
      background-position: 0 30%;
      background-repeat: repeat-x;
      background-size: 100% 0.75rem;
      color: $black;
      display: inline-block;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.1em;
      font-weight: 600;

      &::after {
        border-bottom: 0;
      }
    }
  }

  .about-the-author {
    h3 {
      background-image: linear-gradient(to right, $cyber-series-highlight 0%, $cyber-series-highlight 100%);
      background-position: 0 70%;
      background-repeat: repeat-x;
      background-size: 100%;
      border-top: 0;
      color: $black;
      display: inline-block;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.1em;
      font-weight: 600;
      line-height: 0.8em;
    }
  }

  .author-block {
    .name {
      font-weight: 700;
    }
  }

  .highlight-title-block {
    span {
      background-image: linear-gradient(to right, #f5dd07 0%, #f5dd07 100%);
      background-position: 0 20%;
      background-repeat: repeat-x;
      background-size: 100% 0.75rem;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.7rem;
      padding-bottom: 2em;
    }

    h2 {
      margin: 0 0 1em;
    }
  }
}
