.cyber-series-article-series {
  @include top-bar(
    $background-color: transparent,
    $position: absolute,
  );
  @include dark-footer;

  .cyber-series-article-series-hero {
    height: 100vh;
    position: relative;

    .cyber-series-article-series-hero-content {
      left: 50%;
      margin-right: -50%;
      max-width: 600px;
      position: fixed;
      top: calc(12vh + 10em);
      transform: translate(-50%, -50%);
      width: 90vw;

      h1 {
        color: $cyber-series-primary-colour;
        font-family: $cyber-font;
        font-size: 1.825em;
        font-weight: 400;
        margin: .2em 0 .5em;

        span {
          animation: blink-border .75s step-end infinite;
          background-image: linear-gradient(to right, $black 0%, $black 100%);
          background-position: 0 260%;
          background-repeat: repeat-x;
          background-size: 100% 1em;
          border-right: .05em solid $cyber-series-primary-colour;
        }
      }

      .arrow-animate {
        color: $cyber-series-primary-colour;
        margin-top: 2em;
      }

      .cyber-series-subtitle {
        color: $white;
        font-family: $cyber-font;
        font-size: 0.875em;
        line-height: 1.3em;
      }

      @include media-breakpoint-up(sm) {
        h1 {
          font-size: 2.25em;
          line-height: 1.115em;
        }

        .cyber-series-subtitle {
          font-size: 1.1em;
          line-height: 1.42em;
        }
      }
      @include media-breakpoint-up(md) {
        h1 {
          font-size: 2.65em;
        }
      }

      .card__text__topics {
        @include link($color: $cigi-primary-colour, $hover-color: $cigi-dark-pink);
      }
    }

    .cyber-series-article-series-hero-image {
      background-position: center;
      background-size: cover;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  .cyber-series-article-series-body,
  .cyber-series-article-series-in-the-series {
    background-color: $black-alpha-80;
    position: relative;
    z-index: 4;
  }

  .cyber-series-article-series-body {
    padding: 0.5em 0 2em;

    h2 {
      border-bottom: solid 1px $cyber-series-primary-colour;
      color: $cyber-series-primary-colour;
      font-family: 'interstate-mono', sans-serif;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 2em;
      margin-bottom: 0;
    }

    p {
      color: $white;
      font-size: 0.85em;
      line-height: 1.765em;
    }

    .body {
      margin: 1em 0;

      .read-more {
        color: $cyber-series-primary-colour;
        cursor: pointer;
        margin-left: 0.5em;
      }
    }
  }
}
