.cyber-series-article {
  @include top-bar(
    $background-color: $cyber-series-background-colour,
    $color: $black,
    $position: relative,
  );
  background-color: $cyber-series-background-colour;

  main {
    position: relative;
  }

  .body {
    padding-top: 2em;
  }

  .cyber-series-article-hero {
    @include media-breakpoint-up(md) {
      height: 400px;
    }
    @include media-breakpoint-up(lg) {
      height: 500px;
    }
    background-color: $cyber-series-primary-colour;
    position: relative;

    .cyber-series-article-hero-content-container {
      @include media-breakpoint-up(md) {
        position: absolute;
      }
      left: 0;
      position: relative;
      top: 0;
      width: 100%;

      .cyber-series-article-hero-content {
        padding-right: 0.5em;
        width: 50%;
      }
    }

    .cyber-series-article-hero-image {
      @include media-breakpoint-up(md) {
        display: block;
      }
      background-position: center;
      background-size: cover;
      display: none;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }

  .cyber-series-article-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid $cyber-series-background-colour;
    bottom: -3em;
    display: block;
    height: 900px;
    opacity: .5;
    position: absolute;
    width: 100%;
    z-index: -100;
  }
}
