$cyber-series-background-colour: #f2f0ea;
$cyber-series-primary-colour: #f5dd07;

@import '../../../css/global/mixins';

@import './cyber_series_article_series';
@import './cyber_series_article';

@keyframes blink {
  from,
  to {
    background: $cyber-series-primary-colour;
  }

  50% {
    background: transparent;
  }
}