{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block header %}
  {% include "includes/top_bar.html" %}
  {% if self.submenu %}
    {% include "includes/top_bar_menu.html" with submenu=self.submenu %}
  {% endif %}
{% endblock %}

{% block body_class %}basic-page{% endblock %}

{% block content %}
  {% if self.subtitle %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <h2 class="subtitle">{{ self.subtitle|richtext }}</h2>
        </div>
      </div>
    </div>
  {% endif %}
  {% if self.image_hero %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <figure class="image-hero">
            {% image self.image_hero width-1280 %}
            {% if self.image_hero.caption %}
              <figcaption>
                {{ self.image_hero.caption }}
              </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
    </div>
  {% endif %}
  {% include "includes/body.html" with body=self.body %}

  {% if self.related_files %}
    <section class="related-files">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            {% include "includes/core_related_files_table.html" with file_blocks=self.related_files %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock content %}
