{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block extra_css %}
{% render_bundle 'humanAnalysisStandardPage' 'css' %}
{% endblock %}

{% block extra_js %}
{% render_bundle 'humanAnalysisStandardPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
<main class="human-analysis-standard-page">
  {% include "includes/heroes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}
  {% if self.body %}
    <section class="body" id="article-body">
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}
</main>
{% endblock %}
