{% extends "base.html" %}
{% load webpack_loader %}

{% block extra_css %}
  {% render_bundle 'twentiethPage' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'twentiethPage' 'js' attrs='defer' %}
  {{ self.slides_json|json_script:"slides" }}
  {{ path_components|json_script:"path-components" }}
{% endblock %}

{% block body_class %}twentieth-page{% endblock %}

{% block content %}
  <div id='twentieth-page-slides' class='twentieth-page-slides'></div>
{% endblock %}

{% block footer %}{% endblock %}
