{% extends "base.html" %}
{% load webpack_loader %}

{% block extra_css %}
{% render_bundle 'twentiethPage' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'twentiethPage' 'js' attrs='defer' %}
  {{ self.slides_json|json_script:'slides' }}
  {{ initial_slide|json_script:'initial-slide' }}
  {{ self.slug|json_script:'page-url'}}
{% endblock %}

{% block body_class %}twentieth-page{% endblock %}

{% block content %}
  <div id='twentieth-page-slides' class='twentieth-page-slides'></div>
{% endblock %}

{% block header %}
  {% include "includes/twentieth_page_top_bar.html" %}
  <div id='slides-nav-arrows' class='slides-nav-arrows'></div>
{% endblock %}

{% block footer %}{% endblock %}
