@import '../../../../css/global/mixins';

body {
  h1 {
    @include media-breakpoint-down(xs) {
      font-size: 1.75em;
    }
  }

  .chair-block {
    .person-info {
      @include media-breakpoint-down(xs) {
        padding: 0.5em 1em;
      }
      align-items: center;
      display: flex;
      margin-bottom: 1em;
      background-color: $cigi-light-grey;
      border-radius: 100px;
      padding: 1em;

      .text-wrapper{
        max-width: 75%;

        h2 {
          font-size: 1.0625em;
          font-weight: 400;
          margin-bottom: 0;
          margin-top: 0.5em;
          text-transform: uppercase;
        }

        .person-name {
          @include link(
            $color: $cigi-primary-colour,
            $hover-color: $cigi-dark-pink
          );
          font-size: 1.0625em;
          font-weight: 400;
          text-decoration: none;
        }
        
        .person-function {
          color: $cigi-text-grey;
          font-size: 0.8em;
          margin-bottom: 0.5em;
        }
      }

      .person-photo {
        @include aspect-ratio(1, 1);
        border-radius: 100%;
        display: inline-block;
        flex: 0 0 100px;
        height: 100px;
        margin-right: 1em;
        width: 100px;
      }
    }
  }
}
