{% extends "base.html" %}

{% load static webpack_loader wagtailcore_tags %}

{% block extra_css %}
  {% render_bundle 'multimediaListPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'multimediaListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <header class="header--submenu">
    <div class="container">
      <nav class="border-top">
        <div class="row g-1 justify-content-between">
          <div class="col-4">
            <i class="fas fa-th-large"></i>
            <span>Multimedia<span>            
          </div>
          <div class="col-8">
            <div class="header--submenu__right">
              <button type="button" class="header--submenu__right__menu-item active">
                All Multimedia
              </button>
              <button type="button" class="header--submenu__right__menu-item">
                Big Tech Podcast
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section class="featured">
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="slider--featured">
            <div class="swiper-container--featured swiper-container">
              <div class="swiper-wrapper">
                {% for block in self.featured_multimedia %}
                  <div class="swiper-slide">
                    {% include_block block.value %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="swiper-pagination swiper-pagination-featured"></div>
            <div class="swiper-button-prev swiper-button-prev-featured"></div>
            <div class="swiper-button-next swiper-button-next-featured"></div>
          </div>
        </div>
        <div id="slider--big-tech">
          <div class="swiper-container--big-tech swiper-container">
            <div class="swiper-wrapper">
              {% for block in self.big_tech_episodes %}
                <div class="swiper-slide">
                  {% include_block block.value %}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-big-tech"></div>
          <div class="swiper-button-prev swiper-button-prev-big-tech"></div>
          <div class="swiper-button-next swiper-button-next-big-tech"></div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <div class=container>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="multimedia-list-section" id="multimedia-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
