{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block content %}
  {% include "includes/hero_multimedia.html" %}

  {% if page.body %}
    <section class="body">
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}

  {% if self.multimedia_series %}
    <div class="container-sm multimedia-series-block">
      <article>
        <h2>
          Series:
          <a href="{{self.multimedia_series.url}}">
            {{ self.multimedia_series.title }}
          </a>
        </h2>
        <p>{{ self.multimedia_series.specific.subtitle }}</p>
      </article>
    </div>
  {% endif %}

  <section class="multimedia-disclaimer-section">
    {% include 'includes/multimedia_disclaimer.html' %}
    {% include 'includes/opinion_disclaimer.html' %}
  </section>
{% endblock content %}

{% block extra_bundles %}
  {% render_bundle 'multimediaPage' %}
{% endblock %}
