{% extends "base.html" %}

{% load static webpack_loader wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block extra_css %}
  {% render_bundle 'multimediaListPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'multimediaListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <header class="header--submenu">
    <div class="container">
      <nav class="border-top">
        <div class="row g-1 justify-content-between">
          <div class="col-4">
            <i class="fas fa-th-large"></i>
            <span>Multimedia<span>            
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="multimedia-list-section" id="multimedia-search-table" data-featured-pages="{{ featured_multimedia }}">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
