{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block extra_css %}
  {% render_bundle 'multimediaPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'multimediaPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/hero_multimedia.html" %}

  {% if page.body %}
    <section class="body">
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}
  {% if self.transcript %}
    <section>
      {% for block in self.transcript %}
        {% include_block block with id=block.id %}
      {% endfor %}
    </section>
  {% endif %}
  {% if self.multimedia_series %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 multimedia-series-block">
          <article>
            <h2>
              Series:
              <a href="{{self.multimedia_series.url}}">
                {{ self.multimedia_series.title }}
              </a>
            </h2>
            <p>{{ self.multimedia_series.specific.subtitle|richtext }}</p>
          </article>
        </div>
      </div>
    </div>
  {% endif %}
  {% include 'includes/disclaimer.html' with multimedia_disclaimer=True %}
{% endblock content %}
