@import '../../../css/global/mixins';
@import '../../../css/includes/swiper';

@include top-bar(
  $background-color: transparent,
  $background-color-scrolled: $black
);

section {
  &.hero {
    margin-bottom: 1.5em;
    background-size: cover;

    .hero-container {
      .hero-main {
        h2 {
          color: $black;
        }
      }
    }

    .hero-main {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black-alpha-30;
    }
  }

  &.featured {
    .stream-block-title {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      font-size: 1.5em;
    }

    .feature-content-people-list {
      @include link($color: $cigi-text-grey, $hover-color: $cigi-dark-pink);
      font-size: 0.75em;
      margin-bottom: 0;
      text-transform: uppercase;
  
      li {
        color: $cigi-text-grey;
        display: inline;
      }
    }

    .feature-content-large {
      &.poster {
        .feature-content-image {
          .img-wrapper {
            margin: 0;
          }
        }
      }

      .feature-content-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .feature-content-title {
          @include media-breakpoint-up(lg) {
            font-size: 2.1em;
          }
          font-size: 1.7em;
        }
      }
    }

    .separator-large {
      @include media-breakpoint-down(sm) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    .highlights {
      .stream-block-additional-file-block {
        .img-container {
          figure {
            background-color: $black;

            &:hover {
              img {
                opacity: 0.8;
              }
            }

            img {
              transition: opacity 0.2s ease;
            }
          }
        }
      }
    }

    .singular-feature {
      .feature-content-image {
        flex: 0 0 33.3333%;
      }
    }
  }
}

.body {
  button {
    &.button-action {
      text-transform: capitalize;
    }
  }

  .ges-highlights-block {
    margin-top: 2em;
    padding: 2em 0;

    .paragraph-heading {
      margin-top: 0;
    }

    .swiper-container {
      .swiper-controls {
        top: -0.2em;
      }

      .swiper-slide {
        .slide {
          position: relative;

          .label {
            font-size: 1.125rem;
            color: $black;
          }

          .caption {
            font-size: 1rem;
          }
        }
      }
    }

    .highlights__download {
      @include hover-darken;
      margin-bottom: 4em;

      .slide-deck__right {
        @include media-breakpoint-up(md) {
          display: flex;
          flex-direction: column;
        }
        justify-content: space-between;

        h3 {
          @include media-breakpoint-up(md) {
            margin-top: 0;
          }
        }

        p {
          line-height: 1.25;
        }
      }
    }
  }

  .ges-events-block {
    margin-bottom: 2em;

    article {
      border-bottom: 1px solid $cigi-light-grey;
      padding-top: 1em;
      padding-bottom: 1em;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-top: 0;
    }

    .description {
      margin-top: 1em;
    }
  }

  .ges-slide-deck-block {
    @include hover-darken;
    margin: 2em 0;
    padding-bottom: 2em;

    h2 {
      margin-top: 0;
    }

    .slide-deck__right {
      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
      }
      justify-content: space-between;

      h3 {
        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }

      p {
        line-height: 1.25;
      }

      .downloads {
        display: flex;
        align-items: center;

        button {
          margin: 0;
        }

        span {
          margin: 0 0 0 0.5em;
        }
      }

      .last-updated {
        margin-top: 1em;
        font-size: 0.75em;
        color: $cigi-text-grey;
      }
    }
  }

  .ges-raw-data-block {
    margin: 2em 0;
    padding-bottom: 2em;

    h2,
    h3 {
      margin-top: 0;
    }
  }

  .persons-list-block {
    h2 {
      margin-top: 1.5em;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.search-table-container {
  margin-top: 2em;
}
