.about-the-author {
    h3 {
        display: inline-block;
        font-size: 0.75em;
        text-transform: uppercase;
        line-height: 1.4em;
        border-top: 3px solid #000;
        margin: 3em 0 0;
    }

    .name {
        font-size: 1.1em;
        margin-bottom: 0.25em;
    }

    .author-block {
        border-bottom: solid 1px $cigi-light-grey;
        padding: 1em 0;
        &:last-child {
            border-bottom: none;
        }
    }

}