.about-the-author {
  h3 {
    border-top: 3px solid $black;
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.4em;
    margin: 3em 0 0;
    text-transform: uppercase;
  }

  .name {
    font-size: 1.0625em;
    font-weight: 400;
    margin-bottom: 0.25em;

    a {
      color: $black;

      &:hover {
        color: $cigi-pink;
      }
    }
  }

  .author-block {
    border-bottom: solid 1px $cigi-light-grey;
    padding: 1em 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}
