.cta__button {
  @include button(
    $color: $white,
    $background-color: $black,
    $hover-color: $black,
    $hover-background-color: $white,
    $border-color: $white,
    $hover-border-color: $black
  );
  @include media-breakpoint-up(md) {
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1.5em;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  font-size: 0.9em;
  white-space: nowrap;
  border-radius: 100px;
  padding: 0.5em;
  transition: none;

  i {
    @include media-breakpoint-up(md) {
      min-width: 1.5em;
    }
    margin: 0;
    text-align: right;
  }

  .button__text {
    @include media-breakpoint-up(md) {
      display: block;
      margin-right: 1.75vw;
    }
    display: none;
  }
}
