section {
  &.disclaimer {
    margin-bottom: 2em;

    .additional-opinion-disclaimer,
    .publication-disclaimer {
      color: $cigi-text-grey;
      font-size: 0.85em;
      font-style: italic;
      margin-bottom: 2em;
    }

    .publication-disclaimer {
      margin-bottom: 0;
    }

    .multimedia-disclaimer {
      margin-bottom: 0.25em;
    }

    .opinion-disclaimer {
      color: $cigi-text-grey;
      font-size: 0.85em;
      font-style: italic;
      margin-bottom: 0;

      &.with-multimedia {
        font-size: 1em;
      }
    }
  }
}
