.feature-content-from-the-archives {
    color: $cigi-primary-colour;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-style: italic;
  }

.from-the-archives-blurb {
    border: 1px solid $cigi-primary-colour;
    padding: 1em;
}



