.mm-hero {
  @include media-breakpoint-up(md) {
    margin-bottom: 3em;
    padding-top: 4em;
  }

  background-color: $black;
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
  padding-top: 2em;

  .mm-hero-content {
    text-align: center;

    h1 {
      @include media-breakpoint-up(md) {
        font-size: 2.5em;
      }
      color: $white;
      font-size: 1.75em;
      font-weight: 400;
    }

    .date,
    .mm-meta {
      @include link($color: $white, $hover-color: $cigi-primary-colour);
      @include media-breakpoint-up(md) {
        font-size: 1.125em;
      }

      color: $white;
      font-size: 1em;
      margin-bottom: 0.25em;

      span {
        &:not(:only-child) {
          &::after {
            content: ', ';
            margin-right: 2px;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }

    .social-share-list {
      @include media-breakpoint-up(md) {
        margin-bottom: 2em;
        margin-top: 2em;
      }
      margin-bottom: 1em;
      margin-top: 1em;
    }

    .topics {
      justify-content: center;
      margin: 0;

      li {
        @include link($color: $white, $hover-color: $cigi-primary-colour);
        color: $white;
      }
    }
  }

  .mm-video-container {
    &.sticky-video {
      max-width: 100%;
      padding: 0;
      z-index: 20;

      .mm-video-header {
        animation: slide-down 0.3s;
        background-color: $black;
        height: 200px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;

        .mm-hero-video {
          height: 100%;

          .mm-hero-video-embed {
            height: 100%;
            width: 360px;

            &.mm-hero-audio-embed {
              iframe {
                height: 100%;
              }
            }
          }

          .mm-hero-video-content {
            display: flex;
          }
        }
      }
    }

    .mm-video-header {
      .mm-hero-video {
        display: flex;

        .mm-hero-video-embed {
          position: relative;
          width: 100%;

          &.mm-hero-audio-embed {
            iframe {
              height: 175px;
            }

            &::after {
              padding-bottom: 175px;
            }
          }

          &::after {
            content: '';
            display: block;
            padding-bottom: 56.25%;
          }

          iframe {
            height: 100%;
            left: 0;
            margin: 0;
            max-width: 100%;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }

        .mm-hero-video-content {
          align-items: flex-start;
          display: none;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 1.5em 2em;
          text-align: left;

          h1 {
            color: $white;
            font-size: 2em;
            font-weight: 400;
          }

          .social-share-list {
            justify-content: flex-start;
            margin: 0;
          }

          .topics {
            margin-bottom: 0;

            li {
              @include link($color: $white, $hover-color: $cigi-primary-colour);
              color: $white;
            }
          }
        }
      }
    }
  }
}
