section {
  &.publication-hero {
    @include breakpoint($medium) {
      padding-top: 6em;
    }

    background-color: transparent;
    color: $black;
    display: block;
    text-align: center;

    h1 {
      font-size: 2.75em;
      font-weight: 400;
      line-height: 1.1em;
    }

    h2 {
      color: $black;
      font-size: 1.1em;
      font-weight: 400;
    }

    .custom-text-list {
      justify-content: center;
    }

    .topics {
      font-size: 0.75em;
      font-weight: 500;
      margin: 1em 0;
      text-transform: uppercase;
    }

    .authors {
      font-size: 0.95em;
      line-height: 1.25em;
      margin-bottom: 0.5em;
      margin-top: 1.5em;

      a {
        color: $cigi-dark-grey;

        &:hover {
          color: $cigi-pink;
        }
      }

      .block-author {
        &:not(:only-child) {
          &::after {
            content: ', ';
            margin-right: 2px;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

// BUTTONS

button {
  &.publication-download {
    background-color: $color--blue;
    border-radius: 2px;
    font-size: 0.75em;
    line-height: 1.1em;
    margin: 1em 0;
    padding: 7px 10px;
    transition: background-color 0.25s ease;

    &:hover {
      background-color: $color-dark-blue;
    }

    a {
      color: $white;
    }

    .fa-download {
      margin-right: 0.25em;
    }
  }
}
