.opinion-disclaimer {
  color: $cigi-text-grey;
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: 2em;
}

.multimedia-disclaimer-section {
  .opinion-disclaimer {
    font-size: 1rem;
  }
}
