.people-person-leadership-list-section {

  .people-person-leadership-nav {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .people-person-leadership-nav-text {
      color: $cigi-medium-grey;
      font-weight: 400;
      font-size: 0.9rem;
      margin-right: 1em;
      flex: 0 0 auto;
    }

    .nav-tabs {
      border: none;

      .nav-item {
        position: relative;
        display: inline-flex;
        align-items: center;

        &:not(:first-child) {
          padding-left: 1em;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-flex;
            content: '|';
            font-weight: 300;
            color: $cigi-medium-grey;
          }
        }
      }

      .nav-link {
        margin-right: 1em;
        padding: 0;
        font-size: 14px;
        font-weight: 700;
        color: $black;
        border: none;
        border-bottom: 3px solid transparent;

        &.active {
          border-bottom-color: $cigi-pink;
        }
      }
    }

    @media(max-width: 374.98px) {
      align-items: baseline;
      .nav-tabs {
        flex-direction: column;

        .nav-item:not(:first-child) {
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }


  .people-person-leadership-list {
    list-style: none;

    li {
      padding: 1em 0;
      border-bottom: 1px solid $cigi-light-grey;
    }

    .people-person-leadership-list-info {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
    }

    .people-person-leadership-list-photo {
      @include aspect-ratio(1, 1);
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      margin-right: 1rem;
      flex: 0 0 70px;
    }

    .people-person-leadership-list-name {
      color: $black;
      font-size: 17px;

      &:hover {
        color: $cigi-pink;
      }
    }

    .people-person-leadership-list-function {
      color: $cigi-text-grey;
      font-size: 0.9rem;
    }
  }
}