.topics {
  list-style-type: none;
  margin: 0;

  .topic {
    @include comma-separated;
    display: inline;

    &::after {
      color: $black;
    }
  }
}

.all-topics {
  padding-bottom: 10em;

  .all-topics__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    position: relative;

    li {
      flex-shrink: 0;
      margin-right: 0.5em;
      margin-bottom: 0.5em;

      .button--rounded {
        @include button();
      }

      .topic-count {
        color: $cigi-medium-grey;
      }
    }
  }
}