<section class="hero-container article-hero special-theme">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        {% include "includes/topics.html" with topics=self.topics_sorted %}
        <h1>{{title}}</h1>
        <h2>{{subtitle|safe}}</h2>
        {% include "includes/authors.html" with authors=self.authors.all %}
        {% include "includes/date.html" with date=self.publishing_date %}
        {% comment %} {% include "includes/social_links.html" with title=self.title %} {% endcomment %}
      </div>
    </div>
  </div>
</section>
