<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <div class="logos">
          <img class="caiai-logo" src="/static/caiai/assets/CAAI-logo-full-white-04.png" alt="">
          <img class="cigi-logo" src="/static/caiai/assets/CIGI-logo-full-reverse-RBG.png" alt="">
          <img class="uwaterloo-logo" src="/static/caiai/assets/UniversityOfWaterloo_logo_horiz_rev.png" alt="">
          <img class="csls-logo" src="/static/caiai/assets/CSLS-logo.png" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <nav>
          <ul>
            <li>
              <a href="/">
                Home
              </a>
            <li>
              <a href="/recommendations/">
                Recommendations
              </a>
            </li>
            <li>
              <a href="/about/">
                About CAIAI
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>