{% load wagtailcore_tags menu_tags cache %}


<header class="">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <nav>
          <ul>
            <li>
              <a href="/">
                Home
              </a>
            <li>
              <a href="/recommendations/">
                Recommendations
              </a>
            </li>
            <li>
              <a href="/about/">
                About CAIAI
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>