{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/rwn6tvm.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeSpaceSeries' 'css' %}
{% endblock %}
{% block theme_js %}
  {% render_bundle 'themeSpaceSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}space-series-article-series{% endblock %}

{% block header %}
  {% include "includes/top_bar.html" with small=True %}
{% endblock %}

{% block content %}
  <section class="space-series-article-series-hero">
    <div class="hero-content">
      <div class="container">
        <div class="opinion-series-label">A CIGI Essay Series</div>
        <div class="row">
          <div class="col-lg-6">
            <div class="title">{{ self.title }}</div>
            <ul class="social-share-list-space">
              <li class="facebook">
                <a class="facebook-share-link" data-url="{{ request.build_absolute_uri|slice:':-1' }}" target="_blank"
                  rel="noopener noreferrer">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="twitter">
                <a class="twitter-share-link"
                  href="https://twitter.com/share?text={{ title|social_string }}&amp;url={{ request.build_absolute_uri|slice:':-1' }}"
                  target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="linkedin">
                <a class="linkedin-share-link"
                  href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri|slice:':-1' }}&amp;title={{ self.title|social_string }}"
                  target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
            <div class="subtitle">{{ self.subtitle|richtext }}</div>
          </div>
          <div class="col-lg-6">
            <div class="short-description">
              {{ self.short_description|richtext }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="in-the-series">
    <div class="container swiper">
      <div class="swiper-container-series swiper-container">
        <div class="swiper-container-series-content">
          <div class="swiper-wrapper">
            {% define 0 as counter %}
            {% for series_item in self.article_series_items %}
              <article class="swiper-slide series-item {% if series_item.category_title %}after{% endif %}">
                {% if series_item.category_title %}
                  <div class=category-title>{{ series_item.category_title }}</div>
                {% endif %}
                <div class="article-wrapper">
                  <div class="series-item-counter">
                    {% if series_item.content_page.contenttype == "Multimedia" %}
                      <div class="play-icon-wrapper">
                        <div class="play-icon">
                          <div class="outer-circle"></div>
                          <i class="fas fa-play"></i>
                        </div>
                      </div>
                    {% else %}
                      {% define counter|add:1 as counter %}
                      {% if counter < 10 %}0{% endif %}{{ counter }}
                    {% endif %}
                  </div>
                  <div class="article-content-wrapper">
                    <div class="article-content">
                      <a href="{% pageurl series_item.content_page %}" class="series-item-image">
                        {% if series_item.image_override %}
                          <img 
                            class="image-static"
                            src="{{ series_item.image_override.src_static }}"
                            alt="{{ series_item.image_override.alt }}"
                            data-src-static="{{ series_item.image_override.src_static }}"
                            data-src-gif="{{ series_item.image_override.src_gif }}"
                          />
                        {% else %}
                          {% image series_item.content_page.specific.image_hero fill-300x300 %}
                        {% endif %}
                      </a>
                      <div class="series-item-content">
                        <div>
                          {% if series_item.content_page.contenttype == "Multimedia" %}
                            <h3 class="series-item-title multimedia-title">
                              <a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a>
                            </h3>
                          {% else %}
                            <h3 class="series-item-title">
                              <a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a>
                            </h3>
                          {% endif %}
                        </div>
                        {% include 'includes/authors.html' with authors=series_item.content_page.authors.all %}
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if self.acknowledgements %}
    <section class="acknowledgement">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2>Acknowledgement</h2>
            <div class="acknowledgements-content">
              {{ self.acknowledgements|richtext }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if self.credits or self.credits_stream_field %}
    <section class="credits">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2>Credits</h2>
            <div class="credits-content">
              {% if self.credits_stream_field %}
                {% for title in self.credits_stream_field %}
                  <div class="title-container">
                    <div class="title">{{ title.value.title }}</div>
                    {% for person in title.value.people %}
                      <div class="name">{{ person }}</div>
                    {% endfor %}
                  </div>
                {% endfor %}
              {% else %}
                {{ self.credits|richtext }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
