{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/rwn6tvm.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeSpaceSeries' 'css' %}
{% endblock %}
{% block theme_js %}
  {% render_bundle 'themeSpaceSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}space-series-article{% endblock %}

{% block hero %}
  <section class="space-series-article-hero">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 hero-content">
          <div>
            <h1>{{ self.title }}</h1>
            {{ self.subtitle|richtext }}
            {% include "includes/authors.html" with authors=self.authors.all %}
            {% include "includes/date.html" with date=self.publishing_date %}
          </div>
        </div>
        <div class="col-lg-6 offset-lg-2 hero-image">
          {% if self.image_hero %}
            {% image self.image_hero fill-1600x1600 %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="in-the-series" id="sticky-in-the-series">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1">
          <h2>IN THE SERIES</h2>
        </div>
        <div class="col-11">
          <div class="swiper">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {% for series_item in self.article_series.specific.article_series_items %}
                  <article class="swiper-slide series-item">
                    <div class="series-item-content">
                      <a href="{% pageurl series_item.content_page %}">
                        <div class="series-item-counter">
                          <span></span>
                          <span>0{{ forloop.counter }}</span>
                        </div>
                        <h3 class="series-item-title">{{ series_item.content_page.title }}</h3>
                      </a>
                      {% include 'includes/authors.html' with authors=series_item.content_page.authors.all %}
                    </div>
                  </article>
                {% endfor %}
              </div>
            </div>
            <div class="swiper-button-prev swiper-button"></div>
            <div class="swiper-button-next swiper-button"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}


{% block article_content %}
  {% if self.article_series_description %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <div class="article-series-description">
            {{self.article_series_description|richtext}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if self.body %}
    <section class="body" id="article-body">
      {% if heading %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12{% if full_heading is not True %} col-md-10 col-lg-8{% endif %}">
              <h2 class="paragraph-heading">{{ heading }}</h2>
            </div>
          </div>
        </div>
      {% endif %}
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}

  {% if self.footnotes %}
    <section class="article-footnotes">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <div class="footnotes">
              {{ self.footnotes|richtext }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if self.works_cited %}
    <section class="article-works-cited">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <h2>Works Cited</h2>
            {{ self.works_cited|richtext }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if self.article_series_disclaimer %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <div class="article-series-disclaimer">
            {{self.article_series_disclaimer|richtext}}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% include 'includes/disclaimer.html' with additional_disclaimers=self.get_additional_disclaimers %}

  {% if self.is_opinion and self.author_count > 0 %}
    {% include "includes/about_the_author.html" with authors=self.authors.all author_count=self.author_count %}
  {% endif %}
{% endblock %}
