@import '../../../css/global/mixins';

hr {
  margin: 2em 0;
}

.cigi-subscribe-form {
  .edit-newsletter-wrapper {
    display: flex;
  }

  label {
    display: none;

    &.edit-newsletter-label {
      display: block;
      margin: 0 0 2em 0.5em;

      &::after {
        color: $cigi-primary-colour;
        content: '*';
      }
    }
  }

  input {
    &[type='text'],
    &[type='email'] {
      background: $white;
      border: 1px solid $cigi-text-grey;
      color: $cigi-text-grey;
      margin-bottom: 1em;
      outline: none;
      padding: 0.5rem 1rem;
      width: 100%;
    }

    &[type='checkbox'] {
      margin-top: 0.3em;
    }
  }

  button {
    margin-top: 2em;
  }
}

.privacy-blurb {
  color: $cigi-text-grey;
  margin: 2em 0;
}
