{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block body_class %}longform-article{% endblock %}

{% block content %}
  {% image self.image_banner original as image_hero %}
  <section class="hero" style="background-image: url('{{ image_hero.url }}');">
    <div class="container-sm">
      <div class="hero-content">
        {% include "includes/topics.html" with topics=self.topics %}
        <h1><span>{{ self.title }}</span></h1>
        <p class="subtitle"><span>{{ self.subtitle }}</span></p>
      </div>
    </div>
  </section>
  <section class="meta-section">
    <div class="container-sm">
      <div class="meta">
        <p>Published: {{self.publishing_date|date:"F j, Y" }}</p>
        <p>
          Author{{self.authors|length|pluralize}}:

          {% for author in self.authors %}
            <span class="author">{{author}}</span>
          {% endfor %}
        </p>
      </div>
      <div class="social">
        <ul>
          <li>
            <a data-url="{{ request.build_absolute_uri|slice:':-1' }}">
              <i class="fab fa-facebook-square icon"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/share?text={{title|social_string}}&amp;url={{request.build_absolute_uri|slice:':-1'}}">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{self.title}}&body=From the Centre for International Governance Innovation: {{self.title}} ({{ request.build_absolute_uri|slice:':-1' }})">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="javascript:window.print()">
              <i class="fa fa-print"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="body">
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
{% endblock %}

{% block extra_bundles %}
  {% render_bundle 'themeLongform' %}
{% endblock %}
