{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block theme_css %}
  {% render_bundle 'themeLongform' 'css' %}
{% endblock %}

{% block body_class %}longform-article-series{% endblock %}

{% block content %}
  {% image self.image_banner original as image_hero %}
  <section class="longform-article-series-hero" style="background-image: url('{{ image_hero.url }}');">
    {% if self.video_banner %}
      <video playsinline autoplay muted loop class="video-background">
        <source src="{{ self.video_banner.url }}" type="video/mp4">
      </video>
    {% endif %}
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>{{ self.title }}</h1>
            <p class="cigi-essay-series">A CIGI Essay Series</p>
            <p class="series-contributors-title">
              Series Contributors:
            </p>
            <p class="series-contributors">
              {% for series_item in self.article_series_items %}
                {% for item in series_item.content_page.authors.all %}
                  <span>{{ item.author.title }}</span>
                {% endfor %}
              {% endfor %}
            </p>
            <div class="scroll-anchor">
              <a href="#article-body">
                <i class="far fa-angle-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if self.featured_items %}
    <section class="longform-article-series-featured">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><span>Features</span></h2>
            <div id="longform-featured-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for featured_item in self.featured_items %}
                  <li data-target="#longform-featured-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for featured_item in self.featured_items %}
                  <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    {% image featured_item.value.specific.image_hero original as featured_item_banner %}
                    <div class="longform-article-series-featured-item" style="background-image: url('{{ featured_item_banner.url }}')">
                      <div class="longform-article-series-featured-item-content">
                        <h3><a href="{{ featured_item.value.url }}">{{ featured_item.value.title }}</a></h3>
                        <p class="featured-item-authors">
                          {% for item in featured_item.value.specific.authors.all %}
                            {% if item.hide_link or item.author.is_external_profile %}
                              <span>{{ item.author.title }}</span>
                            {% else %}
                              <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                            {% endif %}
                          {% endfor %}
                        </p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="body" id="article-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="about-series">
            <span>About the Series</span>
          </h2>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
  <section class="longform-article-series-in-the-series">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><span>In the Series</span></h2>
          <div class="longform-article-series-in-the-series-items">
            {% for series_item in self.article_series_items %}
              {% if series_item.category_title %}
                <h3>{{ series_item.category_title }}</h3>
              {% endif %}
              <article>
                <h4>
                  <a href="{% pageurl series_item.content_page %}">
                    {{ series_item.content_page.title }}
                  </a>
                </h4>
                <p class="authors">
                  Author{{ series_item.content_page.author_count|pluralize }}:
                  {% for item in series_item.content_page.authors.all %}
                    {% if item.hide_link or item.author.is_external_profile %}
                      <span>{{ item.author.title }}</span>
                    {% else %}
                      <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                    {% endif %}
                  {% endfor %}
                </p>
              </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
