{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block theme_css %}
  {% render_bundle 'themeLongform' 'css' %}
{% endblock %}

{% block body_class %}longform-article{% endblock %}

{% block hero %}
  {% image self.image_banner original as image_hero %}
  <section class="hero" style="background-image: url('{{ image_hero.url }}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 hero-content">
          {% include "includes/topics.html" with topics=self.topics_sorted %}
          <h1><span>{{ self.title }}</span></h1>
          <div class="subtitle">
            {{ self.subtitle|richtext }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="meta-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 meta">
          <p>Published: {{self.publishing_date|date:"F j, Y" }}</p>
          <p>
            Author{{self.author_count|pluralize}}:
            {% for item in self.authors.all %}
              {% if item.hide_link or item.author.is_external_profile %}
                <span class="author">{{ item.author.title }}</span>
              {% else %}
                <span class="author"><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 social">
          <ul>
            <li>
              <a class="facebook-share-link" data-url="{{ request.build_absolute_uri|slice:':-1' }}">
                <i class="fab fa-facebook-square icon"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/share?text={{title|social_string}}&amp;url={{request.build_absolute_uri|slice:':-1'}}">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="mailto:?subject={{self.title}}&body=From the Centre for International Governance Innovation: {{self.title}} ({{ request.build_absolute_uri|slice:':-1' }})">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="javascript:window.print()">
                <i class="fa fa-print"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    <section class="in-the-series">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <article class="article-series">
              <h3><a href="{{self.article_series.url}}">{{ self.article_series.title }}</a></h3>
              <p class="in-the-series"><span>In The Series</span></p>
              <div class="series-items">
                {% for series_item in self.article_series.specific.article_series_items %}
                  {% if series_item.content_page.id != self.id %}
                    <article>
                      <h4><a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a></h4>
                      <p class="authors">
                        Author{{ series_item.content_page.author_count|pluralize }}:
                        {% for item in series_item.content_page.authors.all %}
                          {% if item.hide_link or item.author.is_external_profile %}
                            <span>{{ item.author.title }}</span>
                          {% else %}
                            <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                          {% endif %}
                        {% endfor %}
                      </p>
                    </article>
                  {% endif %}
                {% endfor %}
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Longform articles #}
{% endblock %}
