{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/vvu3obm.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeAIEthicsSeries' 'css' %}
{% endblock %}
{% block theme_js %}
  {% render_bundle 'themeAIEthicsSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}ai-ethics-series-article-series{% endblock %}

{% block content %}
  {% image self.image_hero original as image_hero %}
  <section class="ai-ethics-series-article-series-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-3">
          <div class="banner">
            {% if self.video_banner %}
              <div class="video-bg" style="background-image: url('{{ image_banner.url }}');">
                <video playsinline autoplay muted loop>
                  <source src="{{ self.video_banner.url }}" type="video/mp4">
                </video>
              </div>
            {% else %}
              {% image self.image_banner width-1000 %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="opinion-series-label">A CIGI Essay Series</div>
          <h1>{{ self.title }}</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="short-description">
            {{ self.short_description|richtext }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="article-series-in-the-series">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <h2>In the Series</h2>
          {% for series_item in self.article_series_items %}
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            <article>
              {% with series_item.content_page.specific as article %}
              <h3>
                {{ article.title }}
              </h3>
              <ul class="authors">
                {% for item in article.authors.all %}
                  <li><a href="{% pageurl item.author %}">{{ item.author.title }}</a></li>
                {% endfor %}
              </ul>
              <div class="article-overlay">
                <a href={{article.url}} class="description-link">
                  <div class="article-short-description">
                    {{ article.short_description|richtext }}
                  </div>
                </a>
                <div class="article-links">
                  <a href={{article.url}}>
                    <button type="button">Read</button>
                  </a>
                </div>
              </div>
              {% endwith %}
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% if self.credits %}
    <section class="credits">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <h2>Credits</h2>
            <div class="credits-content">
              {{ self.credits|richtext }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <div class="container">
    <div class="row justify-content-center loaders">
      <div id="article-message" class="show">
        <i class="far fa-arrow-down fa-2x"></i>
        Scroll down to read series introduction
      </div>
      <div id="spinner">
        <img src="/static/assets/loader_spinner.gif" alt="Loading..." />
        Loading Article...
      </div>
    </div>
  </div>
  <section id="introduction-article" class="ai-ethics-series-article">
    <section class="article-hero">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 hero-content">
            <h2 id="introduction-title"><h2>
            <ul id="introduction-authors" class="custom-text-list authors"></ul>
          </div>
        </div>
      </div>
    </section>
    <section id="introduction-body"></div>
  </section>
{% endblock %}
