{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/vvu3obm.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeAIEthicsSeries' 'css' %}
{% endblock %}

{% block body_class %}ai-ethics-series-article{% endblock %}

{% block hero %}

<section class="article-hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 hero-content">
        <h1>{{ self.title }}</h1>
        {% include "includes/authors.html" with authors=self.authors.all %}
        {% include "includes/date.html" with date=self.publishing_date %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-3">
        {% image self.image_banner width-1000 class='banner' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block in_the_series %}
{% if self.article_series %}
  {% include "./includes/in_the_series.html" with article_series=self.article_series.specific %}
{% endif %}
{% endblock %}
