.cyber-series-in-the-series {
  padding: 0 0 3em;
  position: relative;

  .cyber-overlay {
    background: $black;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .cyber-series-in-the-series-title {
    h3 {
      @include link($color: $cyber-series-primary-colour, $hover-color: $cyber-series-primary-colour);
      border-top: 0;
      font-family: $cyber-font;
      font-size: 1.5em;
      line-height: 1em;
      margin: 3em 0 2em;
      width: 60%;

      span {
        background-image: linear-gradient(to right, $cyber-series-in-the-series-title-background 0%, $cyber-series-in-the-series-title-background 100%);
        background-position: 0 260%;
        background-repeat: repeat-x;
        background-size: 100% 1em;
      }
    }

    .sub-heading {
      border-bottom: solid 1px $cyber-series-primary-colour;
      color: $cyber-series-primary-colour;
      font-family: $cyber-font;
      font-size: 1.125em;
      margin: 0.5em 0 1.5em;
      position: relative;

      &::before {
        animation: bounce 2s infinite alternate;
        color: $cyber-series-primary-colour;
        content: '\f078';
        font-family: 'font awesome 5 pro';
        font-size: 12px;
        left: -20px;
        position: absolute;
        top: 7px;
      }
    }
  }

  .cyber-series-article-series-series-items {
    column-gap: 4em;
    columns: 2;

    article {
      break-inside: avoid;
      margin-bottom: 2em;
      position: relative;

      .article-title {
        color: $cyber-series-text-grey;
        font-family: $cyber-font;
        font-size: 0.875em;

        a {
          background-image: linear-gradient(transparent calc(100% - 2px), $cyber-series-primary-colour 5px);
          background-repeat: no-repeat;
          background-size: 0% 100%;
          color: $white;
          font-weight: 400;
          transition: background-size 500ms;

          &:hover {
            background-size: 100% 100%;
            color: $white;
          }
        }

        [href^='/multimedia'] {
          margin-left: -25px;
          padding-left: 25px;
          position: relative;

          &::before {
            background-color: $cyber-series-primary-colour;
            border-radius: 0.1em;
            color: $black;
            content: '\f054';
            font-family: 'font awesome 5 pro';
            font-weight: 600;
            left: 0;
            padding: 0.1em 0.25em;
            position: absolute;
          }
        }
      }

      .authors {
        font-size: 0.75rem;
        margin: 0;
        text-transform: uppercase;

        span {
          @include link($color: $cyber-series-primary-colour, $hover-color: $cyber-series-primary-colour);
          @include slash-separated($color: $cyber-series-primary-colour);
        }
      }
    }
  }
}
