.cyber-series-in-the-series {
  padding: 3em 0;
  position: relative;

  .cyber-overlay {
    background: $black;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .cyber-series-article-series-series-items {
    column-gap: 3em;
    columns: 2;

    article {
      .article-title {
        font-family: $cyber-font;
        font-size: 1em;

        a {
          background-image: linear-gradient(transparent calc(100% - 2px),$cyber-series-primary-colour 5px);
          background-repeat: no-repeat;
          background-size: 0% 100%;
          color: $white;
          font-weight: 400;
          transition: background-size 500ms;

          &:hover {
            background-size: 100% 100%;
            color: $white;
          }
        }

        [href^='/multimedia'] {
          margin-left: -30px;

          &::before {
            background-color: $cyber-series-primary-colour;
            border-radius: 0.1em;
            color: $black;
            content: '\f054';
            font-family: 'font awesome 5 pro';
            font-weight: 600;
            padding: 0.1em 0.25em;
          }
        }

      }

      .authors {
        text-transform: uppercase;
        font-size: 0.875rem;

        span {
          @include link($color: $cyber-series-primary-colour);
          @include slash-separated;
        }
      }
    }
  }
}
