{% load wagtailcore_tags menu_tags cache static %}


<header class="think7-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="{% static 'assets/think7-logo.png' %}" alt="Logo" class="logo">
      </a>

      {% get_menu_items 'think7' as think7_menu_items %}
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for menu_item in think7_menu_items %}
            <li class="nav-item">
              {% if menu_item.link_page %}
                <a class="nav-link" href="{% pageurl menu_item.link_page %}">
                  {{ menu_item.title }}
                </a>
              {% elif menu_item.link_url %}
                <a class="nav-link" href="{{ menu_item.link_url }}">
                  {{ menu_item.title }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
