{% load wagtailcore_tags menu_tags cache static core_tags %}


<header class="think7-header">
  <div class="container">
    <nav class="navbar">
      <div class="d-flex align-items-center">
        <a class="navbar-brand t7-logo" href="/" aria-label="Home">
          <img src="/static/assets/t7-logo-animated-v4.gif" alt="T7 Logo" class="logo">
        </a>
        <a class="navbar-brand g7-logo" href="https://g7.canada.ca/" target="_blank" rel="noreferrer" aria-label="G7 website">
          <img src="/static/assets/G72025_LOGO_colour.png" alt="G7 Logo" class="g7-logo">
        </a>
      </div>

      {% get_menu_items 'think7' as think7_menu_items %}

      <ul class="navbar-nav">
        {% for menu_item in think7_menu_items %}
          <li class="nav-item">
            {% if menu_item.link_page.url_path == self.url_path or menu_item.link_url == request.path  %}
              {{ menu_item.title }}
            {% else %}
              <a href="
                {% if menu_item.link_url %}
                  {{ menu_item.link_url }}
                {% else %}
                  {% pageurl menu_item.link_page %}
                {% endif %}
              ">
                {{ menu_item.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      
      <button class="custom-nav-popup-btn overlay-controls-button" id="open-menu-btn" role="button" aria-expanded="false" aria-label="Open menu">
        <span class="icon-opened"><i class="far fa-times"></i></span>
        <span class="icon-closed"><i class="far fa-bars"></i></span>
      </button>
    </nav>
    <ul id="dropdown-menu" class="navbar-nav dropdown hide">
      {% for menu_item in think7_menu_items %}
        <li class="nav-item">
          {% if menu_item.link_page.url_path == self.url_path or menu_item.link_url == request.path  %}
            {{ menu_item.title }}
          {% else %}
            <a href="
              {% if menu_item.link_url %}
                {{ menu_item.link_url }}
              {% else %}
                {% pageurl menu_item.link_page %}
              {% endif %}
            ">
              {{ menu_item.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</header>
