{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader core_tags cache wagtailimages_tags %}

{% block extra_css %}
  {% render_bundle 'think7' 'css' %}
  {% render_bundle 'think7HomePage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'think7' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}think7-homepage{% endblock %}

{% block header %}
  {% include "./includes/top_bar.html" %}
{% endblock %}

{% block content %}
  <section class="body" id="article-body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <h2>About Think 7</h2>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>

  <section class="advisory-board">
    {% for block in self.board_members %}
      {% include_block block %}
    {% endfor %}
  </section>

  <section class="task-forces">
    <div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2>Task Forces</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col">
            <div class="task-forces-list">
              {% for task_force in self.get_task_forces %}
                <div class="task-force">
                  <div class="img-wrapper">
                    {% if task_force.specific.image_hero %}
                      {% image task_force.specific.image_hero fill-750x1000 %}
                    {% endif %}
                  </div>
                  <div class="task-force-overlay">
                    <div class="label">{{ task_force.specific.task_force_label }}</div>
                    <h3>
                      <a href="{% pageurl task_force %}">
                        {{ task_force.title }}
                      </a>
                    </h3>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block footer %}
  {% include "./includes/footer.html" %}
{% endblock %}