{% extends "think7_base.html" %}
{% load wagtailcore_tags webpack_loader core_tags cache wagtailimages_tags %}

{% block extra_css %}
  {% render_bundle 'think7ProjectListPage' 'css' %}
{% endblock %}

{% block content %}
  <section class="body" id="article-body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <h1>Task Forces and Key Policy Areas</h1>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>

  <section class="task-forces">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="task-forces-list">
            {% for task_force in self.get_task_forces %}
              <div class="task-force">
                <div class="img-wrapper">
                  <a href="{% pageurl task_force %}">
                    {% if task_force.specific.image_hero %}
                      {% image task_force.specific.image_hero fill-750x1000 %}
                    {% endif %}
                  </a>
                </div>
                <div class="task-force-info">
                  <h3>
                    <a href="{% pageurl task_force %}">
                      {{ task_force.title }}
                    </a>
                  </h3>
                  <div class="task-force-subtitle">
                    {{ task_force.specific.subtitle|richtext }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
