{% extends "think7_base.html" %}
{% load wagtailcore_tags webpack_loader core_tags cache wagtailimages_tags %}

{% block extra_css %}
{% render_bundle 'think7PublicationPage' 'css' %}
{% endblock %}

{% block content %}
  <section class="t7-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          {% if self.taskforce %}
            <a href="{% pageurl self.taskforce %}">
              Task Force {{ self.taskforce.task_force_label }}:
              {{self.taskforce.title}}
            </a>
          {% endif %}
          <h1>{{ self.title }}</h1>
          <div class="authors">{{ self.authors }}</div>
          {% include "includes/date.html" with date=self.publishing_date %}
        </div>
      </div>
    </div>
  </section>
  <section class="pdf-download">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="pdf-downloads">
            <a href="{{ self.pdf_attachment.url }}" target="_blank">
              <button type="button">
                Download PDF
              </button>
            </a>
            {% if self.pdf_attachment_fr %}
              <a href="{{ self.pdf_attachment_fr.url }}" target="_blank">
                <button type="button">
                  Télécharger le PDF
                </button>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if self.abstract %}
    <section class="abstract">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <h2 class="section-heading">Abstract</h2>
            {{ self.abstract|richtext }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if self.body %}
    <section class="body">
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}
{% endblock %}