{% extends "think7_base.html" %}
{% load wagtailcore_tags webpack_loader core_tags cache wagtailimages_tags %}

{% block extra_css %}
{% render_bundle 'think7PublicationListPage' 'css' %}
{% endblock %}
{% block extra_js %}
{% render_bundle 'think7PublicationListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <section class="t7-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <h1>{{ self.title }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="body">
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
  <section class="publications">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="taskforce-form-wrapper">
            <label for="taskforce">Task Force:</label>
            <form method="get" id="taskforce-filter-form">
              <select name="taskforce" id="taskforce-select">
                  <option value="">All</option>
                  {% for tf in taskforces %}
                    <option value="{{ tf.slug }}" {% if tf.slug == selected_taskforce %}selected{% endif %}>
                        {{ tf.title }}
                    </option>
                  {% endfor %}
              </select>
              <i class="fas fa-angle-down" id="taskforce-select-caret"></i>
            </form>
          </div>
        
          {% for publication in publications %}
            <div class="publication">
              <div class="img-wrapper">
                <a href="{% pageurl publication %}">
                  {% if publication.image_poster %}
                    {% image publication.image_poster width-700 %}
                  {% endif %}
                </a>
              </div>
              <div class="publication-info">
                <div class="publication-taskforce">
                  <a href="{% pageurl publication.taskforce %}">
                    {{ publication.taskforce.title }}
                  </a>
                </div>
                <h3>
                  <a href="{% pageurl publication %}">
                    {{ publication.title }}
                  </a>
                </h3>
                <div class="publication-authors">
                  {{ publication.authors }}
                </div>
                {% if publication.publication_type %}
                  <div class="publication-type">
                    {{ publication.publication_type|revert_snake_case|remove_trailing_s|title }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% empty %}
            <div>No publications found.</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}