{% extends "think7_base.html" %}

{% load webpack_loader wagtailcore_tags %}

{% block content %}
  {% if subscription_type == 'think7' and status != 'subscribed_success' %}
    {% include "includes/heroes/hero_plain.html" with title="There was an error with the subscription." %}
    <section class="body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12{% if full_heading is not True %} col-md-10 col-lg-8{% endif %}">
            {{ status}}
            {% if status == 'pending' %}
              <p>In order to complete your subscription, please check your inbox for a confirmation email. If it does not appear in your inbox, please check your spam or junk folder. If you did not receive a confirmation email please contact us: <a href="mailto:info@think7.org">info@think7.org</a>.</p>
            {% elif status == 'subscribed' %}
              <p>Your email is already subscribed. Please check your inbox for any updates.</p>
            {% elif status == 'unsubscribed' %}
              <p>Your email has been unsubscribed. If you would like to resubscribe,please use the links in the unsubscribe confirmation email, or contact us: <a href="mailto:info@think7.org">info@think7.org</a>.</p>
            {% elif status == 'error' %}
              <p>There was an error with your subscription. Please contact us for assistance: <a href="mailto:info@think7.org">info@think7.org</a>.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% else %}
    {% include "includes/heroes/hero_plain.html" with title="Thank you for signing up!" %}
    {{ self.landing_page_body }}
  {% endif %}
{% endblock %}
