{% extends "think7_base.html" %}
{% load wagtailcore_tags webpack_loader core_tags cache wagtailimages_tags %}

{% block extra_css %}
  {% render_bundle 'think7AbstractSubmissionPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'think7AbstractSubmissionPage' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}think7-abstract-page{% endblock %}

{% block content %}
  <section class="body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <h1>Abstract Submission</h1>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>

  <section class="abstract-submission">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="form-wrapper">
            <p>Please upload your abstract as either a PDF (.pdf) or Word (.doc/.docx) file.</p>
            <form id="abstractUploadForm" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-fields">
                <div class="form-field">
                  {{ form.file.label_tag }}
                  {{ form.file }} 
                </div>
                <div class="form-field">
                  {{ form.email.label_tag }}
                  {{ form.email }}
                </div>
              </div>
              <button type="submit">Upload File</button>
            </form>
            <div>
              <div id="responseMessage" class="response-message"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
