{% load wagtailcore_tags webpack_loader wagtailimages_tags core_tags %}

{% block extra_css %}
  {% render_bundle 'think7ProjectPage' 'css' %}
{% endblock %}

<div class="container chair-block">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8">
    {% if self.name %}
      {% define self.name as name %}
    {% elif self.chair %}
      {% define self.chair.title as name %}
    {% endif %}
    {% if self.image %}
      {% define self.image as image %}
    {% elif self.chair.image_square %}
      {% define self.chair.image_square as image %}
    {% endif %}
    {% if self.url %}
      {% define self.url as url %}
    {% elif self.chair.url %}
      {% define self.chair.url as url %}
    {% endif %}
    {% if self.position %}
      {% define self.position as position %}
    {% elif self.chair.position %}
      {% define self.chair.position as position %}
    {% endif %}
    {% if image %}
      <div class="person-info">
        <a href="{{ url }}" class="person-photo">
          <div class="img-wrapper">
            {% image image fill-300x300 %}
          </div>
        </a>
    {% else %}
      <div class="person-info justify-content-center">
    {% endif %}
        <div>
          <h2>Chair</h2>
          <a href="{{ url }}" class="person-name">{{ name }}</a>
          <div class="person-function">
            {{ position }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>