{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader static %}

{% block theme_css %}
  {% render_bundle 'themeARTest' 'css' %}
{% endblock %}

{% block theme_js %}
  {% render_bundle 'themeARTest' 'js' %}
{% endblock %}
  

{% block content %}
<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col col-md-8 col-lg-6">
      <h1>AR TEST ARTICLE</h1>
    </div>
    <a href="/ar-player">
      <button class="button" id="test-ar" type="button">Test AR</button>
    </a>
  </div>
  <div class="row mt-5 pt-5">
    <img id="img-hiro" src="https://raw.githubusercontent.com/AR-js-org/AR.js/master/data/images/hiro.png" alt="">
  </div>
</div>
{% endblock %}


