{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags webpack_loader %}

{% block meta_description %}
  {% if page.archive %}
    {% if page.position %}
      <meta name="description" content="{{ page.position|formerize_position }}" />
    {% endif %}
  {% elif self.short_bio %}
    <meta name="description" content="{{ self.short_bio|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if page.archive %}
    {% if page.position %}
      <meta name="og:description" content="{{ page.position|formerize_position }}" />
    {% endif %}
  {% elif self.short_bio %}
    <meta property="og:description" content="{{ self.short_bio|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  <meta property="og:type" content="profile" />
{% endblock %}
{% block og_image %}
  {% if not page.archive %}
    {% if self.image_media %}
      {% image self.image_media fill-1600x900 as og_image %}
    {% endif %}
    {% if og_image %}
      <meta property="og:image" content="{{ og_image.url }}" />
    {% else %}
      {% include "includes/og_image_default.html" %}
    {% endif %}
  {% endif %}
{% endblock %}
{% block extra_og_meta %}
  {% if self.first_name %}
    <meta property="profile:first_name" content="{{ self.first_name }}" />
  {% endif %}
  {% if self.last_name %}
    <meta property="profile:last_name" content="{{ self.last_name }}" />
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% render_bundle 'personPage' 'css' %}
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    var personId = {{ self.id }};
  </script>
  {% render_bundle 'personPage' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}person-page{% for person_type in page.person_types.all %} {{person_type|slugify}}{% endfor %}{% endblock %}

{% block content %}
  <article>
    <section class="hero{% if page.archive %} archived{% endif %}">
      <div class="container">
        <div class="row hero-container">
          <div class="col-md-8 col-lg-6 hero-main">
            <h1>{{page.title}}</h1>
            {% if page.position and page.archive %}
              <div class="position">
                {% if not 'Former' in page.position %}Former {% endif %}{{ page.position }}
              </div>
            {% else %}
              <div class="short-bio">
                {{page.short_bio|richtext}}
              </div>
            {% endif %}
          </div>
          {% if page.image_square and not page.archive %}
            <div class="col-md-3 col-lg-2 offset-lg-3 portrait-circle">
              {% image page.image_square fill-200x200 %}
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    {% if not page.archive %}
      {% if page.expertise or page.email or page.twitter_username or page.website or page.linkedin_url or page.image_media or page.phone_number_clean or page.curriculum_vitae %}
        <section class="expertise">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <div class="expertise-container">
                  {% if page.expertise %}
                    <div class="meta">Expertise</div>
                    <div class="meta">
                      {% for expertise in page.expertise %}
                        <span class="expertise-item">{{ expertise }}</span>
                      {% endfor %}
                    </div>
                    {% if page.email or page.twitter_username or page.website or page.linkedin_url or page.image_media or page.phone_number_clean or page.curriculum_vitae %}
                      <hr>
                    {% endif %}
                  {% endif %}

                  <div class="contact">
                    {% if page.phone_number_clean %}
                      <div class="contact-item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        {{ page.phone_number_clean }}
                      </div>
                    {% endif %}

                    {% if page.email %}
                      <div class="contact-item">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                      </div>
                    {% endif %}

                    {% if page.twitter_username %}
                      <div class="contact-item">
                        <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                        <a href="https://twitter.com/{{ page.twitter_username }}" target="_blank">{{ page.twitter_username }}</a>
                      </div>
                    {% endif %}

                    {% if page.linkedin_url %}
                      <div class="contact-item">
                        <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                        <a href="{{ page.linkedin_url }}" target="_blank">{{ page.linkedin_url|no_protocol }}</a>
                      </div>
                    {% endif %}

                    {% if page.website %}
                      <div class="contact-item">
                        <i class="fas fa-link" aria-hidden="true"></i>
                        <a href="{{ page.website }}" target="_blank">{{ page.website|no_protocol }}</a>
                      </div>
                    {% endif %}

                    {% if page.curriculum_vitae %}
                      <div class="contact-item">
                        <i class="far fa-newspaper" aria-hidden="true"></i>
                        <a href="{{ page.curriculum_vitae.url }}" target="_blank">Curriculum Vitae</a>
                      </div>
                    {% endif %}

                    {% if page.image_media and page.person_types.all|any_in_list:'Expert,Board Member,Media Contact' %}
                      {% image page.image_media original as high_res %}
                      <div class="contact-item">
                        <i class="fas fa-download" aria-hidden="true"></i>
                        <a href="{{ high_res.url }}" target="_blank">High-resolution Photo</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% include "includes/body.html" with body=self.body heading="Bio" %}

      {% if self.latest_cigi_in_the_news %}
        <section>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8">
                <h2 class="paragraph-heading">
                  In the News
                </h2>
                <div class="person-in-the-news">
                  {% for article in self.latest_cigi_in_the_news %}
                    <article>
                      <p class="meta">{{ article.contentsubtype }}</p>
                      <h3>
                        <a href="{% pageurl article %}">
                          {{ article.title }}
                        </a>
                      </h3>
                      <p class="meta">
                        {{ article.publishing_date|date:"F j, Y" }}
                      </p>
                      {% include "includes/authors.html" with authors=article.authors.all %}
                    </article>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if page.external_publications %}
      {% with publication.value.publication_type|lower as type %}
        <section class="external-publications">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <h2 class="paragraph-heading">Select Publications</h2>
                {% for publication in page.external_publications %}
                  <article>
                    <div class="counter">{{ forloop.counter }}.</div>
                    <div>
                      {% if publication.value.author %}
                        <span>{{publication.value.author}}</span>.
                      {% endif %}

                      {% if publication.value.year %}
                        <span>{{publication.value.year}}</span>.
                      {% endif %}

                      {% if publication.value.title %}
                        <span>
                          {% if type == 'book' or type == 'edited_book' or type == 'e_book' %}
                            <em>
                              {% if publication.value.url %}
                                <a href="{{ publication.value.url }}">{{ publication.value.title }}</a>.
                              {% else %}
                                {{ publication.value.title }}.
                              {% endif %}
                            </em>
                          {% else %}
                            {% if publication.value.url %}
                              "<a href="{{ publication.value.url }}">{{ publication.value.title }}</a>".
                            {% else %}
                              "{{ publication.value.title }}".
                            {% endif %}
                          {% endif %}
                        </span>
                      {% endif %}

                      {% if publication.value.secondary_title %}
                        {% if type == 'report' or type == 'thesis' %}
                          <span>{{ publication.value.secondary_title }}</span>.
                        {% elif type != 'book' or type != 'edited_book' %}
                          <span><em>{{ publication.value.secondary_title }}</em></span>.
                        {% endif %}
                      {% endif %}

                      {% if publication.value.secondary_author %}
                        <span>{{ publication.value.secondary_author }}<span>.
                      {% endif %}

                      {% if publication.value.secondary_title %}
                        {% if type == 'book' or type == 'edited_book' %}
                          <span><em>{{ publication.value.secondary_title }}</em></span>.
                        {% endif %}
                      {% endif %}

                      {% if publication.value.publisher_info %}
                        <span><em>{{ publication.value.publisher_info }}</em><span>.
                      {% endif %}

                      {% if publication.value.location_in_work %}
                        <span>{{ publication.value.location_in_work }}<span>.
                      {% endif %}
                    </div>
                  </article>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      {% endwith %}
      {% endif %}
    {% endif %}
    {% if self.has_authored_content %}
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="paragraph-heading">
                From This Expert
              </h2>
              <div id="expert-search-table" class="expert-search-table">
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  </article>
{% endblock content %}
