{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  {% render_bundle 'personListExpertsPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'personListExpertsPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}
  {% include "includes/body.html" with body=self.body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          {% include 'includes/experts_search_bar.html' %}
          <table class="custom-theme-table table-experts">
            <thead>
            <tr>
              <th colspan="3">Name</th>
              <th colspan="4">Expertise</th>
              <th colspan="4">Recent activity</th>
            </tr>
            </thead>
            <tbody>

            {% for person in people %}
              <tr>
                <td colspan="3">
                  <div class="table-mobile-text">Name</div>
                  <div class="table-infos-wrapper">
                    <a href="{{ person.url }}" class="table-thumbnail-photo">
                      {% image person.image_square width-300 as image_square %}
                      <div class="img-wrapper" style="background-image: url('{{ image_square.url }}');"></div>
                    </a>
                    <div class="table-infos">
                      <a href="{{ person.url }}" class="table-title-link">{{ person.title }}</a>
                      <div class="table-infos-function">{{ person.position }}</div>
                    </div>
                  </div>
                </td>

                <td colspan="4">
                  <div class="table-mobile-text">Expertise</div>
                  <div class="table-content">
                    <ul class="custom-text-list">
                      {% with person.expertise as expertise_blocks %}
                        {% for expertise_block in expertise_blocks %}
                          {% if expertise_block.block_type == 'expertise' %}
                            <li class="table-list-item">{{ expertise_block.value }}</li>
                          {% endif %}
                        {% endfor %}
                      {% endwith %}
                    </ul>
                  </div>
                </td>
                <td colspan="4">
                  <div class="table-mobile-text">Recent Activity</div>
                  <div class="table-content">
                    <div class="table-recent-activity">
                      {% comment %}
                      {% if recent-activity is opinion % }
                      {% endcomment %}
                      <span class="table-icon icon-opinion"><i class="fal fa-comment-dots"></i></span>
                      {% comment %}
                      {% endif recent-activity is publication}
                      <span class="table-icon icon-publication"><i class="fal fa-file-alt"></i></span>
                      {% else %}
                      <span class="table-icon icon-media"><i class="fal fa-bullhorn"></i></span>
                      {% endif}
                      {% endcomment %}
                      <a href="#" class="table-title-link">Can the Digital Economy Survive in a Splinternet?</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
