{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header %}
  {% include "includes/top_bar.html" %}
  {% include "includes/top_bar_menu.html" with title=self.title submenu=self.submenu %}
{% endblock %}

{% block body_class %}basic-page{% endblock %}

{% block content %}
  {% if self.subtitle %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <h2 class="subtitle">{{ self.subtitle|richtext }}</h2>
        </div>
      </div>
    </div>
  {% endif %}
  {% include "includes/body.html" with body=self.body %}
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <section class="people-person-leadership-list-section">
            <div class="tab-content" id="person-leadership-tab-content">
              <div class="tab-pane fade show active" id="senior-management" role="tabpanel" aria-labelledby="senior-management-tab">
                {% include 'includes/people_person_leadership_list.html' with people=leadership %}
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
