{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header %}
  {% include "includes/top_bar.html" %}
  {% if self.submenu %}
    {% include "includes/top_bar_menu.html" with submenu=self.submenu %}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "includes/body.html" with body=self.body %}
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          {% include 'includes/people_person_leadership_tabs.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
