{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags core_tags topic_tags %}

{% block body_class %}person-page{% for person_type in page.person_types.all %} {{person_type|slugify}}{% endfor %}{% endblock %}

{% block content %}
{% with page.expertise as expertises %}
{% with page.email as email %}
{% with page.twitter_username as twitter %}
{% with page.website as website %}
{% with page.linkedin_url as linkedin %}
{% with page.image_media as image_media %}
{% with page.phone_number as phone %}
{% with page.curriculum_vitae as cv %}
  

{% if not page.archive %}
  <section class="hero">
    <div class="container-lg grid-container">
      <div class="content">
        <h1>{{page.title}}</h1>
        <div class="short-bio">
          {{page.short_bio|richtext}}
        </div>
      </div>
      {% if page.image_square %}
        <div class="portrait-circle">
          {% image page.image_square fill-140x140 %}
        </div>
      {% endif %}
    </div>
  </section>
{% else %}
  <section class="hero archived">
    <div class="container-sm">
      <div class="content">
        {% if page.topics %}
          {% topics page.topics.all %}
        {% endif %}
        <h1>{{page.title}}</h1>
        <div class="person-type">
          Former {% for person_type in page.person_types.all %}{{person_type}}{% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

<section class="main container-sm">
  {% if not page.archive %}
    {% if expertises or email or twitter or website or linkedin or image_media or phone or cv %}
      <div class="expertise-section">
        {% if expertises %}
          <div class="meta">Expertise</div>
          <div class="meta">
            {% for expertise in expertises %}
              <span class="expertise-item">{{expertise}}</span>
            {% endfor %}
          </div>
          {% if email or twitter or website or linkedin or image_media or phone or cv %}
            <hr>
          {% endif %}
        {% endif %}
        
        <div class="contact">
          {% if phone %}
            <div class="contact-item">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>{{ phone }}</span>
            </div>
          {% endif %}

          {% if email %}
            <div class="contact-item">
              <i class="fas fa-envelope" aria-hidden="true"></i>
              <span><a href="mailto:{{ email }}">{{ email }}</a></span>
            </div>
          {% endif %}

          {% if twitter %}
            <div class="contact-item">
              <i class="fab fa-twitter" aria-hidden="true"></i>
              <span><a href="https://twitter.com/{{ twitter }}" target="_blank">{{ twitter }}</a></span>
            </div>
          {% endif %}

          {% if linkedin %}
            <div class="contact-item">
              <i class="fab fa-linkedin-in" aria-hidden="true"></i>
              <span><a href="{{ linkedin }}" target="_blank">{{ linkedin|no_protocol }}</a></span>
            </div>
          {% endif %}

          {% if website %}
            <div class="contact-item">
              <i class="fas fa-link" aria-hidden="true"></i>
              <span><a href="{{ website }}" target="_blank">{{ website|no_protocol }}</a></span>
            </div>
          {% endif %}

          {% if cv %}
            <div class="contact-item">
              <i class="far fa-newspaper" aria-hidden="true"></i>
              <span><a href="{{ cv.url }}" target="_blank">Curriculum Vitae</a></span>
            </div>
          {% endif %}

          {% if image_media %}
            {% image image_media original as high_res %}
            <div class="contact-item">
              <i class="fas fa-download" aria-hidden="true"></i>
              <span><a href="{{ high_res.url }}" target="_blank">High-resolution Photo</a></span>
            </div>
          {% endif %}

        </div>
      </div>
    {% endif %}

    {% if page.body %}
      <div class="full-bio">
        <h2>Bio</h2>
        {{ page.body }}
      </div>
    {% endif %}

    {% if page.external_publications %}
    {% with publication.value.publication_type|lower as type %}
      <h2>Select Publications</h2>
      <ol class="external-publications">
        {% for publication in page.external_publications %}
          <li class="external-publication">
            {% if publication.value.author %}
              <span>{{publication.value.author}}</span>.
            {% endif %}

            {% if publication.value.year %}
              <span>{{publication.value.year}}</span>.
            {% endif %}

            {% if publication.value.title %}
              <span>
                {% if type == 'book' or type == 'edited_book' or type == 'e_book' %}
                  <em>
                    {% if publication.value.url %}
                      <a href="{{ publication.value.url }}">"{{ publication.value.title }}"</a>.
                    {% else %}
                      {{ publication.value.title }}.
                    {% endif %}
                  </em>
                {% else %}
                  {% if publication.value.url %}
                    <a href="{{ publication.value.url }}">"{{ publication.value.title }}"</a>.
                  {% else %}
                    "{{ publication.value.title }}".
                  {% endif %}
                {% endif %}
              </span>
            {% endif %}

            {% if type == 'report' or type == 'thesis' and publication.value.secondary_title %}
              <span>{{ publication.value.secondary_title }}</span>.
            {% elif type == 'generic' or type == 'book_section' and publication.value.secondary_title %}
              <span><em>{{ publication.value.secondary_title }}</em></span>.
            {% endif %}
              
            {% if publication.value.secondary_author %}
              <span>{{ publication.value.secondary_author }}<span>.
            {% endif %}

            {% if type == 'book' or type == 'edited_book' and publication.value.secondary_title %}
              <span><em>{{ publication.value.secondary_title }}</em></span>.
            {% endif %}

            {% if publication.value.publisher_info %}
              <span><em>{{ publication.value.publisher_info }}</em><span>.
            {% endif %}
            
            {% if publication.value.location_in_work %}
              <span>{{ publication.value.location_in_work }}<span>.
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endwith %}
    {% endif %}
  {% endif %}
</section>

{%endwith%}{%endwith%}{%endwith%}{%endwith%}{%endwith%}{%endwith%}{%endwith%}{%endwith%}
{% endblock content %}
