{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_css %}
  {% render_bundle 'personListExpertsPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'personListExpertsPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/top_bar_menu.html" with title='Research' %}
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero__content">
            <p>{{ self.subtitle|richtext }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "includes/body.html" with body=self.body %}
  <section class="layout layout--expert">
    <div class="container layout">
      {% for block in self.layout %}
        {% include_block block %}
        {% if not forloop.last %}
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="experts-search-table" data-revision-date={{ self.latest_revision_created_at|date:"U" }}>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
