{% load static wagtailcore_tags core_tags %}

<section class="about-the-author">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <h3>{% if title_override %}{{ title_override }}{% else %}About the Author{% endif %}{{author_count|pluralize}}</h3>
        {% for item in authors %}
          {% if item.author %}
            {% define item.author as person %}
          {% elif item.editor %}
            {% define item.editor as person %}
          {% endif %}
          <div class="author-block">
            <div class="name">
              <a href="{% pageurl person %}">{{ person.title }}</a>
            </div>
            {% if not item.hide_link and person.short_bio|length > 1 and not person.archive %}
              {{ person.short_bio|richtext }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
