{% load static wagtailcore_tags %}

<section class="about-the-author">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <h3>{% if title_override %}{{ title_override }}{% else %}About the Author{% endif %}{{authors|length|pluralize}}</h3>
        {% for item in authors %}
          <div class="author-block">
            <div class="name">
              <a href="{{ item.author.url }}">
                {{ item.author.title }}
              </a>
            </div>
            {% if item.author.short_bio|length > 1 %}
              {{ item.author.short_bio|richtext }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
