{% load wagtailcore_tags core_tags %}

{% if authors %}
  <div class="custom-text-list authors">
    {% for item in authors %}
      {% if item.author %}
        {% define item.author as person %}
      {% elif item.editor %}
        {% define item.editor as person %}
      {% endif %}
      {% if item.hide_link or hide_link or person.is_external_profile %}
        <span class="block-author">{{ person.title }}</span>
      {% else %}
        <a class="block-author" href="{% pageurl person %}">{{ person.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
