{% load wagtailcore_tags %}

{% if body %}
  <section class="body" id="article-body">
    {% if heading %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12{% if full_heading is not True %} col-md-10 col-lg-8{% endif %}">
            <h2 class="paragraph-heading">{{ heading }}</h2>
          </div>
        </div>
      </div>
    {% endif %}
    {% for block in body %}
      {% if block.block_type != 'additional_disclaimer' and block.block_type != 'additional_file' %}
        {% include_block block %}
      {% endif %}
    {% endfor %}
  </section>
{% endif %}
