<table class="table-related-files">
  <thead>
    <tr>
      <th class="table-wide-lg">Attachment</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-wide-lg">
        <a href="https://www.cigionline.org/sites/default/files/strategic_report_2015.pdf"
          type="application/pdf; length=4818390" title="strategic_report_2015.pdf">
          <i class="far fa-file-pdf"></i>
          Strategic Plan 2015–2020
        </a>
      </td>
      <td>
        1.19 MB
      </td>
    </tr>
    <tr>
      <td class="table-wide-lg">
        <a href="https://www.cigionline.org/sites/default/files/strategic_report_2015.pdf"
          type="application/pdf; length=4818390" title="strategic_report_2015.pdf">
          <i class="far fa-file-pdf"></i>
          CIGI Response International Law Research Program Evaluation 2018
        </a>
      </td>
      <td>
        1.19 MB
      </td>
    </tr>
  </tbody>
</table>
