<div class="search-bar">
  <form action="" class="search-bar-form">
    <div class="form-row position-relative">
      <div class="col-md-9 position-static search-bar-form-col-search">
        <div class="input-group input-group-search">
          <input type="text" class="form-control" placeholder="Search Experts" aria-label="search-bar" aria-describedby="search-bar" required>
          <div class="input-group-append">
            <button class="btn-search" type="submit" id="search-bar"><i class="far fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-3 position-static">
        <div class="dropdown custom-dropdown dropdown-full-width">
          <a class="dropdown-toggle" href="#" role="button" id="search-bar-topics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All topics
          </a>
          <div class="dropdown-menu" aria-labelledby="search-bar-topics">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here with a super long title</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Something else here with a super long title</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="search-bar-sort-wrapper">
    <span>Sort by:</span>
    <ul class="search-bar-sort-list">
      <li><a href="#" class="search-bar-sort-link active">First Name</a></li>
      <li><a href="#" class="search-bar-sort-link">Last Name</a></li>
    </ul>
  </div>
</div>
