{% load wagtailcore_tags wagtailimages_tags core_tags %}

<div class="feature-content-wrapper feature-content-{{content|page_type}}">
  <a href="{{content.url}}" class="feature-content-image">
    <div class="img-wrapper">
      {% image content.image_hero width-400 %}
    </div>
  </a>

  <ul class="custom-text-list feature-content-topic-list">
    {% for topic in content.topics.all %}
      <li><a href="{% slugurl topic.slug %}" class="table-content-link">{{ topic }}</a></li>
    {% endfor %}
  </ul>

  <p class="feature-content-title">
    <a href="{{content.url}}">
      {{content}}
    </a>
  </p>

  {% if content|page_type|in_list:'opinion,publication' %}
    {% define content.authors as people %}
  {% elif content|page_type|in_list:'multimedia,event' %}
    {% define content.speakers as people %}
  {% endif %}

  {% if people %}
    <ul class="custom-text-list feature-content-people-list">
      {% with 3 as people_limit %}
        {% for person in people %}
          {% if forloop.counter <= people_limit %}
            <li><a href="{{ person.value.url }}">{{ person.value }}</a></li>
          {% elif forloop.counter == people_limit|add:1 %}
            <li>And more</li>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </ul>
  {% endif %}

  <p class="feature-content-date">{{ content.publishing_date|date:"F m, Y" }}</p>
</div>
