{% load wagtailcore_tags wagtailimages_tags core_tags %}
{% define content.get_verbose_name|slugify as content_type %}
{% if content_type == 'multimedia' %}
{% define content.speakers as people_blocks %}
{% else %}
{% define content.authors as people_blocks %}
{% endif %}
<article class="featured-large content-type-{{ content_type }}">
  <div class="image-wrapper">
    <a href="{{ content.url }}">
      {% image content.image_hero width-1920 %}
    </a>
  </div>

  <div class="content-wrapper">
    <ul class="custom-text-list topic-list">
      {% for topic in content.topics.all %}
      <li>
        <a href="{{ topic.url }}" class="table-content-link">{{ topic }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="title">
      <a href="{{ content.url }}">
        {% if content.feature_title %}
        {{content.feature_title}}
        {% else %}
        {{content.title}}
        {% endif %}
      </a>
    </div>
    <div class="subtitle">
      {% if content.feature_subtitle %}
      {{content.feature_subtitle}}
      {% else %}
      {{content.subtitle|richtext}}
      {% endif %}
    </div>
    <ul class="custom-text-list person-list">
      {% with 3 as person_limit %}
      {% for person_block in people_blocks %}
      {% if forloop.counter <= person_limit %}
      <li>
        <a href="{{ person_block.value.url }}">{{ person_block.value }}</a>
      </li>
      {% elif forloop.counter == person_limit|add:1 %}
      <li>And more</li>
      {% endif %}
      {% endfor %}
      {% endwith %}
    </ul>
    <div class="date">
      {{ content.publishing_date|date:"F n, Y" }}
    </div>
  </div>
</article>
