{% load wagtailcore_tags wagtailimages_tags %}
{{content.image_hero}}
<div class="card-wrapper">
  <a href="{{content.url}}" class="card-image">
    <div class="img-wrapper">
      {% image content.image_hero width-1920 %}
    </div>
    <div class="image-type">
      <i class="fas fa-play"></i>
    </div>
  </a>

  <ul class="custom-text-list card-topic-list">
    {% for topic in content.topics.all %}
      <li><a href="{% slugurl topic.slug %}" class="table-content-link">{{ topic }}</a></li>
    {% endfor %}
  </ul>

  <p class="card-title">
    <a href="{{content.url}}">
      {{content.title}}
    </a>
  </p>

  <ul class="custom-text-list card-speakers-list">
    {% with 3 as speaker_limit %}
      {% with content.speakers as speaker_blocks %}
        {% for speaker_block in speaker_blocks %}
          {% if forloop.counter <= speaker_limit %}
            <li><a href="{{ speaker_block.value.url }}">{{ speaker_block.value }}</a></li>
          {% elif forloop.counter == speaker_limit|add:1 %}
            <li>And more</li>
          {% endif %}
        {% endfor %}
      {% endwith %}
    {% endwith %}
  </ul>

  <p class="card-date">{{ content.publishing_date|date:"F n, Y" }}</p>

</div>
