{% load wagtailcore_tags topic_tags menu_tags cache %}

{% cache 86400 footer %}
  <footer>
    <div class="container">
      <section class="footer__subscribe">
        <form title="Newsletter Sign Up" action="/subscribe/" method="GET">
          <div class="row g-3 g-md-5 align-items-center">
            <div class="col-md-4">Get regular updates on our research and events in your inbox.</div>
            <div class="col-md-4">
              <div class="footer__subscribe__input-wrapper">
                <input type="email" name="email" size="60" maxlength="128" placeholder="Your e-mail"
                  required="required" aria-required="true">
              </div>
            </div>
            <div class="col-md-4">
              <a href="">
                <button type="submit" class="button--rounded">
                  Sign-up
                  <i class="fas fa-angle-right"></i>
                </button>
              </a>
            </div>
          </div>
        </form>
      </section>
      <section class="footer__sitemap">
        <div class="row g-3 g-md-5">
          <div class="col-12 col-md-2">
            <h2>Sitemap</h2>
          </div>
          <div class="col-4 col-md-2">
            {% get_menu_items 'main' as main_menu_items %}
            <ul class="footer__sitemap__list">
              {% for menu_item in main_menu_items %}
                {% if menu_item.link_page %}
                  <li>
                    <a href="{% pageurl menu_item.link_page %}">
                      {{ menu_item.title }}
                    </a>
                  </li>
                {% elif menu_item.link_url %}
                  <li>
                    <a href="{{ menu_item.link_url }}">
                      {{ menu_item.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-4">
            {% get_menu_items 'footer' as footer_menu_items %}
            <ul class="footer__sitemap__list">
              {% for menu_item in footer_menu_items %}
                {% if menu_item.link_page %}
                  <li>
                    <a href="{% pageurl menu_item.link_page %}">
                      {{ menu_item.title }}
                    </a>
                  </li>
                {% elif menu_item.link_url %}
                  <li>
                    <a href="{{ menu_item.link_url }}">
                      {{ menu_item.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-4 col-md-3">
            <ul class="footer__sitemap__list">
              <li>
                <a href="https://www.facebook.com/cigionline/" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://twitter.com/cigionline" target="_blank">Twitter</i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/cigionline/" target="_blank">LinkedIn</a>
              </li>
              <li>
                <a href="https://www.youtube.com/user/cigivideos" target="_blank">YouTube</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="footer__topics all-topics">
        <div class="row">
          <div class="col-md-2">
            <h2>Research Topics</h2>
          </div>
          <div class="col-md-10">
            {% highlighted_topics_footer %}
          </div>
        </div>
      </section>
      <section class="footer__copyright">
        <div class="row gx-3 gx-md-5">
          <div class="col-md-2">&copy; {% now "Y" %}</div>
          <div class="col-md-6">Centre for International Governance Innovation</div>
        </div>
      </section>
    </div>
  </footer>
{% endcache %}
