{% load menu_tags static wagtailcore_tags wagtailimages_tags core_tags %}

<section class="hero">
  <div class="container-sm hero-container">
    
      <h1>{{title}}</h1>
      <h2>{{subtitle|safe}}</h2>
      {% include "includes/authors.html" with authors=self.authors %}
      {% include "includes/date.html" with date=self.publishing_date %}
      {% include "includes/social_links.html" with title=self.title %}

      {% for document in download %}
        <button class="publication-download"><a href="{{document.value.file.url}}"><i class="fa fas fa-download"></i> {{ document.value.button_text}}</a></button>
      {% endfor %}

  </div>
</section>
