<div class="pagination-links-numbered">
  {% if content.has_previous %}
    <li class="pagination-link-first pagination-underline">
      <a data-page="1">
        First Page
      </a>
    </li>
    <li class="pagination-underline pagination-underline-centred">
      <a data-page="{{ content.previous_page_number }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
    </li>
  {% endif %}

  {% if content.number|add:'-2' > 1 %}
    <li>&hellip;</li>
  {% endif %}

  {% for i in content.paginator.page_range %}
    {% if content.number == i %}
      <li class="active pagination-underline pagination-underline-centred">
        <span>{{ i }}<span class="sr-only">(current)</span></span>
      </li>
    {% elif i > content.number|add:'-3' and i < content.number|add:'3' %}
      <li>
        <a data-page="{{ i }}">{{ i }}</a>
      </li>
    {% endif %}
  {% endfor %}

  {% if content.paginator.num_pages > content.number|add:'2' %}
    <li>&hellip;</li>
  {% endif %}

  {% if content.has_next %}
    <li class="pagination-underline pagination-underline-centred">
      <a data-page="{{ content.next_page_number }}">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </li>
    <li class="pagination-link-last pagination-underline">
      <a data-page="{{ content.paginator.num_pages }}">
        Last Page
      </a>
    </li>
  {% endif %}
</div>
