{% load wagtailcore_tags %}

{% block content %}
  <section class="people-person-leadership-list-section">
    <div class="people-person-leadership-nav">
      <span class="people-person-leadership-nav-text">Show :</span>
      <ul class="nav nav-tabs" id="person-leadership-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="senior-management-tab" data-toggle="tab" href="#senior-management" role="tab"
            aria-controls="senior-management" aria-selected="false">Senior Management</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="board-members-tab" data-toggle="tab" href="#board-members" role="tab"
            aria-controls="board-members" aria-selected="true">Board Members</a>
        </li>
      </ul>
    </div>

    <div class="tab-content" id="person-leadership-tab-content">
      <div class="tab-pane fade show active" id="senior-management" role="tabpanel" aria-labelledby="senior-management-tab">
        {% include 'includes/people_person_leadership_list.html' with people=senior_management %}
      </div>
      <div class="tab-pane fade" id="board-members" role="tabpanel" aria-labelledby="board-members-tab">
        {% include 'includes/people_person_leadership_list.html' with people=board_members %}
      </div>
    </div>
  </section>
{% endblock %}
