{% load core_tags wagtailimages_tags %}

{% if promotion_block.image_promotion.file.url|file_extension == '.gif' %}
  {% define promotion_block.image_promotion.file.url as image_promotion_url %}
{% else %}
  {% image promotion_block.image_promotion original as image_promotion %}
  {% define image_promotion.url as image_promotion_url %}
{% endif %}
<div class="promotion-block promotion-block-{{ promotion_block.block_type|slugify }}">
  <a href="{{ promotion_block.link_url }}">
    <div class="promotion-block-background" style="background-image: url('{{ image_promotion_url }}');">
      {% if promotion_block.block_type == "social" %}
        <div class='social-content'>
          <div class='social-text'>Follow us on social media</div>
          <div class='social-links'>
            <a class='social-link' href='https://www.facebook.com/cigionline/' target='_blank' rel="noopener noreferrer">
              <i class='fab fa-facebook-f'></i>
            </a>
            <a class='social-link' href='https://twitter.com/cigionline' target='_blank' rel="noopener noreferrer">
              <i class='fab fa-twitter'></i>
            </a>
            <a class='social-link' href='https://www.linkedin.com/company/cigionline/' target='_blank' rel="noopener noreferrer">
              <i class='fab fa-linkedin-in'></i>
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </a>
</div>
