{% load wagtailcore_tags wagtailimages_tags %}

<section class="featured-section publications-featured-section">
  <h6 class="featured-section-title">Featured</h6>

  <div class="row row-cols-1 row-cols-md-2 publications-featured-list-row">
    {% for publication in publications %}
    <div class="col publications-featured-list-col">
      <div class="publications-featured-list">
        <div class="publications-featured-list-inner">
          <a href="{% pageurl publication %}">
            <div class="publications-featured-list-image-wrapper">
              {% image publication.image_cover width-200 as image_rect %}
              <div
                class="img-wrapper"
                style="background-image: url('{{ image_rect.url }}');"
              ></div>
            </div>
          </a>

          <div class="publications-featured-list-content">
            {% if publication.topics.all %} 
              {% include "includes/topics.html" with topics=publication.topics additional_class_names="publications-featured-list-topics" %} 
            {% endif %}

            <p class="publications-featured-list-title">
              <a href="{% pageurl publication %}">
                {{ publication.title }}
              </a>
            </p>

            <p class="publications-featured-list-date">
              {{ publication.publishing_date|date:"F j, Y" }}
            </p>

            <ul class="publications-featured-list-authors custom-text-list">
              {% for person in publication.featured_person_list %}
              <li>{{ person.title }}</li>
              {% endfor %} 
              {% if publication.featured_person_list_has_more %}
              <li>and more</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
