{% load wagtailcore_tags %}

<article class="publication-teaser">
  <div class="publication-teaser-content">
    {% include "includes/topics.html" with topics=publication.topics_sorted %}
    <h3>
      <a href="{% pageurl publication %}">
        {{ publication.title }}
      </a>
    </h3>
    {{ publication.short_description|richtext }}
    {% include "includes/authors.html" with authors=publication.authors.all external_authors=publication.external_authors %}
    {% include "includes/date.html" with date=publication.publishing_date %}
    {% if publication.pdf_downloads %}
      <button class="button-action button-square">
        <a href="{{ publication.pdf_downloads.0.value.file.url }}">
          <i class="fa fas fa-download"></i>
        </a>
      </button>
    {% endif %}
  </div>
</article>
