{% load wagtailcore_tags wagtailimages_tags %}


<div class="row row-cols-1 row-cols-sm-2">
  {% for featured_publications in publications %}
    <div class="col">
      <div class="publications-featured-list">
        <div class="publications-featured-list-image-wrapper">

        </div>
        <img src="{{ publication_list_page.image_poster }}" alt="" class="img-fluid">
        <p>{{ featured_publications.publishing_date|date:"F m, Y"}}</p>
          <p>{{ featured_publications.authors }}</p>
        <p>{{ featured_publications.title }}</p>
      </div>
    </div>
  {% endfor %}
</div>