<div class="search-bar">
    <form action="" class="search-bar-form">
        <div class="form-row position-relative">
            <div class="col-12 col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search all publications" aria-label="search-bar" aria-describedby="search-bar">
                    <div class="input-group-append">
                        <span class="input-group-text" id="search-bar"><i class="far fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 position-static">
                <div class="dropdown custom-dropdown dropdown-full-width">
                    <a class="dropdown-toggle" href="#" role="button" id="search-bar-topics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All topics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="search-bar-topics">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else</a>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 position-relative">
                <div class="dropdown custom-dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="search-bar-types" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All types
                    </a>
                    <div class="dropdown-menu w-100" aria-labelledby="search-bar-types">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="search-bar-sort-wrapper">
        <span>Sort by:</span>
        <ul class="search-bar-sort-list">
            <li><a href="#" class="search-bar-sort-link active">Date</a></li>
            <li><a href="#" class="search-bar-sort-link">Relevance</a></li>
            <li><a href="#" class="search-bar-sort-link">Something</a></li>
        </ul>
    </div>
</div>