{% load wagtailcore_tags wagtailimages_tags core_tags static %}

<article class="card__container card--small card--small--landscape">
  <div class="card__image">
    <a href="{% pageurl article %}">
      {% if article.image_feature and not article.expired_image %}
        {% image article.image_feature fill-520x347 %}
      {% elif article.image_hero and not article.expired_image %}
        {% image article.image_hero fill-520x347 %}
      {% else %}
        <img src="{% static 'assets/CIGI-default-recommended-thumb.png' %}" alt="CIGI Logo">
      {% endif %}
    </a>
  </div>
  <div class="card__text">
    {% include 'includes/cards/card_text_topics.html' with topics=article.topics_sorted %}
    {% include 'includes/cards/card_text_title.html' with url=article.url title=article.title %}
    <div class="card__text__meta">
      <div>
        {% include 'includes/cards/card_text_people.html' with authors=article.authors.all %}
      </div>
      {% include 'includes/cards/card_text_more.html' %}
    </div>
  </div>
</article>
