<section class="recommended-section">
  <div class="container">
    <div class="row">
      <div class="col recommended">
        <div class="recommended-dot"></div>
        <div class="recommended-vertical-line"></div>
        <h2>Recommended</h2>
        {% include "includes/footer_bracket.svg" %}

        <div class="recommended-content-medium row">
          {% for content in recommended|slice:":3" %}
            <div class="col-md-4">
              {% include 'includes/features/feature_content_medium.html' with content=content.specific %}
            </div>
          {% endfor %}
          {% for content in recommended|slice:"3:" %}
            <div class="col-md-4">
              {% include 'includes/features/feature_content_small.html' with content=content.specific icon=True %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
