{% load core_tags %}

<ul class="social-share-list-comment">
  <li class="facebook">
    <a class="facebook-share-link fa-stack" data-url="{{ request.build_absolute_uri|slice:':-1' }}" target="_blank"
      rel="noopener noreferrer">
      <i class="fal fa-comment-alt fa-flip-horizontal fa-stack-2x"></i>
      <i class="fab fa-facebook-f fa-stack-1x"></i>
    </a>
  </li>
  <li class="twitter">
    <a class="twitter-share-link fa-stack"
      href="https://twitter.com/share?text={{ title|social_string }}&amp;url={{ request.build_absolute_uri|slice:':-1' }}"
      target="_blank" rel="noopener noreferrer">
      <i class="fal fa-comment-alt fa-flip-horizontal fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x"></i>
    </a>
  </li>
  <li class="linkedin">
    <a class="linkedin-share-link fa-stack"
      href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri|slice:':-1' }}&amp;title={{ title|social_string }}"
      target="_blank" rel="noopener noreferrer">
      <i class="fal fa-comment-alt fa-flip-horizontal fa-stack-2x"></i>
      <i class="fab fa-linkedin-in fa-stack-1x"></i>
    </a>
  </li>
</ul>
