{% load wagtailimages_tags core_tags wagtailcore_tags %}

<div class="swiper-container {{ type }}">
  <div class="swiper-wrapper">
    {% for item in swiper_content %}
      <div class="swiper-slide">
        {% if type == "homepage-highlight" or type == "publication-list-page-featured" %}
          {% include "includes/features/feature_poster_teaser.html" with content=item %}
        {% elif type == "essay-series" %}
          <article class="row">
            <div class="img-wrapper col-md-3">
              {% if item.image_poster.file.url|file_extension == '.gif' %}
                <img src="{{ item.image_poster.file.url }}" alt="{{ item.image_poster.caption }}" />
              {% else %}
                {% image item.image_poster width-700 %}
              {% endif %}
            </div>
            <div class="col-md-9">
              <div class="essay-series-content">
                <div>
                  {% include "includes/topics.html" with topics=item.topics %}
                  <h3><a href="{% pageurl item %}">{{ item.title }}</a></h3>
                  {{ item.short_description|richtext }}
                  <h4>CONTRIBUTORS</h4>
                  <ul class="contributors">
                    {% for contributor in item.series_authors %}
                      <li><a href="{% pageurl contributor %}">{{ contributor.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                {% if item.specific.series_pdf %}
                  <div class="article-series-pdf">
                    <ul>
                      {% for pdf in item.series_pdf %}
                        <li>
                          <a href="{{ pdf.url }}" target="_blank">
                            <button class="button button-action" type="button">
                              <i class="fa fas fa-download"></i>
                              {{ pdf.type }}
                            </button>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          </article>
        {% elif type == "annual-reports" %}
          <article>
            <a class="img-wrapper" href="{{ item.value.url }}">
              {% image item.value.image_poster width-700 %}
            </a>
            <h3>
              <a href="{{ item.value.url }}">
                {{ item.value.title }}
              </a>
            </h3>
            <a class="button-action track-cta" href="https://www.cigionline.org{{ item.value.report_interactive }}" data-cta="ar-interactive"><i class="fas fa-mouse-pointer"></i>Explore</a>
          </article>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-controls">
    <div class="swiper-button-prev"><i class="fal fa-long-arrow-left"></i></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"><i class="fal fa-long-arrow-right"></i></div>
  </div>
</div>
