<header>
  <div class="container-lg cigi-top-bar">
    <div class="cigi-logo">
      <a href="/">
        {% include "./header_cigi_logo_large.svg" %}
        {% include "./header_cigi_logo_small.svg" %}
      </a>
    </div>
    <nav>
      <ul class="menu desktop-menu">
        <li class="menu-item"><a href="/research">Research</a></li>
        <li class="menu-item"><a href="/publications">Publications</a></li>
        <li class="menu-item"><a href="/experts">Experts</a></li>
        <li class="menu-item"><a href="/opinions">Opinions</a></li>
        <li class="menu-item"><a href="/multimedia">Multimedia</a></li>
        <li class="menu-item"><a href="/events">Events</a></li>
        <li class="menu-item"><a href="/about">About</a></li>
        <li class="overlay-controls menu-break">
          <button class="overlay-controls-button">
            <i class="far fa-search"></i>
          </button>
        </li>
        <li class="overlay-controls">
          <button class="overlay-controls-button">
            <i class="far fa-bars"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
