{% load wagtailcore_tags menu_tags %}

{% get_menu_items 'main' as main_menu_items %}

<header>
  <div class="main-navigation-wrapper">
    <div class="container-lg cigi-top-bar" id="global-nav">
      <a class="cigi-logo" href="/">
        {% include "./header_cigi_logo_large.svg" %}
        {% include "./header_cigi_logo_small.svg" %}
      </a>
      <nav aria-label="primary">
        <ul class="menu desktop-menu">
          {% for menu_item in main_menu_items %}
            <li>
              <a href="{{ menu_item.link }}">{{ menu_item.title }}</a>
            </li>
          {% endfor %}
        </ul>

        <ul>
          <li class="overlay-controls menu-break">
            <button class="custom-nav-popup-btn overlay-controls-button" id="open-search-btn">
              <span class="icon-opened"><i class="far fa-times"></i></span>
              <span class="icon-closed"><i class="far fa-search"></i></span>
            </button>
          </li>
          <li class="overlay-controls">
            <button class="overlay-controls-button">
              <i class="far fa-bars"></i>
            </button>
          </li>
        </ul>

      </nav>
    </div>
  </div>
  
  <div class="custom-popup-wrapper" id="popup-search">
    <div class="custom-popup-inner">
      <div class="container-lg">
        <div class="custom-popup-content custom-popup-nav-search">
          <form action="">
            <div class="input-group input-group-search">
              <input type="text" class="form-control" placeholder="Keyword Search" aria-label="search-bar" aria-describedby="search-bar" required>
              <div class="input-group-append">
                <button class="btn-search" type="submit" id="search-bar">
                  <i class="far fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
