<header>
  <div class="container-lg cigi-top-bar">
    <a class="cigi-logo" href="/">
      {% include "./header_cigi_logo_large.svg" %}
      {% include "./header_cigi_logo_small.svg" %}
    </a>
    <nav>
      <ul class="menu">
        <li><a href="/research">Research</a></li>
        <li><a href="/publications">Publications</a></li>
        <li><a href="/experts">Experts</a></li>
        <li><a href="/opinions">Opinions</a></li>
        <li><a href="/multimedia">Multimedia</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/about">About</a></li>
        <li class="overlay-controls menu-break">
          <button class="overlay-controls-button">
            <i class="far fa-search"></i>
          </button>
        </li>
        <li class="overlay-controls">
          <button class="overlay-controls-button">
            <i class="far fa-bars"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
