{% load wagtailcore_tags menu_tags cache %}


<header class="{% if small %}small scrolled{% endif %} header--top-bar meta__text">
  {% cache 86400 top_bar %}
    {% get_menu_items 'main' as main_menu_items %}

    <div class="dropdown-menu dropdown-menu-end header--top-bar__dropdown-menu header--top-bar__dropdown-menu--full" id="header--top-bar__dropdown-menu--full">
      {% for menu_item in main_menu_items %}
        <li class="dropdown-item">
          {% if menu_item.link_page %}
            <a href="{% pageurl menu_item.link_page %}">
              <i class="fal {{ menu_item.title|menu_icon }}"></i>
              {{ menu_item.title }}
            </a>
          {% elif menu_item.link_url %}
            <a href="{{ menu_item.link_url }}">
              <i class="fal {{ menu_item.title|menu_icon }}"></i>
              {{ menu_item.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
      <li class="dropdown-item">
        <a href="/subscribe/">
          <i class="fal fa-envelope"></i>
          Sign-up to our Newsletter
        </a>
      </li>
      <li class="dropdown-item header--top-bar__menu__social">
        <a href="https://twitter.com/cigionline" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/cigionline/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.facebook.com/cigionline" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/user/cigivideos" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        </a>
      </li>
    </div>

    <div class="main-navigation-wrapper">
      <div class="container">
        <div class="row">
          <div class="col cigi-top-bar" id="global-nav">
            <a class="cigi-logo" href="/">
              {% include './header_cigi_logo_large.svg' %}
              {% include './header_cigi_logo_small.svg' %}
            </a>
            <nav aria-label="primary">
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" id="dropdown-search-btn" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-search"></i>
                  <i class="far fa-times"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end dropdown-search">
                  <form action="{% url 'search' %}" method="get" autocomplete="off">
                    <div class="input-group input-group-search">
                      <input type="text" class="form-control" id="nav-search-input" name="query" placeholder="Keyword Search" aria-label="search-bar"
                        aria-describedby="search-bar" required>
                      <div class="nav-search-input-dropdown" id="nav-search-input-dropdown">
                        <div id="nav-search-input-dropdown-count"></div>
                        <ul class="nav-search-input-dropdown-list" id="nav-search-input-dropdown-list"></ul>
                      </div>
                      <div class="input-group-append">
                        <button class="btn-search" type="submit" id="search-bar">
                          <i class="far fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="btn-group dropdown-menu-btn-group">
                <button type="button" id="dropdown-menu-btn" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-bars"></i>
                  <i class="far fa-times"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end header--top-bar__dropdown-menu">
                  {% for menu_item in main_menu_items %}
                    <li class="dropdown-item">
                      {% if menu_item.link_page %}
                        <a href="{% pageurl menu_item.link_page %}">
                          <i class="fal {{ menu_item.title|menu_icon }}"></i>
                          {{ menu_item.title }}
                        </a>
                      {% elif menu_item.link_url %}
                        <a href="{{ menu_item.link_url }}">
                          <i class="fal {{ menu_item.title|menu_icon }}"></i>
                          {{ menu_item.title }}
                        </a>
                      {% endif %}
                    </li>
                  {% endfor %}
                  <li class="dropdown-item">
                    <a href="/subscribe/">
                      <i class="fal fa-envelope"></i>
                      Sign-up to our Newsletter
                    </a>
                  </li>
                  <li class="dropdown-item header--top-bar__menu__social">
                    <a href="https://twitter.com/cigionline" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/cigionline/" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.facebook.com/cigionline" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.youtube.com/user/cigivideos" target="_blank">
                      <i class="fab fa-youtube"></i>
                    </a>
                    </a>
                  </li>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% endcache %}
</header>
