{% load menu_tags wagtailcore_tags %}

{% if submenu %}
  {% get_menu_items submenu.slug as submenu_items %}
  {% if submenu_items %}
    <header class="header--submenu">
      <div class="container">
        <nav class="border-top">
          <ul class="row g-1 justify-content-between">
            {% for submenu_item in submenu_items %}
              <li class="col-auto {% if submenu_item.link_page.url_path == self.url_path %}active{% endif %}">
                <a href="{% pageurl submenu_item.link_page %}">{{ submenu_item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
  {% endif %}
{% endif %}