.feature-content-large {
  line-height: 1.25;

  .img-wrapper {
    margin-bottom: 1em;
  }

  .feature-content-text {
    &.center-text {
      @include media-breakpoint-up(md) {
        margin: 0 auto;
        max-width: 36em;
        text-align: center;

        ul {
          justify-content: center;
        }
      }
    }

    .feature-content-title {
      @include media-breakpoint-up(md) {
        font-size: 2em;
      }

      font-size: 1.375em;
    }
  }
}
