.feature-content-small {
  .feature-content-title {
    font-size: 1.0625em;
    margin-bottom: 0.25em;
  }
}

// Column on home page and article landing page
// that contains small feature items
.featured-small {
  justify-content: space-between;
}
