.indigenous-lands-series-article {
  @include top-bar(
    $background-color: transparent,
    $color: $black,
    $position: relative,
  );

  .indigenous-lands-series-article-hero {
    margin-bottom: 2em;
    padding-top: 2em;

    h1 {
      font-size: 2em;
      font-weight: 400;
      margin: 0.5em 0;
    }

    .meta > div {
      color: $cigi-text-grey;
      display: flex;
      font-family: Helvetica, sans-serif;
    }

    .series {
      @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
    }

    label {
      margin-bottom: 0;
      margin-right: 0.2em;
    }

    .authors {
      @include link($color: $cigi-darkest-grey, $hover-color: $cigi-primary-colour);
      margin-top: 0;
    }

    .social-share-list {
      border-top: solid 1px $black;
      justify-content: left;

      li {
        margin-left: -1em;
        padding: 1em 1em 2em 0;
      }

      .fa {
        color: $black;
      }

      a {
        padding: 1em;

        &:hover {
          .fa,
          .fa-brands {
            color: $cigi-primary-colour;
          }
        }
      }
      @include media-breakpoint-up(md) {
        li {
          padding: 1em 2em 2em 0;
        }
      }
    }

    figcaption {
      border-left: solid $cigi-primary-colour 5px;
      font-size: 0.85em;
      text-align: right;
    }
  }

  .body {
    font-family: Helvetica, sans-serif;

    h2 {
      font-weight: 600;
    }

    ol {
      padding-left: 1em;

      li {
        padding-bottom: 1em;
      }
    }

    ul {
      li {
        padding-bottom: 1em;
      }
    }
  }

  .stream-block-recommended {
    .stream-block-recommended-label {
      color: $cigi-primary-colour;
      font-weight: 600;
    }

    a {
      font-family: 'futura-pt', san-serif;
    }
  }

  .stream-block-inline-video-content {
    .stream-block-inline-video-text {
      .watch-video-label {
        font-weight: 600;
      }
    }

    a {
      font-family: 'futura-pt', san-serif;
    }
  }

  .stream-block-blockquote {
    .stream-block-blockquote-author {
      font-weight: 400;
      margin-bottom: 1em;
    }
  }

  .article-footnotes {
    font-family: Helvetica, sans-serif;
  }

  .about-the-author {
    font-family: Helvetica, sans-serif;

    h3 {
      border-top: 0.25em solid $black;
      font-size: 1.3em;
      margin: 0.5em 0;
      text-transform: none;
    }

    .name {
      font-weight: 600;
    }

    .author-block {
      border-bottom: 0;
    }
  }

  .indigenous-lands-series-article-in-the-series {

    h2 {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      border-top: 1px solid $divider-grey;
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 1em;
      padding-top: 1em;
    }
  }

  .indigenous-lands-series-in-the-series {
    .indigenous-lands-series-in-the-series-items {
      @include media-breakpoint-up(md) {
        margin: 0;
      }
      margin: 0 0 0 2em;
    }
  }
}
