.indigenous-lands-series-article-series {
  @include top-bar ($background-color: transparent, $position: absolute);

  .indigenous-lands-series-article-series-hero {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .indigenous-lands-series-article-series-hero-image {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: cover;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }

    .hero-content {
      @include link($color: $white, $hover-color: $cigi-primary-colour);

      color: $white;
      height: 100%;
      position: fixed;
      top: 15%;
      width: 100%;
      z-index: 3;

      h1 {
        color: $white;
        font-size: 2.25em;
        font-weight: 600;
      }

      h2 {
        font-size: 1.5em;
        margin: 1em 0;
      }

      .custom-text-list {
        justify-content: center;
      }

      .social-share-list-square {
        margin-left: -0.5em;

        a {
          font-size: 1.5em;
          padding: 0.5em;
        }
      }

      @include media-breakpoint-up(md) {
        text-align: center;
        top: 25%;

        h1 {
          display: flex;
          font-size: 3em;
          justify-content: center;

          span {
            max-width: 485px;
          }
        }

        .social-share-list-square,
        .custom-text-list {
          justify-content: center;
        }

        .social-share-list-square {
          margin-left: 0;
        }

      }
    }
  }

  .scroll-arrow {
    animation: bounce 2s infinite;
    background-color: $white;
    border-radius: 50%;
    bottom: 30%;
    color: $black;
    height: 32px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 32px;
    z-index: 120;

    &:hover {
      background-color: $cigi-dark-pink;
    }

    i {
      color: $black;
      font-size: 32px;
      padding: 2px 0 0 5px;

    }

    @include media-breakpoint-up(md) {
      i {
        padding: 2px 0 0;
      }
    }
  }

  .body {
    background-color: $white;
    font-size: 1.03em;
    margin-bottom: 0;
    padding: 2em 0;
    position: relative;
    z-index: 4;
  }

  h3,
  .paragraph-heading {
    border-bottom: .25em solid $cigi-darkest-grey;
    border-top: 0;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: none;
  }

  .indigenous-lands-series-article-series-in-the-series {
    background-color: $previous-body-bg;
    padding-top: 2em;
    position: relative;
    z-index: 4;

    h3 {
      border-bottom: 5px solid $black;
      border-top: 0;
    }
  }

  footer {
    background-color: $white;
    position: relative;
    padding-top: 2em;
    z-index: 3;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
