.ai-series-in-the-series {
  background-size: auto 100%;
  color: $white;
  padding: 3em 0;

  h2 {
    @include link($color: $white, $hover-color: $cigi-dark-pink);
    @include media-breakpoint-up(md) {
      font-size: 3.5em;
    }
    font-family: $ai-acumin;
    font-size: 2em;
    font-weight: 800;
    line-height: 1;
    margin: 0 1em 0 0;
    text-transform: uppercase;
  }

  .essay-series-label,
  .contributors-label {
    @include ai-heading;
    margin: 1em 0;
  }

  .short-description {
    @include media-breakpoint-up(md) {
      margin-top: 3em;
    }
    font-family: $ai-garamond;
    line-height: 1.25;
    margin: 1em 0;
  }

  .series-contributors {
    @include link($color: $white, $hover-color: $cigi-dark-pink);
    font-family: $ai-garamond;
    line-height: 1.25;

    li {
      list-style: none;
    }

    .authors {
      margin: 0;

      li {
        display: inline;

        &:not(:only-child) {
          &::after {
            content: ' and ';
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
