.space-series-article {
  @include top-bar($background-color: transparent);

  &.no-scroll {
    overflow: hidden;
  }

  header {
    transition: none;
    z-index: 100;

    &::before {
      background: linear-gradient(
        $space-series-background-colour-light,
        30%,
        transparent
      );
      bottom: -20px;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.dark {
      background-color: $space-series-background-colour;
    }

    .in-the-series {
      font-size: 1rem;
    }
  }

  main {
    overflow-x: hidden;
    position: relative;
    z-index: 1;

    .in-the-series {
      margin-bottom: 4em;
    }
  }

  .space-series-article-hero,
  .in-the-series {
    @include link($color: $white, $hover-color: $cigi-primary-colour);
    background-color: $space-series-background-colour;
    color: $white;
    font-family: $space-series-font-secondary;
  }

  .in-the-series {
    .authors {
      @include link(
        $color: $cigi-text-grey,
        $hover-color: $cigi-primary-colour
      );
    }
  }

  .space-series-article-hero {
    @include media-breakpoint-down(md) {
      padding-top: 6em;
    }

    .hero-content {
      @include media-breakpoint-up(lg) {
        padding-top: 6em;
      }

      h1 {
        @include media-breakpoint-up(md) {
          font-size: 1.75em;
        }
        font-family: $space-series-font-primary;
        font-size: calc(3vw + 1em);
        font-weight: 600;
        line-height: 1.1;
        margin-top: 15px;
        position: relative;

        &::before {
          background-color: $white;
          content: '';
          height: 7px;
          position: absolute;
          top: -15px;
          width: 100%;
        }
      }

      p {
        font-size: 1.25em;
      }

      ul {
        &.social-share-list-space {
          @include link($color: $white, $hover-color: $cigi-primary-colour);
          @include media-breakpoint-up(md) {
            padding-top: 1em;
          }
          display: flex;
          justify-content: start;
          list-style: none;
          padding-bottom: 0.5em;
          padding-top: 0;

          li {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-right: 0.5em;
            width: 1em;
          }

          .fab {
            @include media-breakpoint-up(md) {
              font-size: 1.2em;
            }
            font-size: 0.8em;
          }
        }
      }

      .authors {
        font-size: 0.75em;
        margin: 3.5em 0 0;
        text-transform: uppercase;
      }

      .date {
        font-size: 0.75em;
        text-transform: uppercase;
      }
    }

    .hero-image {
      @include media-breakpoint-up(lg) {
        align-self: start;
      }
      align-self: center;
    }
  }

  .in-the-series {
    position: relative;
    padding: 2em 0;
    z-index: 0;

    &.hidden {
      height: 0;
      opacity: 0;
      padding: 0;
      pointer-events: none;
    }

    .series-title {
      .col-2 {
        text-align: right;
      }
    }

    &.sticky {
      padding: 0.5em 0;

      .swiper {
        .swiper-container {
          .swiper-wrapper {
            max-height: 50px;
            transition: height 0.5s ease-in-out;

            article {
              border: 0;

              .series-item-content {
                padding-top: 0.5em;

                h3,
                .authors {
                  opacity: 0;
                }
              }

              &:first-child {
                border: 0;
              }
            }
          }
        }

        .swiper-button {
          height: 50%;
          padding-top: 0.6em;
          --swiper-navigation-size: 20px;

          &::before {
            bottom: 0;
            opacity: 0;
            transition: none;
          }
        }
      }
    }

    .in-the-series-label {
      @include media-breakpoint-up(md) {
        margin-top: 0.5em;
      }
      color: $cigi-medium-grey;
    }

    h2 {
      font-family: $space-series-font-primary;
      font-size: clamp(1em, 3vw, 1.17em);
      font-weight: 600;
    }

    .in-the-series-expand {
      @include media-breakpoint-up(md) {
        display: none;
      }
      transition: transform 0.2s ease;
      z-index: 1;
      color: $white;

      &.expanded {
        transform: rotate(45deg);
      }
    }

    .swiper {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      position: relative;

      .swiper-container {
        padding-left: 1px;

        .swiper-wrapper {
          @include media-breakpoint-down(sm) {
            flex-direction: column;
          }
          max-height: 300px;
          transition: max-height 0.5s ease-in-out, transform 0.2s ease;
        }
      }

      article {
        border-right: 1px solid $cigi-text-grey;
        height: auto;

        &.disabled {
          color: $cigi-text-grey;

          .series-item-content {
            .series-item-counter {
              span {
                &:first-child {
                  &::before {
                    background-color: $cigi-text-grey;
                  }
                }
              }
            }
          }
        }

        &:first-child {
          border-left: 1px solid $cigi-text-grey;
        }

        .series-item-image {
          display: none;
        }

        .series-item-content {
          display: flex;
          flex-direction: column;
          font-size: 0.8em;
          height: 100%;
          justify-content: space-between;
          padding: 0 1em;

          & > a {
            &:hover {
              .series-item-counter {
                span {
                  &:first-child {
                    &::before {
                      background-color: $cigi-primary-colour;
                    }
                  }
                }
              }
            }
          }

          .series-item-counter {
            display: flex;
            font-family: $space-series-font-primary;
            font-weight: 600;

            span {
              &:first-child {
                margin-right: 0.25em;
                position: relative;
                width: 100%;

                &::before {
                  background-color: $white;
                  bottom: 6px;
                  content: '';
                  height: 5px;
                  position: absolute;
                  transition: background-color 0.2s ease;
                  width: 100%;
                }
              }
            }

            .play-icon {
              align-items: center;
              color: $white;
              display: flex;
              height: 1.5em;
              justify-content: center;
              transition: color 0.2s ease;
              width: 1em;

              * {
                position: absolute;
                transition: background-color 0.2s ease;
              }

              .inner-circle {
                background-color: $black;
                border-radius: 50%;
                border-width: 0.25em;
                height: 0.7em;
                width: 0.7em;
                z-index: 3;
              }

              .outer-circle {
                border: 0.25em solid $white;
                border-radius: 50%;
                height: 1em;
                width: 1em;
                z-index: 1;
              }

              i {
                font-size: 0.4em;
                z-index: 4;
              }
            }
          }

          .series-item-title {
            font-size: 1em;
            transition: opacity 0.3s ease;
          }

          .authors {
            font-size: 0.8em;
            margin: 0;
            text-transform: uppercase;
            transition: opacity 0.3s ease;
          }
        }
      }

      .swiper-button {
        @include media-breakpoint-down(sm) {
          display: none;
        }
        color: $white;
        height: 100%;
        margin-top: 0;
        top: 0;
        transition: color 0.3s ease, opacity 0.3s ease;
        width: 75px;

        &:hover {
          color: $cigi-primary-colour;
        }

        &::before {
          bottom: 25px;
          content: 'MORE';
          position: absolute;
          transition: opacity 0.3s cubic-bezier(1, 0, 1, 0);
        }

        &.swiper-button-prev {
          @include media-breakpoint-down(lg) {
            left: -4em;
          }
          left: -5em;
        }

        &.swiper-button-next {
          @include media-breakpoint-down(lg) {
            right: -4em;
          }
          right: -5em;
        }

        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }

    &.dropdown-in-the-series {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $space-series-background-colour;
      overflow-y: scroll;
      height: 0;
      padding: 0;
      z-index: -1;

      .in-the-series-expand {
        display: block;
      }

      &.open {
        height: calc(100vh - 50px);
        z-index: 100;
        padding: 2em 0;

        article {
          @include media-breakpoint-up(md) {
            width: 100% !important;
          }
          align-items: center;
          border-right: 0;
          border-top: 1px solid $cigi-text-grey;
          display: flex;
  
          &:last-child {
            border-bottom: 1px solid $cigi-text-grey;
          }
  
          .series-item-image {
            display: block;
            flex-grow: 0;
            flex-shrink: 0;
            width: 100px;
          }
  
          .series-item-content {
            @include media-breakpoint-up(md) {
              white-space: nowrap;
            }
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            margin-left: 1em;
            padding: 0.5em;
  
            .series-item-counter {
              display: none;
            }
          }
        }
      }
    }
  }

  .body {
    @include link(
      $color: $black !important,
      $hover-color: $cigi-dark-pink !important
    );
    margin-top: 2em;

    h2 {
      font-family: $space-series-font-secondary;
    }

    .extract-block {
      @include media-breakpoint-up(lg) {
        font-size: 2em;
      }
      font-family: $space-series-font-primary;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.2;
      margin: 2rem 0;
      text-align: center;

      &::before,
      &::after {
        background-color: $black;
        content: '';
        display: block;
        height: 8px;
        margin: 1rem auto;
        width: 30%;
      }
    }

    .stream-block-blockquote-content {
      @include media-breakpoint-up(md) {
        margin-left: -0.5em;
        margin-right: -5em;
      }
      @include media-breakpoint-up(lg) {
        margin-right: -7em;
      }
      @include media-breakpoint-up(lg) {
        margin-right: -10em;
      }
      padding: 1em 0 0;

      &::before {
        border-bottom: 5px solid $black;
        width: 30%;
      }
    }
  }

  .article-footnotes,
  .article-works-cited {
    @include link(
      $color: $black !important,
      $hover-color: $cigi-dark-pink !important
    );

    a {
      font-size: 1em !important;
      font-weight: 400 !important;
      padding-right: 0 !important;
      vertical-align: baseline !important;
    }

    li {
      font-size: 0.8125em;
    }

    h2 {
      margin-bottom: 0.5em;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  footer {
    z-index: 0;
  }
}
