.space-series-multimedia {
  header {
    background-color: $space-series-background-colour;
  }

  &.no-scroll {
    overflow: hidden;
  }

  .mm-hero {
    background-color: $space-series-background-colour;
    padding-bottom: 0;
    margin-bottom: 0;

    .mm-video-header {
      background-color: $space-series-background-colour !important;
    }
  }

  .in-the-series {
    @include link($color: $white, $hover-color: $cigi-primary-colour);
    background-color: $space-series-background-colour;
    color: $white;
    font-family: $space-series-font-secondary;
    margin-bottom: 4em;
    padding: 2em 0;
    z-index: 1;

    &.hidden {
      height: 0;
      opacity: 0;
      padding: 0;
    }

    .series-title {
      .col-2 {
        text-align: right;
      }
    }

    &.sticky-in-the-series {
      margin: 0;
    }

    &.sticky {
      padding: 0.5em 0;

      h2 {
        @include media-breakpoint-up(lg) {
          font-size: 1.17em;
        }
        font-size: 0.8em;
      }

      .swiper {
        .swiper-container {
          .swiper-wrapper {
            max-height: 50px;
            transition: height 0.5s ease-in-out;

            article {
              border: 0;

              .series-item-content {
                padding-top: 0.5em;

                h3,
                .authors {
                  opacity: 0;
                }
              }
            }
          }
        }

        .swiper-button {
          height: 50%;
          padding-top: 0.6em;
          --swiper-navigation-size: 20px;

          &::before {
            bottom: 0;
            opacity: 0;
            transition: none;
          }
        }
      }
    }

    &.dropdown-in-the-series {
      background-color: $space-series-background-colour;
      bottom: 0;
      left: 0;
      height: 0;
      margin: 0;
      overflow-y: scroll;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: -1;

      .in-the-series-expand {
        display: block;
      }

      &.open {
        height: calc(100vh - 50px);
        z-index: 100;
        padding: 2em 0;

        article {
          @include media-breakpoint-up(md) {
            width: 100% !important;
          }
          align-items: center;
          border-right: 0;
          border-top: 1px solid $cigi-text-grey;
          display: flex;

          &:last-child {
            border-bottom: 1px solid $cigi-text-grey;
          }

          .series-item-image {
            display: block;
            flex-grow: 0;
            flex-shrink: 0;
            width: 100px;
          }

          .series-item-content {
            @include media-breakpoint-up(md) {
              white-space: nowrap;
            }
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            margin-left: 1em;
            padding: 0.5em;

            .series-item-counter {
              display: none;
            }
          }
        }
      }
    }

    .in-the-series-label {
      @include media-breakpoint-up(md) {
        margin-top: 0.5em;
      }
      color: $cigi-medium-grey;
    }

    h2 {
      font-family: $space-series-font-primary;
      font-size: clamp(1em, 3vw, 1.17em);
      font-weight: 600;
    }

    .authors {
      @include link(
        $color: $cigi-text-grey,
        $hover-color: $cigi-primary-colour
      );
      font-family: $font-family-base;

      span {
        color: $cigi-text-grey;
      }
    }

    .in-the-series-expand {
      @include media-breakpoint-up(md) {
        display: none;
      }
      margin-right: 1em;
      transition: transform 0.2s ease;
      color: $white;

      &.expanded {
        transform: rotate(45deg);
      }
    }

    .swiper {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      position: relative;

      .swiper-container {
        padding-left: 1px;

        .swiper-wrapper {
          @include media-breakpoint-down(sm) {
            flex-direction: column;
          }
          max-height: 300px;
          transition: max-height 0.5s ease-in-out, transform 0.2s ease;
        }
      }

      article {
        border-right: 1px solid $cigi-text-grey;
        height: auto;

        &.disabled {
          color: $cigi-text-grey;

          .series-item-content {
            .series-item-counter {
              span {
                &:first-child {
                  &::before {
                    background-color: $cigi-text-grey;
                  }
                }

                .play-icon {
                  color: $cigi-text-grey;

                  .outer-circle {
                    border-color: $cigi-text-grey;
                  }
                }
              }
            }
          }
        }

        &:first-child {
          border-left: 1px solid $cigi-text-grey;
        }

        .series-item-image {
          display: none;
        }

        .series-item-content {
          display: flex;
          flex-direction: column;
          font-size: 0.8em;
          height: 100%;
          justify-content: space-between;
          padding: 0 1em;

          & > a {
            &:hover {
              .series-item-counter {
                span {
                  &:first-child {
                    &::before {
                      background-color: $cigi-primary-colour;
                    }
                  }

                  .play-icon {
                    color: $cigi-primary-colour;

                    .outer-circle {
                      border: 0.25em solid $cigi-primary-colour;
                    }
                  }
                }
              }
            }
          }

          .series-item-counter {
            display: flex;
            font-family: $space-series-font-primary;
            font-weight: 600;

            span {
              &:first-child {
                margin-right: 0.25em;
                position: relative;
                width: 100%;

                &::before {
                  background-color: $white;
                  bottom: 6px;
                  content: '';
                  height: 5px;
                  position: absolute;
                  transition: background-color 0.2s ease;
                  width: 100%;
                }
              }
            }

            .play-icon {
              align-items: center;
              color: $white;
              display: flex;
              height: 1.5em;
              justify-content: center;
              transition: color 0.2s ease;
              width: 1em;

              * {
                position: absolute;
                transition: background-color 0.2s ease;
              }

              .inner-circle {
                background-color: $black;
                border-radius: 50%;
                border-width: 0.25em;
                height: 0.7em;
                width: 0.7em;
                z-index: 3;
              }

              .outer-circle {
                border: 0.25em solid $white;
                border-radius: 50%;
                height: 1em;
                transition: border 0.2s ease;
                width: 1em;
                z-index: 1;
              }

              i {
                font-size: 0.4em;
                z-index: 4;
              }
            }
          }

          .series-item-title {
            font-size: 1em;
            transition: opacity 0.3s ease;
          }

          .authors {
            font-size: 0.8em;
            margin: 0;
            text-transform: uppercase;
            transition: opacity 0.3s ease;
          }
        }
      }

      .swiper-button {
        @include media-breakpoint-down(sm) {
          display: none;
        }
        color: $white;
        height: 100%;
        margin-top: 0;
        top: 0;
        transition: color 0.3s ease, opacity 0.3s ease;
        width: 75px;

        &:hover {
          color: $cigi-primary-colour;
        }

        &::before {
          bottom: 25px;
          content: 'MORE';
          position: absolute;
          transition: opacity 0.3s cubic-bezier(1, 0, 1, 0);
        }

        &.swiper-button-prev {
          left: -5em;
        }

        &.swiper-button-next {
          right: -5em;
        }

        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }

  .body {
    margin-top: 2em;
  }

  footer {
    z-index: 0;
  }
}
