{% extends "base.html" %}

{% block content %}
    {% include "includes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}

    {% include "includes/search-bar.html" %}



            <h2>hello</h2>
            <ul>
                {% for publication in publications %}
                    <li>
                        <a href="{{publication.url}}">{{publication.title}}</a>
                    </li>
                {% endfor %}
            </ul>

{% endblock content %}
