{% extends "base.html" %}
{% load wagtailcore_tags wagtailembeds_tags webpack_loader core_tags %}

{% block extra_css %}
  {% render_bundle 'publicationPage' 'css' %}
{% endblock %}

{% block content %}
  {% if self.publication_type == 'books' %}
    {% include "includes/heroes/hero_publication_book.html" with title=self.title subtitle=self.subtitle purchase_links=self.book_purchase_links image_cover=self.image_cover authors=self.authors editors=self.editors %}
  {% else %}
    {% include "includes/heroes/hero_publication.html" with title=self.title subtitle=self.subtitle download=self.pdf_downloads %}
  {% endif %}

  {% include "includes/body.html" with body=self.body %}

  {% if self.embed_issuu %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% embed self.embed_issuu max_width=1110 %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if self.has_book_metadata %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <ul class="publication-book-metadata">
            {% if self.isbn %}
              <li>
                <span>ISBN:</span> {{ self.isbn }}
              </li>
            {% endif %}
            {% if self.isbn_ebook %}
              <li>
                <span>eBook ISBN:</span> {{ self.isbn_ebook }}
              </li>
            {% endif %}
            {% if self.isbn_hardcover %}
              <li>
                <span>Hardcover ISBN:</span> {{ self.isbn_hardcover }}
              </li>
            {% endif %}
            {% if self.book_publisher %}
              <li>
                <span>Publisher:</span> {{ self.book_publisher }}
              </li>
            {% endif %}
            <li>
              <span>Published:</span> {{ self.publishing_date|date:"F j, Y" }}
            </li>
            {% if self.book_pages %}
              <li>
                <span>Pages:</span> {{ self.book_pages }}
              </li>
            {% endif %}
            {% if self.book_format %}
              <li>
                <span>Format:</span> {{ self.get_book_format_display }}
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if self.publication_type == "books" and self.embed_youtube %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8 publication-book-trailer">
          <h2 class="paragraph-heading">
            Book Trailer
          </h2>
          <div class="publication-book-trailer-embed">
            {% embed self.embed_youtube max_width=620 %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if self.publication_series %}
    <section class="publication-part-of-series">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <h2>Part of Series</h2>
            {{ self.publication_series.specific.subtitle|richtext }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if self.authors.all|length > 0 %}
    {% include "includes/about_the_author.html" with authors=self.authors.all %}
  {% endif %}
  {% if self.editors.all|length > 0 %}
    {% include "includes/about_the_author.html" with authors=self.editors.all title_override="About the Editor" %}
  {% endif %}

  {% if self.recommended.all|length > 0 %}
    {% include 'includes/recommended.html' with recommended=self.recommended.all %}
  {% endif %}
{% endblock content %}

{{ pdf_downloads }}
