{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags webpack_loader core_tags cache %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  {% if self.publication_type.title == "Books" %}
    <meta property="og:type" content="book" />
  {% else %}
    <meta property="og:type" content="article" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_feature %}
    {% image self.image_feature fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}
{% block extra_og_meta %}
  {% if self.publication_type.title == "Books" %}
    {% if self.publishing_date %}
      <meta property="book:release_date" content="{{ self.publishing_date|date:'c' }}" />
    {% endif %}
    {% if self.isbn %}
      <meta property="book:isbn" content="{{ self.isbn }}" />
    {% endif %}
  {% else %}
    {% if self.publishing_date %}
      <meta property="article:published_time" content="{{ self.publishing_date|date:'c' }}" />
    {% endif %}
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% render_bundle 'publicationPage' 'css' %}
{% endblock %}

{% block content %}
  {% preview_cache_bust as is_preview %}
  {% cache 604800 publication_content request.path request.user.username self.pk self.latest_revision_created_at|date:"c" request.GET.urlencode is_preview %}
    {% block hero %}
      {% if self.publication_type.title == 'Books' %}
        {% include "includes/heroes/hero_publication_book.html" with title=self.title subtitle=self.subtitle purchase_links=self.book_purchase_links image_cover=self.image_cover authors=self.authors.all author_count=self.author_count editors=self.editors.all editor_count=self.editor_count %}
      {% else %}
        {% include "includes/heroes/hero_publication.html" with title=self.title subtitle=self.subtitle download=self.pdf_downloads ctas=self.ctas %}
      {% endif %}
    {% endblock %}

    {% if self.from_the_archives and self.from_the_archives_blurb %}
      {% include "includes/from_the_archives_blurb.html" with blurb=self.from_the_archives_blurb %}
    {% endif %}

    {% include "includes/body.html" with body=self.body %}

    {% if self.book_excerpt_download %}
      <section class="book-excerpt-download">
        <div class="container">
          <div class="row">
            <div class="col">
              <a class="button-action track-cta" href="{{self.book_excerpt_download.file.url}}" data-cta="pub-pdf">
                Download Excerpt
              </a>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {% if self.has_book_metadata %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <ul class="publication-book-metadata">
              {% if self.isbn %}
                <li>
                  <span>ISBN:</span> {{ self.isbn }}
                </li>
              {% endif %}
              {% if self.isbn_ebook %}
                <li>
                  <span>eBook ISBN:</span> {{ self.isbn_ebook }}
                </li>
              {% endif %}
              {% if self.isbn_hardcover %}
                <li>
                  <span>Hardcover ISBN:</span> {{ self.isbn_hardcover }}
                </li>
              {% endif %}
              {% if self.book_publisher %}
                <li>
                  <span>Publisher:</span> {{ self.book_publisher }}
                </li>
              {% endif %}
              <li>
                <span>Published:</span> {{ self.publishing_date|date:"F j, Y" }}
              </li>
              {% if self.book_pages %}
                <li>
                  <span>Pages:</span> {{ self.book_pages }}
                </li>
              {% endif %}
              {% if self.book_format %}
                <li>
                  <span>Format:</span> {{ self.get_book_format_display }}
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    {% if self.publication_type.title == "Books" and self.embed_youtube %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8 publication-book-trailer">
            <h2 class="paragraph-heading">
              Book Trailer
            </h2>
            <div class="publication-book-trailer-embed">
              {% embed self.embed_youtube max_width=620 %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if self.editorial_reviews|length > 0 %}
      <section class="editorial-reviews">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <h3>Editorial Reviews</h3>
              {% for review in self.editorial_reviews %}
                <div class="editorial-review">
                  {{ review }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {% if self.embed_issuu %}
      <section class="embed-issuu">
        <div class="container">
          <div class="row">
            <div class="col">
              {% embed self.embed_issuu max_width=1110 %}
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {% if self.publication_series.live %}
      <section class="publication-part-of-series">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <h2>Part of Series</h2>
              <h3>
                <a href="{{ self.publication_series.url }}">
                  {{ self.publication_series.title }}
                </a>
              </h3>
              {{ self.publication_series.specific.subtitle|richtext }}
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {% if self.author_count > 0 %}
      {% include "includes/about_the_author.html" with authors=self.authors.all author_count=self.author_count %}
    {% endif %}
    {% if self.editor_count > 0 %}
      {% include "includes/about_the_author.html" with authors=self.editors.all editor_count=self.editor_count title_override="About the Editor" %}
    {% endif %}

    {% if request.is_preview and self.recommended_content_preview %}
      {% include 'includes/recommended.html' with recommended=self.recommended_content_preview %}
    {% elif self.recommended_content %}
      {% include 'includes/recommended.html' with recommended=self.recommended_content %}
    {% endif %}
  {% endcache %}
{% endblock content %}

{{ pdf_downloads }}
