{% extends "base.html" %}
{% load webpack_loader wagtailimages_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.subtitle %}
    <meta name="description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.subtitle %}
    <meta property="og:description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  <meta property="og:type" content="article" />
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}
{% block extra_og_meta %}
  {% if self.publishing_date %}
    <meta property="article:published_time" content="{{ self.publishing_date|date:'c' }}" />
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% render_bundle 'projectPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'projectPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/heroes/hero_standard.html" with title="The International Grand Committee on Disinformation" subtitle=self.subtitle submenu=self.submenu %}

  <section class="featured">
    <div class="container">
      <h2 class="paragraph-heading">Featured</h2>
      <div class="row">
        <div class="col-12 col-md-8">
          {% if featured_pages|length > 0 %}
            {% include "includes/features/feature_content_large.html" with content=featured_pages.0 %}
          {% endif %}
        </div>
        <hr>
        <div class="col-12 col-md-4 featured-small">
        {% with featured_pages|slice:"1:" as featured_small %}
          {% for item in featured_small %}
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            {% include "includes/features/feature_content_small.html" with content=item cta=True %}
          {% endfor %}
        {% endwith %}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="project-search-table" data-project-id="{{self.id}}">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
