{% extends "base.html" %}

{% load webpack_loader wagtailimages_tags %}


{% block og_image %}
{% if self.image_social %}
{% image self.image_social fill-300x200 as og_image %}
{% else %}
{% image self.background_image fill-300x200 as og_image %}
{% endif %}
<meta property="og:image" content="{{ og_image.url }}">
{% endblock %}

{% block title %}
{{ self.title }}
{% endblock %}

{% block extra_css %}
{% render_bundle 'strategicPlanSPAPage' 'css' %}
  <style>
    body {
      background-color: black;
    }
  </style>
{% endblock %}
{% block extra_js %}
{% render_bundle 'strategicPlanSPAPage' 'js' attrs='defer' %}
{% endblock %}


{% block header %}
{% endblock %}
{% block content %}
<div class="strategic-plan-spa" id="strategic-plan-spa" data-strategic-plan-id="{{page.id}}"
  data-base-path="{{page.url}}"></div>
{% endblock content %}
{% block footer %}
{% endblock %}