{% extends "base.html" %}
{% load wagtailimages_tags wagtailembeds_tags webpack_loader %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.subtitle %}
    <meta name="description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.subtitle %}
    <meta property="og:description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  <meta property="og:type" content="article" />
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'themeDigitalFinance' 'js' attrs='defer' %}
{% endblock %}
{% block extra_css %}
  {% render_bundle 'themeDigitalFinance' 'css' %}
  {% render_bundle 'eventPage' 'css' %}
{% endblock %}
{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/xib7ess.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "includes/top_bar.html" with small=True %}
{% endblock %}

{% block body_class %}digital-finance-conference{% endblock%}

{% block content %}
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <h1>
            <div>
              Future of Digital Finance:
            </div>
            <div>
              Emerging opportunities in India, China and the African Continent
            </div>
          </h1>
        </div>
      </div>
    </div>
  </section>

  {% include "includes/body.html" with body=self.body %}

  {% if self.author_count > 0 %}
    {% include "includes/about_the_author.html" with authors=self.authors.all author_count=self.author_count title_override="Event Speaker"%}
  {% endif %}

  {% if self.related_files %}
    <section class="related-files">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            {% include "includes/core_related_files_table.html" with file_blocks=self.related_files %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="abstract-submission">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="form-wrapper">
            <p>Please upload your file as either a PDF (.pdf) or Word (.doc/.docx) file.</p>
            <form id="eventUploadForm" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-fields">
                <div class="form-field">
                  {{ form.file.label_tag }}
                  {{ form.file }} 
                </div>
                <div class="form-field">
                  {{ form.email.label_tag }}
                  {{ form.email }}
                </div>
              </div>
              <button type="submit">Upload File</button>
            </form>
            <div>
              <div id="responseMessage" class="response-message"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
