$black: #000;
$white: #fff;

$caiai_bg_red: #b72e29;

$cigi-light-grey: #e9e9e9;
$cigi-medium-light-grey: #aaa;
$cigi-medium-grey: #929292;
$cigi-text-grey: #6d6d6d;
$cigi-primary-colour: #e6023b;
$cigi-dark-pink: #bf0332;
