{% extends "base.html" %}
{% load webpack_loader wagtailimages_tags wagtailcore_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.subtitle %}
    <meta name="description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.subtitle %}
    <meta property="og:description" content="{{ self.subtitle|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  <meta property="og:type" content="article" />
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}
{% block extra_og_meta %}
  {% if self.publishing_date %}
    <meta property="article:published_time" content="{{ self.publishing_date|date:'c' }}" />
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% render_bundle 'projectPage' 'css' %}
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    var projectId= {{ self.id }};
  </script>
  {% render_bundle 'projectPage' 'js' attrs='defer' %}
{% endblock %}



{% block header %}
  <section class="hero {% if self.image_banner %}has-banner{% endif %}" style="background-image:url('{{self.image_banner.file.url}}')">
    {% include "includes/top_bar.html" %}
    {% include "includes/top_bar_menu.html" with title='Research' submenu=self.submenu %}
    <div class="container">
      <div class="row hero-container">
        <div class="hero__main col-7">
          <h1>{{self.title}}</h1>
          <h2>{{self.subtitle|safe}}</h2>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <section class="layout layout--project">
    <div class="container layout">
      {% for block in self.layout %}
        {% include_block block %}
        {% if not forloop.last %}
          <div class="row">
            <div class="col">
              <hr />
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  {% include "includes/body.html" with body=self.body %}

  {% if self.related_files %}
    <section class="resources">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <hr />
            <h2>Resources</h2>
            {% for file in self.related_files %}
              <div class="resources__resource">
                <div>{{ file.value.title }}</div>
                <a href="{{file.value.file.url}}">
                  <button type="button" class="button--rounded">
                    <i class="fas fa-download"></i>
                    Download
                  </button>
                </a>
              </div>
              {% if not forloop.last %}
                <hr />
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="project-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
