{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader topic_tags %}

{% block extra_css %}
  {% render_bundle 'researchLandingPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'researchLandingPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/top_bar_menu.html" with title='Research' %}
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero__content">
            <p>{{ self.subtitle|richtext }}</p>
            <button class="read-more meta__text" id="read-more">
              <a>
                <i class="fal fa-plus"></i>
                <u>Read more</u>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="body hidden" id="body">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="body__title">
            A Think Tank for the Digital Era
          </div>
        </div>
        <div class="col-lg-7 offset-lg-1">
          <div class="body__content">
            {% for block in self.body %}
              {{ block.value|richtext }}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>
    </div>
  </section>
  <section class="research-topics all-topics meta__text">
    <div class="container all-topics__contianer">
      <div class="row">
        <div class="col-md-2">
          <h2>Research Topics</h2>
        </div>
        <div class="col-md-10">
          {% highlighted_topics_footer %}
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
  <section class="featured-publications" id="featured-publications">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="featured-publications-container">
            <h2 class="meta__text">Featured Publications</h2>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {% for block in self.featured_publications %}
                  <div class="swiper-slide">
                    {% include_block block.value %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div id="research-search-table">
      </div>
    </div>
  </section>
{% endblock %}
