{% load wagtailcore_tags %}


<ul class="top-topics-list">
  {% if issues %}
    <li class="trending-issue">
      <div class="trending-issue__scroll__container">
        <div class="trending-issue__scroll">
          <p>
            Happening Now
            {% for issue in issues %}
              • {{ issue.title }}
            {% endfor %}
          </p>
          <p>
            Happening Now
            {% for issue in issues %}
              • {{ issue.title }}
            {% endfor %}
          </p>
        </div>
      </div>
    </li>
  {% endif %}
  {% for topic in topics %}
    <li>
      <button type="button" class="button--rounded">
        <a href="{% pageurl topic %}">{{ topic.title }}</a>
      </button>
    </li>
  {% endfor %}
  <li>
    <a href="/research/">
      <button type="button" class="button--arrow">
        <i class="far fa-angle-right"></i>
      </button>
    </a>
  </li>
</ul>
