{% load wagtailcore_tags %}

<div class="top-topics-list">
  <ul id="top-topics-list-ul">
    {% if live_events %}
      <li class="live-event hidden" id="live-event" data-event-start="{{live_events.start_time}}" data-event-end="{{live_events.end_time}}">
        <div class="live-event__scroll__container">
          <div class="live-event__scroll">
            <p>
              Happening Now  • {{ live_events.event.title }}
            </p>
            <p>
              Happening Now  • {{ live_events.event.title }}
            </p>
          </div>
        </div>
      </li>
      <li class="live-event__button hidden" id="live-event-button-container">
        <a href="{% pageurl live_events.event %}">
          <button type="button" class="button--rounded" id="live-event-button">Watch</button>
        </a>
      </li>
    {% endif %}
    {% if issues %}
      {% for issue in issues %}
        <li class="trending-issue">
          <a href="{% pageurl issue %}">
            <button type="button" class="button--rounded">
              {{ issue.title }}
            </button>
          </a>
        </li>
      {% endfor %}
    {% endif %}
    {% if current_topic %}
      <li>
        <button type="button" class="button--rounded active">
          {{ current_topic.title }}
        </button>
      </li>
    {% endif %}
    {% for topic in topics %}
      <li>
        <a href="{% pageurl topic %}">
          <button type="button" class="button--rounded">
            {{ topic.title }}
          </button>
        </a>
      </li>
    {% endfor %}
    <li>
      <button type="button" class="button--arrow" id="topics-expand">
        <i class="far fa-plus"></i>
      </button>
    </li>
  </ul>
</div>
