{% extends "base.html" %}
{% load webpack_loader wagtailcore_tags menu_tags topic_tags %}

{% block extra_css %}
  {% render_bundle 'topicPage' 'css' %}
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    var topicId = {{ self.id }};
  </script>
  {% render_bundle 'topicPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/top_bar_menu.html" with title='Research' submenu=self.submenu %} 
  <header class="header__topics">
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="border-top border-bottom">
            {% top_topics current_topic=self %}
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  <section class="topic-page__title">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{self.title}}</h1>
        </div>
      </div>
    </div>
  </section>

  {% if self.layout %}
    <section class="layout layout--topic">
      <div class="container layout">
        <div class="border-container">
          {% for block in self.layout %}
            {% include_block block %}
            {% if not forloop.last %}
              <div class="row">
                <div class="col">
                  <hr />
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  <section class="topic-page__authors">
    <div class="container layout">
      <div class="border-container">
        <div class="row">
          <div class="col">
            <ul>
              {% for person in self.topic_authors %}
                <li>
                  <a href="{% pageurl person %}">
                    <button type="button" class="button--rounded">
                      {{ person.title }}
                    </button>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="topic-page__search-table">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="topic-search-table" id="topic-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
