{% extends "base.html" %}
{% load webpack_loader wagtailcore_tags %}

{% block extra_css %}
  {% render_bundle 'topicPage' 'css' %}
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    var topicId = {{ self.id }};
  </script>
  {% render_bundle 'topicPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <header class="header--submenu">
    <div class="container">
      <nav class="border-top">
        <div class="row g-1 justify-content-between">
          <div class="col">
            <div class="header__title">
              <i class="fal fa-folder"></i>
              <h1>{{ self.title }}</h1>
            </div>
          </div>
          <div class="col-8">
            <div class="header--submenu__right">
              <div class="header--submenu__right__menu-item active">
                <a role="button">
                  All Content
                </a>
              </div>
              <div class="header--submenu__right__menu-item">
                <a role="button">
                  Projects
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <section class="topic-page__description">
    <div class="container">
      <div class="row">
        <div class="col col-lg-8">
          <div class="topic-page__description__content">
            {{ self.description|richtext }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="topic-page__search-table">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="topic-search-table" id="topic-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
