{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block theme_css %}
  {% render_bundle 'themeDPH' 'css' %}
{% endblock %}

{% block theme_js %}
  {% render_bundle 'themeDPH' 'js' attrs='defer' %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mks4fbg.css">
{% endblock %}

{% block body_class %}dph-article-page{% endblock %}

{% block header %}
  {% include "includes/top_bar.html" with small=True %}
{% endblock %}

{% block content %}
  {% block hero %}
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <h2>
            <a href="/digital-policy-hub">
              Digital Policy Hub
            </a>
          </h2>
          <h1>{{ self.title }}</h1>
          {% if self.authors.all|length > 0 %}
            <div class="speakers">Speakers: 
              <ul class="custom-text-list">
                {% for item in self.authors.all %}
                  {% if item.hide_link %}
                    <li class="block-speaker">{{ item.author.title }}</li>
                  {% else %}
                    <li class="block-speaker"><a href="{% pageurl item.author %}">{{ item.author.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="row justify-content-center">
          <div class="col col-md-8 col-lg-6">
            <div class="subtitle">{{ self.subtitle|richtext }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  {% include "includes/body.html" with body=self.body %}
{% endblock %}

{% block footer %}
  {% include "./includes/footer.html" %}
{% endblock %}