{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block theme_css %}
  {% render_bundle 'themeDPH' 'css' %}
{% endblock %}

{% block theme_js %}
  {% render_bundle 'themeDPH' 'js' attrs='defer' %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mks4fbg.css">
{% endblock %}

{% block body_class %}
  {% now "Y-m-d" as today %}
  {% if today < '2025-03-04' %}banner-enabled{% endif %}
  dph-basic-page
{% endblock %}

{% block header %}
  {% include "./includes/top_bar.html" with small=True %}
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8 col-sm-6 col-md-6">
          <h1>Digital Policy Hub</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-5">
          <p>{{ self.subtitle|richtext }}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-6">
          <nav aria-label="navigation">
            <div class="nav nav-tabs">
              <a class="nav-link {% if self.slug == 'digital-policy-hub' %} active{% endif %}" href="/digital-policy-hub/">About the Hub</a>
              <a class="nav-link {% if self.slug == 'current-cohort-alumni' %} active{% endif %}" href="/digital-policy-hub/current-cohort-alumni">Current Cohort & Alumni</a>
              <a class="nav-link {% if self.slug == 'working-papers' %} active{% endif %}" href="/digital-policy-hub/working-papers">Working Papers</a>
              <a class="nav-link {% if self.slug == 'program-speakers' %} active{% endif %}" href="/digital-policy-hub/program-speakers">Program Speakers</a>
              <a class="nav-link {% if self.slug == 'news' %} active{% endif %}" href="/digital-policy-hub/news">News and Media</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  {% if self.slug == "digital-policy-hub" %}
    <section class="body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 order-lg-1 mb-4 mb-lg-0">
            {% include "./includes/sidebar.html" %}
          </div>
          
          <div class="col-12 col-lg-8 order-lg-2">
            {% for block in self.body %}
              {% if block.block_type != 'persons_list_block' %}
                {% include_block block %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% elif self.slug == "current-cohort-alumni" %}
    {% with cohort=self.get_cohort_data %}
      {{ cohort.alumni_theme_data|json_script:"alumni-theme-data" }}

      <div id="alumni-person-templates" class="d-none">
        {% for person in cohort.alumni_people %}
          <template data-person-id="{{ person.id }}">
            {% include "./includes/person_card.html" with person=person %}
          </template>
        {% endfor %}
      </div>
    {% endwith %}
    <section class="body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 order-lg-1 mb-4 mb-lg-0">
            {% include "./includes/sidebar.html" %}
          </div>

          <div class="col-12 col-lg-8 order-lg-2">
            {% for block in self.body %}
              {% if block.block_type != 'persons_list_block' %}
                {% include_block block %}
              {% endif %}
            {% endfor %}

            <div id="cohort-variants" class="d-none">
              {% for block in self.body %}
                {% if block.block_type == 'persons_list_block' %}
                  {% with block.value.title|default:"People" as title %}
                  {% with title|dash_case as title_slug %}
                  {% with block.value.cohort|default:"(Default)" as cohort_label %}
                    <div class="cohort-variant"
                        data-title="{{ title }}"
                        data-title-slug="{{ title_slug }}"
                        data-cohort="{{ cohort_label }}">
                      <template>
                        {% include_block block with hide_title=True page='dph_landing' %}
                      </template>
                    </div>
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                {% endif %}
              {% endfor %}
            </div>

            <div class="row justify-content-center">
              <div class="col-12">
                <h2>Digital Policy Hub Cohorts</h2>
                <nav aria-label="cohort navigation" class="cohorts-buttons">
                  <div class="nav nav-tabs content-tabs" id="cohorts-tablist" role="tablist"></div>
                </nav>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-12">
                <div id="cohorts-panels" class="cohorts-list tab-content"></div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col">
                <p class="fellows-disclaimer"><em>Visiting fellows receive full financial support from the organization or workplace they are affiliated with during their tenure at the Digital Policy Hub.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 order-lg-1 mb-4 mb-lg-0">
            {% include "./includes/sidebar.html" %}
          </div>
          <div class="col-12 col-lg-8 order-lg-2">
            {% for block in self.body %}
              {% include_block block %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock content %}

{% block footer %}
    {% include "./includes/footer.html" %}
{% endblock %}
