{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block theme_css %}
  {% render_bundle 'themeDPH' 'css' %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mks4fbg.css">
{% endblock %}

{% block header %}
  {% include "includes/top_bar.html" with small=True %}
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8 col-sm-6 col-md-6">
          <h1>{{ self.title }}</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-5">
          <p>{{ self.subtitle|richtext }}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <nav>
            <div class="nav nav-tabs content-tabs" id="nav-tab-content" role="tablist">
              <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About the Hub</a>
              {% if self.has_publications_list_block %}
                <a class="nav-link" id="papers-tab" data-toggle="tab" href="#papers" role="tab" aria-controls="papers" aria-selected="true">Working Papers</a>
              {% endif %}
              <a class="nav-link" id="announcements-tab" data-toggle="tab" href="#announcements" role="tab" aria-controls="announcements" aria-selected="true">News</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="tab-content">
    <section class="tab-about tab-pane fade show active body" id="about" role="tabpanel" aria-labelledby="about-tab">
      {% if heading %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12{% if full_heading is not True %} col-md-10 col-lg-8{% endif %}">
              <h2 class="paragraph-heading">{{ heading }}</h2>
            </div>
          </div>
        </div>
      {% endif %}
      {% for block in self.body %}
        {% if block.block_type != 'persons_list_block' and block.block_type != 'publications_list_block' and block.block_type != 'additional_pages_block' %}
          {% include_block block %}
        {% endif %}
      {% endfor %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <h2>Digital Policy Hub Cohorts</h2>
            <nav class="cohorts-buttons">
              <div class="nav nav-tabs content-tabs" id="nav-tab-content" role="tablist">
                {% define 0 as counter %}
                {% for block in self.body %}
                  {% if block.block_type == 'persons_list_block' %}
                    {% with block.value.title|dash_case as cohort %}
                    <a class="nav-link {% if counter == 0 %}active{% endif %}" id="{{cohort}}-tab" data-toggle="tab" href="#{{cohort}}" role="tab" aria-controls="{{cohort}}" aria-selected="true">{{ block.value.title }}</a>
                    {% endwith %}
                    {% define 1 as counter %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cohorts-list tab-content">
        {% define 0 as counter %}
        {% for block in self.body %}
          {% if block.block_type == 'persons_list_block' %}
            {% with block.value.title|dash_case as cohort %}
              <div class="tab-{{cohort}} tab-pane fade {% if counter == 0 %}show active{% endif %}" id="{{cohort}}" role="tabpabel" aria-labelledby="{{cohort}}-tab">
                {% include_block block with hide_title=True %}
              </div>
            {% endwith %}
            {% define 1 as counter %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  
    {% if self.has_publications_list_block %}
      <section class="tab-papers tab-pane fade" id="papers" role="tabpanel" aria-labelledby="papers-tab">
        {% for block in self.body %}
          {% if block.block_type == 'publications_list_block' %}
            {% include_block block %}
          {% endif %}
        {% endfor %}
      </section>
    {% endif %}
    <section class="tab-announcements tab-pane fade show active body" id="announcements">
      {% for block in self.body %}
        {% if block.block_type == 'additional_pages_block' %}
          {% include_block block with hide_title=True %}
        {% endif %}
      {% endfor %}
    </section>
  </section>
{% endblock content %}

{% block footer %}
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <hr>
        </div>
        <div class="col-md-7">
          <p>
            For additional information or inquiries, please contact Reanne Cayenne, Research Coordinator, at <a href="mailto:digitalhub@cigionline.org">digitalhub@cigionline.org</a>
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-6 col-lg-4">
          <img src="/static/themes/dph/assets/CIGI_DPH_logos.png" alt="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="footer__copyright">
            © 2023 | <a href="/privacy-policy/">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
