@import '../../../css/global/mixins';

.highlighted-topics-container {
  border: 1px solid $cigi-light-grey;
  padding: 1.25em;
  
  h2 {
    color: $cigi-text-grey;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
  }

  .highlighted-topics {
    @include media-breakpoint-up(md) {
      columns: 3;
    }
    @include media-breakpoint-up(lg) {
      columns: 4;
    }
    columns: 2;
    font-size: 0.75em;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .topic {
      @include link($color: $cigi-primary-colour, $hover-color: $cigi-dark-pink);
      padding: 0.2em 0;

      a {
        text-transform: uppercase;
      }
    }

    span {
      color: $cigi-text-grey;
    }
  }
}
