@import '../../../css/global/mixins';

.person-page {
  section {
    h2 {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      font-weight: 300;
      font-size: 1em;
      color: $cigi-medium-grey;
    }

    &.hero {
      margin-bottom: 1em;

      .hero__content {
        border-bottom: 0;
      }
    }

    &.body {
      @include media-breakpoint-up(md) {
        margin-top: 1em;
      }
      margin-top: 1em;
      margin-bottom: 1em;
    }

    &.person-page__in-the-news {
      article {
        display: flex;
        margin-bottom: 1.5em;

        h3 {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
          font-size: 1.1em;
          margin-bottom: 0.3em;
          font-weight: 300;
        }

        i {
          margin-right: 1.5em;
          margin-top: 0.3em;
        }

        p {
          margin-bottom: 0;
        }
      }

      .person-in-the-news {
        margin-top: 1em;
      }
    }

    &.person-page__external-publications {
      article {
        @include link(
          $color: $cigi-primary-colour,
          $hover-color: $cigi-dark-pink
        );
        display: flex;
        margin-bottom: 1.25em;

        i {
          margin-right: 1.5em;
          margin-top: 0.3em;
        }
      }
    }

    &.person-page__search-table {
      margin-top: 2em;

      h2 {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 1em;
        border-bottom: 1px solid $cigi-light-grey;
      }

      .search-table__filters__container {
        display: none;
      }

      .expert-search-table {
        .search-table-container {
          margin-top: 0;

          .search-table {
            margin-top: 1em;
          }
        }
      }

      .search-table__results__row__title {
        @include media-breakpoint-up(md) {
          width: 40%;
          padding-right: 2em;
        }
      }
    }
  }
}
