@import './card_xlarge';
@import './card_large';
@import './card_medium';
@import './card_small';
@import './card_tiny';
@import './card_social';

.card__container {
  .card__image {
    .img-wrapper {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    img {
      border-radius: 20px;
      transition: opacity 1.5s ease-in;
    }

    .card__image__play-icon {
      position: absolute;
      z-index: 6;
      background-color: $black;
      top: 1em;
      right: 1.5em;
      width: 2em;
      height: 2em;
      font-size: 0.75em;
      border-radius: 50%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 3s ease, color 0.2s ease-in-out,
        background-color 0.2s ease-in-out, z-index 5s ease;

      &.hidden {
        opacity: 0;
        z-index: 0;
      }

      i {
        &:not(.icon-audio) {
          margin-left: 0.15em;
        }
      }
    }

    .card__image__mm-length {
      color: $white;
      background-color: $black;
      position: absolute;
      padding: 0.1em 0.25em;
      border-radius: 5px;
      font-size: 0.8em;
      right: 15px;
      bottom: 15px;
      z-index: 6;
      transition: opacity 3s ease, z-index 5s ease;

      &.hidden {
        opacity: 0;
        z-index: 0;
      }
    }

    &.card__image--square {
      @include media-breakpoint-up(md) {
        flex: 1 0 25%;
      }
    }
  }

  .card__text {
    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    .card__text__title {
      @include link($color: $black, $hover-color: $cigi-dark-pink);
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.1;
    }

    .card__text__description {
      font-size: 15px;
      line-height: 1.25;
    }

    p {
      font-size: 15px;
    }
  }

  .card__text__topics {
    @include link($color: $cigi-text-grey, $hover-color: $cigi-dark-pink);
    font-size: 0.8em;
    margin-bottom: 0.5em;
    line-height: 1.25;
  }

  .card__text__meta {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    line-height: 1.25;
    width: 100%;

    .card__text__people {
      @include link($color: $cigi-dark-grey, $hover-color: $cigi-dark-pink);
      font-size: 0.8em;
      margin-bottom: 0.25em;

      li {
        color: $cigi-text-grey;
      }
    }
  }

  &.card--event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &.is_private {
      .card--event__calendar-date {
        color: $cigi-medium-grey;
      }
    }

    .card--event--upcoming-label {
      margin-bottom: 1em;
    }

    div {
      &[class*='col-'] {
        border: 0 !important;
      }
    }

    .card--event__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;

      .card--event__title {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        margin-top: 0;
        margin-bottom: 1em;
        line-height: 1;
      }

      .card--event__type {
        text-transform: capitalize;
      }

      .card--event__calendar-date {
        text-align: right;

        .card--event__date {
          @include media-breakpoint-up(lg) {
            font-size: 10em;
          }
          font-size: 8em;
          font-weight: 400;
          line-height: 1;
        }

        .card--event__month {
          font-size: 1.5em;
          margin-right: 3%;
        }
      }
    }

    .card--event__bottom {
      align-items: flex-end;

      .card__text__meta {
        width: 100%;
      }
    }

    .card--event__button--register {
      @include button(
        $color: $white,
        $background-color: $black,
        $hover-color: $black,
        $hover-background-color: $white,
        $border-color: $black,
        $hover-border-color: $black
      );

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 2em;
      width: 100%;
      border-radius: 100px;
      transition: none;

      &.is_private {
        @include button(
          $color: $cigi-medium-grey,
          $hover-color: $cigi-medium-grey,
          $background-color: $white,
          $hover-background-color: $white,
          $border-color: $cigi-medium-grey,
          $hover-border-color: $cigi-medium-grey
        );
        cursor: default;
      }
    }
  }

  &.card--expert {
    .card__image {
      &.card__image--portrait--circle {
        img {
          height: 75px;
          width: 75px;
          border-radius: 10px;
          margin-right: 1em;
        }
      }
    }

    .card--expert__board-position {
      font-size: 0.8em;
    }

    .card--expert__social {
      margin-top: 1em;

      ul {
        list-style: none;

        li {
          @include link(
            $color: $cigi-text-grey,
            $hover-color: $cigi-primary-colour
          );
          display: flex;

          div {
            min-width: 5em;
            color: $cigi-medium-grey;
          }
        }
      }
    }
  }

  &.card--multimedia {
    &.has-vimeo {
      .card__image__play-icon {
        top: calc(50% - 1em);
        right: calc(50% - 1em);
        width: 2em;
        height: 2em;
        font-size: 1.5em;

        &:hover {
          color: $black;
          background-color: $white;
        }
      }
    }

    &.card--multimedia--audio {
      &.theme-big-tech-s3 {
        &.card--medium--multimedia {
          .card__text {
            @include media-breakpoint-up(md) {
              border-radius: 20px 0 0 20px;
            }
            border-radius: 0 0 20px 20px;
          }
        }

        &.card--small--multimedia {
          .card__text {
            border-radius: 0 0 20px 20px;
          }
        }

        &.card--large--multimedia {
          .card__text {
            @include media-breakpoint-up(md) {
              border-radius: 20px 0 0 20px;
            }
            border-radius: 0 0 20px 20px;
          }
        }

        .card__text {
          background-color: $bigtech-s3-red;

          .card__text__title {
            @include link($color: $black, $hover-color: $white);
            font-weight: 500;
          }

          .card__text__description {
            p {
              color: $black;
            }
          }

          .card__text__topics {
            @include link($color: $black, $hover-color: $white);
          }

          .card__text__meta {
            .card__text__people {
              @include link($color: $black, $hover-color: $white);
            }

            .card__text__more {
              i {
                color: $cigi-dark-grey;
              }
            }
          }
        }
      }
    }

    .card__image {
      cursor: pointer;

      .img-wrapper {
        padding-bottom: 56.25%;

        img {
          z-index: 6;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 3s ease, z-index 5s ease;

          &.hidden {
            z-index: 0;
            opacity: 0;
          }
        }

        iframe {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      iframe {
        border-radius: 20px 20px 0 0;
      }
    }

    .card__text {
      transition: z-index 8s ease, opacity 3s ease;

      &.hidden {
        z-index: 0;
        opacity: 0;
      }
    }
  }

  &.card--ad {
    height: 100%;
    position: relative;

    .card__image {
      height: 100%;
    }

    .card--ad__content {
      position: absolute;
    }

    &.card--ad--social {
      .card--ad__content {
        top: 0;
        right: 0;
        bottom: 0;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1em;

        .social-text {
          @include media-breakpoint-up(md) {
            font-size: 1.75em;
            width: 70%;
          }
          color: $white;
          font-size: 1.5em;
          line-height: 1.2;
          margin: 0 auto;
          text-align: center;
        }

        .social-links {
          display: flex;

          .social-link {
            align-items: center;
            background-color: $white;
            border: 1px solid $white;
            border-radius: 2px;
            color: $black;
            display: flex;
            height: 30px;
            justify-content: center;
            margin: 1em 0.3em 0;
            transition: background-color 0.2s ease;
            width: 30px;

            &:hover {
              background-color: $color--blue;
            }

            i {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &.ai-ethics-series {
    @include article-series-card-theme($background-color: #f7f7f7);
  }

  &.ai-series {
    @include article-series-card-theme(
      $background-color: $ai-primary-color,
      $color: $white,
      $link-color: $white,
      $topic-color: $cigi-light-grey
    );
  }

  &.john-holmes-series {
    @include article-series-card-theme(
      $background-color: $john-holmes-bg-color,
      $topic-color: $cigi-text-grey
    );
  }

  &.four-domains-series {
    @include article-series-card-theme(
      $background-color: #e5e5d9,
      $color: $black,
      $link-color: $black,
      $topic-color: $cigi-text-grey
    );
  }

  &.pfpc-series {
    @include article-series-card-theme(
      $background-color: $black,
      $color: $white,
      $link-color: $white,
      $topic-color: $cigi-medium-light-grey
    );
  }

  &.cyber-series {
    @include article-series-card-theme(
      $background-color: #1f2024,
      $color: $white,
      $link-color: $white,
      $topic-color: $cigi-light-grey
    );
  }

  &.health-security-series {
    @include article-series-card-theme(
      $background-color: $health-security-series-background-colour,
      $color: $white,
      $link-color: $white,
      $topic-color: $cigi-light-grey
    );
  }

  &.after-covid-series {
    @include article-series-card-theme(
      $background-color: $black,
      $color: $white,
      $link-color: $white,
      $topic-color: $cigi-light-grey
    );
  }

  &.wto-series {
    @include article-series-card-theme(
      $background-color: $wto-series-background-colour
    );
  }

  &.indigenous-lands-series,
  &.women-and-trade-series,
  &.longform,
  &.data-series,
  &.innovation-series {
    @include article-series-card-theme($background-color: $previous-body-bg);
  }

  &.platform-governance-series {
    @include article-series-card-theme(
      $background-color: #0d6559,
      $color: $white,
      $link-hover-color: #cdb552,
      $topic-color: $cigi-light-grey,
      $topic-hover-color: #cdb552
    );
  }
}

.card__text__more__container {
  .card__text__more {
    @include link($color: $cigi-medium-grey, $hover-color: $cigi-dark-pink);
    margin-left: 0.5em;
    display: flex;

    &::after {
      content: none;
    }

    &:hover {
      color: $cigi-primary-colour;
    }
  }

  .dropdown-menu {
    padding: 0;
    overflow: hidden;

    input {
      display: none;
    }

    .dropdown-item {
      padding: 1em 1.5em;
      cursor: pointer;

      &:active {
        background-color: $cigi-light-grey;
      }

      i {
        width: 1.5em;
      }
    }
  }
}
