.card--tiny {
  display: flex;

  &.card--tiny--article {
    .card__text {
      .card__text__title {
        font-family: $card-title-font;
      }
    }
  }

  &.card--tiny--article-series {
    .fa-stack {
      display: flex;

      .front {
        background-color: $white;
        position: absolute;
        top: 0.2em;
        width: auto;
      }

      .back {
        margin-left: 0.2em;
      }
    }
  }

  i {
    width: 35px;
    margin-top: 0.25em;
    flex-shrink: 0;
  }
}
