.card--large {
  div[class*='col'] {
    border: 0 !important;
  }

  .card__text {
    .card__text__title {
      font-size: 1.25em;
      font-size: clamp(1.25em, 3vw, 2.4em);
      font-family: $card-title-font;
      letter-spacing: -0.5px;
      margin-bottom: 1.5rem;
    }

    p {
      color: $cigi-text-grey;
    }
  }

  &.card--large--multimedia {
    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
    border-radius: 20px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
      @include media-breakpoint-up(md) {
        border-radius: 0 20px 20px 0;
      }
      border-radius: 20px 20px 0 0;
    }

    .card__image {
      @include media-breakpoint-up(md) {
        flex: 0 0 66.66666667%;
      }
      flex: auto;
      position: relative;

      .card__image__play-icon {
        position: absolute;
        background-color: $black;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 0.8em;

        i {
          margin-left: 0.15em;
        }
      }

      .card__image__mm-length {
        color: $white;
        background-color: $black;
        position: absolute;
        padding: 0.1em 0.25em;
        font-size: 0.8em;
        right: 15px;
        bottom: 15px;
      }
    }

    .card__text {
      padding: 1em;

      p {
        @include media-breakpoint-only(md) {
          display: block;
        }
        display: none;
        line-height: 1.25;
        color: $cigi-text-grey;
      }

      .card__text__title {
        @include link($color: $white, $hover-color: $cigi-primary-colour);
        @include media-breakpoint-only(md) {
          padding-bottom: 0;
        }
        padding-bottom: 2em;
        font-size: clamp(1.1em, 3vw, 1.5em);
      }

      .card__text__meta {
        .card__text__people {
          @include link(
            $color: $cigi-medium-grey,
            $hover-color: $cigi-primary-colour
          );
        }

        .card__text__topics {
          @include link(
            $color: $cigi-light-grey,
            $hover-color: $cigi-primary-colour
          );
        }
      }
    }
  }
}
