.card--tiny {
  display: flex;

  &.card--tiny--article {
    .card__text {
      .card__text__title {
        font-family: $card-title-font;
      }
    }
  }

  i {
    width: 35px;
    margin-top: 0.25em;
    flex-shrink: 0;
  }
}