$card-title-font: $title-font-family;
@import './card_large';
@import './card_medium';
@import './card_small';
@import './card_tiny';
@import './card_social';

.card__container {
  .card__image {
    .img-wrapper {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    img {
      border-radius: 20px;
    }

    .card__image__play-icon {
      position: absolute;
      background-color: $black;
      top: 15px;
      right: 15px;
      border-radius: 50%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 0.8em;

      i {
        &:not(.icon-audio) {
          margin-left: 0.15em;
        }
      }
    }

    .card__image__mm-length {
      color: $white;
      background-color: $black;
      position: absolute;
      padding: 0.1em 0.25em;
      border-radius: 5px;
      font-size: 0.8em;
      right: 15px;
      bottom: 15px;
    }
  }

  .card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .card__text__title {
      @include link($color: $black, $hover-color: $cigi-dark-pink);
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.1;
    }

    .card__text__description {
      font-size: 15px;
    }

    p {
      font-size: 15px;
    }
  }

  .card__text__meta {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    line-height: 1.25;

    .card__text__people {
      @include link($color: $cigi-text-grey, $hover-color: $cigi-dark-pink);
      font-size: 0.9em;

      li {
        color: $cigi-text-grey;
      }
    }

    .card__text__topics {
      @include link($color: $cigi-dark-grey, $hover-color: $cigi-dark-pink);
      font-size: 0.9em;
    }

    .card__text__more__container {
      .card__text__more {
        @include link($color: $cigi-medium-grey, $hover-color: $cigi-dark-pink);
        margin-left: 0.5em;

        &::after {
          content: none;
        }

        &:hover {
          color: $cigi-primary-colour;
        }
      }

      .dropdown-menu {
        padding: 0;
        overflow: hidden;

        input {
          display: none;
        }

        .dropdown-item {
          padding: 1em 1.5em;
          cursor: pointer;

          &:active {
            background-color: $cigi-light-grey;
          }

          i {
            width: 1.5em;
          }
        }
      }
    }
  }

  &.card--event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &.is_private {
      .card--event__calendar-date {
        color: $cigi-medium-grey;
      }
    }

    .card--event--upcoming-label {
      margin-bottom: 1em;
    }

    div {
      &[class*='col-'] {
        border: 0 !important;
      }
    }

    .card--event__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;

      .card--event__title {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        font-size: 1.25em;
        font-size: clamp(1.25em, 3vw, 1.75em);
        margin-top: 0;
        margin-bottom: 1em;
        line-height: 1;
      }

      .card--event__calendar-date {
        text-align: right;

        .card--event__date {
          @include media-breakpoint-up(lg) {
            font-size: 10em;
          }
          font-size: 8em;
          font-weight: 400;
          line-height: 1;
        }

        .card--event__month {
          font-size: 1.5em;
          margin-right: 3%;
        }
      }
    }

    .card--event__bottom {
      align-items: flex-end;

      .card__text__meta {
        width: 100%;
      }

      .card--event__button--register {
        @include button(
          $color: $white,
          $background-color: $black,
          $hover-color: $black,
          $hover-background-color: $white,
          $border-color: $black,
          $hover-border-color: $black
        );

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;
        width: 100%;
        border-radius: 100px;
        transition: none;

        &.is_private {
          @include button(
            $color: $cigi-medium-grey,
            $hover-color: $cigi-medium-grey,
            $background-color: $white,
            $hover-background-color: $white,
            $border-color: $cigi-medium-grey,
            $hover-border-color: $cigi-medium-grey
          );
          cursor: default;
        }
      }
    }
  }

  &.card--expert {
    .card__image {
      &.card__image--portrait--circle {
        img {
          height: 75px;
          width: 75px;
          border-radius: 50%;
          margin-right: 1em;
        }
      }
    }

    .card--expert__board-position {
      font-size: 0.8em;
    }

    .card--expert__social {
      margin-top: 1em;

      ul {
        list-style: none;

        li {
          @include link(
            $color: $cigi-text-grey,
            $hover-color: $cigi-primary-colour
          );
          display: flex;

          div {
            min-width: 5em;
            color: $cigi-medium-grey;
          }
        }
      }
    }
  }

  &.john-holmes-series {
    background-color: #f3f3f3 !important;

    .card__text__title {
      @include link($color: $black !important);
    }

    .card__text__description {
      color: $black !important;
    }

    .card__text__meta {
      .card__text__topics {
        @include link($color: $black !important);
      }

      .card__text__more {
        i {
          color: $black !important;
        }
      }
    }
  }

  &.four-domains-series {
    background-color: #e5e5d9 !important;

    .card__text__title {
      @include link($color: $black !important);
    }

    .card__text__description {
      color: $black !important;
    }

    .card__text__meta {
      .card__text__topics {
        @include link($color: $black !important);
      }

      .card__text__more {
        i {
          color: $black !important;
        }
      }
    }
  }

  &.cyber-series {
    background-color: #1f2024 !important;
  }
}
