.card__container {
  &.card--small {
    display: flex;
    align-items: center;

    &.card--small--poster {
      @include media-breakpoint-up(md) {
        display: grid;
        grid-template-rows: 1.7fr 1fr;
        height: 100%;
      }
      @include media-breakpoint-up(lg) {
        grid-template-rows: 3fr 1fr;
      }

      .card__image {
        @include media-breakpoint-up(sm) {
          padding: 0 3em 0 0;
        }
        @include media-breakpoint-up(md) {
          padding: 0 2em 2em;
        }
        @include media-breakpoint-up(lg) {
          padding: 0 3.25em 2em;
        }
        @include media-breakpoint-up(xl) {
          padding: 2em 4em 3em;
        }
        @include media-breakpoint-up(xxl) {
          padding: 2em 6em 3em;
        }
        padding: 0 1em 0 0;
        flex: 0 0 50%;
      }
    }

    &.card--small--landscape {
      @include media-breakpoint-up(md) {
        display: grid;
        grid-template-rows: 1fr 1.5fr;
        align-items: baseline;
      }
      @include media-breakpoint-up(lg) {
        grid-template-rows: 1.5fr 1.1fr;
      }

      .card__image {
        @include media-breakpoint-up(md) {
          padding-bottom: 1em;
          padding-right: 0;
        }
        padding-right: 1em;
        flex: 0 0 50%;
      }

      .card__text__title {
        font-size: 1.1em;
        font-size: clamp(1.1em, 3vw, 1.5em);
        font-family: $card-title-font;
        line-height: 1;
        flex: 0 0 50%;
      }
    }

    .card__text {
      flex-grow: 1;
    }
  }

  &.card--small--multimedia {
    @include media-breakpoint-only(md) {
      flex-direction: row-reverse;
    }
    border-radius: 20px;
    background-color: $black;
    display: flex;
    flex-direction: column;
    height: 100%;

    img {
      @include media-breakpoint-only(md) {
        border-radius: 0 20px 20px 0;
      }
      border-radius: 20px 20px 0 0;
    }

    .card__image {
      @include media-breakpoint-up(lg) {
        flex: auto;
      }
      @include media-breakpoint-only(md) {
        flex: 0 0 66.66666667%;
      }
      position: relative;

      .card__image__play-icon {
        position: absolute;
        background-color: $black;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 0.8em;

        i {
          margin-left: 0.15em;
        }
      }

      .card__image__mm-length {
        color: $white;
        background-color: $black;
        position: absolute;
        padding: 0.1em 0.25em;
        font-size: 0.8em;
        right: 15px;
        bottom: 15px;
      }
    }

    .card__text {
      padding: 1em;

      p {
        @include media-breakpoint-only(md) {
          display: block;
        }
        display: none;
        line-height: 1.25;
        color: $cigi-text-grey;
      }

      .card__text__title {
        @include link($color: $white, $hover-color: $cigi-primary-colour);
        @include media-breakpoint-only(md) {
          padding-bottom: 0;
        }
        padding-bottom: 2em;
        font-size: clamp(1.1em, 3vw, 1.5em);
      }

      .card__text__meta {
        .card__text__people {
          @include link(
            $color: $cigi-medium-grey,
            $hover-color: $cigi-primary-colour
          );
        }

        .card__text__topics {
          @include link(
            $color: $cigi-light-grey,
            $hover-color: $cigi-primary-colour
          );
        }
      }
    }
  }
}
