.social--media__wrapper {
  flex-wrap: nowrap;

  .social--media {
    @include media-breakpoint-up(xl) {
      display: block;
    }
    display: none;
    margin: 0;

    &.swiper-slide {
      @include media-breakpoint-up(md) {
        height: 100%;
      }
    }

    &.social--media__first {
      display: block;
    }

    &.social--media__second {
      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    .social--media__profile--bar {
      align-items: center;
      display: flex;
      margin-bottom: 2em;

      h6 {
        color: $cigi-text-black;
        font-size: 15px;
        margin-bottom: 0;
      }

      .profile--handle {
        color: $cigi-medium-text-grey;
        font-size: 12px;
        margin-bottom: 0;
      }

      .profile--image {
        margin-right: 1em;

        img {
          border-radius: 50%;
          height: auto;
          width: 50px;
        }
      }
    }

    .card__text {
      justify-content: normal;
      color: $cigi-text-grey;
      line-height: 1.25;
      flex-grow: 0;

      a {
        color: $cigi-text-black;
      }

      a:hover {
        color: $cigi-dark-pink;
      }
    }

    .card__image {
      .image--source {
        margin-bottom: 0;

        a {
          color: $cigi-medium-text-grey;
          font-size: 12px;
        }

        a:hover {
          color: $cigi-dark-pink;
        }
      }

      .image--caption {
        color: $cigi-text-black;
        margin-bottom: 0;
      }
    }

    .social--media__status--bar {
      color: $cigi-text-grey-dark;
      display: flex;
      font-size: 15px;
      justify-content: space-between;
      margin-top: 1em;

      .social--media__status--wrapper {
        @include link($color: $cigi-medium-grey, $hover-color: $black);
        align-items: center;
        display: flex;

        .social--media__upvotes {
          @include media-breakpoint-up(lg) {
            margin-right: 3em;
          }
          margin-right: 2em;
        }

        i {
          margin-right: 0.5em;
        }
      }

      .social-media__link {
        button {
          align-items: center;
          background-color: $cigi-medium-grey;
          border: 1px solid $cigi-medium-grey;
          border-radius: 20px;
          font-size: 12px;
          color: $white;
          display: flex;
          padding: 0.5em 1em;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: transparent;
            color: $black;
            border: 1px solid $cigi-medium-grey;
          }

          i {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}
