.card__container {
  &.card--large {
    div[class*='col'] {
      border: 0 !important;
    }

    .card__text {
      .card__text__title {
        font-size: 1.25em;
        font-size: clamp(1.25em, 3vw, 2.4em);
        font-family: $card-title-font;
        letter-spacing: -0.5px;
        margin-bottom: 1.5rem;
      }

      p {
        color: $cigi-text-grey;
      }
    }
  }

  &.card--large__publication {
    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }
    display: flex;

    div[class*='col'] {
      border: 0 !important;
    }

    .card__image {
      @include media-breakpoint-up(md) {
        padding: 0 4em 1em;
      }
      @include media-breakpoint-up(lg) {
        padding: 0 6em 1em;
      }
      @include media-breakpoint-up(xl) {
        padding: 0 8em 1em;
      }
      padding: 0 3em;
    }

    .card__text {
      .card__text__title {
        font-size: clamp(1.25em, 3vw, 2.4em);
        letter-spacing: -0.5px;
      }

      .card__text__description {
        color: $cigi-text-grey;
      }
    }
  }

  &.card--large__article-series {
    div[class*='col'] {
      border: 0 !important;
    }

    .card__label {
      margin: 0;
      padding: 0 1.5em 1em;
    }

    .card__content {
      .card__image {
        @include media-breakpoint-up(md) {
          padding: 3em 4em;
        }
        @include media-breakpoint-up(lg) {
          padding: 3em 6em;
        }
        @include media-breakpoint-up(xl) {
          padding: 3em 8em;
        }
        padding: 0 3em;
      }

      .card__text {
        .card__text__title {
          font-size: clamp(1.25em, 3vw, 2.4em);
          letter-spacing: -0.5px;
        }
  
        .card__text__description {
          color: $cigi-text-grey;
        }
      }
    }
  }
}
