{% load wagtailcore_tags wagtailimages_tags core_tags %}

{% if article_series.image_banner.file.url|file_extension == '.gif' %}
  {% define article_series.image_banner.file.url as image_banner_url %}
{% else %}
  {% image article_series.image_banner original as image_banner %}
  {% define image_banner.url as image_banner_url %}
{% endif %}

<section class="after-covid-series-in-the-series">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <article>
          <div class="essay-series-label">Essay Series</div>
          <div class="series-info row">
            <div class="col-md-6">
              <h2><a href="{{ article_series.url }}">{{ article_series.title }}</a></h2>
            </div>
            <div class="col-md-6 short-description">
              {{ article_series.short_description|richtext }}
            </div>
          </div>
          <div class="video-banner" style="background-image: url('{{image_banner_url}}');"></div>
          <div class="series-contributors">
            <div class="contributors-label">Contributors</div>
            <ul class="contributors">
              {% for item in article_series.series_contributors_by_person %}
                <li>
                  <a href="{{ item.item.url }}">
                    {% for contributor in item.contributors %}
                      {{ contributor.title }}
                    {% endfor %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
