<ul class="event-add-to-calendar inline-list">
  <li class="dropdown-button-list">
    <button class="button" type="button" aria-haspopup="true">
      Add to Calendar <i class="fas fa-chevron-down"></i>
    </button>
    <ul>
      <li>
        <a
          href="{{ event.google_calendar_url }}"
          target="_blank"
          rel="noopener noreferrer"
          class="cal_google">
          Google
        </a>
      </li>
      <li><a href="{{ event.calendar_feed_url }}">Outlook</a></li>
      <li><a href="{{ event.calendar_feed_url }}">iCal</a></li>
    </ul>
  </li>
</ul>
