body {
  &.policy-prompt-multimedia {
    section {
      background-color: $policy-prompt-bg;

      hr {
        background-color: $cigi-medium-grey;
        height: 1px;
        margin: 2rem 0;
      }

      h2 {
        font-size: 0.9rem;
        color: $policy-prompt-blue;
        letter-spacing: 3px;
        font-weight: 600;
        margin: 0 0 1.5rem;
        text-transform: uppercase;
      }

      &.hero {
        margin-bottom: 0;
        padding-bottom: 0;

        .policy-prompt-logo {
          text-align: left;
          margin-bottom: 3rem;
        }

        .subscribe-share {
          @include link(
            $color: $cigi-dark-grey,
            $hover-color: $policy-prompt-blue
          );
          color: $cigi-dark-grey;
          display: flex;
          font-size: 0.8rem;
          text-align: right;
          flex-direction: column;

          .dropdowns {
            display: flex;
            justify-content: flex-end;

            .dropdown {
              position: relative;
              margin-left: 2rem;
              cursor: pointer;

              &:hover {
                .dropdown-menu {
                  display: block;
                }
              }

              i {
                margin-left: 0.5rem;
              }

              .dropdown-menu {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                left: auto;
                background-color: $policy-prompt-blue;
                color: $white;
                font-family: $policy-prompt-font;
                font-size: 0.8rem;
                font-weight: 500;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 0;
                margin: 0;
                list-style: none;
                z-index: 1000;
                border-radius: 0;

                li {
                  padding: 0;
                  border-bottom: 1px solid $white;

                  &:last-child {
                    border-bottom: none;
                  }

                  &:hover {
                    button {
                      background-color: $white;

                      a {
                        color: $policy-prompt-blue;
                      }
                    }
                  }

                  button {
                    text-transform: uppercase;
                    display: block;
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border: none;
                    background: none;
                    text-align: left;
                    cursor: pointer;

                    a {
                      color: $white;
                    }
                  }
                }
              }
            }
          }

          .follow {
            text-transform: uppercase;
            margin-top: 0.5rem;

            a {
              margin-left: 0.5rem;
            }
          }
        }

        .hero-content {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 2rem;

          .episode-number {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 1px;
            margin-bottom: 0.5rem;
            font-weight: 500;
          }

          h1 {
            @include media-breakpoint-up(md) {
              font-size: 1.75rem;
            }
            @include media-breakpoint-up(lg) {
              font-size: 2.5rem;
            }
            font-size: 1.5rem;
            font-family: $policy-prompt-font;
            color: $black;
            font-weight: 600;
            text-align: left;
            margin-bottom: 1.5rem;

            span {
              &.logo-animation-cursor {
                display: inline-block;
                background-color: $policy-prompt-green;
                border-radius: 0.5em;
                height: 0.25em;
                width: 1em;
                position: relative;
                transition: opacity 1s ease;
                animation: blink 5s infinite;
                transform: rotate(5deg);
              }

              &.animate-color {
                animation: colorSwitch 6s ease;
              }
            }
          }

          .subtitle {
            font-family: $policy-prompt-font;
            font-size: 0.9rem;
            line-height: 1.25;
            margin-bottom: 2rem;

            p {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .podcast-player {
            margin-bottom: 2rem;
          }

          .mejs__container {
            background: transparent;
            color: $black;
            margin: 0;

            .mejs__controls {
              background: transparent;
              padding: 0;
            }

            .mejs__playpause-button {
              width: 1.5rem;

              button {
                margin-left: 0;
                margin-right: 0;
              }
            }

            .mejs__button {
              button {
                color: $black;
              }
            }

            .mejs__rewind-button,
            .mejs__fast-forward-button,
            .mejs__currenttime-container {
              display: none;
            }

            .mejs__time-total {
              margin-top: 0;
              background: $white;
            }

            .mejs__time-rail {
              display: flex;
              padding-top: 0;
              align-items: center;
            }

            .mejs__time-current {
              background-color: $policy-prompt-blue;
            }

            .mejs__time-buffering,
            .mejs__time-current,
            .mejs__time-float-current,
            .mejs__time-hovered,
            .mejs__time-loaded,
            .mejs__time-marker,
            .mejs__time-total {
              height: 0.3rem;
            }
            .mejs__time-handle-content {
              top: -0.4rem;
              border: 1px solid $black;
            }

            .mejs__duration {
              font-size: 0.75rem;
              font-weight: 400;
              color: $black;
            }

            .mejs__time-float-corner {
              border-top-color: $black;
            }

            .mejs__horizontal-volume-slider {
              display: none !important;
            }

            svg {
              fill: $black;
            }
          }
        }
      }

      &.body {
        background-color: $policy-prompt-bg;
        margin: 0;
        padding-bottom: 1.5rem;

        h2 {
          border: 0;
        }

        p {
          font-family: $policy-prompt-font;
          font-size: 0.9rem;
          line-height: 1.25;
        }
      }

      &.episode-info {
        @include link(
          $color: $policy-prompt-blue,
          $hover-color: $cigi-dark-pink
        );
        color: $policy-prompt-blue;
        font-family: $policy-prompt-font;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.65rem;

        .episode-info-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .episode-info-item {
            white-space: nowrap;
          }

          span {
            margin: 0 0.5rem;
          }
        }
      }

      &.episode-guests {
        .episode-guests-list {
          .guest {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            font-family: $policy-prompt-font;

            .guest-image {
              width: 7.5rem;
              border-radius: 50%;
              margin-right: 1rem;
              flex-shrink: 0.3;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }

            h3 {
              @include link($color: $black, $hover-color: $policy-prompt-blue);
              @include media-breakpoint-up(md) {
                font-size: 1.2rem;
              }
              font-size: 1.1rem;
              font-weight: 600;
              margin: 0 0 0.5rem;
            }

            .bio {
              font-size: 0.9rem;
              line-height: 1.25;

              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      &.episode-chapters {
        font-size: 0.9rem;

        .chapter {
          @include link(
            $color: $policy-prompt-blue,
            $hover-color: $cigi-dark-pink
          );
          font-family: $policy-prompt-font;
          display: flex;
          margin-bottom: 0.25rem;

          span {
            margin-right: 1rem;
            flex-basis: 1rem;
            flex-shrink: 0;
          }

          a {
            flex-basis: 3.5rem;
            flex-shrink: 0;
          }

          p {
            margin: 0;
          }
        }
      }

      &.episode-transcript {
        .transcript {
          display: flex;

          &:hover {
            .transcript-text {
              p {
                color: $black;
              }
            }
          }

          &:last-of-type {
            .transcript-line {
              border-left: 3px solid transparent;
            }

            .transcript-text {
              margin-bottom: 0;
            }
          }

          .transcript-line {
            border-left: 3px solid $white;
            position: relative;
            width: 2rem;
            flex-shrink: 0;

            span {
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: $policy-prompt-blue;
              border-radius: 50%;
              top: 0;
              left: -6px;
            }
          }

          .transcript-text {
            line-height: 1.25;
            font-family: $policy-prompt-font;
            font-size: 0.9rem;

            &.has-timestamp {
              cursor: pointer;
            }

            figcaption {
              padding: 0;
              margin-bottom: 0.5rem;
              font-size: 0.7rem;
              text-transform: uppercase;
              font-weight: 600;
              color: $black;
            }

            p {
              color: $cigi-text-grey;
              transition: color 0.2s ease;
            }
          }
        }
      }

      &.next-episode {
        @include link(
          $color: $policy-prompt-blue,
          $hover-color: $cigi-dark-pink
        );
        font-size: 0.9rem;
        color: $policy-prompt-blue;
        letter-spacing: 3px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: right;
        padding-bottom: 3rem;
      }

      &.related {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: $white;

        article {
          display: flex;
          margin-bottom: 1.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            @include hover-darken;

            .img-wrapper {
              @include media-breakpoint-up(md) {
                margin-bottom: 0;
              }
              margin-bottom: 1rem;
            }
          }

          .recommended-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .episode-number,
            .date {
              text-transform: uppercase;
              font-size: 0.7rem;
              font-weight: 500;
              letter-spacing: 1px;
              margin-bottom: 0.5rem;
              color: $policy-prompt-blue;
            }

            h3 {
              @include link($color: $black, $hover-color: $policy-prompt-blue);
              font-size: 1.1rem;
              font-family: $policy-prompt-font;
              font-weight: 600;
              margin-bottom: 0.5rem;
            }

            p {
              font-family: $policy-prompt-font;
              font-size: 0.9rem;
              line-height: 1.25;
              margin-bottom: 0.5rem;
              color: $cigi-text-grey;
            }

            .date {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .podcast-player {
      .mejs__container {
        .mejs__controls {
          .mejs__rewind-button,
          .mejs__fast-forward-button {
            color: $white;
          }
        }
      }
    }
  }
}

@keyframes colorSwitch {
  0% {
    color: $black;
  }
  25%,
  75% {
    color: $policy-prompt-blue;
  }
  100% {
    color: $black;
  }
}
