body {
  .divider {
    background-color: $policy-prompt-bg;

    hr {
      width: 100%;
      background-color: $cigi-medium-light-grey;
    }
  }

  section {
    &.hero {
      background-color: $policy-prompt-bg;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 1em;

      .label {
        font-size: 0.8rem;
      }

      .subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1em;
      }

      .subscribe-container {
        @include link($color: $black, $hover-color: $cigi-dark-pink);
        display: flex;
        justify-content: center;

        .subscribe-button {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 0.5em;

          img {
            width: 25px;
            margin-right: 0.5em;
          }
        }
      }
    }

    &.latest-episode {
      background-color: $policy-prompt-bg;
      text-align: center;
      padding: 1em 0 3em;

      h2 {
        color: $policy-prompt-blue;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 1em;
      }

      article {
        h3 {
          @include link($color: $black, $hover-color: $cigi-dark-pink);
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 1em;
        }

        .episode-subtitle {
          line-height: 1.1;
          margin-top: 1em;
        }

        .episode-publishing-date {
          color: $policy-prompt-blue;
          font-size: 0.8rem;
          font-weight: 500;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }

    &.episodes {
      padding: 3em 0;

      .episode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
        border-bottom: 1px solid $cigi-medium-light-grey;

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }

        &:first-child {
          padding-top: 0;
        }

        .episode-info {
          .episode-number {
            color: $cigi-text-grey;
            font-size: 0.7rem;
            font-weight: 500;
            letter-spacing: 0.1em;
            margin-bottom: 0.25em;
          }

          h3 {
            @include link($color: $black, $hover-color: $cigi-dark-pink);
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 0.25em;
          }

          .episode-description {
            line-height: 1.1;
            font-size: 1rem;
            color: $cigi-text-grey;
          }

          .episode-publishing-date {
            color: $policy-prompt-blue;
            font-size: 0.7rem;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }

        .circle {
          @include media-breakpoint-up(md) {
            display: flex;
          }
          align-items: center;
          display: none;
          justify-content: center;
          width: 20%;
          padding: 0 3em;

          a {
            color: $policy-prompt-blue;
          }

          span {
            border: solid 1.75px $policy-prompt-blue;
            border-radius: 2.5rem;
            display: inline-block;
            font-size: 1.5em;
            line-height: 100%;
            padding: 1.3rem;
            transition: color ease 0.5s, background-color ease 0.5s;

            &:hover {
              background-color: $policy-prompt-blue;
              border-color: transparent;
              color: $white;
            }
          }
        }
      }
    }
  }
}
