{% extends "base.html" %}
{% load static cache wagtailcore_tags webpack_loader search_tags %}

{% block extra_css %}
  {% render_bundle 'searchPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'searchPage' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}search-page{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
  {% cache 604800 request.path request.user.username self.pk self.latest_revision_created_at request.GET.urlencode is_preview %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="search-table" data-live-page-count="{% live_page_count %}">
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endcache %}
{% endblock %}
