{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block theme_css %}
  {% render_bundle 'themeCyberSeries' 'css' %}
{% endblock %}

{% block body_class %}cyber-series-article{% endblock %}

{% block hero %}
  <section class="cyber-series-article-hero">
    {% image self.image_banner original as image_banner %}
    <div class="cyber-series-article-hero-image" style="background-image: url('{{ image_banner.url }}');">
    </div>
    <div class="cyber-series-article-hero-content-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="cyber-series-article-hero-content">
              {% include "includes/topics.html" with topics=self.topics %}
              <h1>{{ self.title }}</h1>
              {% include "includes/authors.html" with authors=self.authors.all external_authors=self.external_authors %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Cyber series articles #}
{% endblock %}
