{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block theme_css %}
  {% render_bundle 'themeCyberSeries' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'themeCyberSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}cyber-series-article{% endblock %}

{% block hero %}
  <section class="cyber-series-article-hero">
    {% image self.image_banner original as image_banner %}
    <div class="cyber-series-article-hero-image" style="background-image: url('{{ image_banner.url }}');">
      <div class="glitch">
        <div class="glitch-image" style="background-image: url('{{ image_banner.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_banner.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_banner.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_banner.url }}');"></div>
      </div>

    </div>
    <div class="cyber-series-article-hero-content-container">
      <div class="cyber-series-article-hero-content">
          {% include "includes/topics.html" with topics=self.topics_sorted %}
          <h1><span>{{ self.title }}</span></h1>
          {% include "includes/authors.html" with authors=self.authors.all %}
          <div class="arrow-animate">
            <div class="arrow point1"></div>
            <div class="arrow point2"></div>
          </div>
      </div>
    </div>
  </section>

  <section class="share-links">
    <ul class="social-share-list">
      <li class="linkedin">
        <a class="linkedin-share-link" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|slice:':-1' }}" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin-in icon"></i>
        </a>
      </li>
      <li>
        <a class="twitter-share-link"
          href="https://x.com/share?text={{ self.title|social_string }}&amp;url={{ request.build_absolute_uri|slice:':-1' }}"
          target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li>
        <a class="mail-link" href="mailto:?subject={{ self.title }} &amp;body=From the Centre for International Governance Innovation: {{ self.title }} ({{ request.build_absolute_uri|slice:':-1' }})"><i class="fa fa-envelope"></i>
        </a>
      </li>
      <li><a class="print-link" href="javascript:window.print()"><i class="fa fa-print"></i></a></li>
    </ul>
  </section>

{% endblock %}

{% block article_content %}
  <section class="article-wrapper body">
  {% image self.image_banner original as image_banner %}
  <div class="cyber-series-article-bg-image" style="background-image: linear-gradient(#f2f0ea 0%, transparent 200%), url('{{ image_banner.url }}');"></div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}

    {% if self.footnotes %}
        <div class="article-footnotes">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <div class="footnotes">
                  {{ self.footnotes|richtext }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% if self.works_cited %}
        <div class="article-works-cited">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <h2>Works Cited</h2>
                {{ self.works_cited|richtext }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% include 'includes/disclaimer.html' %}

      {% if self.is_opinion and self.author_count > 0 %}
        {% include "includes/about_the_author.html" with authors=self.authors.all author_count=self.author_count %}
      {% endif %}
  </section>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific article_id=self.id %}
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Cyber series articles #}
{% endblock %}
