{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block theme_css %}
  {% render_bundle 'themeCyberSeries' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'themeCyberSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}cyber-series-article-series{% endblock %}

{% block content %}
  <section class="cyber-series-article-series-hero">
    {% image self.image_hero original as image_hero %}
    <div class="cyber-series-article-series-hero-image" style="background-image: url('{{ image_hero.url }}');">
      <div class="glitch">
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
      </div>
    </div>
    <div class="cyber-series-article-series-hero-content">
      {% include "includes/topics.html" with topics=self.topics_sorted %}
      <h1><span>{{ self.title }}</span></h1>
      <div class="cyber-series-subtitle">
        {{ self.subtitle|richtext }}
      </div>
      <div class="arrow-animate">
        <div class="arrow point1"></div>
        <div class="arrow point2"></div>
      </div>
    </div>
  </section>
  <section class="cyber-series-article-series-body">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1">
          <h2>{{ self.title }}</h2>
        </div>
      </div>
    </div>
    {% include "includes/body.html" with body=self.body %}
  </section>
  <section class="cyber-series-in-the-series">
    <div class="cyber-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1 cyber-series-article-series-series-items">
          {% for block in self.series_items %}
            {% if block.block_type == 'series_item' %}
              <article>
                <h3 class="article-title">
                  <a href="{{ block.value.url }}">{{ block.value.title }}</a>
                </h3>
                <p class="authors">
                  {% for item in block.value.specific.authors.all %}
                    <span><a href="{{ item.author.url }}">{{ item.author.title }}</a></span>
                  {% endfor %}
                  {% for item in block.value.specific.external_authors %}
                    {% if item.block_type == 'external_person' %}
                      <span>{{ item.value }}</span>
                    {% endif %}
                  {% endfor %}
                </p>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
