{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block theme_css %}
  {% render_bundle 'themeCyberSeries' 'css' %}
{% endblock %}

{% block extra_js %}
  {% render_bundle 'themeCyberSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}cyber-series-article-series{% endblock %}

{% block content %}
  <section class="cyber-series-article-series-hero">
    {% image self.image_hero original as image_hero %}
    <div class="cyber-series-article-series-hero-image" style="background-image: url('{{ image_hero.url }}');">
      <div class="glitch">
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
        <div class="glitch-image" style="background-image: url('{{ image_hero.url }}');"></div>
      </div>
    </div>
    <div class="cyber-series-article-series-hero-content">
      {% include "includes/topics.html" with topics=self.topics_sorted %}
      <h1><span>{{ self.title }}</span></h1>
      <div class="cyber-series-subtitle">
        {{ self.subtitle|richtext }}
      </div>
      <div class="arrow-animate">
        <div class="arrow point1"></div>
        <div class="arrow point2"></div>
      </div>
    </div>
  </section>
  <section class="cyber-series-article-series-body">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1">
          <h2>{{ self.title }}</h2>
        </div>
      </div>
    </div>
    {% include "includes/body.html" with body=self.body %}
  </section>
  <section class="cyber-series-in-the-series">
    <div class="cyber-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1 cyber-series-article-series-series-items">
          {% for series_item in self.article_series_items %}
            <article>
              <h3 class="article-title">
                <a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a>
              </h3>
              <p class="authors">
                {% for item in series_item.content_page.authors.all %}
                  {% if item.hide_link %}
                    <span>{{ item.author.title }}</span>
                  {% else %}
                    <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                  {% endif %}
                {% endfor %}
              </p>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
