{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader cache %}

{% block extra_css %}
  {% render_bundle 'articleLandingPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'articleLandingPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/heroes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}
  <section class="featured">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-3">
          <h2 class="paragraph-heading">Featured</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% for item in self.featured_xlarge %}
            {% include "includes/features/feature_content_xlarge.html" with content=item.article_page.specific %}
          {% endfor %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-8">
          {% for item in self.featured_large_1 %}
            {% include "includes/features/feature_content_large.html" with content=item.article_page.specific %}
          {% endfor %}
        </div>
        <hr>
        <div class="col-12 col-md-4 featured-small">
          {% for item in self.featured_small_1 %}
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            {% include "includes/features/feature_content_small.html" with content=item.article_page.specific %}
          {% endfor %}
        </div>
      </div>
      <hr>
      <div class="row">
        {% for item in self.featured_medium_1 %}
          {% if forloop.counter > 1 %}
            <hr>
          {% endif %}
          <div class="col-12 col-md-6">
            {% include "includes/features/feature_content_medium.html" with content=item.article_page.specific with_subtitle=True %}
          </div>
        {% endfor %}
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-4 featured-small">
          {% for item in self.featured_small_2 %}
            {% if forloop.counter > 1 %}
              <hr>
            {% endif %}
            {% include "includes/features/feature_content_small.html" with content=item.article_page.specific %}
          {% endfor %}
        </div>
        <hr>
        <div class="col-12 col-md-8">
          {% for item in self.featured_large_2 %}
            {% include "includes/features/feature_content_large.html" with content=item.article_page.specific %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% cache 86400 article_series_swiper %}
    <section class="series">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="paragraph-heading">Series</h2>
            {% include "includes/swiper.html" with swiper_content=self.all_article_series type="article-landing-series" %}
          </div>
        </div>
      </div>
    </section>
  {% endcache %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="opinions-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
