{% extends "base.html" %}
{% load adv_cache static wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_type %}
  <meta property="og:type" content="article" />
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}
{% block extra_og_meta %}
  {% if self.publishing_date %}
    <meta name="publish_date" property="article:published_time" content="{{ self.publishing_date|date:'c' }}" />
    {% if self.author_count > 0 %}
      <meta name="author" content="{{ self.author_names|join:", " }}" />
      <meta name="twitter:label1" value="Author{{ self.author_count|pluralize }}" />
      <meta name="twitter:data1" value="{{ self.author_names|join:", " }}" />
    {% endif %}
    {% if self.read_time > 0 %}
      <meta name="twitter:label2" value="Time To Read" />
      <meta name="twitter:data2" value="{{ self.read_time }} Minutes" />
    {% endif %}
  {% endif %}
{% endblock %}
{% block canonical_link %}
  <link rel="canonical" href="{{ self.full_url }}" />
{% endblock canonical_link %}

{% block extra_css %}
  {% render_bundle 'articlePage' 'css' %}
{% endblock %}

{% block content %}
  {% preview_cache_bust as is_preview %}
  {% cache 604800 self.page_cache_key request.path request.user.username self.pk self.latest_revision_created_at request.GET.urlencode is_preview %}
    {% block hero %}
      {% include "includes/heroes/hero_article.html" with title=self.title subtitle=self.subtitle %}
      {% if not self.expired_image and self.image_hero %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-lg-10">
              <figure class="article-image-hero">
                {% if self.image_hero.file.url|file_extension == '.gif' %}
                  <img src="{{self.image_hero.file.url}}" alt="{{self.image_hero.caption}}" />
                {% else %}
                  {% image self.image_hero width-1760 %}
                {% endif %}
                {% if self.image_hero.caption %}
                  <figcaption>
                    {{ self.image_hero.caption }}
                  </figcaption>
                {% endif %}
              </figure>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
    {% block article_content %}
      {% if self.article_series_description %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <div class="article-series-description">
                {{self.article_series_description|richtext}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if self.opinion_series_description %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <div class="opinion-series-description">
                {{self.opinion_series_description|richtext}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if self.from_the_archives and self.from_the_archives_blurb %}
        {% include "includes/from_the_archives_blurb.html" with blurb=self.from_the_archives_blurb %}
      {% endif %}
      {% if self.body %}
        {% if self.article_type.title == 'CIGI in the News' %}
          <section class="body" id="article-body">
            {% if self.hide_excerpt %}
              {% for block in self.body %}
                {% if block.block_type != 'additional_disclaimer' %}
                  {% include_block block %}
                {% endif %}
              {% endfor %}
            {% else %}
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col col-md-10 col-lg-8">
                    <p class="article-excerpt-blurb"><em>The following is an excerpt. To view the full article please visit the link below</em></p>
                  </div>
                </div>
              </div>
              {{ self.body|truncatewords_html:100 }}
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col col-md-10 col-lg-8">
                    <p class="text-center">* * *</p>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if self.website_url %}
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col col-md-10 col-lg-8 text-center">
                    <a class="button-action track-cta" href="{{self.website_url}}" data-cta="article-external">
                      <i class="fas fa-external-link-alt"></i>
                      {% if self.website_button_text %}
                        {{ self.website_button_text }}
                      {% else %}
                        View Full Article
                      {% endif %}
                    </a>
                  </div>
                </div>
              </div>
            {% endif %}
          </section>
        {% else %}
          {% include "includes/body.html" with body=self.body %}
        {% endif %}
      {% endif %}

      {% if self.footnotes %}
        <section class="article-footnotes">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <div class="footnotes">
                  {{ self.footnotes|richtext }}
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if self.works_cited %}
        <section class="article-works-cited">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <h2>Works Cited</h2>
                {{ self.works_cited|richtext }}
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if self.article_series_disclaimer %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <div class="article-series-disclaimer">
                {{self.article_series_disclaimer|richtext}}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% include 'includes/disclaimer.html' with additional_disclaimers=self.get_additional_disclaimers %}

      {% if self.is_opinion and self.author_count > 0 %}
        {% include "includes/about_the_author.html" with authors=self.authors.all author_count=self.author_count %}
      {% endif %}

    {% endblock %}

    {% block in_the_series_opinion_series %}
      {% if self.opinion_series_pages %}
        <section class="in-the-series-opinion-series">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col col-md-10 col-lg-8">
                <div class="in-the-series-opinion-series__content">
                  <h2>More from this Opinion Series</h2>
                  <ul class="series-items-list">
                    {% for article in self.opinion_series_pages %}
                      <li class="series-item">
                        <article>
                          <h3>
                            <a href="{% pageurl article %}">
                              {{ article.title }}
                            </a>
                          </h3>
                          {% include 'includes/features/feature_content_people.html' with authors=article.authors.all %}
                        </article>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    {% endblock %}

    {% block in_the_series %}
      {# Override this in templates to add series listing #}
    {% endblock %}

    {% block recommended %}
      {% if request.is_preview and self.recommended_content_preview %}
        {% include 'includes/recommended.html' with recommended=self.recommended_content_preview %}
      {% elif self.recommended_content %}
        {% include 'includes/recommended.html' with recommended=self.recommended_content %}
      {% endif %}
    {% endblock %}
  {% endcache %}
{% endblock content %}
