{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block extra_css %}
  {% render_bundle 'articleSeriesListPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'articleSeriesListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/heroes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}
  {% include "includes/body.html" with body=self.body %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="article-series-list-section" id="article-series-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
