{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_css %}
  {% render_bundle 'articlePage' 'css' %}
{% endblock %}

{% block content %}
  {% include "includes/hero_article.html" with title=self.title subtitle=self.subtitle %}

  {% if self.image_hero %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10">
          <figure class="article-image-hero">
            {% image self.image_hero width-1760 %}
            {% if self.image_hero.title %}
              <figcaption>
                {{ self.image_hero.title }}
              </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
    </div>
  {% endif %}

  {% if self.body %}
    <section class="body">
      {% if self.article_type == 'cigi_in_the_news' %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <p class="article-excerpt-blurb"><em>The following is an excerpt. To view the full article please visit the link below</em></p>
            </div>
          </div>
          {{ self.body|truncatewords_html:100 }}
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8">
              <p class="text-center">* * *</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col col-md-10 col-lg-8 text-center">
              <a class="button-action" href="{{self.website_url}}">
                <i class="fas fa-external-link-alt"></i>
                {% if self.website_button_text %}
                  {{ self.website_button_text }}
                {% else %}
                  View Full Article
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      {% else %}
        {% for block in self.body %}
          {% include_block block %}
        {% endfor %}
      {% endif %}
    </section>
  {% endif %}

  {% if self.footnotes %}
    <section class="article-footnotes">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <div class="footnotes">
              {{ self.footnotes|richtext }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if self.works_cited %}
    <section class="article-works-cited">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <h2>Works Cited</h2>
            {{ self.works_cited|richtext }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% include 'includes/disclaimer.html' %}

  {% if self.is_opinion and self.authors|length > 0 %}
    {% include "includes/about_the_author.html" with authors=self.authors %}
  {% endif %}

  {% if self.recommended.all|length > 0 %}
    {% include 'includes/recommended.html' with recommended=self.recommended.all %}
  {% endif %}
{% endblock content %}
