{% extends "base.html" %}
{% load cache static wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block content %}
  {% preview_cache_bust as is_preview %}
  {% cache 86400 article_content request.path request.user.username self.pk self.latest_revision_created_at|date:"c" request.GET.urlencode is_preview %}

  {% block hero %}
    {% include "includes/heroes/hero_article.html" with title=self.title subtitle=self.subtitle %}
  {% endblock %}

  {% block article_content %}
  {% endblock %}

  {% block in_the_series %}
    {# Override this in templates to add series listing #}
  {% endblock %}

  {% block recommended %}
  {% endblock %}
  {% endcache %}
{% endblock content %}
