{% extends "base.html" %}
{% load webpack_loader wagtailcore_tags %}

{% block extra_css %}
  {% render_bundle 'mediaLandingPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'mediaLandingPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <header class="header--submenu">
    <div class="container">
      <nav class="border-top border-bottom">
        <div class="row g-1 justify-content-between">
          <div class="col-4">
            <h1 id="page-label">Media</h1>
          </div>
          <div class="col-8">
            <ul class="header--submenu__right">
              <li class="nav-item">
                <a class="nav-link" href="/experts">Experts</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section class="hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <div class="hero__subtitle">
            {{ self.subtitle|richtext }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "includes/body.html" with body=self.body %}
  <section class="media-latest-news">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Latest</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="media-latest-news__container">
            {% for article in self.latest_cigi_in_the_news %}
              <div class=media-latest-news__item__container>
                <article class="card__container card--tiny">
                  <i class="fal fa-bullhorn"></i>
                  <div class="card__text">
                    <div>
                      {% include 'includes/cards/card_text_topics.html' with topics=article.topics_sorted  %}
                      {% include 'includes/cards/card_text_title.html' with title=article.title  %}
                    </div>
                    <div class="card__text__meta">
                      <ul class="custom-text-list card__text__people">
                        {% for person in article.cigi_people_mentioned.all %}
                          <li>
                            <a href="{% pageurl person.person %}">{{ person.person.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                      {% include 'includes/cards/card_text_more.html' with url=article.url title=article.title %}
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
    </div>
  </section>
  <section class="media-search-table">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="media-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
