{% extends "base.html" %}
{% load webpack_loader wagtailcore_tags %}

{% block extra_css %}
  {% render_bundle 'mediaLandingPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'mediaLandingPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/heroes/hero_standard.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}
  {% include "includes/body.html" with body=self.body %}
  <section class="media-latest-news">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="paragraph-heading">Latest</h2>
        </div>
      </div>
      <div class="row">
        {% for article in self.latest_cigi_in_the_news %}
          {% if forloop.counter == 4 %}
            <div class="col-12 media-latest-news-hr">
              <hr>
            </div>
          {% endif %}
          <div class="col-12 col-md-6 col-lg-4 media-latest-news-article">
            <article>
              {% include "includes/topics.html" with topics=article.topics_sorted %}
              <h3><a href="{% pageurl article %}">{{ article.title }}</a></h3>
              <p class="meta">{{ article.article_type.title }}</p>
              <p class="cigi-people-mentioned">
                {% for person in article.cigi_people_mentioned.all %}
                  <a href="{% pageurl person.person %}">{{ person.person.title }}</a>
                {% endfor %}
              </p>
              {% include "includes/date.html" with date=article.publishing_date %}
            </article>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="media-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
