{% load wagtailcore_tags wagtailimages_tags core_tags %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-11">
      <figure class="stream-image-block">
        {% if self.image.file.url|file_extension == '.gif' %}
          <img src="{{self.image.file.url}}" alt="{{self.image.caption}}" />
        {% else %}
          {% image self.image width-640 %}
        {% endif %}
        {% if not self.hide_image_caption %}
          <figcaption>
            {{ self.image.caption }}
          </figcaption>
        {% endif %}
      </figure>
    </div>
  </div>
</div>
