body {
  &.annual-report {
    .hero {
      background-color: $white;
      padding: 4em 0 3em;

      @include media-breakpoint-up(md) {
        padding: 7em 0 4em;
      }

      .hero-container {
        justify-content: center;
        text-align: center;

        h1 {
          color: $black;
          font-size: 2em;
          font-weight: 400;
          margin-bottom: 0.363636em;

          @include media-breakpoint-up(md) {
            font-size: 2.75em;
          }
        }
      }
    }

    table {
      tr {
        td {
          &:last-of-type {
            .table-infos-wrapper {
              justify-content: center;
            }
          }
        }

        .table-mobile-text {
          @include media-breakpoint-down(xs) {
            flex: 0 0 30%;
          }
        }

        .table-infos {
          font-size: 0.75em;
        }
      }
    }
  }
}
