body {
  &.annual-report {
    .hero {
      background-color: $white;
      padding: 4em 0;

      .hero-container {
        justify-content: center;
        text-align: center;

        h1 {
          color: $black;
          font-size: 2em;
          font-weight: 400;
          margin-bottom: 0.363636em;

          @include breakpoint($medium) {
            font-size: 2.75em;
          }
        }
      }
    }

    .annual-reports-cta {
      text-align: center;
    }
  }
}
