body {
  &.article-landing-page {
    .featured {
      .title {
        font-family: 'ff-tisa-web-pro', sans-serif;
        font-weight: 600;
      }

      .featured-row-1 {
        article {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;

          .content-wrapper {
            margin-right: 1.375em;
          }

          .image-wrapper {
            flex: 0 0 66.7%;
          }
        }
      }
    }
  }
}
