.person-page {
  .hero {
    .hero-container {
      @include breakpoint($medium) {
        align-items: flex-end;
        flex-direction: row;
      }

      flex-direction: column;
    }

    .hero-main {
      .short-bio {
        color: $cigi-medium-light-grey;
      }
    }

    .portrait-circle {
      margin-right: 5em;
      padding-top: 1em;

      img {
        border-radius: 50%;
      }
    }

    &.archived {
      background: $white;

      .hero-main {
        h1,
        .position {
          color: $black;
        }

        h1 {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
  }

  section {
    &.expertise {
      .expertise-container {
        border: 1px solid $cigi-light-grey;
        padding: 1em;

        .expertise-item {
          @include comma-separated;
        }

        .contact {
          @include breakpoint($small) {
            columns: 2;
          }

          @include breakpoint($medium) {
            columns: 3;
          }

          .contact-item {
            @include link($color: $black, $hover-color: $cigi-dark-pink);
            line-height: 1.25em;

            a {
              display: inline-block;
              line-height: 1.25em;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: middle;
              white-space: nowrap;
              width: calc(100% - 30px);
            }

            i {
              color: $cigi-primary-colour;
              line-height: 1.25em;
              margin-right: 0.3em;
              vertical-align: middle;
            }
          }
        }
      }
    }

    &.external-publications {
      article {
        border-bottom: 1px solid $cigi-light-grey;
        display: flex;
        padding: 1em 0;

        .counter {
          margin-right: 0.5em;
        }
      }
    }
  }
}
