.publication-page {
    section.hero {
    
        @include breakpoint($medium) {
            padding-top: 6em;
        }

        background-color: transparent;
        color: $black;

        .hero-container {
            display: block;
            text-align: center;
        }

        h1 {
            font-size: 2.75rem;
            line-height: 1.1em;
            font-weight: 400;;
        }

        h2 {
            color: $black;
            font-size: 1.1rem;
            font-weight: 400;
        }
        
    }
}