@import '../../../css/global/mixins';

.article-footnotes {
  line-height: 1.25;
  margin-bottom: 2em;

  .footnotes {
    padding-top: 1em;
    position: relative;

    &::before {
      border-top: 2px solid $cigi-text-grey;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 40%;
    }

    a {
      word-break: break-word;
    }

    p {
      font-size: 0.8125em;
      padding-left: 1em;

      a {
        word-wrap: break-word;

        &[name] {
          color: $cigi-primary-colour;
          display: inline-block;
          font-size: 0.8em;
          font-weight: 700;
          line-height: 1em;
          padding-right: 0.5em;
          vertical-align: top;
        }
      }
    }
  }
}

.article-image-hero {
  margin-bottom: 2em;

  figcaption {
    padding-top: 0.5em;
    text-align: right;
  }
}

.article-works-cited {
  margin-bottom: 2em;
  margin-top: 2em;

  h2 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;

    &::after {
      border-bottom: 2px solid $cigi-text-grey;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      width: 40%;
    }
  }

  p {
    font-size: 0.8125em;
    padding: 0 1em;
    word-break: break-word;
  }
}

.article-excerpt-blurb {
  margin-bottom: 2em;
}

.article-series-description {
  align-items: center;
  border-bottom: 1px solid $cigi-light-grey;
  display: flex;
  margin-bottom: 2em;
  padding-bottom: 1em;

  p {
    display: inline-block;
    margin-bottom: 0;
  }
}

.article-series-disclaimer {
  color: $cigi-text-grey;
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: 0;
}
