.women-and-trade-series-article-series {
  @include top-bar(
    $background-color: $women-and-trade-series-background-colour,
    $color: $black,
    $position: relative,
  );
  background-color: $women-and-trade-series-background-colour;

  .women-and-trade-series-article-series-hero {
    .hero-content {
      h1 {
        text-align: center;
      }
    }
  }

  .body {
    background-color: $white;
    font-size: 1.06em;
    line-height: 1.42em;
    padding-bottom: 3em;
  }

  h2 {
    border-bottom: 5px solid $women-and-trade-series-dark-gray;
    border-top: 0;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.42em;
    margin-bottom: 0;
  }

  .contributors {
    span {
      @include comma-separated;
    }
  }
}
