.women-and-trade-series-article {
  @include top-bar(
    $background-color: $women-and-trade-series-background-colour,
    $color: $black,
    $position: relative,
  );
  background-color: $women-and-trade-series-background-colour;
}
