.women-and-trade-series-article {
  @include top-bar(
    $background-color: $women-and-trade-series-background-colour,
    $color: $black,
    $position: relative,
  );
  background-color: $women-and-trade-series-background-colour;

  h3 {
    border-top: 5px solid $cigi-darkest-grey;
    display: inline-block;
    font-size: 24px;
    line-height: 2.125rem;
    text-transform: none;
  }

  .in-the-series {
    h2 {
      border-top: solid 1px $divider-grey;
      font-size: 2em;
      font-weight: 600;
      margin: 0;
      padding: 1em 0;

      a {
        color: $black;

        &:hover {
          color: $cigi-primary-colour;
        }
      }
    }
  }

  .article-hero {
    border-top: solid 1px $divider-grey;
    padding-top: 2em;
    text-align: left;

    h1 {
      font-family: 'futura-pt', sans-serif;
      font-size: 2em;
      font-weight: 400;
    }

    .meta {
      & > div {
        display: flex;
      }

      label {
        margin-bottom: 0;
        margin-right: 0.2em;
      }
    }

    .authors {
      margin-top: 0;
    }

    .custom-text-list,
    .social-share-list  {
      justify-content: left;
    }

    .social-share-list {
      border-top: solid 1px $black;

      li {
        margin-left: -1em;
        padding: 1em 2em 2em 0;
      }

      .fa {
        color: $black;
      }

      a {
        padding: 1em;

        &:hover {
          .fa,
          .fa-brands {
            color: $cigi-primary-colour;
          }
        }
      }
    }
  }

  .about-the-author {
    .name {
      font-weight: 600;
    }
  }
}
