body {
  font-family: $primary-font-family;

  &.disable-scroll {
    overflow: hidden;
  }
}

//LINKS
a {
  color: $cigi-pink;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $cigi-dark-pink;
    text-decoration: none;
  }
}

//BUTTONS
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

//HR
hr {
  background: $cigi-light-grey;
  border: 0;
  height: 1px;
  margin: 1em 0;
}

//LAYOUTS

[class*='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

//FORM ELEMENTS
.form-control {
  align-items: center;
  background-clip: padding-box;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $black;
  border-radius: 0;
  color: $black;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  line-height: 1.5;
  padding: 0 0 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  &::-webkit-input-placeholder,
  &::placeholder {
    color: $black;
  }

  &:focus {
    background-color: transparent;
    border-color: $black;
    box-shadow: none;
    color: $black;
    outline: 0;
  }
}

.input-group {
  &.input-group-search {
    .input-group-append {
      .btn-search {
        align-items: center;
        background-color: transparent;
        border-bottom: 2px solid $black;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        border-top: 0;
        color: $cigi-pink;
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 0;
        padding: 0 0 0.25rem;
        text-align: center;
        white-space: nowrap;
        width: auto;
      }
    }
  }
}

// DROPDOWNS
.dropdown {
  &.custom-dropdown {
    .dropdown-toggle {
      align-items: center;
      border-bottom: 2px solid $black;
      color: $black;
      display: flex;
      height: 24px;
      justify-content: space-between;
      width: 100%;

      &::after {
        align-items: center;
        border: 0;
        color: $cigi-pink;
        content: '\f078';
        display: inline-flex;
        font-family: 'Font Awesome 5 Pro';
        font-size: 12px;
        height: 12px;
        margin-left: 0;
        transform: rotate(0deg);
        transition: transform 0.25s ease;
        vertical-align: 0.255em;
        width: 12px;
      }

      &:hover {
        text-decoration: none;
      }

      &[aria-expanded='true'] {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    .dropdown-menu {
      background-clip: padding-box;
      background-color: $white;
      border: 0;
      border-radius: 0.25rem;
      box-shadow: 0 5px 10px $cigi-light-grey;
      color: $black;
      font-size: 1rem;
      list-style: none;
      margin: 0.125rem 0 0;
      padding: 0.5rem 0;
      text-align: left;

      &.show {
        width: 100%;
      }
    }

    .dropdown-item {
      color: $black;
      font-size: 12px;
      text-transform: uppercase;

      &:hover {
        background-color: unset;
        color: $cigi-pink;
      }
    }
  }

  // to be fixed
  &.dropdown-full-width {
    position: static !important;

    .dropdown-menu {
      &.show {
        column-count: 4;
        column-fill: balance;
        column-gap: 15px;
        display: block;
        top: 100% !important;
        transform: none !important;

        @media (max-width: 767.98px) {
          column-count: 3;
        }

        @media (max-width: 575.98px) {
          column-count: 2;
        }
      }

      .dropdown-item {
        padding: 4px 15px;
        white-space: normal;
        word-break: break-word;
      }
    }
  }
}

