// META
.meta {
  color: $cigi-text-grey;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.topics {
  list-style-type: none;
  margin: 0;

  .topic {
    @include comma-separated;
    display: inline;
    font-size: 0.75rem;
    text-transform: uppercase;

    &::after {
      color: $black;
    }
  }
}



// PARAGRAPHS
.paragraph-heading {
  border-top: 0.25em solid $black;
  color: $black;
  display: inline-block;
  font-size: 0.75em;
  font-weight: $sans-medium;
  text-transform: uppercase;
}

// LISTS
.custom-text-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    @include comma-list;
  }
}

// FLEX-BOX
.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

// BORDERS
.border-round {
  border-radius: 50%;
}

// BUTTONS
.button {
  background-color: $color--blue;
  border-radius: 2px;
  color: $white;
  font-size: 0.75em;
  line-height: 1.1em;
  margin: 1em 0;
  padding: 7px 10px;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: $color-dark-blue;
  }

  a {
    color: $white;
  }
}
