// META

.meta {
  color: $cigi-text-grey;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.topics {
  list-style-type: none;
  margin: 0;

  .topic {
    @include comma-separated;
    display: inline;
    font-size: 0.75rem;
    text-transform: uppercase;

    &::after {
      color: $black;
    }
  }
}

// PARAGRAPHS

.paragraph-heading {
  border-top: 0.25em solid $black;
  color: $black;
  display: inline-block;
  font-size: 0.75em;
  font-weight: $sans-medium;
  text-transform: uppercase;
}

// BLOCKQUOTES
.paragraph-type-bloquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  position: relative;

  &::before {
    border-bottom: 5px solid $cigi-pink;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5em;
  }

  blockquote {
    color: $cigi-dark-grey;
    font-size: 1.5em;
    line-height: 130%;
  }
}

// PARAGRAPH IMAGE
.paragraph-type-image {
  @include aspect-ratio(2, 1);
  margin-bottom: 2em;
  width: 100%;
}


// LISTS
.custom-text-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    &:not(:only-child) {
      &::after {
        content: ', ';
        margin-right: 2px;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
