@mixin top-bar(
  $background-color: $black,
  $background-color-medium: $background-color,
  $background-color-scrolled: $background-color,
  $color: $white,
  $color-medium: $color,
  $hover-color: $cigi-primary-colour,
  $hover-color-medium: $hover-color,
  $position: fixed,
) {
  header {
    background-color: $background-color;
    position: $position;

    @media screen and (min-width: $medium) {
      background-color: $background-color-medium;
    }

    &.scrolled {
      background-color: $background-color-scrolled;
    }

    .cigi-top-bar {
      .cigi-logo {
        svg {
          fill: $color;

          @media screen and (min-width: $medium) {
            fill: $color-medium;
          }
        }
      }

      nav {
        ul {
          a,
          button {
            color: $color;

            @media screen and (min-width: $medium) {
              color: $color-medium;
            }

            &:hover {
              color: $hover-color;

              @media screen and (min-width: $medium) {
                color: $hover-color-medium;
              }
            }
          }
        }
      }
    }
  }
}

@mixin link($color: $cigi-primary-colour, $hover-color: $cigi-dark-pink) {
  a {
    color: $color;

    &:hover {
      color: $hover-color;
    }
  }
}

@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin display-grid {
  display: -ms-grid;
  display: grid; // sass-lint:disable-line no-duplicate-properties
}

@mixin comma-separated {
  &:not(:only-child) {
    &::after {
      content: ', ';
      margin-right: 2px;
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin and-separated {
  &:not(:only-child) {
    &::after {
      content: ' and ';
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin slash-separated {
  &:not(:only-child) {
    &::after {
      content: ' / ';
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

@mixin hide-breakpoint-down($breakpoint) {
  @include media-breakpoint-down($breakpoint) {
    display: none;
  }
}

// IMAGES

@mixin aspect-ratio($width, $height) {
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .img-wrapper {
    background: $cigi-medium-light-grey;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin image-caption {
  color: $cigi-text-grey;
  font-size: 0.7em;
  line-height: 1rem;
  padding: 0.25em 0;
  text-align: left;
}

@mixin hover-darken {
  .img-wrapper {
    background-color: $black;

    &:hover {
      img {
        opacity: 0.8;
      }
    }

    img {
      transition: opacity 0.2s ease;
    }
  }
}

@mixin image-button($size: 2em) {
  .img-wrapper {
    position: relative;

    .image-button {
      align-items: center;
      background: $cigi-primary-colour;
      bottom: 0;
      color: $white;
      display: inline-flex;
      height: $size;
      justify-content: center;
      position: absolute;
      right: 0;
      width: $size;
      z-index: 1;

      i {
        font-size: ($size / 2);
      }
    }
  }
}

// VIDEOS

@mixin video-aspect-ratio($width, $height) {
  .video-wrapper {
    overflow: hidden;
    padding-top: ($height / $width) * 100%;
    position: relative;
    width: 100%;

    > iframe {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}

@mixin inline-person-list {
  li {
    display: inline;

    &:not(:only-child) {
      &::after {
        content: ' and ';
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

// Date Circles

@mixin date-circle($border-color: $black, $circle-size: 70px, $font-size: 1em) {
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  font-size: $font-size;
  height: $circle-size;
  justify-content: center;
  line-height: 1.15em;
  width: $circle-size;
}
