a {
  transition: color 0.2s ease;
}

h2,
h3,
h4 {
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h4 {
  color: $cigi-dark-grey;
  font-weight: 500;
  text-transform: uppercase;
}

figcaption {
  color: $cigi-text-grey;
  font-size: 0.7em;
  line-height: 1rem;
  padding: 0.25em 0;
  text-align: left;
}

.body {
  ul {
    padding-left: 1.75em;
  }
}
