body {
  font-weight: 300;

  a {
    color: $black;
    transition: color 0.2s ease;

    &:hover {
      color: $cigi-primary-colour;
    }
  }

  h2,
  h3,
  h4 {
    margin-bottom: 0.5em;
  }

  figcaption {
    color: $cigi-text-grey;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0.25em 0;
    text-align: left;
  }
}

.body {
  h2,
  h3,
  h4 {
    margin: 1.5em 0;
  }

  h4 {
    color: $cigi-dark-grey;
    font-weight: 500;
    text-transform: uppercase;
  }

  ul,
  ol {
    padding-left: 1.75em;
  }

  .topics {
    padding-left: 0;
  }

  .large-text {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
