// Breakpoints
$medium: 40rem; //640px
$large: 64rem; //1024px
$xlarge: 75rem; //1200px
$xxlarge: 90rem; //1440px


// Fonts
$primary-font-family: futura-pt, sans-serif;

$sans-regular: 400;
$sans-medium: 500;
$sans-demi: 600;
$sans-bold: 700;
$sans-extrabold: 800;

$serif-regular: 400;
$serif-bold: bold;

// Colours
$black: #000;
$white: #fff;
$cigi-primary-colour: #e6023b;
$cigi-light-pink: #fce5eb;
$cigi-pink: #e6023b;
$cigi-dark-pink: #bf0332;
$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$rss: #f99b3a;
$unpublished: #ffe6e5;
$color--blue: #2592ec;
$color-dark-blue: #195c94;
$color-publication: $cigi-pink;
$color-opinion: #4caba5;
$color-multimedia: #f47b27;
$color-event: #edba53;
$color-media: #8e50bd;

// Text Greys
$cigi-light-grey-bg: #f6f6f6;
$cigi-light-grey: #e9e9e9;
$cigi-medium-light-grey: #aaa;
$cigi-medium-grey: #929292;
$cigi-text-grey: #6d6d6d;
$cigi-dark-grey: #2f2f2f;

// Box Greys
$hover-grey: $cigi-light-grey;
$light-box-grey: #faf8f3;
$body-background: $white;
$previous-body-bg: #f2f0ea;
$dark-box-grey: #dfdfd2;
$divider-grey: #d9d8d2;
$border-box: #d0d0ca;
$border-grey: #4a4a4a;
