.wto-series-article {
  @include top-bar($background-color: $wto-series-background-colour, $color: $black, $position: relative);
  background-color: $wto-series-background-colour;

  &.conclusion {
    .drop-caps {
      background-image: url('../assets/conclusion.svg');
    }
  }

  &.introduction {
    .drop-caps {
      background-image: url('../assets/introduction.svg');
    }
  }

  &.development-and-trade {
    .drop-caps {
      background-image: url('../assets/development-and-trade.svg');
    }
  }

  &.digital-trade {
    .drop-caps {
      background-image: url('../assets/digital-trade.svg');
    }
  }

  &.dispute-settlement {
    .drop-caps {
      background-image: url('../assets/dispute-settlement.svg');
    }
  }

  &.inclusive-trade {
    .drop-caps {
      background-image: url('../assets/inclusive-trade.svg');
    }
  }

  &.negotiating-strategies {
    .drop-caps {
      background-image: url('../assets/negotiating-strategies.svg');
    }
  }

  &.trades-intersections {
    .drop-caps {
      background-image: url('../assets/trades-intersections.svg');
    }
  }

  .wto-series-article-hero {
    margin-bottom: 3em;
    text-align: center;

    h1 {
      @include media-breakpoint-up(md) {
        font-size: 2.75rem;
      }
      font-family: $wto-font;
      font-size: 2rem;
      font-weight: $sans-bold;
      margin: 0.5rem 0 1rem;
    }

    .social-share-list {
      @include media-breakpoint-up(md) {
        margin-top: 3em;
      }
      margin-top: 1em;
    }

    .topics,
    .authors {
      justify-content: center;
    }

    .series-category {
      @include media-breakpoint-up(md) {
        margin: 2em 0 1em;
      }
      color: $wto-grey;
      font-family: $wto-font;
      font-weight: 700;
      margin: 0.5em 0;
    }

    .authors {
      font-size: 1em;
      margin: 0 0 0.3em;
    }

    .date {
      color: $cigi-text-grey;
      line-height: 1;
    }
  }

  .body {
    h2 {
      font-size: 1.5em;
      line-height: 1;
    }

    .drop-caps {
      background-position: center center;
      background-repeat: no-repeat;
      border: 0;
      color: $white;
      font-size: 3.75rem;
      height: 65px;
      line-height: 65px;
      margin-right: 0.7rem;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 65px;
    }

    .stream-block-blockquote-content {
      @include media-breakpoint-up(sm) {
        padding: 2em;
      }
      padding: 2em 1em;

      &::before {
        @include media-breakpoint-up(sm) {
          left: 2em;
        }
        background-image: url('../assets/wto_pull_quote_graphic.svg');
        border-bottom: 0;
        left: 1em;
        top: 1.25em;
        width: 115px;
      }

      blockquote {
        font-family: $wto-font;
        font-weight: 700;
      }
    }
  }

  .footnotes {
    &::before {
      content: none;
    }

    p {
      padding-left: 0;
    }
  }

  .about-the-author {
    h3 {
      border-top: 0;
      font-family: $wto-font;
      font-size: 1.1em;
      text-transform: none;
    }

    p {
      padding: 0 1em;
    }

    .name {
      display: none;
    }
  }
}
