.wto-series-article-series {
  @include top-bar(
    $background-color: $wto-series-background-colour,
    $color: $black,
    $position: relative,
  );
  background-color: $wto-series-background-colour;

  .wto-series-in-the-series {
    article {
      h4 {
        @include link($color: $black, $hover-color: $cigi-medium-grey);
      }
    }
  }
}
