$wto-yellow: #ffa800;
$wto-orange: #f55b2f;
$wto-pink: #f69ca8;
$wto-light-pink: #f2e8da;
$wto-blue: #064b7f;
$wto-dark-purple: #21133b;
$wto-purple: #8b53af;

$wto-grey: #7e7e7e;
$wto-light-grey: #d8d8d8;
$wto-inactive-grey: #a5a2a2;

$wto-font: 'Interstate', sans-serif;

@import '../../../css/global/mixins';

@import './wto_series_article_series';
@import './wto_series_article';
@import './wto_series_multimedia';
@import './includes/in_the_series';
@import './includes/social_links';
