@import '../../../css/global/mixins';

body {
  @include top-bar(
    $background-color: transparent,
    $background-color-scrolled: $black
  );

  h2 {
    &.paragraph-heading {
      margin-bottom: 2em;
    }
  }

  section {
    margin: 3em 0;

    &.hero {
      margin-top: 0;
    }

    &.in-the-series {
      .search-table {
        margin-top: 0;
      }
    }
  }

  .in-the-series {
    .search-table-container {
      margin-top: 0;

      .search-table {
        .search-bar-sort-wrapper {
          display: none;
        }
      }
    }
  }
}
