@import '../../../css/global/animations/scroll';
@import '../../../css/global/mixins';
@import '../../../css/includes/swiper';

.homepage {
  @include top_bar(
    $background-color: $white,
    $color: $black,
    $position: sticky
  );

  hr {
    @include media-breakpoint-up(md) {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: $cigi-medium-grey;

    &.has-margin {
      @include media-breakpoint-down(sm) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }

  // CIGI 3.0
  .header__topics {
    background-color: $white;
    position: static;
    margin-bottom: 1.5rem;

    .top-topics-list {
      padding: 1em 0;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        overflow: hidden;
        position: relative;
        font-size: 0.8em;
        max-height: 2.5em;
        transition: max-height 0.5s ease;

        &.expanded {
          @include media-breakpoint-up(md) {
            max-height: 10em;
          }
          @include media-breakpoint-up(sm) {
            max-height: 20em;
          }
          max-height: 25em;
        }

        li {
          flex-shrink: 0;
          margin-right: 0.5em;
          margin-top: 0.25em;
          margin-bottom: 0.25em;

          &.hidden {
            display: none;

            .live-event__scroll__container {
              display: none;
            }
          }

          .button--rounded {
            @include button();
          }

          .button--arrow {
            border: 0;
            height: 100%;
            width: 1em;
            position: relative;
            z-index: 1;
          }

          &:last-child {
            height: 100%;
            margin-right: 0;
            position: absolute;
            right: 0;

            button {
              width: 2em;
              position: relative;

              &.expanded {
                i {
                  &:first-child {
                    transform: rotate(45deg);
                  }
                }
              }

              i {
                transition: 0.25s ease;
                position: absolute;
                top: 10px;
                height: 12px;

                &:first-child {
                  transform: rotate(90deg);
                }
              }
            }
          }

          &.live-event {
            display: flex;
            color: $cigi-primary-colour;

            .live-event__scroll__container {
              overflow: hidden;
              position: relative;
              max-width: 7.5em;
              margin: 0 0.5em;

              &::before {
                content: '';
                background: linear-gradient(
                  to left,
                  $white 50%,
                  rgba($white, 0)
                );
                position: absolute;
                height: 100%;
                width: 25px;
                right: -5px;
                z-index: 1;
              }

              &::after {
                content: '';
                background: linear-gradient(
                  to right,
                  $white 50%,
                  rgba($white, 0)
                );
                position: absolute;
                height: 100%;
                width: 25px;
                top: 0;
                left: -15px;
                z-index: 1;
              }

              .live-event__scroll {
                align-items: center;
                display: inline-flex;
                overflow: hidden;
                animation: scroll 10s linear infinite;
                white-space: nowrap;

                p {
                  display: inline-block;
                  margin: 0 2em;
                }
              }
            }

            button {
              @include button(
                $color: $white,
                $background-color: $cigi-primary-colour,
                $border-color: $cigi-primary-colour,
                $hover-color: $cigi-primary-colour,
                $hover-background-color: $white
              );
            }
          }

          &.live-event__button {
            margin-right: 1em;
            padding-right: 1em;
            border-right: 1px solid $cigi-light-grey;

            button {
              @include button(
                $color: $white,
                $background-color: $cigi-primary-colour,
                $border-color: $cigi-primary-colour,
                $hover-color: $cigi-primary-colour,
                $hover-background-color: $white,
                $hover-border-color: $cigi-primary-colour
              );
            }
          }

          &.trending-issue {
            button {
              @include button(
                $background-color: $black,
                $color: $white,
                $hover-color: $black,
                $hover-background-color: $white,
                $hover-border-color: $black
              );
            }
          }
        }
      }
    }
  }

  main {
    padding-bottom: 1.5em;

    .body {
      ul {
        padding: 0;
      }
    }
  }
}
