@import '../../../css/global/mixins';
@import '../../../css/includes/swiper';

.homepage {
  hr {
    &.has-margin {
      @include media-breakpoint-down(sm) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }

  .homepage-featured {
    @include media-breakpoint-up(lg) {
      padding-top: 7em;
    }
    margin-bottom: 3em;
    padding-top: 5em;
  }

  .homepage-featured-experts,
  .homepage-featured-multimedia,
  .homepage-featured-publications,
  .homepage-featured-highlights,
  .homepage-promotion-blocks,
  .homepage-featured-events {
    @include media-breakpoint-up(md) {
      margin-bottom: 4em;
    }
    margin-bottom: 2em;
  }

  .homepage-featured-experts {
    .homepage-featured-expert-row {
      @include media-breakpoint-up(md) {
        border-right: 1px solid $cigi-light-grey;
        padding-right: 0;
      }

      &:last-child {
        @include media-breakpoint-up(md) {
          border-right: 0;
          padding-right: 15px;
        }

        article {
          border-bottom: 0;
          border-right: 0;
        }
      }

      article {
        @include media-breakpoint-up(md) {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
          padding-right: 1em;
        }
        border-bottom: 1px solid $cigi-light-grey;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
      }
    }
  }

  .homepage-featured-multimedia {
    background-color: $black;
    padding-bottom: 4em;
    padding-top: 4em;
  }

  .homepage-featured-publications {
    .homepage-featured-publication-row {
      display: flex;

      &:last-child {
        article {
          @include media-breakpoint-down(sm) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .homepage-featured-highlights {
    h2 {
      margin-bottom: 1em;
    }
  }

  .homepage-featured-events {
    .homepage-featured-event-row {
      @include media-breakpoint-up(md) {
        border-right: 1px solid $cigi-light-grey;
        padding-right: 0;
      }

      &:last-child {
        @include media-breakpoint-up(md) {
          border-right: 0;
          padding-right: 15px;
        }

        article {
          border-bottom: 0;
          border-right: 0;
        }
      }

      article {
        @include media-breakpoint-up(md) {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
          padding-right: 1em;
        }
        border-bottom: 1px solid $cigi-light-grey;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
      }
    }
  }

  .homepage-subheading {
    @include link($color: $black, $hover-color: $cigi-primary-colour);
    color: $black;
    font-size: 0.75em;
    margin-bottom: 1.5em;
    text-transform: uppercase;

    &.dark-mode {
      @include link($color: $white, $hover-color: $cigi-primary-colour);
      color: $white;

      a,
      span {
        border-top-color: $white;
      }
    }

    a,
    span {
      border-top-color: $black;
      border-top-style: solid;
      border-top-width: 3px;
      transition: border-top-color 0.2s ease;
    }

    a {
      &:hover {
        border-top-color: $cigi-primary-colour;
      }
    }
  }

  .homepage-promotion-blocks {
    .homepage-promotion-block {
      @include media-breakpoint-up(md) {
        margin-bottom: 2em;
      }
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      &.promotion-block-wide {
        flex-basis: 100%;
      }
    }
  }
}
