{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/xfi6rry.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeAfterCovidSeries' 'css' %}
{% endblock %}

{% block body_class %}after-covid-series-article{% endblock %}

{% block hero %}
  {% image self.image_banner original as image_banner %}
  <section class="after-covid-series-article-hero" style="background-image: url('{{ image_banner.url }}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 hero-content"">
          <div class="opinion-label">Opinion</div>
          <h1>{{ self.title }}</h1>
          {% include "includes/date.html" with date=self.publishing_date %}
          <div class="authors">
            {% for item in self.authors.all %}
              <div class="author">
                {% image item.author.image_square fill-100x100 %}
                <div class="author-info">
                  <div class="author-title">
                    <a href="{% pageurl item.author %}">{{ item.author.title }}</a>
                  </div>
                  <div class="author-byline">
                    {{ item.author.byline|richtext }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% include "includes/social_links.html" with title=self.title %}
        </div>
      </div>
    </div>
  </section>
  {% if self.image_hero %}
    <figure class="article-image-hero">
      {% image self.image_hero width-768 %}
      {% if self.image_hero.caption %}
      <div class="container">
        <figcaption>
          {{ self.image_hero.caption }}
        </figcaption>
      </div>
      {% endif %}
    </figure>
  {% endif %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <p class="series-blurb">This article is a part of <a href="{{ self.article_series.url }}">{{ self.article_series }}</a>, an essay series offering analysis of the post-pandemic world.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific %}
  {% endif %}
{% endblock %}
