{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/xfi6rry.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeAfterCovidSeries' 'css' %}
{% endblock %}
{% block theme_js %}
  {% render_bundle 'themeAfterCovidSeries' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}after-covid-series-article-series{% endblock %}

{% block content %}
  <section class="after-covid-series-article-series-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="opinion-series-label">Opinion Series</div>
          <h1>{{ self.title }}</h1>
          <p>{{ self.short_description|richtext }}</p>
        </div>
      </div>
    </div>
  </section>
  {% if self.image_banner.filename|file_extension == '.gif' %}
    {% define "/staticmedia/original_images/"|add:self.image_banner.filename as image_banner_url %}
  {% else %}
    {% image self.image_banner original as image_banner %}
    {% define image_banner.url as image_banner_url %}
  {% endif %}
  <div class="video-banner" style="background-image: url('{{ image_banner_url }}');"></div>
  <section class="after-covid-series-article-series-in-the-series">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          {% for block in self.series_items %}
            {% if block.block_type == 'series_item' %}
              {% define block.value.specific|page_type as page_type %}
              <article>
                <div class="author-images block-{{page_type}}">
                  {% if page_type == 'opinion' %}
                    {% for item in block.value.specific.authors.all %}
                      <a href="{{ item.author.url }}">
                        {% image item.author.image_square fill-100x100 %}
                      </a>
                    {% endfor %}
                  {% elif page_type == 'multimedia' %}
                    <a href="{{ block.value.url }}">
                      <i class="fa fa-play-circle"></i>
                    </a>
                  {% endif %}
                </div>
                <div>
                  <h3>
                    <a href="{{ block.value.url }}">{{ block.value.title }}</a>
                  </h3>
                  <p class="authors">
                    {% for item in block.value.specific.authors.all %}
                      <span><a href="{{ item.author.url }}">{{ item.author.title }}</a></span>
                    {% endfor %}
                  </p>
                </div>
              </article>
            {% elif block.block_type == 'category_title' %}
              <h2>{{ block.value }}</h2>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
