{% extends "base.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block extra_css %}
  {% render_bundle 'contactPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'contactPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/top_bar_menu.html" with title='Contact' %}
  <section class="contact-form-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <form action="{% pageurl page %}" method="POST" class="contact-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button--rounded">
              Send message
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include "includes/contact_info.html" with events_contact=self.events_contact human_resources_contact=self.human_resources_contact media_contact=self.media_contact %}
{% endblock %}
