{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mhy5jui.css">
{% endblock %}
{% block extra_css %}
  {% render_bundle 'themeAISeries' 'css' %}
{% endblock %}

{% block body_class %}ai-series-article-series{% endblock %}

{% block header %}
  {% image self.image_banner original as image_hero %}
  <div class="ai-series-article-series-hero" style="background-image: url('{{ image_hero.url }}');">
    {% include "includes/top_bar.html" %}
    <div class="container-md hero-content">
      {% include "includes/social_links_square.html" with title=self.title %}
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <div class="essay-series-label">A CIGI Essay Series</div>
          <h1>{{ self.title }}</h1>
        </div>
        <div class="col-md-4 col-lg-5 offset-lg-1 series-contributors">
          <div class="contributors-label">Contributors</div>
          <ul>
            {% for item in self.series_contributors_by_article %}
              <li>
                <a href="{{ item.item.url }}">
                  {% include "includes/contributors.html" with contributors=item.contributors %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-md short-description">
    {{ self.short_description|richtext }}
  </div>
{% endblock %}

{% block content %}
  <section class="ai-series-article-series-in-the-series">
    <div class="container-md">
      <h2>In the Series</h2>
      {% for block in self.series_items %}
        {% if block.block_type == 'series_item' %}
          <article>
            <h3><a href="{{ block.value.url }}">{{ block.value.title }}</a></h3>
            <ul class="authors">
              {% for author in block.value.specific.authors %}
                <li>{{ author }}</li>
              {% endfor %}
            </ul>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  {% if self.credits %}
    <section class="credits">
      <div class="container-md">
        <h2>Credits</h2>
        <div class="credits-content">
          {{ self.credits|richtext }}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
