{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mhy5jui.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeAISeries' 'css' %}
{% endblock %}

{% block body_class %}ai-series-article{% endblock %}

{% block hero %}
  {% image self.image_banner original as image_hero %}
  <section class="ai-series-article-hero" style="background-image: url('{{ image_hero.url }}');">
    <div class="container">
      <div class="row">
        <div class="col col-md-8 col-lg-6 hero-content">
          {% include "includes/social_links_square.html" with title=self.title %}
          <h1>{{ self.title }}</h1>
          {% include "includes/authors.html" with authors=self.authors %}
          {% include "includes/date.html" with date=self.publishing_date %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific %}
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for AI series articles #}
{% endblock %}
