{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block meta_description %}
  {% if self.social_description %}
    <meta name="description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta name="description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_description %}
  {% if self.social_description %}
    <meta property="og:description" content="{{ self.social_description }}" />
  {% elif self.short_description %}
    <meta property="og:description" content="{{ self.short_description|striptags }}" />
  {% endif %}
{% endblock %}
{% block og_image %}
  {% if self.image_social %}
    {% image self.image_social fill-1600x900 as og_image %}
  {% elif self.image_hero %}
    {% image self.image_hero fill-1600x900 as og_image %}
  {% endif %}
  {% if og_image %}
    <meta property="og:image" content="{{ og_image.url }}" />
  {% else %}
    {% include "includes/og_image_default.html" %}
  {% endif %}
{% endblock %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mhy5jui.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeAISeries' 'css' %}
{% endblock %}

{% block body_class %}ai-series-article-series{% endblock %}

{% block content %}
  {% if self.image_banner.file.url|file_extension == '.gif' %}
    {% define ""|add:self.image_banner.file.url as image_banner_url %}
  {% else %}
    {% image self.image_banner original as image_banner %}
    {% define image_banner.url as image_banner_url %}
  {% endif %}
  <section class="ai-series-article-series-hero" style="background-image: url('{{ image_banner_url }}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10 hero-content">
          {% include "includes/social_links_square.html" with title=self.title %}
          <div class="row">
            <div class="col col-md-8 col-lg-6">
              <div class="essay-series-label">A CIGI Essay Series</div>
              <h1>{{ self.title }}</h1>
            </div>
            <div class="col col-md-4 col-lg-5 offset-lg-1 series-contributors">
              <div class="contributors-label">Contributors</div>
              {% for item in self.series_contributors_by_article %}
                <a href="{{ item.item.url }}">
                  <ul class="authors">
                    {% for contributor in item.contributors %}
                      <li>
                        {{ contributor.author.title }}
                      </li>
                    {% endfor %}
                  </ul>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="short-description">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10">
          {{ self.short_description|richtext }}
        </div>
      </div>
    </div>
  </section>
  <section class="ai-series-article-series-in-the-series">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-lg-10">
          <h2>In the Series</h2>
          {% for series_item in self.article_series_items %}
            {% define series_item.content_page.specific|page_type as page_type %}
            <article>
              {% image series_item.content_page.specific.image_banner max-450x200 as image_banner %}
              <div class="background-image" style="background-image: url('{{image_banner.url}}');"></div>
              <h3><a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a></h3>
              <div class="authors-container">
                {% if page_type == 'multimedia' %}
                  <a class="video-button" href="{% pageurl series_item.content_page %}">
                    <i class="fas fa-play-circle"></i>
                  </a>
                {% endif %}
                <ul class="authors">
                  {% for item in series_item.content_page.authors.all %}
                    {% if item.hide_link or item.author.is_external_profile %}
                      <li>{{ item.author.title }}</li>
                    {% else %}
                      <li><a href="{% pageurl item.author %}">{{ item.author.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% if self.credits %}
    <section class="credits">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-lg-10">
            <h2>Credits</h2>
            <div class="credits-content">
              {{ self.credits|richtext }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
