{% extends "multimedia/multimedia_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/mhy5jui.css">
{% endblock%}
{% block theme_css %}
  {% render_bundle 'themeAISeries' 'css' %}
{% endblock %}

{% block body_class %}ai-series-multimedia{% endblock %}

{% block hero %}
  {% image self.image_banner original as image_hero %}
  {% include "includes/hero_multimedia.html" with image_hero=image_hero %}
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific %}
  {% endif %}
{% endblock %}
