{% load wagtailcore_tags wagtailimages_tags core_tags %}

<div class="container">
  <figure class="stream-image-block">
    {% if self.image.file.url|file_extension == '.gif' %}
      <img src="{{self.image.file.url}}" alt="{{self.image.title}}">
    {% else %}
      {% image self.image width-640 %}
    {% endif %}
    <div class="row d-block">
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        {% if not self.hide_image_caption %}
          <figcaption>
            {{ self.image.title }}
          </figcaption>
        {% endif %}
      </div>
    </div>
  </figure>
</div>