.data-value-series-in-the-series {
  @include link($color: $black, $hover-color: $cigi-primary-colour);

  h1,
  h3,
  h4 {
    font-family: $header-font;
    font-weight: 900;
    letter-spacing: -0.05em;
  }

  h2,
  h5,
  .authors,
  .date {
    font-family: $subheader-font;
  }

  h3 {
    font-size: 2rem;

    margin-bottom: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
  }

  .series-category {
    margin-bottom: 2rem;
  }

  article {
    border-bottom: 1px solid $cigi-light-grey;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 0;
    }

    h5 {
      font-size: 1.1rem;
      margin: 0 0 0.5rem;
      font-weight: 600;
    }

    .authors {
      font-size: 0.75rem;
      margin: 0;
      text-transform: uppercase;
    }
  }

  h4 {
    position: relative;
    padding-left: 5px;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 2.5rem;
      bottom: 5px;
      position: absolute;
      z-index: -1;
      left: -2px;
    }
  }

  .the-current-state-of-global-data-governance {
    &::before {
      background-color: #60d2f6;
    }
  }

  .different-perspectives-on-notions-of-value {
    &::before {
      background-color: #ffd738;
    }
  }

  .governance-frameworks-to-unleash-the-value-of-data {
    &::before {
      background-color: #ff73f6;
    }
  }

  .mechanisms-for-governance-cooperation {
    &::before {
      background-color: #ff8c00;
    }
  }
}
