@import '../../../css/global/mixins';

.twentieth-page {
  color: $white;

  .slides-nav-arrows {
    color: $cigi-primary-colour;
    position: relative;
    z-index: 500;

    button {
      color: $cigi-primary-colour;
    }

    .prev-slide,
    .next-slide {
      font-size: 3em;
      left: 50%;
      position: fixed;
    }
  }

  .prev-slide {
    top: 0;
  }

  .next-slide {
    bottom: 0;
  }

  &.white-bg,
  &.red-bg {
    @include top-bar($background-color: transparent, $color: $black);
    color: $black;

    .cigi-top-bar {
      svg {
        * {
          transition: fill 300ms ease 150ms;
        }
      }
    }

    button {
      transition: color 300ms ease 150ms;
    }
  }

  &.red-bg {
    .slides-nav-arrows {
      button {
        color: $black;
      }
    }
  }

  header {
    background-color: transparent;

    .cigi-top-bar {
      transition: height 0.2s ease;

      .cigi-logo {
        svg {
          fill: $white;
          transition: opacity 0.3s ease;
        }
      }
    }
  }

  .nav {
    bottom: 200px;
    position: static;
  }

  .twentieth-page-slides {
    * {
      position: relative;
    }

    .slides {
      background-image: $black;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 14;

      .background-image {
        background-position: center;
        background-size: cover;
        height: 110vh;
        left: 0;
        top: 0;
        width: 100vw;

        &.background-WHITE {
          background-color: $white;
        }

        &.background-BLACK {
          background-color: $black;
        }

        &.background-RED {
          background-color: $cigi-primary-colour;
          color: $white;
        }
      }

      .slide-content {
        padding-top: 6em;

        h1,
        h2,
        p {
          transition: color 300ms ease;
        }

        .video-responsive {
          height: 0;
          overflow: hidden;
          padding-bottom: 56.25%;
          position: relative;

          iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }

        .timeline-nav {
          margin: 2em 0;

          li {
            font-size: 0.75em;
            list-style: none;

            &:not(:last-child) {
              &::after {
                color: $cigi-primary-colour;
                content: '/';
                padding: 0 0.5em;
              }
            }

            &.active {
              button {
                color: $white;
              }
            }

            button {
              color: $cigi-text-grey;
            }
          }
        }

        .swiper-container {
          overflow: visible;

          .swiper-button-next,
          .swiper-button-prev {
            align-items: center;
            color: $cigi-primary-colour;
            cursor: pointer;
            display: flex;
            font-size: 5em;
            justify-content: center;
            position: absolute;
            top: 40%;
            z-index: 10;
          }

          .swiper-button-next {
            right: 0;
          }

          .swiper-button-prev {
            left: 0;
          }

          .swiper-button-disabled {
            display: none;
          }

          .timeline-slide {
            min-height: 500px;

            .timeline-text {
              padding-left: 1em;
              padding-top: 5em;
              width: 35%;

              h2 {
                font-size: 3em;
                font-weight: 700;
                margin-bottom: 0.25em;
                margin-left: -100%;
                z-index: 1;

                &::before {
                  background: $cigi-primary-colour;
                  bottom: 7px;
                  content: '';
                  height: 0.25em;
                  margin-left: -0.2em;
                  position: absolute;
                  width: 2.8em;
                  z-index: -1;
                }
              }

              p {
                font-size: 0.75em;
              }

              .timeline-body {
                text-align: left;
              }
            }

            .img-wrapper {
              align-items: center;
              max-width: 60%;
            }
          }
        }
      }

      .slide-4 {
        .slide-content {
          padding-top: 12em;

          p {
            text-align: center;
          }

          .video-responsive {
            margin-top: 2em;
          }
        }
      }
    }
  }

  .fade-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  .fade-enter-active {
    opacity: 1;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
  }

  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms ease, transform 300ms ease;
  }
}
