@import '../../../css/global/mixins';

.twentieth-page {
  header {
    background-color: transparent;
  }

  .twentieth-page-slides {
    button {
      color: $white;
    }

    .prev-slide,
    .next-slide {
      font-size: 3em;
      left: 50%;
      position: fixed;
      z-index: 500;
    }

    .prev-slide {
      top: 0;
    }

    .next-slide {
      bottom: 0;
    }

    .slides {
      background-color: $black;
      color: $white;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 14;

      * {
        position: relative;
      }

      .background-image {
        background-position: center;
        background-size: cover;
        height: 100vh;
        left: 0;
        top: 0;
        width: 100vw;
      }

      .slide-content {
        padding-top: 5em;

        .video-responsive {
          height: 0;
          overflow: hidden;
          padding-bottom: 56.25%;
          position: relative;

          iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
