{% load cache static wagtailuserbar webpack_loader %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NKKJHZX');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>
      {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="title" content="{{ self.title }}" />
    {% block meta_description %}
    {% endblock %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@CIGIOnline" />
    <meta property="og:url" content="{{ self.full_url }}" />
    {% block og_type %}
      <meta property="og:type" content="website" />
    {% endblock %}
    <meta property="og:site_name" content="{{ self.get_site.site_name }}" />
    <meta property="og:title" content="{% if self.social_title %}{{ self.social_title }}{% else %}{{ self.title }}{% endif %}" />
    {% block og_description %}
    {% endblock %}
    {% block og_image %}
      {% include "includes/og_image_default.html" %}
    {% endblock %}
    {% block extra_og_meta %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Fonts #}
    <link rel="stylesheet" href="https://use.typekit.net/two4qwo.css">
    {% block extra_fonts %}
      {# Override this in templates to add extra fonts #}
    {% endblock %}
    {% render_bundle 'cigionline' 'css' %}
    {% block extra_css %}
      {# Override this in templates to add page-specific CSS #}
    {% endblock %}
    {% block theme_css %}
      {# Override this in templates to add theme CSS #}
    {% endblock %}
    {% render_bundle 'cigionline' 'js' attrs='defer' %}
    {% block extra_js %}
      {# Override this in templates to add page-specific JS #}
    {% endblock %}
    {% block theme_js %}
      {# Override this in templates to add theme JS #}
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKKJHZX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '2913501828911625',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v11.0'
        });
      };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    {% block header %}
      {% include "includes/top_bar.html" %}
    {% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}

    <div id="cigi-cookie-consent-container"></div>
  </body>
</html>
