{% load static wagtailuserbar webpack_loader %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Fonts #}
    <link rel="stylesheet" href="https://use.typekit.net/two4qwo.css">
    {% block extra_fonts %}
      {# Override this in templates to add extra fonts #}
    {% endblock %}
    {% render_bundle 'cigionline' 'css' %}
    {% block extra_css %}
      {# Override this in templates to add extra CSS #}
    {% endblock %}
    {% render_bundle 'cigionline' 'js' attrs='async' %}
    {% block extra_js %}
      {# Override this in templates to add extra JS #}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block header %}
      {% include "includes/top-bar.html" %}
    {% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}
  </body>
</html>
