.women-and-trade-series-in-the-series {
  @include media-breakpoint-up(md) {
    columns: 2;
  }
  columns: 1;
  margin-bottom: 3em;

  article {
    break-inside: avoid;
    margin-bottom: 2.5em;

    h4 {
      font-size: 1.2em;
      margin-bottom: 0;

      a {
        color: $cigi-darkest-grey;
        font-weight: 500;

        &:hover {
          color: $cigi-medium-grey;
        }
      }
    }

    .authors {
      font-size: 0.75em;
      margin-top: 1em;
      text-transform: uppercase;

      label {
        color: $cigi-text-grey;
      }

      span {
        @include comma-separated;
        @include link($color: $cigi-medium-grey, $hover-color: $cigi-primary-colour);
        color: $cigi-medium-grey;
      }
    }
  }
}
