{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/rwn6tvm.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeSpecialOpinions' 'css' %}
{% endblock %}
{% block theme_js %}
  {% render_bundle 'themeSpecialOpinions' 'js' attrs='defer' %}
{% endblock %}

{% block body_class %}special-theme{% endblock %}

{% block hero %}
  {% include './includes/hero_article.html' %}
{% endblock %}
