.pfpc-series-article {
  header {
    @include media-breakpoint-up(md) {
      background-color: transparent;
      position: absolute;
    }
    background-color: $black;
    position: fixed;
  }

  .article-footnotes,
  .article-works-cited {
    font-family: Helvetica, sans-serif;

    h2 {
      margin-bottom: 0.5em;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  .article-footnotes {
    font-size: 0.8125em;

    ol {
      line-height: 24px;
      list-style: none;
      margin: 0 0 1em 1em;

      li {
        &::before {
          content: counter(list-item);
          font-weight: 600;
          margin-right: 0.25em;
        }
      }
    }
  }

  .article-series-description {
    display: none;
  }

  .pfpc-series-article-hero {
    @include link($color: $black, $hover-color: $cigi-dark-pink);
    @include media-breakpoint-up(md) {
      @include link($color: $white, $hover-color: $cigi-dark-pink);
      background-size: cover;
      color: $white;
      min-height: 30em;
      padding-top: 25%;
    }
    background-size: 0;
    color: $black;
    position: relative;
    text-align: center;

    &::after {
      @include media-breakpoint-up(md) {
        background-image: linear-gradient($black 10%, transparent 50%, $black 85%);
      }
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    h1 {
      @include media-breakpoint-up(md) {
        color: $white;
        font-size: 2em;
        margin: 0 0 1em;
      }
      color: $black;
      font-family: $tisa-pro;
      font-size: 1.5em;
      font-weight: 600;
    }

    .hero-content {
      @include media-breakpoint-up(md) {
        margin-top: 0;
        padding-bottom: 1em;
      }
      margin-top: 60px;
      padding-bottom: 0;
      z-index: 1;
    }

    .date {
      color: $black;
      font-family: $primary-font-family;
      font-size: 0.75em;
      text-transform: uppercase;
    }

    .opinion-label,
    .date,
    .author-byline {
      @include media-breakpoint-up(md) {
        color: $white;
      }
    }
  }

  .pfpc-series-article-description {
    @include media-breakpoint-up(md) {
      background-color: $black;
      color: $white;
    }
    color: $black;
    left: 0;
    margin-bottom: 2em;

    .authors {
      font-size: 1em;
      margin: 1em 0;
      text-align: center;

      .author {
        img {
          border-radius: 50%;
          height: 4em;
          width: 4em;
        }

        .author-title {
          @include media-breakpoint-up(md) {
            @include link($color: $white, $hover-color: $cigi-dark-pink);

            a {
              color: $white !important;
            }
          }
          @include link($color: $black, $hover-color: $cigi-dark-pink);
          font-family: $tisa-pro;
          font-size: 0.8em;
          font-weight: 600;
        }
      }

      .date {
        @include media-breakpoint-up(md) {
          color: $white;
        }
        color: $black;
      }
    }

    .series-blurb {
      @include media-breakpoint-up(md) {
        @include link($color: $white, $hover-color: $cigi-dark-pink);

        a {
          color: $white !important;
        }
      }
      @include link($color: $black, $hover-color: $cigi-dark-pink);
      margin-bottom: 2em;

      a {
        text-decoration: underline;
      }
    }
  }

  .stream-block-chart {
    .stream-block-chart-title {
      border-top: 5px solid $cigi-primary-colour;
      color: $cigi-primary-colour;
      line-height: 1.25;
      padding: 0.5em 0 1em;
    }
  }
}
