$landing-heading-teal: #00ACA4;
$landing-description-grey: #cecccc;
$meta-grey: #c7c7c5;

@import '../../../css/global/mixins';

@import './pfpc_series_article';
@import './pfpc_series_article_series';
