$landing-heading-teal: #00aca4;

$landing-heading-blue: #82baf8;
$landing-description-grey: #cecccc;
$meta-grey: #c7c7c5;
$after-covid-series-left-hero-colour: #011321;
$after-covid-series-top-hero-colour: rgba(74, 107, 136, 0.8);

@import '../../../css/global/mixins';

@import './pfpc_series_article';
@import './pfpc_series_article_series';
