@import '../../../css/global/animations/bounce';

.ai-ethics-series-article-series {
  @include top-bar($color: $black, $background-color: transparent);

  .ai-ethics-series-article-series-hero {
    padding-top: calc(5vw + 2em);

    h1,
    .opinion-series-label {
      text-align: center;
    }

    h1 {
      @include media-breakpoint-up(xl) {
        font-size: 5em;
      }
      font-family: $ai_ethics_heading;
      font-weight: 700;
      font-size: calc(4.5vw + 1em);
      line-height: 1;
      margin-bottom: 0.5em;
    }

    .banner {
      margin-bottom: 2em;
    }

    .opinion-series-label {
      font-family: $ai_ethics_bilo;
      font-weight: 600;
      margin-bottom: 1.5em;
    }

    .short-description {
      @include media-breakpoint-up(md) {
        margin-bottom: 4em;
      }
      margin-bottom: 2em;
    }
  }

  .article-series-in-the-series {
    font-family: $ai_ethics_bilo;
    margin-bottom: 2em;

    h2 {
      font-weight: 600;
      margin-bottom: 1em;
    }

    hr {
      background-color: $cigi-text-grey;
      margin: 0;
      width: 40%;
    }

    article {
      padding: 2em 2em;
      position: relative;

      &:hover {
        .article-overlay {
          max-height: 500px;
          opacity: 1;
          pointer-events: auto;
          touch-action: auto;
        }

        .description-link {
          touch-action: auto;
        }

        li {
          &::after {
            color: transparent;
          }
        }
      }

      h3 {
        @include media-breakpoint-up(md) {
          font-size: 1.75em;
        }
        font-weight: 600;
      }

      ul {
        display: flex;
        margin-top: 0.5em;

        li {
          @include link(
            $color: $cigi-text-grey,
            $hover-color: $cigi-primary-colour
          );
          @include comma-separated;
          font-weight: 600;
          list-style: none;

          &::after {
            color: $cigi-text-grey;
          }
        }
      }

      .article-short-description {
        color: $black;

        p {
          margin-bottom: 0;
        }
      }

      .article-overlay {
        @include media-breakpoint-up(md) {
          align-items: center;
          bottom: 0;
          display: flex;
          left: 0;
          justify-content: space-between;
          padding: 0 2em;
          position: absolute;
          right: 0;
          top: 0;
          width: calc(100% + 5em);
        }
        background-color: $white;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        touch-action: none;
        transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;

        button {
          @include media-breakpoint-up(md) {
            margin-left: 4em;
          }
          border: 1px solid $black;
          margin-top: 1em;
          padding: 0.5em 1em;
          transition: background-color 0.2s ease, color 0.2s ease;

          a {
            color: $black;
          }

          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }

  .loaders {
    margin-bottom: 6em;
    position: relative;
  }

  #article-message {
    display: flex;
    align-items: center;
    opacity: 0;
    position: absolute;
    transition: opacity 0.25s ease-in-out;

    &.show {
      opacity: 1;
    }

    i {
      animation: 'bounce' 2s infinite;
      margin-right: 1em;
    }
  }

  #spinner {
    opacity: 0;
    margin-bottom: 4em;
    position: absolute;
    transition: opacity 0.25s ease-in-out;

    &.show {
      opacity: 1;
    }

    img {
      width: 50px;
    }
  }

  #introduction-article {
    display: none;
    margin-bottom: 4em;
    opacity: 0;
    transition: opacity 0.25s ease-in-out, max-height 1s ease-in-out;

    .article-hero {
      padding-top: 0;
    }

    #introduction-title {
      @include media-breakpoint-up(xl) {
        font-size: 3em;
      }
      font-family: $ai_ethics_heading;
      font-weight: 700;
      font-size: calc(2.5vw + 1em);
      line-height: 1;
    }

    &.show {
      display: block;
      opacity: 1;
    }
  }
}
