@import '../../../css/global/animations/bounce';

.ai-ethics-series-article-series {
  @include top-bar($color: $black, $background-color: $white);

  hr {
    background-color: $cigi-medium-grey;
    margin: 0;
    opacity: 42%;
    position: relative;
  }

  .ai-ethics-series-article-series-hero {
    padding-top: calc(5vw + 2em);

    h1,
    .opinion-series-label {
      text-align: center;
    }

    h1 {
      @include media-breakpoint-up(xl) {
        font-size: 5em;
      }
      font-family: $ai-ethics-heading;
      font-size: calc(4.5vw + 1em);
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0.5em;
    }

    .banner {
      margin-bottom: 2em;
    }

    .opinion-series-label {
      @include media-breakpoint-up(md) {
        margin-bottom: 1.5em;
      }
      font-family: $ai-ethics-bilo;
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 1em;
    }

    .series-title {
      padding: 0;
    }

    .short-description {
      @include media-breakpoint-up(md) {
        margin-bottom: 4em;
      }
      margin-bottom: 2em;
    }
  }

  .article-series-in-the-series {
    font-family: $ai-ethics-bilo;
    margin-bottom: 1em;

    h2 {
      font-size: 1em;
      font-weight: 500;
    }

    article {
      @include media-breakpoint-up(md) {
        padding: 1em 2em;
      }
      padding: 1em 0;
      position: relative;

      h3 {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        @include media-breakpoint-up(md) {
          font-size: 1.5em;
        }
        font-weight: 500;
      }

      ul {
        display: flex;
        margin-top: 0.5em;

        li {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
          @include comma-separated;
          list-style: none;

          &::after {
            color: $cigi-text-grey;
            margin-right: 0.3em !important;
          }
        }
      }

      .article-short-description {
        color: $cigi-text-grey;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .credits {
    @include media-breakpoint-up(md) {
      margin-bottom: 4em;
    }
    font-family: $ai-ethics-bilo;
    margin-bottom: 2em;

    h2 {
      font-size: 1em;
      margin-bottom: 1em;
      text-align: center;
    }

    hr {
      background-color: $cigi-medium-grey;
      margin-bottom: 1em;
    }

    .ai-ethics-doodle {
      padding-bottom: 1em;
      text-align: center;

      img {
        width: 100px;
      }
    }

    .ai-ethics-logo-wrapper {
      display: flex;
      justify-content: space-between;

      .ai-ethics-logo {
        img {
          @include media-breakpoint-up(md) {
            height: 2em;
          }
          @include media-breakpoint-up(xl) {
            height: 3em;
          }
          height: 1.75em;
          width: auto;
        }

        .cigi-logo {

          .large-logo {
            @include media-breakpoint-up(md) {
              height: 2em;
            }
            @include media-breakpoint-up(xl) {
              height: 3em;
            }
            height: 1.75em;
            width: auto;
          }
        }
      }
    }

    .credits-content {
      @include media-breakpoint-up(md) {
        -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8em 6em 6em;
        margin: 1em 0 4em 2em;
      }
      @include media-breakpoint-up(xl) {
        -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      -ms-grid-columns: 1fr 0.5em 1fr;
      display: -ms-grid;
      display: grid; // sass-lint:disable-line no-duplicate-properties
      font-size: 0.75em;
      grid-column-gap: 0.5em;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 8em 6em 4em 6em;
      margin: 1em 0 4em;

      .name {
        @include media-breakpoint-up(md) {
          font-size: 1.25em;
        }
        font-size: 1.1em;
      }

      .title {
        @include media-breakpoint-up(md) {
          font-size: 1em;
        }
        font-size: 0.85em;
      }
    }
  }
}
