@import '../../../css/global/mixins';
@import '../../../css/includes/swiper';

section {
  &.series {
    background-color: $cigi-light-grey-bg;
    margin: 2em 0;
    padding: 2em 0;

    h3 {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      margin-bottom: 1em;
    }

    p,
    h4 {
      color: $cigi-text-grey;
    }

    h4 {
      margin-bottom: 1em;
    }

    .paragraph-heading {
      @include media-breakpoint-up(md) {
        margin-bottom: 2.67em;
      }
      margin-bottom: 1em;
    }

    .topics {
      margin-bottom: 0.75em;
    }

    .contributors {
      @include link($color: $black, $hover-color: $cigi-primary-colour);
      @include media-breakpoint-up(sm) {
        column-count: 4;
      }
      column-count: 3;

      li {
        list-style: none;
      }
    }

    .img-wrapper {
      @include media-breakpoint-down(sm) {
        margin-bottom: 1em;
      }
    }
  }
}
