@import '../../../css/global/mixins';
@import '../../../css/global/variables';
$link-color: #0000ee;
$link-hover-color: #0056b3;

section {
  &.hero {
    background-color: transparent;

    h1,
    .subtitle {
      color: $white;
    }

    h1 {
      @include media-breakpoint-up(md) {
        font-size: 2.5em;
      }
      font-size: 2em;
    }

    .subtitle {
      @include media-breakpoint-up(md) {
        font-size: 1.5em;
      }
      font-size: 1.25em;
    }

    .banner-bg {
      &::after {
        @include media-breakpoint-down(sm) {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &.related-files {
    @include link($color: $link-color, $hover-color: $link-hover-color);

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  margin-bottom: 4rem;
}
