.data-series-article {
  @include top-bar(
    $background-color: $data-series-background-color,
    $color: $black,
    $position: relative,
  );
  background-color: $data-series-background-color;

  .hero {
    background-position: center;
    background-size: cover;
    margin: 0 0 1em;
    min-height: 25em;
    position: relative;

    &::after {
      background-color: $data-series-background-color;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;

      @media screen and (min-width: $large) {
        background-color: transparent;
      }
    }

    .hero-content {
      max-width: 500px;
      position: relative;
      z-index: 2;

      h1 {
        color: $black;
        font-family: din-condensed, sans-serif;
        font-size: 3.2em;
        font-weight: 400;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;

        span {
          background-image: linear-gradient(to right, $data-series-primary-color 0%, $data-series-primary-color 100%);
          background-position: 0 72%;
          background-repeat: repeat-x;
          background-size: 100% 0.2em;
        }
      }
    }
  }

  .meta-section {
    margin: 0;

    .meta {
      p {
        margin: 0;

        .author {
          @include comma-separated;
          @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
        }
      }
    }

    .social {
      border-bottom: 1px solid $divider-grey;
      margin-bottom: 1em;

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;

        li {
          @include link($color: $black, $hover-color: $cigi-primary-colour);

          &:first-child {
            a {
              padding-left: 0;
            }
          }

          a {
            cursor: pointer;
            display: block;
            padding: 1em 1.5em;
          }
        }
      }
    }
  }

  h3 {
    font-family: 'din-condensed', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .625rem;
  }

  hr {
    background-image: url('../../../assets/data-series-divider.png');
    height: 32px;
    margin: 3em auto;
    width: 32px;
  }

  .end-of-article {
    background-image: url('../../../assets/data-series-end-of-article.png');
    background-repeat: no-repeat;
    height: 47px;
    margin: 3em auto;
    width: 47px;

    &::after {
      content: '';
    }
  }

  .stream-block-image {
    .stream-block-image-caption {
      border-left: solid 5px $data-series-primary-color;
      color: $cigi-dark-grey;
      font-size: .85rem;
      margin: .5rem 0 2.5rem;
      padding: .2rem 0 .2rem .5rem;
    }
  }

  .text-border-block {
    .block-contents {
      border: solid 1px $data-series-primary-color;
      font-size: 1.0625em;
      line-height: 1.5em;
      padding: 1.5em 1.75em;

      ul {
        padding-left: 1.5em;
      }

      li {
        line-height: 1.25em;
        list-style: none;
        margin-left: 1em;
        padding-bottom: 0;
        position: relative;

        &::before {
          background: $data-series-primary-color;
          border-radius: .5em;
          content: '';
          display: block;
          height: .5em;
          left: -1.5em;
          position: absolute;
          top: .5em;
          width: .5em;
        }
      }
    }
  }
}
