.data-series-article {
  @include top-bar(
    $background-color: $data-series-background-color,
    $color: $black,
    $position: relative,
  );
  background-color: $data-series-background-color;

  .hero {
    background-color: $data-series-background-color;
    background-position: center;
    background-size: cover;
    margin: 0;
    min-height: 25em;
    padding-top: 6em;

    .hero-content {
      max-width: 500px;
      position: relative;
      z-index: 2;

      h1 {
        color: $black;
        font-family: 'din-condensed', sans-serif;
        font-size: 3.2em;
        font-weight: 400;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;

        span {
          background-image: linear-gradient(to right, $data-series-primary-color 0%, $data-series-primary-color 100%);
          background-position: 0 72%;
          background-repeat: repeat-x;
          background-size: 100% 0.2em;
        }
      }
    }
  }

  .meta-section {
    margin: 0;

    .meta {
      p {
        margin: 0;

        .author {
          @include comma-separated;
          @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
        }
      }
    }

    .social {
      border-bottom: 1px solid $divider-grey;
      margin-bottom: 1em;

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;

        li {
          @include link($color: $black, $hover-color: $cigi-primary-colour);

          &:first-child {
            a {
              padding-left: 0;
            }
          }

          a {
            cursor: pointer;
            display: block;
            padding: 1em 1.5em;
          }
        }
      }
    }
  }

  .stream-block-pull-quote {
    @include media-breakpoint-up(md) {
      width: 30%;
    }
    font-weight: 500;
    margin-bottom: 1em;
    position: relative;

    &::before {
      bottom: 0;
      content: '';
      height: 50%;
      position: absolute;
    }

    blockquote {
      background: transparent;
      border-bottom: 1px solid $data-series-primary-color;
      border-left: 0;
      margin: 0;
    }

    &.right {
      margin-left: 1em;
      padding-left: 1em;

      &::before {
        border-left: 0.85em solid $data-series-primary-color;
        left: 0;
      }

      blockquote {
        border-left: 0.85em solid $data-series-primary-color;
        padding: 0 0 0 0.5em;
      }
    }

    &.left {
      margin-right: 1em;
      padding-right: 1em;

      &::before {
        border-right: 0.85em solid $data-series-primary-color;
        right: 0;
      }

      blockquote {
        border-left: 0;
        border-right: 0.85em solid $data-series-primary-color;
        padding: 0 0.5em 0 0;
      }
    }
  }

  h3 {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.45em;
    margin-bottom: .485em;
    margin-top: 1em;
  }

  h2 {
    font-family: 'din-condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  hr {
    background-image: url('../../../assets/data-series-divider.png');
    height: 32px;
    margin: 3em auto;
    width: 32px;
  }

  .article-works-cited {
    h2 {
      font-size: 1.5em;
      font-weight: 600;
      margin: 0;
      text-transform: uppercase;

      &::after {
        border-bottom: 0;
      }
    }

    p {
      padding: 0;
    }
  }

  .end-of-article {
    background-image: url('../../../assets/data-series-end-of-article.png');
    background-repeat: no-repeat;
    height: 47px;
    margin: 3em auto;
    width: 47px;

    &::after {
      content: '';
    }
  }

  .stream-image-block {
    figcaption {
      border-left: solid 5px $data-series-primary-color;
      color: $cigi-dark-grey;
      font-size: .85rem;
      margin: .5rem 0 2.5rem;
      padding: .2rem 0 .2rem .5rem;
    }
  }

  .text-border-block {

    .block-contents {
      border: solid 1px $data-series-primary-color;
      font-size: 1.0625em;
      line-height: 1.5em;
      padding: 1.5em 1.75em;
    }
  }

  .body {
    ul {
      padding-left: 1.5em;
    }

    li {
      line-height: 1.25em;
      list-style: none;
      margin-left: 1em;
      padding-bottom: 0;
      position: relative;

      &::before {
        background: $data-series-primary-color;
        border-radius: .5em;
        content: '';
        display: block;
        height: .5em;
        left: -1.5em;
        position: absolute;
        top: .5em;
        width: .5em;
      }
    }
  }

  .article-header-sticky {
    @include media-breakpoint-up(lg) {
      &.scrolled {
        height: auto;
        opacity: 1;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }
    }
    background: $divider-grey;
    height: 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;

    .progress-bar {
      background-color: transparent;
    }

    progress {
      background-color: transparent;
      border: 0;
      color: $data-series-primary-color;
      height: 5px;
      width: 100%;

      &::-moz-progress-bar {
        background-color: $data-series-primary-color !important;
      }

      &::-webkit-progress-bar {
        background-color: transparent;
        width: 100%;
      }

      &::-webkit-progress-value {
        background-color: $data-series-primary-color !important;
      }
    }

    .article-header-sticky-content {
      align-items: center;
      display: flex;
      padding: 0.5em;
    }

    .cigi-logo {
      flex: 0 0 135px;
    }

    .series-title {
      display: flex;
      flex: 1;
      font-size: .8em;
      justify-content: center;
      line-height: 1.5em;
      margin-left: -135px;

      a {
        color: $black;
        font-weight: 500;
        padding-right: 0.3em;

        &:hover {
          color: $cigi-medium-grey;
        }
      }
    }
  }

  .about-the-author {
    margin: 3em 0;

    h3 {
      border: 0;
      font-size: 1.5em;
      font-weight: 600;
      margin: 0;
    }
  }

  .drop-caps {
    border: 0;
    font-family: 'din-condensed', sans-serif;
    position: relative;

    &::after {
      background: $data-series-primary-color;
      bottom: 10%;
      content: '';
      height: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  footer {
    background-color: $white;
  }
}
