.data-series-article-series {
  @include top-bar(
    $background-color: $data-series-background-color,
    $color: $black,
    $position: relative,
  );
  background-color: $data-series-background-color;

  .body {
    background: linear-gradient($data-series-background-gradient, $white);
  }

  .data-series-article-series-in-the-series {
    article {
      .authors {
        span {
          &:not(:only-child) {
            &::after {
              content: ', ';
              margin-right: 2px;
            }
          }

          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
