$data-series-background-color: #f2f0ea;
$data-series-primary-color: #31c3ba;
$data-series-secondary-color: #17928a;

@import '../../../css/global/mixins';

@import './article_series_page';
@import './article_page';
@import './multimedia_page';
@import './includes/in_the_series';

.data-series-theme {

  h2,
  h3,
  h4,
  h5 {
    font-family: 'din-condensed', sans-serif;
  }
}
