$data-series-background-color: #f2f0ea;
$data-series-primary-color: #31c3ba;
$data-series-secondary-color: #17928a;
$data-series-background-gradient: #e0ded9;

@import '../../../css/global/mixins';
@import '../../../css/global/animations/bg_scroll_left';

@import './article_series_page';
@import './article_page';
@import './multimedia_page';
@import './includes/in_the_series';

.data-series-theme {
  h2,
  h3,
  h4,
  h5 {
    font-family: 'din-condensed', sans-serif;
  }

  footer {
    position: relative;
    padding-top: 2em;

    h2 {
      font-family: $primary-font-family;
      font-size: 1em;
      text-transform: none;
      font-weight: 500;
    }

    .footer__subscribe {
      border-top: 0;
    }
  }
}
