@import '../../../css/global/animations/bounce';

.innovation-series-article-series {
  @include top-bar(
    $background-color: transparent,
    $color: $black,
    $position: absolute,
  );

  h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;

    span {
      border-top: 5px solid $cigi-primary-colour;
    }
  }

  .innovation-series-article-series-hero {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
      background-color: $innovation-series-background-color;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      @media screen and (min-width: $medium) {
        background-color: transparent;
      }
    }

    .hero-content {
      position: fixed;
      top: 15%;
      width: 100%;
      z-index: 3;

      @media screen and (min-width: $medium) {
        top: 30%;
      }

      h1,
      p {
        color: $black;
        max-width: 550px;
      }

      h1 {
        font-size: 2.2em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0.25em;
      }

      .cigi-essay-series {
        font-size: 2em;
        margin-bottom: 1em;
      }

      .series-contributors-title {
        font-size: 1.125em;
        margin: 0;
      }

      .series-contributors {
        color: $cigi-text-grey;
        line-height: 1.25;
        margin: 0;
        text-transform: uppercase;

        span {
          @include comma-separated;
          white-space: nowrap;
        }
      }

      .scroll-anchor {
        animation: 'bounce' 2s infinite;
        font-size: 2.5em;

        a {
          color: $black;
        }
      }
    }

    .video-background {
      display: none;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      position: fixed;
      top: 0;

      @media screen and (min-width: $medium) {
        display: block;
      }
    }
  }

  .innovation-series-article-series-body,
  .innovation-series-article-series-featured,
  .innovation-series-article-series-in-the-series {
    background-color: $innovation-series-background-color;
    padding: 3em 0;
    position: relative;
    z-index: 4;
  }

  .innovation-series-article-series-body {
    background-color: $innovation-series-body-background-colour;
    padding-bottom: 2em;
  }

  .innovation-series-article-series-featured {
    background-color: $cigi-darkest-grey;

    h2 {
      color: $white;
      margin-bottom: 0.5em;
    }

    .innovation-series-article-series-featured-item {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: cover;
      height: 400px;
      position: relative;
      width: 100%;

      .innovation-series-article-series-featured-item-content {
        left: 0;
        max-width: 600px;
        padding: 0 1em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (min-width: $medium) {
          padding: 0 6em;
        }

        h3 {
          @include link($color: $cigi-darkest-grey, $hover-color: $cigi-text-grey);
          color: $cigi-darkest-grey;
          font-size: 2em;
          font-weight: 500;
          margin: 0;
        }

        .featured-item-authors {
          span {
            @include comma-separated;
            @include link($color: $cigi-text-grey, $hover-color: $cigi-primary-colour);
            color: $cigi-text-grey;
            font-size: 0.75em;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .innovation-series-article-series-in-the-series {
    article {
      border-bottom: 1px solid $divider-grey;
      display: flex;

      .article-data {
        background-position: 100% 24px;
        background-repeat: no-repeat;
        background-size: 18%;
        flex-grow: 1;
        padding: 24px 0 24px 10px;

        @media screen and (min-width: $large) {
          padding-left: 20px;
        }

        h5,
        p {
          margin-bottom: 1em;
          width: 75%;
        }

        h5 {
          @include link($color: $cigi-darkest-grey, $hover-color: $cigi-medium-grey);
          font-size: 1.375em;
          font-weight: 500;
          line-height: 1.2;
          margin-bottom: 0.5em;

          @media screen and (min-width: $large) {
            margin-bottom: 0.8em;
          }
        }

        p {
          @include link($color: $cigi-medium-grey, $hover-color: $cigi-primary-colour);
          color: $cigi-medium-grey;
        }

        .article-subtitle {
          display: none;

          @media screen and (min-width: $large) {
            display: block;
          }
        }

        .authors {
          font-size: 0.75em;
          margin: 0;
          text-transform: uppercase;
        }
      }

      .media {
        padding: 24px 0;
        text-align: center;
        width: 24px;

        i {
          border: 2px solid $cigi-darkest-grey;
          border-radius: 2px;
          color: $cigi-darkest-grey;
          font-size: 12px;
          padding: 3px 4px 3px 5px;
        }
      }
    }
  }
}
