.innovation-series-article {
  @include top-bar($background-color: $innovation-series-background-color, $color: $black, $position: relative);
  background-color: $innovation-series-background-color;

  .hero {
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    min-height: 25em;
    padding-top: 6em;
    position: relative;

    &::after {
      @include media-breakpoint-up(lg) {
        background-color: transparent;
      }
      background-color: $innovation-series-background-color;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .hero-content {
      position: relative;
      z-index: 2;

      h1 {
        font-size: 2.2em;
        font-weight: 700;
        margin-bottom: 0;
      }

      .meta {
        p {
          margin: 0;
        }

        .author {
          @include link($color: $cigi-dark-grey, $hover-color: $cigi-primary-colour);
        }
      }

      .subtitle {
        color: $cigi-text-grey;
      }

      .topics {
        margin: 0;
      }
    }
  }

  .social {
    ul {
      display: flex;
      list-style-type: none;
      margin-bottom: 0;

      li {
        @include link($color: $black, $hover-color: $cigi-primary-colour);

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        a {
          cursor: pointer;
          display: block;
          padding: 1em 1.5em;
        }
      }
    }
  }

  .about-the-author {
    h3 {
      border-top: 0;
      color: $cigi-dark-grey;
      font-size: 1.5em;
      padding-top: 0.25em;
      position: relative;
      text-transform: none;

      &::before {
        border-top: 5px solid $cigi-primary-colour;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
      }
    }

    .name {
      font-weight: 700;
    }
  }

  .body {
    hr {
      background-color: transparent;
      background-image: url('../assets/article_divider.png');
      background-repeat: no-repeat;
      height: 37px;
      margin: 2em auto 3em;
      width: 134px;
    }

    .container {
      &:first-child,
      &:nth-child(2) {
        .stream-image-block {
          float: left;
          margin: 10px 10px 0 0;
        }
      }
    }

    .float-left {
      margin: 10px 10px 0 0;
    }
  }

  .end-of-article {
    background-image: url('../assets/article_end_marker.png');
    background-repeat: no-repeat;
    height: 41px;
    margin: 3em auto;
    width: 41px;

    &::after {
      content: '';
    }
  }
}
