{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/zzr4vtn.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeWTOSeries' 'css' %}
{% endblock %}

{% block body_class %}wto-series-article-series{% endblock %}

{% block content %}
  {% if self.image_banner.filename|file_extension == '.gif' %}
    {% define '/staticmedia/original_images/'|add:self.image_banner.filename as image_banner_url %}
  {% else %}
    {% image self.image_banner original as image_banner %}
    {% define image_banner.url as image_banner_url %}
  {% endif %}
  <section class="wto-series-article-series-hero">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          {% include "./includes/social_links.html" with title=self.title %}
          {% include "includes/topics.html" with topics=self.topics %}
          <h1>{{ self.title }}</h1>
          <div class="essay-series-label">A CIGI Essay Series</div>
        </div>
      </div>
    </div>
    <img src="{{ image_banner_url }}" alt="WTO series banner image">
  </section>
  <section class="body">
    <div class="container">
      <div class="row d-block">
        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h2>{{ self.title }}</h2>
        </div>
      </div>
    </div>
    {% for block in self.body %}
      {% include_block block %}
    {% endfor %}
  </section>
  <section class="wto-series-in-the-series">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          {% for block in self.series_items %}
            {% if block.block_type == 'series_item' %}
              <article>
                <h4>
                  <a href="{{ block.value.url }}">{{ block.value.title }}</a>
                </h4>
                <p class="authors">
                  {% for author in block.value.specific.authors %}
                    {% if author.block_type == 'author' %}
                      <span><a href="{{ author.value.url }}">{{ author.value.title }}</a></span>
                    {% elif author.block_type == 'external_author' %}
                      <span>{{ author.value }}</span>
                    {% endif %}
                  {% endfor %}
                  {% for speaker in block.value.specific.speakers %}
                    {% if speaker.block_type == 'speaker' %}
                      <span><a href="{{ speaker.value.url }}">{{ speaker.value.title }}</a></span>
                    {% elif speaker.block_type == 'external_speaker' %}
                      <span>{{ speaker.value }}</span>
                    {% endif %}
                  {% endfor %}
                </p>
              </article>
            {% elif block.block_type == 'category_title' %}
              <h3>{{ block.value }}</h3>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
