{% extends "multimedia/multimedia_page.html" %}
{% load wagtailcore_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/zzr4vtn.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themeWTOSeries' 'css' %}
{% endblock %}

{% block body_class %}wto-series-multimedia{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    {% include "./includes/in_the_series.html" with article_series=self.article_series.specific article_id=self.id %}
  {% endif %}
{% endblock %}
