{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/kcw4emq.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themePlatformGovernanceSeries' 'css' %}
{% endblock %}

{% block body_class %}platform-governance-series-article{% endblock %}

{% block hero %}
  {% image self.image_banner width-1440 as image_banner %}
  {% image self.image_banner_small width-100 as image_banner_small %}
  <section class="platform-governance-series-article-hero" style="background-image: url('{{ image_banner.url }}'), url('{{ image_banner_small.url }}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <div class="hero-content">
            {% include "includes/topics.html" with topics=self.topics_sorted %}
            <div class="platform-governance-series-article-social">
              <a class="linkedin-share-link" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|slice:':-1' }}" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin-in icon"></i>
              </a>
              <a href="twitter-share-link" href="https://x.com/share?text={{title|social_string}}&amp;url={{ request.build_absolute_uri|slice:':-1' }}">
                <i class="fa-brands fa-x-twitter fa-lg"></i>
              </a>
            </div>
            <h1>{{ self.title }}</h1>
            {% include "includes/authors.html" with authors=self.authors.all %}
            {% include "includes/date.html" with date=self.publishing_date %}
            <div class="scrollanchor-container">
              <a href="#article-body">
                <i class="far fa-arrow-down fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block in_the_series %}
  {% if self.article_series %}
    <section class="platform-governance-series-in-the-series">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="series-subtitle">A CIGI Essay Series</p>
            <h2>
              <a href="{{ self.article_series.url }}">
                {{ self.article_series.title }}
              </a>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="series-subheading">In the Series</p>
            <div class="platform-governance-series-in-the-series-items">
              {% for series_item in self.article_series.specific.article_series_items %}
                <article{% if series_item.content_page.id == self.id %} class="current"{% endif %}>
                  <div class="series-article-image">
                    {% if series_item.content_page.id == self.id %}
                      {% image series_item.content_page.specific.image_banner fill-672x895 %}
                    {% else %}
                      <a href="{% pageurl series_item.content_page %}">
                        {% image series_item.content_page.specific.image_banner fill-672x895 %}
                      </a>
                    {% endif %}
                  </div>
                  <h3 class="series-article-title">
                    {% if series_item.content_page.id == self.id %}
                      {{ series_item.content_page.title }}
                    {% else %}
                      <a href="{% pageurl series_item.content_page %}">
                        {{ series_item.content_page.title }}
                      </a>
                    {% endif %}
                  </h3>
                  <p class="authors">
                    {% for item in series_item.content_page.authors.all %}
                      {% if item.hide_link %}
                        <span>{{ item.author.title }}<span>
                      {% else %}
                        <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                      {% endif %}
                    {% endfor %}
                  </p>
                </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block recommended %}
  {# Remove recommended section for Platform Governance series articles #}
{% endblock %}
