.ai-series-article {
  .ai-series-article-hero {
    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 30em;
      text-align: left;
    }
    background-color: $ai-primary-color;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 70vh;
    height: 100vh;
    margin-bottom: 2em;
    text-align: center;

    header {
      background-color: transparent;

      &.scrolled {
        background-color: $black;
      }
    }

    .hero-content {
      padding-bottom: 5em;
      padding-top: 3em;

      @media screen and (min-width: 768px) {
        padding-top: 8em;
      }

      h1,
      a,
      .authors,
      .date {
        color: $white;
        font-family: $ai-garamond;
      }

      h1 {
        font-size: 2em;
        font-weight: 600;
        margin: 0 0 0.5em;

        @media screen and (min-width: 768px) {
          font-size: 2.75em;
          margin-bottom: 0.2em;
        }
      }

      .authors {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        font-size: 1em;
        justify-content: center;
        margin: 0;

        @media screen and (min-width: 768px) {
          justify-content: left;
        }

        label {
          display: none;
        }
      }

      .social-share-list-square {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        justify-content: center;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
          justify-content: left;
        }

        a {
          font-size: 1.3em;
        }
      }
    }
  }

  .article-footnotes,
  .article-works-cited {
    font-family: Helvetica, sans-serif;

    h2 {
      margin-bottom: 0.5em;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  .stream-block-blockquote {
    overflow: visible;

    @media screen and (min-width: 768px) {
      max-width: 50rem;
    }

    .stream-block-blockquote-content {
      padding: 0.3em 0.6em;

      blockquote {
        font-family: $ai-garamond;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
          font-size: 3.125em;
        }
      }

      &::after {
        background-image: linear-gradient(to bottom, #666 75%, transparent);
        content: '';
        height: calc(100% + 5px);
        left: 0;
        line-height: 1;
        position: absolute;
        top: -5px;
        width: 1px;
      }

      &::before {
        background-image: linear-gradient(to right, #666 75%, transparent);
        border: 0;
        content: '';
        height: 1px;
        left: -5px;
        position: absolute;
        top: 0;
        width: 65px;
      }
    }
  }
}
