.ai-series-article {
  @include top-bar($background-color: transparent, $background-color-scrolled: $black);

  .ai-series-article-hero {
    @include media-breakpoint-up(md) {
      background-size: cover;
      height: 30em;
      text-align: left;
    }
    background-color: $ai-primary-color;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 70vh;
    height: 100vh;
    margin-bottom: 2em;
    text-align: center;

    .hero-content {
      @include media-breakpoint-up(md) {
        padding-top: 8em;
      }
      padding-bottom: 5em;
      padding-top: 3em;

      h1,
      a,
      .authors,
      .date {
        color: $white;
        font-family: $ai-garamond;
      }

      h1 {
        @include media-breakpoint-up(md) {
          font-size: 2.75em;
          margin-bottom: 0.2em;
        }
        font-size: 2em;
        font-weight: 600;
        margin: 0 0 0.5em;
      }

      .authors {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        @include media-breakpoint-up(md) {
          justify-content: left;
        }
        font-size: 1em;
        justify-content: center;
        margin: 0;

        label {
          display: none;
        }
      }

      .social-share-list-square {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        @include media-breakpoint-up(md) {
          justify-content: left;
        }
        justify-content: center;
        margin-bottom: 0;

        a {
          font-size: 1.3em;
        }
      }
    }
  }

  .article-footnotes,
  .article-works-cited {
    font-family: Helvetica, sans-serif;

    h2 {
      margin-bottom: 0.5em;
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  .article-footnotes {
    font-size: 0.8125em;

    ol {
      line-height: 24px;
      list-style: none;
      margin: 0 0 1em 1em;

      li {
        &::before {
          content: counter(list-item);
          font-weight: 600;
          margin-right: 0.25em;
        }
      }
    }
  }

  .series-blurb {
    color: $cigi-text-grey;
    margin-bottom: 2em;

    a {
      color: $color--blue;
      text-decoration: underline;
    }
  }

  .drop-caps {
    border: 0;
    font-family: $ai-acumin;
    font-size: 4.7em;
    font-weight: 700;
    padding: 0 0.1em 0 0;
  }

  .stream-block-blockquote {
    overflow: visible;

    .stream-block-blockquote-content {
      padding: 0.3em 0.6em;

      blockquote {
        @include media-breakpoint-up(md) {
          font-size: 3.125em;
        }
        font-family: $ai-garamond;
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0;
      }

      &::after {
        background-image: linear-gradient(to bottom, $ai-block-quote-border-colour 75%, transparent);
        content: '';
        height: calc(100% + 5px);
        left: 0;
        line-height: 1;
        position: absolute;
        top: -5px;
        width: 1px;
      }

      &::before {
        background-image: linear-gradient(to right, $ai-block-quote-border-colour 75%, transparent);
        border: 0;
        content: '';
        height: 1px;
        left: -5px;
        position: absolute;
        top: 0;
        width: 65px;
      }
    }
  }

  footer {
    padding-top: 3em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
