.ai-series-article-series {
  @include top-bar($background-color: transparent);
  @include dark-footer;
  background-color: $ai-primary-color;

  .ai-series-article-series-hero {
    background-size: auto 100%;
    color: $white;

    h1 {
      @include link($color: $white, $hover-color: $cigi-dark-pink);
      @include media-breakpoint-up(md) {
        font-size: 3.5em;
      }
      font-family: $ai-acumin;
      font-size: 2em;
      font-weight: 800;
      line-height: 1;
      margin: 0 1em 0 0;
      text-transform: uppercase;
    }

    .hero-content {
      @include media-breakpoint-up(md) {
        padding-bottom: 4em;
        padding-top: 4em;
      }
      padding-bottom: 1em;
      padding-top: 3em;

      .social-share-list-square {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
        justify-content: left;
        margin-bottom: 1em;

        a {
          font-size: 1.3em;
        }
      }

      .essay-series-label,
      .contributors-label {
        @include ai-heading;
        margin: 1em 0;
      }

      .contributors-label {
        @include media-breakpoint-up(md) {
          margin-top: 1em;
        }
        margin-top: 1.7em;
      }

      .series-contributors {
        @include link($color: $white, $hover-color: $cigi-dark-pink);
        font-family: $ai-garamond;
        line-height: 1.25;

        li {
          list-style: none;
        }

        .authors {
          @include inline-person-list;
          margin: 0;
        }
      }
    }
  }

  .short-description {
    color: $white;
    font-family: $ai-garamond;
    line-height: 1.25;
    margin-top: 2em;
  }

  .ai-series-article-series-in-the-series {
    @include link($color: $white, $hover-color: $cigi-dark-pink);
    margin-bottom: 3em;
    margin-top: 3em;

    h2 {
      @include ai-heading;
      margin-bottom: 1em;
    }

    h3 {
      @include media-breakpoint-up(md) {
        font-size: 1.8em;
        width: 60%;
      }
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.1em;
      width: 90%;
    }

    h3,
    .authors {
      color: $white;
      font-family: $ai-garamond;
      z-index: 1;
    }

    article {
      border-top: 7px solid $black;
      display: flex;
      flex-direction: column;
      height: 12.5em;
      justify-content: flex-start;
      padding: 2em 0 1.5em;
      position: relative;

      &:last-child {
        border-bottom: 7px solid $black;
      }

      .background-image {
        @include media-breakpoint-up(md) {
          background-size: auto 100%;
          opacity: 1;
        }
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
        bottom: 0;
        left: 0;
        opacity: 0.7;
        position: absolute;
        right: 0;
        top: 0;
      }

      .authors-container {
        @include media-breakpoint-up(md) {
          width: 70%;
        }
        align-items: center;
        display: flex;
        width: 100%;
        z-index: 1;

        i {
          font-size: 2em;
          margin-right: 0.3em;
        }

        .authors {
          @include inline-person-list;
          font-size: 1.125em;
          font-style: italic;
          list-style-type: none;
          margin: 0;
        }
      }
    }
  }

  .credits {
    margin-bottom: 3em;

    h2 {
      @include ai-heading;

      margin: 1em 0;
    }

    .credits-content {
      @include media-breakpoint-up(sm) {
        -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include media-breakpoint-up(md) {
        -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr 0.5em 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      -ms-grid-columns: 1fr 0.5em 1fr;
      display: -ms-grid;
      display: grid; // sass-lint:disable-line no-duplicate-properties
      grid-column-gap: 0.5em;
      grid-template-columns: 1fr 1fr;

      p {
        color: $cigi-darkest-grey;
        font-family: $ai-acumin;
        font-size: 0.75em;
        margin-bottom: 2em;

        .name {
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  }

  footer {
    padding-top: 3em;

    .footer__subscribe {
      border-top: 0;
    }
  }
}
