$ai-dark-grey: #4a4a4a;
$ai-light-grey: #d8d8d8;
$ai-garamond: adobe-garamond-pro, serif;
$ai-acumin: acumin-pro, sans-serif;
$ai-block-quote-border-colour: #666;

@mixin ai-heading {
  border: 0;
  color: $white;
  font-family: $ai-garamond;
  font-size: 1.2em;
  font-style: italic;
}

@import '../../../css/global/mixins';

@import './ai_series_article_series';
@import './ai_series_article';
@import './ai_series_multimedia';

@import './includes/in_the_series';
