{% load wagtailcore_tags wagtailimages_tags %}

{% image article_series.image_hero original as image_hero %}
<section class="cyber-series-in-the-series" style="background-image: url('{{ image_hero.url }}');">
  <div class="cyber-overlay"></div>

  <div class="container cyber-series-in-the-series-title">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1">
        <h3>
          <a href="{{ article_series.url }}"><span>{{ article_series.title }}</span></a>
        </h3>
        <div class="sub-heading">In the Series</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-lg-10 offset-lg-1 cyber-series-article-series-series-items">
        {% for series_item in article_series.article_series_items %}
          <article>
            <h5 class="article-title">
              {% if series_item.content_page.id == article_id %}
                {{ series_item.content_page.title }}
              {% else %}
                <a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a>
              {% endif %}
            </h5>
            <p class="authors">
              {% for item in series_item.content_page.authors.all %}
                {% if item.hide_link or item.author.is_external_profile %}
                  <span>{{ item.author.title }}</span>
                {% else %}
                  <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                {% endif %}
              {% endfor %}
            </p>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
