{% extends "wagtailadmin/base.html" %}

{% block extra_css %}
    {{ block.super }}
    <style>
        .form-group {
          padding: 0.5em 0 1em;
        }
    </style>
{% endblock %}

{% block content%}
{% include "wagtailadmin/shared/header.html" with title="Cache Clearing" %}
  <div class="nice-padding">
    <form action="clear_series_pages/" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="series_id">Series ID</label>
        <input type="text" name="series_id" id="series_id" class="form-control" placeholder="Series ID">
      </div>
      <input type="submit" class="button action-choose button-small button-secondary" value="Clear cache">
    </form>
  </div>

{% endblock %}