@import '../../../css/global/mixins';

.search {
  .search-table {
    td {
      align-items: center;

      &:first-child {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        font-size: 0.875em;
        font-weight: 500;
      }

      &:not(:first-child) {
        .table-content {
          justify-content: center;
        }
      }

      .table-mobile-text {
        flex: 0 0 20%;
      }

      .button-action {
        text-transform: capitalize;
      }
    }
  }
}
