$longform-2-background-color: #f2f0ea;

@import '../../../css/global/mixins';
@import '../../../css/global/animations/bounce';
@import './longform_2_article';

.longform-2-article {

  @include top-bar(
    $background-color: $longform-2-background-color,
    $color: $black,
    $position: relative,
  );

  background-color: $longform-2-background-color;

  .article-header-sticky {
    background: $divider-grey;
    height: 0;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;

    .article-header-sticky-content {
      align-items: center;
      display: flex;
      padding: 0.5em;
    }

    .cigi-logo {
      flex: 0 0 135px;
    }

    .series-title {
      display: flex;
      flex: 1;
      font-size: .8em;
      font-weight: 500;
      justify-content: center;
      line-height: 1.5em;
      margin-left: -135px;
    }

    .social-links {
      a {
        color: $cigi-medium-grey;
        cursor: pointer;
        font-size: 1.25em;
        padding-left: 1em;

        &:hover {
          color: $cigi-primary-colour;
        }
      }
    }
  }

  .progress-bar {
    background-color: transparent;
    position: relative;
  }

  progress {
    background-color: transparent;
    border: 0;
    color: $cigi-primary-colour;
    height: 5px;
    width: 100%;

    &::-moz-progress-bar {
      background-color: $cigi-primary-colour !important;
    }

    &::-webkit-progress-bar {
      background-color: transparent;
      width: 100%;
    }

    &::-webkit-progress-value {
      background-color: $cigi-primary-colour !important;
    }
  }

  .chapter-anchor {
    background-color: $cigi-medium-grey;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;

    &:hover {
      .chapter-anchor-tooltip {
        visibility: visible;
      }
    }

    .chapter-anchor-tooltip {
      background-color: $cigi-medium-grey;
      color: $white;
      font-size: 14px;
      height: auto;
      left: 50%;
      line-height: 1;
      padding: 5px 8px;
      position: absolute;
      top: 170%;
      transform: translateX(-50%);
      visibility: hidden;
      white-space: nowrap;

      &::after {
        border: solid transparent;
        border-bottom-color: $cigi-medium-grey;
        border-width: 8px;
        bottom: 100%;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
      }
    }
  }

  .mobile-menu-container {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    background-color: $divider-grey;
    bottom: -100%;
    margin: 0 auto;
    padding: 0 1em;
    position: fixed;
    width: 100%;
    z-index: 102;

    .mobile-menu-title {
      font-weight: 500;
      padding: 15px 0 0;

      &::after {
        border-bottom: 4px solid $cigi-primary-colour;
        content: '';
        display: block;
        padding-top: 15px;
        width: 50px;
      }
    }

    .mobile-menu-list {
      list-style: none;
      margin-bottom: 1em;

      li {
        font-size: 0.85em;
        font-weight: 600;
        margin: 1em 0;
        text-transform: uppercase;
      }
    }
  }

  .mobile-menu-button {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    background-color: $cigi-primary-colour;
    border-radius: 50%;
    bottom: 20px;
    color: $white;
    cursor: pointer;
    display: none;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 50px;
    z-index: 103;
  }

  &.scrolled {
    .mobile-menu-button {
      @include media-breakpoint-up(lg) {
        display: none;
      }
      display: block;
    }

    @include media-breakpoint-up(lg) {
      .article-header-sticky {
        height: auto;
        opacity: 1;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
      }

      .progress-bar {
        overflow: visible;
      }
    }
  }

  footer {
    background-color: $white;
    position: relative;
    z-index: 3;

    .footer__subscribe {
      border-top: 0;
    }
  }
}

section {
  &.body {
    position: relative;

    .col {
      position: static;
    }
  }
}
