{% load wagtailcore_tags core_tags %}

<div class="women-and-trade-series-in-the-series">
  {% for block in series_items %}
    {% if block.block_type == 'series_item' and block.value.id != article_id %}
      <article>
        <h4>
          <a href="{{ block.value.url }}">{{ block.value.title }}</a>
        </h4>
        <p class="authors">
          Author{{ block.value.specific.authors|length|pluralize }}:
          {% for author in block.value.specific.authors %}
            {% if author.block_type == 'author' %}
              <span><a href="{{ author.value.url }}">{{ author.value.title }}</a></span>
            {% elif author.block_type == 'external_author' %}
              <span>{{ author.value }}</span>
            {% endif %}
          {% endfor %}
        </p>
      </article>
    {% elif block.block_type == 'category_title' %}
      <h3>{{ block.value }}</h3>
    {% endif %}
  {% endfor %}
</div>
