{% load wagtailcore_tags core_tags %}

<div class="women-and-trade-series-in-the-series">
  {% for series_item in series_items %}
    {% if series_item.category_title %}
      <h3>{{ series_item.category_title }}</h3>
    {% endif %}
    {% if series_item.content_page.id != article_id %}
      <article>
        <h4>
          <a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a>
        </h4>
        <div class="authors">
          <label>Author{{ series_item.content_page.author_count|pluralize }}:</label>
          {% for item in series_item.content_page.authors.all %}
            {% if item.hide_link %}
              <span>{{ item.author.title }}</span>
            {% else %}
              <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
            {% endif %}
          {% endfor %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
