{% load wagtailcore_tags core_tags %}

<div class="women-and-trade-series-in-the-series">
  {% for block in series_items %}
    {% if block.block_type == 'series_item' and block.value.id != article_id %}
      <article>
        <h4>
          <a href="{{ block.value.url }}">{{ block.value.title }}</a>
        </h4>
        <div class="authors">
          <label>Author{{ block.value.specific.author_count|pluralize }}:</label>
          {% for item in block.value.specific.authors.all %}
            <span><a href="{{ item.author.url }}">{{ item.author.title }}</a></span>
          {% endfor %}
          {% for item in block.value.specific.external_authors %}
            {% if item.block_type == 'external_person' %}
              <span>{{ item.value }}</span>
            {% endif %}
          {% endfor %}
        </div>
      </article>
    {% elif block.block_type == 'category_title' %}
      <h3>{{ block.value }}</h3>
    {% endif %}
  {% endfor %}
</div>
