.stream-block-chart {
  .stream-block-chart-title {
    margin-top: 2rem;
    border-top: 5px solid $cigi-primary-colour;
    color: $cigi-primary-colour;
    line-height: 1.25;
    padding: 0.5em 0 1em;
  }
}
