.collapsible-paragraph-block {
  margin-bottom: 1rem;

  &.collapsed {
    .collapsible-header {
      .toggle-button {
        transform: rotate(180deg);
      }
    }

    .collapsible-content {
      max-height: 0;
      opacity: 0;
    }
  }

  .collapsible-header {
    position: relative;
    display: flex;

    h2,
    h3,
    h4 {
      display: flex;
      margin-top: 1rem;
      cursor: pointer;
      margin-bottom: 0.5em;
      align-items: flex-start;

      p {
        margin-bottom: 0;
      }
    }

    .toggle-button {
      display: inline;
      margin-left: 1rem;
      transition: transform 0.3s ease;
    }
  }

  .collapsible-content {
    transition: max-height 0.3s ease, opacity 0.3s ease, margin-bottom 0.3s ease;
    overflow: hidden;
    max-height: 500rem;
    opacity: 1;
  }
}
