.table-block {
  table {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 2rem 0;
    font-size: 0.75rem;
    border: 1px solid $black;
    font-weight: 400;
    line-height: 1.25;

    tr {
      border-bottom: 1px solid $black;
    }

    th {
      font-weight: 400;
    }

    td,
    th {
      padding: 0.75em 0.5rem;
    }

    thead {
      background-color: $black;
      border-bottom: 1px solid $black;

      tr {
        th {
          color: $cigi-light-grey;
          font-size: 1em;
          text-align: left;
          vertical-align: middle;
          border-bottom: 0;
          border-right: 1px solid $cigi-medium-grey;
          text-align: center;

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
    tbody {
      tr {
        td,
        th {
          border-bottom: 0;
          border-right: 1px solid $black;
        }

        td {
          text-align: center;
        }
      }
    }
  }
}

.table-block-v2 {
  .table-block-title {
    border-top: 5px solid $cigi-primary-colour;
    color: $cigi-primary-colour;
    line-height: 1.25;
    padding: 0.5em 0 1em;
    margin-top: 2rem;
  }

  & + div {
    table {
      margin-top: 0;
    }
  }
}
