@import '../../../css/global/mixins';

.event-multimedia-embed-section {
  margin-bottom: 2em;

  .event-multimedia-embed {
    position: relative;
    width: 100%;

    &::after {
      content: '';
      display: block;
      padding-bottom: 56.25%;
    }

    iframe {
      height: 100%;
      left: 0;
      margin: 0;
      max-width: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.event-registration-form-section {
  margin-top: 6em;
  margin-bottom: 4em;

  .form-group {
    &.form-website {
      display: none;
    }
  }
}

.event-registration-type-select-section {
  margin-top: 6em;
  margin-bottom: 4em;
}

.event-registration-no-types-section {
  margin-top: 6em;
  margin-bottom: 4em;
}