@import '../../../css/global/mixins';

.publication-book-metadata {
  border-top: 1px solid $cigi-light-grey;
  columns: 2;
  list-style-type: none;
  margin: 2em 0;
  padding-top: 2em;

  li {
    font-size: 0.8em;

    span {
      color: $cigi-text-grey;
    }
  }
}

.publication-book-trailer {
  .publication-book-trailer-embed {
    margin-top: 0.5em;

    iframe {
      width: 100%;
    }
  }
}

.publication-part-of-series {
  margin-bottom: 3em;

  h2 {
    color: $cigi-text-grey;
    font-size: 0.75em;
    margin-bottom: 0.25em;
    text-transform: uppercase;
  }

  p {
    color: $cigi-text-grey;
    margin: 0;
  }
}

.embed-issuu {
  @include media-breakpoint-up(sm) {
    display: block;
  }
  display: none;

  .col {
    display: flex;
    justify-content: center;
  }
}
