header {
  &.think7-header {
    padding-top: 1rem;

    .navbar-brand {
      max-width: 250px;
    }

    nav {
      @include media-breakpoint-down(md) {
        justify-content: center;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
          @include link($color: $black, $hover-color: $cigi-primary-colour);
          position: relative;
          padding: 0.75rem 1rem 0.75rem;
          text-transform: uppercase;
          color: $cigi-text-grey;
          font-size: 0.875rem;

          &:not(:nth-last-child(-n + 2)) {
            &::after {
              @include media-breakpoint-down(md) {
                display: none;
              }
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              width: 2px;
              transform: rotate(15deg);
              background-color: lightgray;
              transform-origin: center;
            }
          }

          &.submit-abstract {
            button {
              border: 2px solid $cigi-primary-colour;
              border-radius: 5px;
              padding: 0.5rem 1rem;
              transition: background-color 0.3s ease, color 0.3s ease;
              text-transform: uppercase;
              background-color: $think7_bg_white;
            }

            &:hover {
              button {
                background-color: $cigi-primary-colour;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
