{% load wagtailcore_tags wagtailimages_tags core_tags %}

<section class="innovation-series-read-the-series">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <a href="{{ article_series.url }}">
          <h2>{{ article_series.title }}</h2>
          <p>Read the Series</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="innovation-series-in-the-series">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-8">
        <h3>In the Series</h3>
        {% for series_item in article_series.article_series_items %}
          {% if series_item.category_title %}
            <h4>{{ series_item.category_title }}</h4>
          {% endif %}
          {% if series_item.content_page.id != article_id %}
            <article>
              <div class="media">
                {% if series_item.content_page.specific|page_type == 'multimedia' %}
                  <i class="fa fa-play"></i>
                {% endif %}
              </div>
              {% if series_item.content_page.specific.image_banner_small %}
                {% image series_item.content_page.specific.image_banner_small original as article_background %}
              {% elif series_item.content_page.specific.image_square %}
                {% image series_item.content_page.specific.image_square original as article_background %}
              {% endif %}
              <div class="article-data" {% if article_background %}style="background-image: url('{{ article_background.url }}');"{% endif %}>
                <h5><a href="{% pageurl series_item.content_page %}">{{ series_item.content_page.title }}</a></h5>
                {% if series_item.content_page.specific|page_type == 'opinion' %}
                  <div class="article-subtitle">
                    {{ series_item.content_page.specific.subtitle|richtext }}
                  </div>
                {% endif %}
                {% if series_item.content_page.author_count %}
                  <p class="authors">
                    {% if series_item.content_page.specific|page_type == 'multimedia' %}Speaker{% else %}Author{% endif %}{{ series_item.content_page.author_count|pluralize }}:
                    {% for item in series_item.content_page.authors.all %}
                      {% if item.hide_link or item.author.is_external_profile %}
                        <span>{{ item.author.title }}</span>
                      {% else %}
                        <span><a href="{% pageurl item.author %}">{{ item.author.title }}</a></span>
                      {% endif %}
                    {% endfor %}
                  </p>
                {% endif %}
              </div>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
