@import '../../../css/global/mixins';

body {
  @include top-bar(
    $background-color: transparent,
    $color: $white,
    $background-color-scrolled: $black,
    $color-scrolled: $white
  );

  section {
    &.hero {
      background-size: cover;
      background-position: 80%;
      background-repeat: no-repeat;
      
      .hero-container {
        .hero-main {
          p {
            color: $white;
          }
        }
      }
    }

    &.featured {
      .stream-block-title {
        @include link($color: $black, $hover-color: $cigi-primary-colour);
        font-size: 1.5em;
      }

      .feature-content-people-list {
        @include link($color: $cigi-text-grey, $hover-color: $cigi-dark-pink);
        font-size: 0.75em;
        margin-bottom: 0;
        text-transform: uppercase;
    
        li {
          color: $cigi-text-grey;
          display: inline;
        }
      }

      .feature-content-large {
        &.poster {
          .feature-content-image {
            .img-wrapper {
              margin: 0;
            }
          }
        }

        .feature-content-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .feature-content-title {
            @include media-breakpoint-up(lg) {
              font-size: 2.1em;
            }
            font-size: 1.7em;
          }
        }
      }

      .highlights {
        .stream-block-additional-file-block {
          .img-container {
            figure {
              background-color: $black;

              &:hover {
                img {
                  opacity: 0.8;
                }
              }

              img {
                transition: opacity 0.2s ease;
              }
            }
          }
        }
      }

      .singular-feature {
        .feature-content-image {
          flex: 0 0 33.3333%;
        }
      }
    }
  }
}
