@import '../../../css/global/mixins';
@import '../../../css/global/animations/bounce';

$dph-font: neue-haas-grotesk-text, sans-serif;
$dph-font-copy: neue-haas-grotesk-display, sans-serif;

body {
  @include top-bar($background-color: $dph-background);
  background-color: $dph-background;
  font-family: $dph-font;
  color: $white;

  p {
    font-family: $dph-font-copy;
    letter-spacing: 1px;
  }

  a {
    color: $dph-green;
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-link {
      border: 0;
      border-radius: 0;
      padding: 0.25rem 1rem;

      &.active {
        background-color: transparent;
        border: 0;
        color: $cigi-text-grey;
        pointer-events: none;
      }

      &:hover {
        border: 0;
      }

      &:not(:last-child) {
        border-right: 1px solid $cigi-text-grey;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .hero {
    text-align: center;
    background-color: $dph-background;

    h1 {
      @include media-breakpoint-up(md) {
        font-size: 3.5rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 4.5rem;
      }
      @include media-breakpoint-up(xl) {
        font-size: 5.5rem;
      }
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1;
    }

    p {
      color: $cigi-medium-light-grey;
    }

    .nav-tabs {
      justify-content: center;
    }
  }

  .body {
    p {
      font-size: 15px;
      line-height: 1.6;
    }

    ul {
      padding-left: 1em;
    }

    li {
      font-family: $dph-font-copy;
      font-size: 15px;
      letter-spacing: 1px;
      padding-left: 1em;
    }

    h2 {
      width: 100%;
      font-size: 1.125rem;
      font-weight: 500;
      padding-top: 0.3rem;
      margin-top: 3rem;
    }

    h3 {
      font-weight: 500;
      font-size: 1rem;
    }

    .stream-image-block {
      @include media-breakpoint-up(md) {
        width: 33%;
      }
      width: 50%;
    }

    .persons-list-block {
      .persons-list {
        @include link($color: $dph-green, $hover-color: $cigi-primary-colour);

        li {
          border-bottom: 1px solid $cigi-dark-line-grey;

          .person-name {
            font-weight: 500;
          }

          &:last-child {
            border-bottom: 0;
          }
        }

        .person-photo {
          .img-wrapper {
            border: 2px solid $dph-green;
            border-radius: 50%;
            background-color: $cigi-light-grey;

            img {
              border-radius: 50%;
            }
          }
        }

        .person-function {
          color: $cigi-medium-light-grey;
        }
      }
    }
  }

  .cohorts-buttons {
    margin-bottom: 2rem;
  }

  .publications-list-block {
    .publications-list__publication {
      padding: 2rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $cigi-text-grey;
      }

      .publications-list__publication__img {
        &:hover {
          img {
            scale: 1.025;
          }
        }

        img {
          border: 1px solid $cigi-medium-grey;
          transition: scale 0.2s ease;
        }
      }

      .publications-list__publication__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          @include link($color: $white, $hover-color: $cigi-primary-colour);
          font-size: 1.1rem;
          margin-top: 0;
        }

        p {
          font-size: 0.9rem;
          color: $cigi-medium-light-grey;
        }

        .publications-list__publication__author {
          display: flex;
          align-items: center;
          font-size: 15px;

          img {
            width: 70px;
            border-radius: 50%;
            border: 2px solid $dph-green;
            margin-right: 1rem;
          }

          h3 {
            font-size: 1.0625em;
            font-weight: 500;
            margin-bottom: 0;
          }

          .publications-list__publication__author__position {
            font-size: 0.9em;
            color: $cigi-medium-light-grey;
          }
        }
      }
    }
  }

  .additional-pages-block {
    padding-bottom: 3rem;

    .feature-content {
      border-bottom: 1px solid $cigi-text-grey;
      padding: 2rem 0;

      &:last-child {
        border-bottom: 0;
      }

      h3 {
        @include link($color: $white, $hover-color: $cigi-primary-colour);
        margin-top: 0;
      }

      .feature-content-date {
        color: $cigi-medium-light-grey;
      }
    }
  }
}

.fellows-disclaimer {
  font-size: 15px;
  margin-bottom: 0;
}

footer {
  font-size: 16px;
  background-color: $dph-background;
  text-align: center;
  margin-top: 2rem;
  padding-top: 0;

  img {
    margin: 1rem 0 3rem;
  }

  .footer__copyright {
    @include link(
      $color: $cigi-medium-grey,
      $hover-color: $cigi-primary-colour
    );
    color: $cigi-medium-grey;
  }
}
