@import '../../../css/global/mixins';

@include top-bar(
  $background-color: transparent,
  $color: $white,
  $background-color-scrolled: $black
);

.image-hero {
  margin-bottom: 1em;
}

.featured {
  margin-bottom: 2em;

  .separator-large {
    @include media-breakpoint-down(sm) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .singular-feature {
    .feature-content-image {
      flex: 0 0 33.3333%;
    }
  }

  .feature-content-large {
    .feature-content-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .img-wrapper {
      margin-bottom: 0;
    }
  }

  .row {
    &:last-child {
      hr {
        margin-bottom: 0;
      }
    }
  }
}

.search-table-container {
  @include media-breakpoint-up(md) {
    margin-top: 2em;
  }
  margin-top: 0;
}

h2 {
  &.block-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 2em 0 1em;
    padding: 0;
  }
}

.persons-list-block {
  margin: 4rem 0;

  .block-title {
    font-weight: 700;
    padding: 0;
  }

  .persons-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $cigi-light-grey;
      padding: 1em 0;

      &:last-of-type {
        border-bottom: 0;
        padding-bottom: 0;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .person-info {
      align-items: center;
      display: flex;
      margin-bottom: 1em;
    }

    .person-photo {
      @include aspect-ratio(1, 1);
      border-radius: 100%;
      display: inline-block;
      flex: 0 0 70px;
      height: 70px;
      margin-right: 1em;
      width: 70px;
    }

    .person-name {
      color: $black;
      font-size: 1.0625em;

      &:hover {
        color: $cigi-primary-colour;
      }
    }

    .person-function {
      color: $cigi-text-grey;
      font-size: 0.9em;
    }
  }
}

.contact-info {
  margin: 2em 0;
}

.search-table-container {
  margin-top: 0;
}
