@import '../../../css/global/mixins';

.image-hero {
  margin-bottom: 1em;
}

.featured {
  margin-bottom: 2em;

  .separator-large {
    @include media-breakpoint-down(sm) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.search-table-container {
  @include media-breakpoint-up(md) {
    margin-top: 2em;
  }
  margin-top: 0;
}
