@import '../../../css/global/mixins';

@include top-bar($background-color: transparent, $color: $white, $background-color-scrolled: $black);

.image-hero {
  margin-bottom: 1em;
}

.featured {
  margin-bottom: 4em;

  .separator-large {
    @include media-breakpoint-down(sm) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
