{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags core_tags %}

{% block content %}

  {% include "includes/hero_event.html" with title=self.title date=self.publishing_date end_date=self.event_end speakers=self.speakers type=self.get_event_type_display access=self.get_event_access_display topics=self.topics %}

  {% if self.speakers|length > 0 %}
    {% include "includes/about_the_author.html" with authors=self.speakers title_override="Event Speaker"%}
  {% endif %}

{% endblock content %}
