{% extends "base.html" %}
{% load webpack_loader %}

{% block extra_css %}
  {% render_bundle 'eventListPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'eventListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex events-landing-page-label">
        <div class="events-icon">
          <i class="fal fa-calendar"></i>
        </div>
        <div>Events</div>
      </div>
      <div class="col-lg-8 d-flex events-landing-page-tabs">
        <ul class="nav nav-tabs events-landing-page-nav" id="events-landing-page-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="calendar-tab" data-bs-toggle="tab" href="#calendar" role="tab"
              aria-controls="calendar" aria-selected="true">Calendar</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="archive-tab" data-bs-toggle="tab" href="#archive" role="tab"
              aria-controls="archive" aria-selected="false">Archive</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" id="person-leadership-tab-content">
      <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <div class="row">
          <section class="col-lg-4 events-calender">
            {% include "includes/events_calendar.html" %}
          </section>
          <section class="col-lg-8 events-listing" id="all-events" data-all-events="{{ all_events }}">
            <div class="container">
              <div class="row events-wrapper">
                {% for item in featured_events %}
                  <div class="events-item">
                    {% include "../streams/event_card_block_medium.html" with title=item.title authors=item.authors.all date=item.publishing_date end_date=item.event_end event_type=item.get_event_type_display event_access=item.get_event_access_display event_format=item.event_format_string is_past=item.is_past time_zone_label=item.time_zone_label url=item.card_url topics=item.topics_sorted registration_url=item.registration_url id=item.id %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </section>
        </div>
        <div class="container">
          <div class="col-lg-5">1 2 3 4... Last</div>
        </div>
      </div>
      <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
        <section class="highlights-slider">
          (Slider here)
        </section>
        <section class="row search-table">
          <div class="col">
            <div id="events-search-table">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
