{% extends "base.html" %}
{% load webpack_loader wagtailcore_tags %}

{% block extra_css %}
  {% render_bundle 'eventListPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'eventListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  <div class="container">
    <nav class="border-top">
      <div class="row">
        <div class="col-2 col-lg-4 d-flex events-landing-page-label">
          <div class="events-icon">
            <i class="fal fa-calendar"></i>
          </div>
          <div>Events</div>
        </div>
        <div class="col-10 col-lg-8 d-flex events-landing-page-tabs">
          <ul class="nav nav-tabs events-landing-page-nav" id="events-landing-page-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="calendar-tab" data-bs-toggle="tab" href="#calendar" role="tab"
                aria-controls="calendar" aria-selected="true">Calendar</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="archive-tab" data-bs-toggle="tab" href="#archive" role="tab"
                aria-controls="archive" aria-selected="false">Archive</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="tab-content" id="events-landing-tab-content">
      <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <section class="col featured-events" id="events-page__featured-events-slider">
          <div class="featured-events-container">
            <div class="swiper-container" id="featured-events-container" data-featured-events-container="{{ featured_events_content }}">
              <div class="swiper-wrapper" id="featured-events">
              {% comment %} <div class="swiper-wrapper">
                {% for block in self.featured_events %}
                  <div class="swiper-slide">
                    {% include_block block.value %}
                  </div>
                {% endfor %} {% endcomment %}
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </section>
        <div class="row events-list-container">
          <section class="col-lg-4">
            <div id='event-list-calendar'></div>
          </section>
          <section class="col-lg-8 events-listing" id="all-events" data-all-events="{{ all_events }}">
            <div class="container">
              <div class="row events-wrapper">
                <div id="event-list"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
        <section class="row search-table">
          <div class="col">
            <div id="events-search-table">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
