{% extends "base.html" %}
{% load webpack_loader %}

{% block extra_css %}
  {% render_bundle 'eventListPage' 'css' %}
{% endblock %}
{% block extra_js %}
  {% render_bundle 'eventListPage' 'js' attrs='defer' %}
{% endblock %}

{% block content %}
  {% include "includes/heroes/hero_event_list.html" with title=self.title subtitle=self.subtitle submenu=self.submenu %}

  <section class="events-page-featured-events">
    <div class="container">
      <h2>Featured</h2>
      <div class="row featured-event-row">
        {% for item in featured_events %}
          <div class="col-md-4 featured-event-col">
            {% include "includes/features/feature_event.html" with event=item %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="events-search-table">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
