{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags webpack_loader core_tags %}

{% block extra_css %}
  {% render_bundle 'eventPage' 'css' %}
{% endblock %}

{% block content %}
  {% include "includes/hero_event.html" with topics=self.topics title=self.title date=self.publishing_date end_date=self.event_end event_type=self.get_event_type_display event_access=self.get_event_access_display authors=self.authors.all registration_url=self.registration_url %}

  {% if self.image_hero %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <figure class="event-image-hero">
            {% image self.image_hero width-1280 %}
            {% if self.image_hero.title %}
              <figcaption>
                {{ self.image_hero.title }}
              </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
    </div>
  {% endif %}

  {% if self.body %}
    <section class="body">
      {% for block in self.body %}
        {% include_block block %}
      {% endfor %}
    </section>
  {% endif %}

  {% if self.authors.all|length > 0 %}
    {% include "includes/about_the_author.html" with authors=self.authors.all title_override="Event Speaker"%}
  {% endif %}

  {% if self.related_files %}
    <section class="related-files">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            {% include "includes/core_related_files_table.html" with file_blocks=self.related_files %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock content %}
