{% extends "base.html" %}
{% load wagtailimages_tags webpack_loader %}
{% block extra_css %}
  {% render_bundle 'eventPage' 'css' %}
{% endblock %}
{% block title %}Register — {{ event.title }}{% endblock %}
{% block content %}
{% include "includes/heroes/hero_event.html" with topics=event.topics_sorted title=event.title date=event.publishing_date end_date=event.event_end event_type=event.get_event_type_display event_access=event.get_event_access_display authors=event.authors.all author_count=event.author_count registration_url=event.registration_url time_zone=event.time_zone time_zone_label=event.time_zone_label is_past=event.is_past %}

<section class="event-registration-type-select-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <a href="{{ event.url }}" class="btn btn-link p-2 mb-3">&larr; Back to event</a>
        <div class="registration-banner-image">
          {% if event.registration_image_banner %}
            {% image event.registration_image_banner width-1280 %}
          {% endif %}
        </div>
        <p class="mb-4">Choose your registration type:</p>
        <ul class="types-list">
          {% for t in types %}
          <li>
            <a class="btn btn-primary" href="{{ event.url }}register/type/{{ t.slug }}/{% if invite %}?invite={{ invite.token }}{% endif %}">
              {{ t.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}