{% load wagtailcore_tags wagtailimages_tags core_tags %}

<article class="feature-content feature-poster-teaser">
  <a class="img-wrapper" href="{% if content.feature_url %}{{ content.feature_url }}{% else %}{% pageurl content %}{% endif %}">
    {% if content.image_poster.file.url|file_extension == '.gif' %}
      <img src="{{content.image_poster.file.url}}" alt="{{content.image_poster.caption}}" />
    {% else %}
      {% image content.image_poster width-700 %}
    {% endif %}
  </a>
  {% include 'includes/topics.html' with topics=content.topics_sorted %}
  <h3 class="feature-content-title">
    <a href="{% if content.feature_url %}{{ content.feature_url }}{% else %}{% pageurl content %}{% endif %}">
      {{ content.title }}
    </a>
  </h3>
  {% if content|page_type == 'opinion-series' %}
    {% include 'includes/features/feature_content_people.html' with authors=content.series_authors %}
  {% else %}
    {% include 'includes/features/feature_content_people.html' with authors=content.authors.all %}
  {% endif %}
</article>
