{% load wagtailcore_tags wagtailimages_tags core_tags %}

<article class="feature-content feature-content-large feature-content-{{content|page_type}}">
  <a href="{{content.url}}" class="feature-content-image">
    <div class="img-wrapper">
      {% image content.image_hero fill-1440x990 %}
      {% if content|page_type == 'multimedia' %}
        {% if content.multimedia_type == 'video' %}
          {% define 'fa-play' as icon_class %}
        {% elif content.multimedia_type == 'audio' %}
          {% define 'fa-volume-up' as icon_class %}
        {% endif %}
        <div class="image-button feature-content-image-button">
          <i class="fas {{icon_class}}"></i>
        </div>
      {% endif %}
    </div>
  </a>

  <ul class="custom-text-list feature-content-topic-list">
    {% for topic in content.topics.all %}
      <li><a href="{% slugurl topic.slug %}" class="table-content-link">{{ topic }}</a></li>
    {% endfor %}
  </ul>

  {% if content.feature_title %}
    {% include 'includes/features/feature_content_title.html' with title=content.feature_title %}
  {% else %}
    {% include 'includes/features/feature_content_title.html' with title=content.title %}
  {% endif %}

  {% if content.feature_subtitle %}
    {% include 'includes/features/feature_content_subtitle.html' with subtitle=content.feature_subtitle %}
  {% else %}
    {% include 'includes/features/feature_content_subtitle.html' with subtitle=content.subtitle %}
  {% endif %}

  {% if content|page_type|in_list:'opinion,publication' %}
    {% define content.authors as people %}
  {% elif content|page_type|in_list:'multimedia,event' %}
    {% define content.speakers as people %}
  {% endif %}

  {% if people %}
    <ul class="custom-text-list feature-content-people-list">
      {% with 3 as people_limit %}
        {% for person in people %}
          {% if forloop.counter <= people_limit %}
            <li><a href="{{ person.value.url }}">{{ person.value }}</a></li>
          {% elif forloop.counter == people_limit|add:1 %}
            <li>And more</li>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </ul>
  {% endif %}

  <p class="feature-content-date meta">{{ content.publishing_date|date:"F m, Y" }}</p>
</article>
