{% load wagtailcore_tags wagtailimages_tags %}
<article class="feature-content feature-expert-short">

  <div class="feature-expert-person-details">
    <a href="{% pageurl expert %}">
      {% image expert.image_square fill-140x140 %}
    </a>
    <div class="feature-expert-person-title">
      <h3>
        <a href="{% pageurl expert %}">
          {{ expert.title }}
        </a>
      </h3>
      <p>
        {{ expert.position }}
      </p>
    </div>
  </div>
  {% with expert.latest_activity.0 as latest_activity %}
    {% if latest_activity %}
      <div class="feature-expert-latest-activity">
        <h4>Latest Activity</h4>
        {% include "includes/topics.html" with topics=latest_activity.topics_sorted %}
        <h5><a href="{% pageurl latest_activity %}">{{ latest_activity.title }}</a></h5>
        {% include "includes/features/feature_content_people.html" with authors=latest_activity.authors.all %}
        {% if latest_activity.specific.pdf_downloads %}
          <button class="button-action button-square">
            <a href="{{ latest_activity.specific.pdf_downloads.0.value.file.url }}">
              <i class="fa fas fa-download"></i>
            </a>
          </button>
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}
</article>
