{% if content.contenttype == "Annual Report" %}
  {% if content.report_interactive %}
    <a class="button-action" href="{{ content.report_interactive }}">
      <i class="fas fa-mouse-pointer track-cta" data-cta="ar-interactive"></i> Explore
    </a>
  {% elif content.report_english %}
    <a class="button-action" href="{{ content.report_english }}">
      <i class="fa fas fa-download track-cta" data-cta="ar-en"></i>
    </a>
  {% endif %}
{% else %}
  {% if content.contenttype == "Event" and not content.is_past %}
    <a href="{{ content.url }}" class="button-action track-cta" data-cta="event">
      <i class="fal fa-calendar-alt"></i> RSVP
    </a>
  {% elif content.contenttype == 'Multimedia' %}
    {% if content.contentsubtype == 'Audio' %}
      <a href="{{ content.url }}" class="button-action track-cta" data-cta="mm-audio">
        <i class="fas fa-headphones"></i> Listen
      </a>
    {% else %}
      <a href="{{ content.url }}" class="button-action track-cta" data-cta="mm-video">
        <i class="fas fa-play"></i> Watch
      </a>
    {% endif %}
  {% elif content.contentsubtype == "Books" %}
    <a href="{{ content.url }}" class="button-action track-cta" data-cta="pub-book">
      Purchase Book
    </a>
  {% elif cta_pdf and content.contenttype == 'Publication' %}
    <a href="{{ content.specific.pdf_downloads.0.value.file.url }}">
      <button class="button-action button-square">
        <i class="fa fas fa-download track-cta" data-cta="pub-pdf"></i>
      </button>
    </a>
  {% elif content.contentsubtype == 'News Releases' %}
    <a href="{{ content.url }}" class="button-action track-cta" data-cta="article">
      <i class="fas fa-comment-dots"></i> Read
    </a>
  {% endif %}
{% endif %}
