{% load wagtailcore_tags %}

<article class="feature-content feature-event {% if event.is_past %}past-event{% endif %}">
  <div class="event-content">
    {% include "includes/topics.html" with topics=event.topics_sorted %}
    {% include "includes/features/feature_content_title.html" with content=event %}
    <div class="meta">{{ event.publishing_date|date:"M j, Y - g:i A" }} {{ event.time_zone_label }}</div>
    {% if event.multimedia_page and event.is_past %}
      <a href="{% pageurl event.multimedia_page %}" class="button-action" data-cta="event-watch">
        <i class="fas fa-play"></i>&nbsp;&nbsp;WATCH
      </a>
    {% elif not event.event_access %}
      <div class="button-action button-private-event">
        PRIVATE
      </div>
    {% elif not event.is_past and event.registration_url %}
      <a href="{{ event.registration_url }}" class="button-action" data-cta="event-rsvp">
        <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;RSVP
      </a>
    {% endif %}
  </div>
  <div class="event-date-circle">
    <div>{{ event.publishing_date|date:"M" }}</div>
    <div>{{ event.publishing_date|date:"j" }}</div>
  </div>
</article>
