{% load wagtailcore_tags wagtailimages_tags core_tags static %}

<article class="feature-content feature-content-medium{% if dark_mode %} dark-mode{% endif %}">
  <div class="feature-content-text center-text">
    {% include 'includes/topics.html' with topics=content.topics_sorted %}
    {% include 'includes/features/feature_content_title.html' %}
    {% if with_subtitle is True %}
      {% include 'includes/features/feature_content_subtitle.html' %}
    {% endif %}
    {% if content|page_type == 'opinion-series' %}
      {% include 'includes/features/feature_content_people.html' with authors=content.series_authors %}
    {% else %}
      {% include 'includes/features/feature_content_people.html' with authors=content.authors.all %}
    {% endif %}
    <div class="feature-content-date meta">{{ content.publishing_date|date:"F j, Y" }}</div>
    {% if cta %}
      {% include 'includes/features/feature_content_cta.html' %}
    {% endif %}
  </div>
</article>
