{% load core_tags %}

<article class="feature-content feature-content-small{% if dark_mode %} dark-mode{% endif %}">
  {% if icon %}
    {% if content.contenttype == "Event" %}
      <div class="table-icon icon-event">
        <i class="fal fa-calendar-alt"></i>
      </div>
    {% elif content.contenttype == 'Multimedia' %}
      <div class="table-icon icon-multimedia">
        {% if content.contentsubtype == 'Audio' %}
          <i class="fal fa-headphones"></i>
        {% else %}
          <i class="fal fa-play"></i>
        {% endif %}
      </div>
    {% elif content.contenttype == 'Publication' %}
      <div class="table-icon icon-publication">
        <i class="fal fa-file-alt"></i>
      </div>
    {% elif content.contenttype|in_list:'Opinion,CIGI in the News,Op-Eds,News Releases' %}
      <div class="table-icon icon-opinion">
        <i class="fal fa-comment-dots"></i>
      </div>
    {% endif %}
  {% endif %}
  <div class="feature-content-text center-text">
    {% include 'includes/topics.html' with topics=content.topics_sorted %}
    {% include 'includes/features/feature_content_title.html' %}
    {% include 'includes/features/feature_content_people.html' with authors=content.authors.all %}
    {% if content.from_the_archives %}
      <div class="feature-content-from-the-archives">FROM THE ARCHIVES</div>
    {% else %}
      <div class="feature-content-date meta">{{ content.publishing_date|date:"F j, Y" }}</div>
    {% endif %}
    {% if cta %}
      {% include 'includes/features/feature_content_cta.html' %}
    {% endif %}
  </div>
</article>
