@import '../../../css/global/mixins';

section {
  &.hero-plain {
    padding-top: 8em;

    h1 {
      margin-bottom: 0.5em;
      text-align: center;
    }
  }

  &.reports {
    margin: 3em 0;

    table {
      tr {
        border-bottom: 1px solid $cigi-light-grey;

        th {
          border-left: 1px solid $cigi-light-grey;
          color: $cigi-text-grey;
          font-weight: 500;
          padding: 0 0.625rem;
          text-align: left;

          &:first-child {
            border-left: 0;
            padding-left: 0;
          }
        }

        td {
          font-size: 0.75em;
          padding: 1rem 0.625rem;

          &:last-child {
            text-align: center;
          }

          .button-action {
            font-size: 0.625rem;
            text-transform: capitalize;
          }

          .table-btn-icon {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
}
