{% extends "articles/article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags webpack_loader %}

{% block extra_fonts %}
  <link rel="stylesheet" href="https://use.typekit.net/xfi6rry.css">
{% endblock %}
{% block theme_css %}
  {% render_bundle 'themePfPCSeries' 'css' %}
{% endblock %}

{% block body_class %}pfpc-series-article{% endblock %}

{% block hero %}
{% image self.image_banner original as image_banner %}
<section class="pfpc-series-article-hero" style="background-image: url('{{ image_banner.url }}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 hero-content">
        <h1>{{ self.title }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="pfpc-series-article-description">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="authors">
          {% for item in self.authors.all %}
            <div class="author">
              {% image item.author.image_square fill-100x100 %}
              <div class="author-title">
                <a href="{% pageurl item.author %}">{{ item.author.title }}</a>
              </div>
            </div>
          {% endfor %}
          {% include "includes/date.html" with date=self.publishing_date %}
        </div>
        <p class="series-blurb">This article is a part of <a href="{{ self.article_series.url }}">{{ self.article_series }}</a>, an opinion series offering analysis of the post-pandemic world.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block in_the_series %}
{% if self.article_series %}
  {% include "./includes/in_the_series.html" with article_series=self.article_series.specific %}
{% endif %}
{% endblock %}
